[2021-03-17 16:17] aminlatifi commented on #1937
@GriffGreen It's fixed

[2021-03-17 16:17] #1937 closed

[2021-03-17 16:32] aminlatifi opened #1938 "Make Moenick admin in develop"
@mohammadranjbarz Please assign admin role to @MoeNick in develop and enable whitelists on develop

[2021-03-17 16:32] aminlatifi commented on #1938
@MoeNick Please put your address here

[2021-03-17 16:32] MoeNick commented on #1938
This is my wallet Number: 0xf3BaB2F1Add2AF035f489d7f3fB45a2411ed89bA

[2021-03-17 16:37] mohammadranjbarz commented on #1938
@MoeNick
@aminlatifi

Done.

[2021-03-17 19:06] aminlatifi opened #1939 "Campaign leaderboard load more doesn't work"
Maybe after slug!
![image](https://user-images.githubusercontent.com/5684607/111524015-2ebb1980-8771-11eb-91d0-523158b204e0.png)

[2021-03-17 19:09] aminlatifi commented on #1939
@mdehghani Please make a PR based on `master` branch

[2021-03-17 19:27] aminlatifi opened #1940 "Add a back button to milestone options view"
At the header like to other ones

![image](https://user-images.githubusercontent.com/5684607/111526310-d3d6f180-8773-11eb-8068-fc97f0b31c6a.png)

[2021-03-18 05:12] mohammadranjbarz commented on #1918
@laurenluz
Could you give me a good text for putting in milestone status updates for this case?

[2021-03-18 13:36] aminlatifi commented on #1486
@RamRamez Please fix this for DACs, Campaigns and Milestones

[2021-03-18 13:37] #1929 closed

[2021-03-18 13:37] #1853 closed

[2021-03-18 13:37] #1893 closed

[2021-03-18 13:37] #1896 closed

[2021-03-18 13:37] #1913 closed

[2021-03-18 13:46] #1920 closed

[2021-03-18 13:47] #1898 closed

[2021-03-18 15:03] #1932 closed

[2021-03-18 21:11] laurenluz commented on #1918
@mohammadranjbarz happy to help but I'm not exactly what we're talking? can you send me a screen shot of the part that needs text? or give me a bit of context?

[2021-03-19 06:43] mohammadranjbarz commented on #1918
@laurenluz  After user collects and money real

![Screen Shot 1399-12-29 at 10.08.48.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/e8c1135b-0f68-4540-b381-34716e97e9bf)ly goes to recipient's wallet we should an item in milestone status updates

Now I added a text  `{amount} {token} went to recipient's wallet`
If it's not good enough I would appreciate if you give me some other

[2021-03-21 09:06] aminlatifi commented on #1522
It has implemented.

[2021-03-21 09:06] #1527 closed

[2021-03-21 14:15] aminlatifi commented on #1730
@markoprljic Figma content is not available, is there any way to see Giveth TRACE design? It would be better for @MoeNick to have access to them

[2021-03-21 16:02] markoprljic commented on #1730
@aminlatifi @MoeNick Here is the Figma source file https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=2072%3A827

[2021-03-21 19:59] laurenluz commented on #1918
That's good! but perhaps this is a bit more specific:

{amount} {token} has been sent to recipient's wallet

[2021-03-21 20:06] laurenluz commented on #1930
hey @aminlatifi something simple like this "free delivery" banner at the top of this clothing page... any maybe with a little x in the corner so the user can hide the banner after reading.

@Danibelle - what do you think? is this what you had in mind?
@markoprljic is there a specific colour that you think we could use? maybe a simple design would be helpful.

![image](https://user-images.githubuse

[2021-03-21 20:32] Danibelle commented on #1930
Exactemente!

[2021-03-22 11:39] aminlatifi opened #1947 "Input validation on InputNumber"
Antd InputNumber field for value needs some validation to check the entered value is greater than zero

[2021-03-22 15:39] GriffGreen commented on #1930
Anyone who comes to Giveth Trace, they should know that there is a big change here.

[2021-03-22 15:40] Danibelle commented on #1186
reactivated per proposal passing on rGIV DAO:
https://aragon.1hive.org/#/giveth/0x6747e3a01f31621a5e024d08f8f7c99fac0dc814/

[2021-03-22 15:40] #1186 closed

[2021-03-22 15:42] Danibelle commented on #1531
This can be accomplished if necessary, by creating a donation address for the new recipient Campaign then changing the Recipient.

[2021-03-22 15:42] #1531 closed

[2021-03-22 15:58] aminlatifi commented on #1924
Maybe after slug

[2021-03-22 17:41] markoprljic commented on #1930
Here's the banner, let me know what you think. @Danibelle @laurenluz @aminlatifi @GriffGreen

![Image 2021-03-22 at 6 40 50 pm](https://user-images.githubusercontent.com/5704285/112033917-334f4b80-8b3e-11eb-8a78-9e41f88f94ee.jpg)

[2021-03-22 20:09] aminlatifi commented on #1924
fixed

[2021-03-22 20:09] #1924 closed

[2021-03-22 21:19] laurenluz commented on #1930
I think it's awesome 😍

[2021-03-22 21:58] GriffGreen opened #1950 "A donation is slow to be added... i assume the simulation script will catch it"
https://beta.giveth.io/milestone/kris-february-milestone
<img width="968" alt="Screen Shot 2021-03-22 at 4 57 59 PM" src="https://user-images.githubusercontent.com/14945613/112063691-162c7400-8b62-11eb-8c9f-cb5f9893bd5b.png">

It's weird cause i used other campaigns to delegate funds and they all got accepted before this one...

[2021-03-22 23:07] Danibelle commented on #1930
Danibelle Approved!!
(Can I get a banner for that? 🤔😉🤣)

[2021-03-23 05:27] markoprljic commented on #1930
It's here for devs to grab and implement. https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=2072%3A827

[2021-03-25 07:45] MohammadPCh commented on #1845
I'm working on it and this will fix in our new design.(#1730)

[2021-03-25 21:52] laurenluz commented on #1750
I think when the milestone is marked complete the funds may also be released, no? @Danibelle

[2021-03-25 21:55] laurenluz commented on #1743
hmm yeah I'm also not sure... @Danibelle - can you confirm? if a milestone is market "complete" (and funds remain) are the funds released to the recipient?

[2021-03-25 22:04] Danibelle commented on #1743
If the Milestone requires being marked complete then it goes to the Reviewer for approval before funds can be released.. so the Giver would not be notified at this step.

The Reviewer would be notified that it's been marked complete and they need to review it and approve so the funds can be released.

Once Reviewer approves,  then the Donor should be notified that the Milestone they funded has bee

[2021-03-25 22:12] laurenluz commented on #1743
@Danibelle ok thank you!!
@mohammadranjbarz you're right - this email is unnecessary. Closing.

[2021-03-25 22:12] #1743 closed

[2021-03-25 22:15] laurenluz commented on #1750
From @Danibelle in issue #1743 :

"If the Milestone requires being marked complete then it goes to the Reviewer for approval before funds can be released.. so the Giver would not be notified at this step.
The Reviewer would be notified that it's been marked complete and they need to review it and approve so the funds can be released.
Once Reviewer approves, then the Donor should be notified that t

[2021-03-27 03:46] mohammadranjbarz commented on #1918
Thanks a lot

[2021-03-27 05:09] mohammadranjbarz opened #1956 "Subscribe milestone subscribe campaign incorrectly"

[2021-03-27 07:56] #1956 closed

[2021-03-27 07:58] aminlatifi commented on #1950
@GriffGreen This delegation is committed and ready to be used. The loading is due to not cleaning some field in backend, and is going to be fixed!
Just donations with status `Pending` are not ready

[2021-03-27 08:01] aminlatifi commented on #1950
Submitted https://github.com/Giveth/feathers-giveth/issues/432 in feathers

[2021-03-27 08:01] #1950 closed

[2021-03-29 15:19] GriffGreen commented on #1732
This issue is cool... it would take some research to understand the requirements to execute

Would need its own server?

[2021-03-29 15:20] GriffGreen commented on #1732
We could use Azure?

[2021-03-29 15:26] GriffGreen commented on #1852
![Screen Shot 2021-03-29 at 10 26 18 AM](https://user-images.githubusercontent.com/14945613/112860204-e75b5400-90b3-11eb-87a1-c964f3b4a313.png)

[2021-03-29 15:28] aminlatifi opened #1958 "Reorder milestone proposing buttons"
![image.png](https://images.zenhubusercontent.com/5d111377d6bc17028a43c827/431a36b7-6e99-49f6-9af2-7690eae1cffa)

Reorder:

1. Payment
2. Bounty
3. Expense
4. Milestone

[2021-03-29 15:30] GriffGreen commented on #1848
The modal request should be smarter ... :-D

[2021-03-29 15:35] GriffGreen commented on #1647
Waiting for the update of Campaigns creation

[2021-03-29 15:38] GriffGreen commented on #1885
@mohammadranjbarz this should be added to the new milestone creation page

[2021-03-29 15:41] #1550 closed

[2021-03-29 15:43] #1925 closed

[2021-03-29 15:50] GriffGreen opened #1959 "Use the Standard Fee from Gasnow.org for the bridge"
Check to make sure that we have a good way to replace transactions implemented as this is a very conservative approach.

[2021-03-30 11:18] aminlatifi commented on #1852
@MohammadPCh Attaching video using youtube link didn't work

[2021-03-30 11:44] MoeNick commented on #1880
We have to replace our old quill editor component with new one.

[2021-03-30 11:45] MoeNick commented on #1879
We have to replace our old quill editor component with new one.

[2021-03-30 11:45] MoeNick commented on #1878
We have to replace our old quill editor component with new one.

[2021-03-31 03:42] GriffGreen opened #1964 "Can't Delegate...?"
<img width="851" alt="Screen Shot 2021-03-30 at 10 41 43 PM" src="https://user-images.githubusercontent.com/14945613/113087427-e1649080-91e3-11eb-8376-76f758b1d458.png">
From: https://beta.giveth.io/milestone/merlin-commons-stack-non-simulator-work

I get stuck here... the delegate pop up isnt happening

[2021-03-31 08:49] aminlatifi commented on #1486
https://github.com/Giveth/feathers-giveth/issues/454

[2021-03-31 11:13] MoeNick commented on #1930
@RamRamez the text is ok.. we got value form backend and we just put USD as TokenSymbol.

[2021-04-03 07:35] MoeNick commented on #1930
@laurenluz @markoprljic It has to be shown on every-page? How many times and when?
I suggest it just showed up once after each login. and it wont showed up after the user push I got it button.

[2021-04-03 09:32] RamRamez commented on #1930
It's currently showing on each page until user click "Got it". After that, It will never be shown to that user again. Please check it in pull request #1966 if it's working fine.

[2021-04-03 10:07] mohammadranjbarz opened #1968 "Show clear info/message when user with address not found"
https://develop.giveth.io/profile/dskajdlaskj

now when we enter fake address the giveth-dapp dont tell that this user address is invalid and user not found![Screen Shot 1400-01-14 at 14.36.07.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/f97d2135-7537-4373-b470-477d11057ce8)

[2021-04-03 13:02] mohammadranjbarz opened #1969 "Delegate menu doesn't work when you directly go to milestone and select a DAC or Campaign from options list"
If I go to milestone directly when I click to `Delegate` button We get error because `selectedToken` is undefined,
but if we go to milestone from campaign it works

[2021-04-03 13:05] mohammadranjbarz commented on #1969
[Uploading... Screen Shot 1400-01-14 at 17.30.20.png]

[2021-04-03 16:54] MoeNick commented on #1930
Due to technical problems we have, we decided to show the banner below the page, until we change the menu-bar code at the top. @laurenluz @markoprljic We know it's not the exact requirement, but do accept it will deploy on beta?
![image](https://user-images.githubusercontent.com/80677512/113485476-edda3900-94c2-11eb-9472-7486b9d44f61.png)

[2021-04-03 16:58] markoprljic commented on #1930
When do we expect to resolve top bar technical problem?

[2021-04-03 16:59] MoeNick commented on #1930
We have to plan for the next sprint, I don't have any estimation right know.

[2021-04-03 17:20] MoeNick commented on #1930
We can close this till the end of Sp. 6# April 19th.

[2021-04-03 18:22] aminlatifi commented on #1803
@RamRamez On develop I see this while is incorrect
![image](https://user-images.githubusercontent.com/5684607/113487795-4b748280-94cf-11eb-8e07-df4d501c65f1.png)

[2021-04-03 19:33] MoeNick commented on #1919
I suggest:

Status:  Paid ([PaidAmount] confirmed/ [Total Amount])
@aminlatifi @horus2021

[2021-04-04 01:42] GriffGreen opened #1970 "I can't use the dapp on Chrome or brave... same error as usual"
<img width="1205" alt="Screen Shot 2021-04-03 at 8 41 11 PM" src="https://user-images.githubusercontent.com/14945613/113496221-b3d75a00-94f7-11eb-975d-2ecaf220ad60.png">

[2021-04-04 05:48] mohammadranjbarz commented on #1970
Feathers was down and I think it was Mongo connection error, restarting application resolved the issue in this case

[2021-04-04 09:17] horus2021 commented on #1919
@MoeNick Thanks for comment. This issue is about **Status Update** columns. See my new description please.

[2021-04-04 13:00] aminlatifi opened #1972 "Aggregate payout conversations"
When one payment is aggregate of multiple donations like this one

![image](https://user-images.githubusercontent.com/5684607/113509439-d2c30400-956a-11eb-9799-255590b09d45.png)

For each paid donation one conversation is created as below:

![image](https://user-images.githubusercontent.com/5684607/113509416-ae672780-956a-11eb-9c35-82daf79c1b40.png)

While both above refer to single transaction ht

[2021-04-04 13:31] aminlatifi commented on #1917
Tested and works.

[2021-04-04 13:31] aminlatifi commented on #1918
Tested, works

[2021-04-04 14:02] aminlatifi commented on #1847
Tested, works

[2021-04-04 14:24] #1521 closed

[2021-04-04 14:24] #1733 closed

[2021-04-04 14:24] #1736 closed

[2021-04-04 14:24] #1737 closed

[2021-04-04 14:24] #1739 closed

[2021-04-04 14:24] #1819 closed

[2021-04-04 14:24] #1834 closed

[2021-04-04 14:24] #1842 closed

[2021-04-04 14:24] #1872 closed

[2021-04-04 14:24] #1914 closed

[2021-04-04 14:24] #1939 closed

[2021-04-04 14:24] #1738 closed

[2021-04-04 14:24] #1829 closed

[2021-04-04 14:24] #1835 closed

[2021-04-04 14:24] #1926 closed

[2021-04-04 22:12] WhyldWanderer commented on #1684
I tested this on develop and its working!

[2021-04-04 22:17] RamRamez opened #1975 "New main menu with Ant Design"
New main menu with Ant Design

[2021-04-04 22:21] WhyldWanderer commented on #1670
I have tested and am unable to recreate the error.
I think its fixed! Good job guys

[2021-04-04 22:32] WhyldWanderer commented on #1705
Email received!
![image](https://user-images.githubusercontent.com/74267818/113523162-5973e300-9563-11eb-8c19-c1ef5a97ff14.png)

[2021-04-05 06:59] MoeNick commented on #1750
@mohammadranjbarz would u pls take a look at this issue.

[2021-04-05 07:10] MoeNick commented on #1916
For testing, @aminlatifi @mohammadranjbarz do some db manipulation for testing.

[2021-04-05 07:15] MoeNick commented on #1756
@MoeNick and @mohammadranjbarz will go on testing

[2021-04-05 07:16] MoeNick commented on #1755
@laurenluz @WhyldWanderer can u pls help us test this?

[2021-04-05 07:18] MoeNick commented on #1754
@laurenluz appreciate if u can help

[2021-04-05 07:20] MoeNick commented on #1814
I will take it.

[2021-04-05 07:32] MoeNick commented on #1899
@mohammadranjbarz @MoeNick will be pair on testing.

[2021-04-05 07:34] MoeNick commented on #1947
@RamRamez will u pls test?

[2021-04-05 07:37] MoeNick commented on #1647
#1967

[2021-04-05 07:39] MoeNick commented on #1647
It has been redesign with new components.  All forms should be tested. @mohammadranjbarz @MoeNick

[2021-04-05 07:50] MoeNick commented on #1214
@RamRamez @MoeNick will be pair on this

[2021-04-05 07:51] MoeNick commented on #1887
@RamRamez has reviewed.

[2021-04-05 07:55] MoeNick commented on #1886
Reminder: baner is still at the bottom of the page

[2021-04-05 07:57] MoeNick commented on #1885
@MoeNick has to check it on develop.

[2021-04-05 08:02] MoeNick commented on #1846
@horus2021 pls take a look at this. is it still in progress?

[2021-04-05 09:21] aminlatifi commented on #1852
Youtube is supported as separate option in menu.
Thanks @MohammadPCh

[2021-04-05 10:13] aminlatifi commented on #1885
@MoeNick It should be up in develop in few minutes

[2021-04-05 10:18] aminlatifi commented on #1916
I am testing

[2021-04-05 10:49] MoeNick commented on #1885
ok

On Mon, Apr 5, 2021 at 2:43 PM Amin Latifi ***@***.***> wrote:

[2021-04-05 11:11] MoeNick commented on #1814
Tested on develop, passed

[2021-04-05 11:40] MoeNick commented on #1647
![4df3f589-5312-4f28-9acf-df3e6d03954f](https://user-images.githubusercontent.com/80677512/113570352-63f8b000-9629-11eb-9ac8-347e5fcee8de.jpg)
Reviewer list is not valid.

[2021-04-05 11:44] MoeNick commented on #1930
![b65888d4-4c99-4ba1-a2d6-42f4a91a257f](https://user-images.githubusercontent.com/80677512/113570635-fb5e0300-9629-11eb-8753-266d879482eb.jpg)
Banner load at the middle when list is empty, not top, nor bottom,

[2021-04-05 12:00] MoeNick commented on #1755
I tested with ranjbar and it was ok

[2021-04-05 12:02] MoeNick commented on #1749
Tested.

[2021-04-05 12:16] mohammadranjbarz opened #1980 "Blocking bulk update users API"
Now admin can make all users `isReviewer` and , ... with API, we should restrict that API

[code]

[2021-04-05 12:17] aminlatifi opened #1981 "banner doesn't stick to button on loading"
<img width="1203" alt="Screen Shot 2021-04-05 at 16 42 00" src="https://user-images.githubusercontent.com/5684607/113573050-9f49ad80-962e-11eb-9f3a-f1bad7895bfc.png">

[2021-04-05 12:21] #1981 closed

[2021-04-05 13:15] MoeNick opened #1983 "when milestone is approved or rejected once, don't show the accept/reject buttons, only shows update pending/accepted/rejected status."
As a Milestone Owner or co-owner, in confirming milestone, I don't want to see accept/reject buttons after I click on any of them. because I got confused and may do it again after a while, since Im waiting for my transaction to got confirmed on net.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/43a683eb-fbb5-4876-8595-f6f6e3fe1ba9)

[2021-04-05 14:25] RamRamez commented on #1930
@MoeNick It's done.

[2021-04-05 14:46] MoeNick commented on #1844
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/2c712d42-7f2a-40f5-952f-6b57b6460cda)

Email text does not match with the proposed Text by Lauren.

[2021-04-05 14:47] aminlatifi commented on #1647
Fixed

[2021-04-05 14:50] MoeNick commented on #1754
Tested and its done.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/0dbdcbd2-1dbc-4577-8dab-cdffbf6140c9)

[2021-04-05 15:12] laurenluz commented on #1734
subject: ‘Giveth - Your Milestone Proposal has been sent!’
secretIntro: ‘Your proposed Milestone ${milestoneTitle} has been submitted for review!’
title: ‘Finger Crossed!’
text: ‘Your proposed Milestone ${milestoneTitle} has been submitted for review! We’ll let you know if the Milestone is accepted by the Campaign Manager so you can start raising funds.’
Cta: ‘Manage your Milestones'

@mohammadran

[2021-04-05 15:14] RamRamez commented on #1947
@MoeNick  It's ok for me.

[2021-04-05 15:17] MoeNick commented on #1846
@horus2021 just make some edits, for new templates of milestones.

[2021-04-05 15:32] laurenluz commented on #1844
Hey @mohammadranjbarz

Can you remove the "." at the end of the first sentence?

Also the formatting is weird with the added personal message... It would be good if the quotation marks were on either side of the personal message.

Finally, please change "Manage Milestone" to "See Your Milestone"

Let me know if you have any questions :)

![image.png](https://images.zenhubusercontent.com/5fdfac16a5

[2021-04-05 15:33] GriffGreen commented on #1919
![Screen Shot 2021-04-05 at 10 32 22 AM](https://user-images.githubusercontent.com/14945613/113592047-f783ae00-9634-11eb-89c2-bcd59d234084.png)

[2021-04-05 15:41] MoeNick commented on #1919
#1876 @horus2021 would you pls update the related issue.

[2021-04-05 15:42] GriffGreen commented on #1919
https://github.com/Giveth/giveth-dapp/issues/1846

[2021-04-05 15:51] #1970 closed

[2021-04-05 15:52] GriffGreen commented on #1969
Related to #1964

[2021-04-05 16:24] mohammadranjbarz commented on #1734
Sure @laurenluz
Thanks.

[2021-04-06 07:13] MoeNick opened #1986 "unsubscribe link in emails for just a milestone or a campaign."
As a giver, I don't always want to unsubscribe from all emails from giveth, just wanna unsubscribe from certain milestones or campaigns, so I love to have a manage emails button, or have a unsubscribe from milestone/campaign.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/f1685e5d-3eb1-4559-b5b2-f75b98de4d43)

[2021-04-06 07:25] MoeNick commented on #1885
Tests passed.

[2021-04-06 07:31] MoeNick commented on #1647
Tested and passed.

[2021-04-06 07:52] MoeNick opened #1987 "Wrong error msg on Start campaign"
As a campaign owner, when Im trying to start a campain while I was at Ropsten netwrk, error massage shown that you need at list ... amount of .... , when I changed the network to rinkeby, it solved and show me the new campaign form.

[2021-04-06 08:13] MoeNick opened #1988 "Notif on required fileds in create/edit milestone."
As a user, when I start a milestone, If any fields are required, the form wont show me the notification, or scroll to the exact required field. So I got confused.... Nothing happened after I push propose milestone button.

Success Criteria:

1- A notif will be shown on the top right, letting me knw there was any verification problem at the forms
OR
2- Scroll me to required or not verified field, s

[2021-04-06 08:32] MoeNick commented on #1214
All tests passed except:

1- Edit Milestone goes to old form
2- I cannot remove any pictures.

@aminlatifi

[2021-04-06 10:34] aminlatifi commented on #1214
1. We know, edit by new forms is not supported yet. It should be planned I guess.
2. You are right
3. In new form? or old one?

[2021-04-06 10:37] aminlatifi commented on #1214
@MoeNick In new forms there is a delete button in bottom right corner
![image](https://user-images.githubusercontent.com/5684607/113698519-cca76180-96e9-11eb-8aac-904e994b4220.png)

[2021-04-06 10:42] MoeNick commented on #1214
1- So I will create one issue in product backlog.
2- o I just made this issue it blocked and related this to #1988 I hope cherik can do it in currant sprint, what's your opinion?
3- I meant at the old form.

[2021-04-06 10:53] aminlatifi commented on #1214
2- I guess it doesn't block this one, we can release this version with this issue. Let's assign it to @MohammadPCh, I hope he have bandwidth for it.
3- Old form will be replaced with these forms, so won't fix that.

[2021-04-06 22:46] JulietEA opened #1991 "Unable to select campaign when delegating funds"
On the "my delegations" page when delegating funds from a specific donation, I cannot select a campaign and under milestones it says "no options".

<img width="934" alt="Screen Shot 2021-04-06 at 5 43 36 PM" src="https://user-images.githubusercontent.com/54636748/113787061-fbc8cd80-96ff-11eb-9ef4-e644c29685b8.png">

[2021-04-07 12:18] RamRamez commented on #1930
The new main menu with Ant design is now completed in PR #1978 and tx limit banner is moved to the top the page.

[2021-04-07 13:45] MoeNick commented on #1988
I assigned it to cherik, @aminlatifi would u pls follow it  up with cherik? tnx

[2021-04-07 13:49] MoeNick commented on #1214
I move

Let it be blocked Amin, it is kinda bug and a bad UX. Hope will merge with #1988 together.

[2021-04-07 14:20] MoeNick opened #1995 "Start a campaign" button in front of campaign list"
Me as Campaign owner or manager, want to see "Start a campaign" button in front of campaign list, so I don't need to looking for it or scroll to top whenever I just see the campaigns and got interested.

Success Criteria:

Smt like this:
what do you think @markoprljic?

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/12b101cb-d452-405e-9bb2-d4d614890e97)

[2021-04-07 14:32] MoeNick commented on #1987
Tests passed on dev.

[2021-04-07 14:55] MoeNick commented on #1734
@mohammadranjbarz shall u pls move it to uat if you did it?

[2021-04-07 15:59] mohammadranjbarz commented on #1734
@MoeNick
Sure after merging with develop I'll let you know

[2021-04-07 16:31] mohammadranjbarz opened #1996 "Getting error while start campaign locally"
[Uploading... Screen Shot 1400-01-18 at 20.51.22.png]

[2021-04-07 16:43] mohammadranjbarz commented on #1996
it was ok after change nothing,
I don't close it maybe it happens again

[2021-04-07 16:49] MoeNick opened #1997 "can't show my milestone as cmgn manager"
As a campaign owner, I can't show my milestone after I click on any tabs.
It got freezed like this.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/1343d809-9994-4254-b7b6-3f8b131be867)

[2021-04-07 17:02] MoeNick opened #1998 "Edit milestones with new form."
As a user who can create a milestone, and as a campaign owner who want to accept and reject the milestone, I may need to edit the forms and their goes to old ones and I realty got confused caus they dont have the new form templates (lik bounty, payment etc.) So I need to edit them in new forms.

Campaign owner also have edit button  in acceptance module.

[2021-04-07 19:22] mohammadranjbarz opened #1999 "When donating the amount field became empty after scroll down in dialog and I should enter amount again"
![Screen Shot 1400-01-18 at 23.52.06.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/3536d5ef-b362-4510-8d9c-7a7a075b5d16)

[2021-04-08 06:31] markoprljic commented on #1995
This is a good idea. Right now there's another button Donate so it should be placed next to it.

![Image 2021-04-08 at 8 31 03 am](https://user-images.githubusercontent.com/5704285/113978902-d42f4d80-9844-11eb-83ac-33b2930aba10.jpg)

[2021-04-08 07:13] aminlatifi commented on #1821
Brave cannot establish wss connection, maybe upgrading feathers solve the issue

[2021-04-08 11:24] GriffGreen opened #2000 "I can't load the website again on brave... same issue as before"

[2021-04-08 11:26] GriffGreen opened #2001 "OH NO! warning and error despite a successful withdraw"
https://beta.giveth.io/milestone/rpp63s-scholarship-for-swiss-foundation-dues-new

<img width="462" alt="Screen Shot 2021-04-08 at 6 26 18 AM" src="https://user-images.githubusercontent.com/14945613/114018878-086b3400-986e-11eb-989f-2a87b7a43075.png">

[2021-04-08 12:11] aminlatifi commented on #2001
He had collected once, that's the reason

![image](https://user-images.githubusercontent.com/5684607/114024432-4aee3a00-9889-11eb-991f-3d50cd92e457.png)

[2021-04-08 12:29] aminlatifi commented on #2000
#1821

[2021-04-08 12:29] #2000 closed

[2021-04-08 12:31] aminlatifi commented on #1725
It wasn't helpful

[2021-04-08 12:31] aminlatifi commented on #1821
Same #1725

[2021-04-08 16:50] WhyldWanderer commented on #1880
I was successful in attaching a video in the cancel milestone menu!!

However, when I try to attach a video in the edit milestone menu, I get this pop up to select the video source.
![image](https://user-images.githubusercontent.com/74267818/114065107-8a039780-9857-11eb-8c8d-d6495113ee2c.png)
however when I choose any option nothing happens... and the button just says close but i dont want to clos

[2021-04-08 17:04] WhyldWanderer commented on #1879
I was successful in attaching a video in the accept proposed milestone menu! yay

![image](https://user-images.githubusercontent.com/74267818/114067481-1747eb80-985a-11eb-9694-c8e44892f062.png)

[2021-04-08 17:06] WhyldWanderer commented on #1878
I was able to successfully attach a video in the reject proposed milestone menu!

![image](https://user-images.githubusercontent.com/74267818/114067801-7443a180-985a-11eb-82e7-26509e6a789c.png)

[2021-04-09 13:34] danelsuga opened #2005 "Follow-up on scholarship request"
Hi. I just wanted to check in on the status of my scholarship application that I submitted a week ago. I thought I might to add that I am joining the CS community as the Onboarding coordinator for the TEC, which either may not have been evident in my scholarship application and/or my identity may not have been clear. Thank you!

[2021-04-09 16:21] #1991 closed

[2021-04-11 07:37] aminlatifi opened #2008 "Scroll to required filed keeps the field behind the menu"
In milestone creation forms, if a required field is not filled and user press create/propose button browser view scrolls to required field. But after scroll to required field, the field is behind menu!
![image](https://user-images.githubusercontent.com/5684607/114295873-4611cc00-9abd-11eb-94bd-dc43824c0b26.png)

[2021-04-11 07:37] aminlatifi commented on #2008
#1988

[2021-04-11 10:54] MohammadPCh commented on #2008
oops! so we should handle it manually.  ‌I will work on it tomorrow.

[2021-04-11 18:24] RamRamez commented on #1999
@mohammadranjbarz If you hover your mouse on the amount input box and scroll with your mouse, the number and slider changes. When you scroll down from top to bottom, amount decreases the time cursor passes the amount field.
This not actually a bug, although the UX is not perfect. I think we should redesign the slider with Ant design.

[2021-04-11 23:54] RamRamez opened #2011 "Changing donate and delegate amount sliders to Ant Design"
Changing donate and delegate amount sliders to Ant Design

[2021-04-12 07:50] MoeNick commented on #1988
it scrolled to bottom of the error msg so as a user I cant see the error msg. can we just send some notif on top right of the page?
@MohammadPCh @RamRamez

[2021-04-12 08:17] MoeNick commented on #1880
It's not working @aminlatifi ... shall we send it back to in progress?

[2021-04-12 08:26] aminlatifi opened #2013 "I canceled a milestone, but the conversation doesn't show up!"
I canceled a milestone and put a video in comment

https://develop.giveth.io/milestone/2342342342

But conversation is not created and cancel button still exists.

[2021-04-12 08:39] mohammadranjbarz commented on #2013
![Screen Shot 1400-01-23 at 13 08 07](https://user-images.githubusercontent.com/9850545/114365967-3a430a00-9b90-11eb-9044-635bdd7af932.png)
I attached error image for archive

[2021-04-12 08:51] mohammadranjbarz commented on #1522
Anything related to payout money to main net can not be tested in  `develop` server and in a routine way, so testing these scenarios needs me or @aminlatifi , to change something manually in db , or running our local instance with using beta db dump , ....

[2021-04-12 08:51] mohammadranjbarz commented on #1522
Anything related to payout money to main net can not be tested in  `develop` server and in a routine way, so testing these scenarios needs me or @aminlatifi , to change something manually in db , or running our local instance with using beta db dump , ....

[2021-04-12 09:23] MoeNick commented on #1887
Everey donate-currancy shouldnt be less than 20

[2021-04-12 10:34] aminlatifi commented on #1988
@MoeNick it's ready to test

[2021-04-12 10:35] #1878 closed

[2021-04-12 10:35] #1879 closed

[2021-04-12 10:35] #1975 closed

[2021-04-12 11:06] MoeNick opened #2016 "1959"

[2021-04-12 12:23] MoeNick commented on #1972
@aminlatifi & @mohammadranjbarz Pls test seems I cant

[2021-04-12 12:29] mohammadranjbarz commented on #1972
I'll do that

[2021-04-12 13:44] aminlatifi commented on #2013
@MoeNick It's ready to be tested

[2021-04-12 13:47] mohammadranjbarz commented on #2013
Tested works

https://develop.giveth.io/milestone/milestone-with-reviewer2

[2021-04-12 13:48] mohammadranjbarz commented on #1880
https://develop.giveth.io/milestone/milestone-with-reviewer2

Canceled and video works

[2021-04-12 13:49] aminlatifi commented on #1880
@MoeNick I changed it to Cancel Milestone, for edit milestone we should create another issue

[2021-04-12 13:50] MoeNick commented on #1886
the error is small and go away quickly.
![image](https://user-images.githubusercontent.com/80677512/114405173-a850f680-9bbb-11eb-8054-6f85c2e2ef93.png)

Shouldn't it be like the one we have on create milestone? As a user I prefer it in the middle, and needs my confirm "OK" before going away.
what do u think Amin.

[2021-04-12 14:03] MoeNick commented on #1880
According to our DOD, the value to customer just delivered by editing, pls change the estimate and move it back to in-progress, you may create another issue and put the estimates there and relate it to another.
Let's not broke the value of a story to multiple release.
@aminlatifi

[2021-04-12 14:12] MoeNick opened #2017 "Video Attaching not working in Edit Milestone View"

[2021-04-12 14:29] aminlatifi commented on #1959
implemented and has been setup on beta bridge, we should wait for some payment and see whether it works

[2021-04-12 14:39] aminlatifi opened #2018 "Define another collection/model on DB to save payments consumed gas"

[2021-04-12 14:40] aminlatifi opened #2019 "Process `authorizePayment` transactions corresponding to payments and compute USD value of spent gas"

[2021-04-12 14:41] aminlatifi opened #2020 "Process `PaymentExecuted` transactions corresponding to payments and compute user share on spent gas"

[2021-04-12 14:42] aminlatifi opened #2021 "Design UI menus and components which represent gas paid for each user"
We will want to tell the user that we are spending on gas for them We can aggregated the gas costs and display them for each of these categories:

- [x] recipient (To be displayed in the profile page?)
- [x]  campaign (To be displayed on the Campaign Page?)
- [x]  milestone (To be displayed on the Milestone page?)

The question is... how should we actually display them? @markoprljic :-D?

How auda

[2021-04-12 14:44] aminlatifi commented on #2020
Transactions made by other than Griff and Bowen should be excluded, @GriffGreen do you agree?

[2021-04-12 14:45] aminlatifi commented on #2020
In case a transaction includes `n` payments, `1/n` of gas price is user share

[2021-04-12 14:53] MoeNick commented on #1959
Seems I cant test, pls let me know then.

[2021-04-12 15:22] MoeNick commented on #1921
@MoeNick get feed back from @markoprljic

[2021-04-12 15:23] GriffGreen commented on #2021
<img width="219" alt="Screen Shot 2021-04-12 at 8 22 02 AM" src="https://user-images.githubusercontent.com/14945613/114419365-a5ea9e80-9bb3-11eb-8a1b-22265ddfd028.png">

We could put it here too.. like recipients, if we have paid gas for them, we could list it here

[2021-04-12 15:25] GriffGreen opened #2022 "Delegation didnt work? or stuck?"
https://beta.giveth.io/milestone/merlin-commons-stack-non-simulator-work

<img width="1023" alt="Screen Shot 2021-04-12 at 8 25 15 AM" src="https://user-images.githubusercontent.com/14945613/114419856-1691bb00-9bb4-11eb-86ea-8641f5908269.png">

[2021-04-12 15:49] #2016 closed

[2021-04-12 15:54] MoeNick commented on #1986
LET IT MAKE MORE CLEAR

[2021-04-12 16:05] aminlatifi commented on #2022
@mohammadranjbarz `commitTime` wasn't set for that donation! it was delegated from DAC and wasn't normalized ! Can you investigate it? does simulation script needs some change?

[2021-04-12 16:06] MoeNick commented on #2001
As a user I want to see my live statues of my milestone and prevet me to do the actions more than just I did, so I didn't get confused.

[2021-04-12 16:14] GriffGreen commented on #2005
@danelsuga THANK YOU SOO MUCH FOR MAKING AN ISSUE!!

:-D That's awesome! We love issues!

Sorry for the delay... the request didn't follow our guidelines and it will be edited to fit them as listed here: https://medium.com/commonsstack/trusted-seed-swiss-membership-scholarship-application-f2d07bc2fc90

It has a reviewer (It shouldn't), it is not asking for an amount, it doesn't include any links a

[2021-04-12 16:17] RamRamez opened #2023 "Delegation modal hides behind menu bar"
![image](https://user-images.githubusercontent.com/73441857/114427355-4058db00-9bd0-11eb-9d15-24b508bcad07.png)

[2021-04-12 17:13] aminlatifi commented on #2022
@mohammadranjbarz Simulation says this donation is rejected, but shouldn't
{_id: ObjectId('6063f1116e095261b8174321')}

[2021-04-13 03:52] mohammadranjbarz commented on #2022
Thanks Amin I'll check it

[2021-04-13 03:55] mohammadranjbarz commented on #2022
@aminlatifi
it seems you fixed the donation, am I right?

[2021-04-13 04:05] mohammadranjbarz commented on #1972
I tested, it was ok

![Screen Shot 1400-01-24 at 08.34.11.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/e2b51d44-e0c8-41b7-9431-346afdee24cf)

[2021-04-13 04:07] mohammadranjbarz commented on #2018
@aminlatifi
I think I can do it,
plz just say what fields we need or if you think it's better to have a short meeting I'm ok with that

[2021-04-13 07:17] aminlatifi commented on #2022
Multiple issues are showed up in this case:
1. The delegated donation from dac didn't have `commitTime` entry, so feathers didn't normalize (and transfer to milestone) after three days
2. I filled `commitTime` manually on DB. But, the `performedByAddress` role of new donation created after pledgeNormalize action was feathers. That caused the conversation owner not be any user and that stopped UI f

[2021-04-13 10:57] aminlatifi commented on #2017
@MohammadPCh Edit milestone uses old component `QuillFormsy` for detail, please fix it's uploading issue like the new Editor component.

[2021-04-13 11:06] aminlatifi commented on #1969
@RamRamez Please consider this in refactoring DelegateMultipleButton component for #1848

[2021-04-13 11:19] MoeNick commented on #1964
Related to #1969

[2021-04-13 12:15] mohammadranjbarz commented on #1969
@RamRamez  @MoeNick
I couldn't reproduce this bug again

[2021-04-13 12:41] markoprljic commented on #2021
I don't think this issue is clear to me. What is the problem we're solving? What are we trying to achieve by informing users about paid gas fees?
Should this just be a static box on each of the listed pages that shows total gas paid for that project/user? Who benefits from reading this information? Is this publicly visible or just by the project owner?

I'd need more clarification obviously :)

[2021-04-13 17:07] GriffGreen opened #2028 "Redesign the "Accept a proposal" and "Write a comment" modals"
<img width="993" alt="Screen Shot 2021-04-13 at 6 52 54 AM" src="https://user-images.githubusercontent.com/14945613/114592539-57a8ce80-9c8b-11eb-9750-64b421a1a94e.png">

<img width="989" alt="Screen Shot 2021-04-13 at 10 04 02 AM" src="https://user-images.githubusercontent.com/14945613/114592548-59729200-9c8b-11eb-97ef-b71a085bcd05.png">

[2021-04-13 17:16] mohammadranjbarz commented on #2022
It seems the donations had `commitTime` but, simulation has been changed that to `Rejected`

https://feathers.beta.giveth.io/donations/6063f1116e095261b8174321
(I think it's the original donation because it has comment)

[2021-04-13 21:57] GriffGreen commented on #2005
Wow! You are fast on the Github notifications! :-D!

[2021-04-13 23:23] danelsuga commented on #2005
I've got my finger on the pulse, as they say. :D
(Or, well anyway, I was waiting to see what the problem was. :P Thank you!!!)

[2021-04-14 06:46] aminlatifi commented on #2022
I filled commitTime entry myself manually, if you notice it has the same value of `createdAt`

[2021-04-14 07:27] mohammadranjbarz commented on #2022
@aminlatifi
I just deleted your comment by mistake :(
Zenhub UX confuse me sometimes, your comment was this

**I filled commitTime entry myself manually, if you notice it has the same value of createdAt**

[2021-04-14 09:36] MoeNick commented on #1734
@WhyldWanderer @laurenluz can you go forward test this on develop?
tnx

[2021-04-14 10:05] MoeNick commented on #2017
@WhyldWanderer can u proceed with your test again on edit milestone?

[2021-04-14 15:53] Vyvy-vi opened #2033 "Issues with opening Giveth Dapp"
### **UPDATE** - The issues disappeared after an hour
## Issues:
- I can't log back in and the content on giveth isn't loading for me

## Screenshots:
![DACs not loading](https://user-images.githubusercontent.com/62864373/114740012-10900b80-9d67-11eb-9ae2-b9503f3c49d6.png)
![Screenshot 2021-04-14 at 9 04 13 PM](https://user-images.githubusercontent.com/62864373/114740364-682e7700-9d67-11eb-8a4f-87

[2021-04-14 15:57] Vyvy-vi commented on #2033
### Console logs-

![Screenshot 2021-04-14 at 9 25 21 PM](https://user-images.githubusercontent.com/62864373/114740962-f571cb80-9d67-11eb-840e-91ab257a829e.png)

![Screenshot 2021-04-14 at 9 26 26 PM](https://user-images.githubusercontent.com/62864373/114741134-19351180-9d68-11eb-8a8d-0eadb415cc4d.png)

[2021-04-14 16:28] GriffGreen opened #2034 "Can't access the dapp from brave again :-P"

[2021-04-14 16:29] GriffGreen opened #2035 "Can't delegate from milestone screen"
<img width="887" alt="Screen Shot 2021-04-14 at 9 27 48 AM" src="https://user-images.githubusercontent.com/14945613/114745752-475a2780-9d4f-11eb-94af-d2293ef04416.png">

[2021-04-14 16:44] Vyvy-vi commented on #2033
*UPDATES -
Interestingly, I left for an hour and rebooted my laptop and there seem to be no issues logging in.
Could this be an issue on my end?

[2021-04-14 16:51] mohammadranjbarz commented on #2033
@Vyvy-vi
Yes, I thinks it's about your end, because our monitoring says we had no down time in backend, so If your request failed with timeout it's maybe because your network connection or something like that

[2021-04-14 16:52] mohammadranjbarz commented on #2033
Thanks for sending your console logs

[2021-04-14 16:58] aminlatifi commented on #2033
@Vyvy-vi Thanks for reporting, other customers have reported the issue of connecting problem on Brave. Next time please try using chrome or other browser to see whether it's working, if yes please inform us.

[2021-04-14 17:14] Vyvy-vi commented on #2033
Thanks for the response. :+1:
I'll close the issue for now. If there's any future issues that are regarding the same reason, or some info on causes, I'll reopen it.

[2021-04-14 17:27] #2033 closed

[2021-04-15 07:46] MoeNick commented on #2034
I try to test all issues at brave too.

[2021-04-15 08:41] aminlatifi commented on #2034
@MoeNick This issue would be solved after upgrading feathers and its dependencies to version 4.
https://github.com/feathersjs/feathers/issues/2297#issuecomment-815904750

[2021-04-15 12:05] danelsuga commented on #2005
Me again! I claimed my scholarship but still see nothing in my account. (It's been 3 days.) I'm tagging @JulietEA just in case.  Thanks for the help!

[2021-04-15 19:09] aminlatifi commented on #2034
I upgraded `@feathersjs/socketio` to `^3.2.9` and Griff issue is solved at least now. But upgrading whole feathers to version 4.x is still undergoing.

[2021-04-16 21:51] JulietEA opened #2038 "Options not showing up when delegating funds"
When logged in and delegating funds to a milestone, the campaign is selected, but the additional options / next steps aren't showing up:

<img width="736" alt="Screen Shot 2021-04-16 at 4 47 50 PM" src="https://user-images.githubusercontent.com/54636748/115087431-c6786880-9ed3-11eb-8159-59f12f7dcda7.png">

[2021-04-18 04:48] MoeNick commented on #2023
Tested both on brave and chrome

[2021-04-18 05:00] MoeNick commented on #2008
Tested on chrome and brave.

[2021-04-18 05:02] MoeNick commented on #1734
I tested it myself, It's OK.

[2021-04-18 05:17] MoeNick commented on #2017
I successfully attached a youtube after editing, the removal of attached YouTube was really hard but it meets the MVP requirements.
But when I use a link on venmo, the video couldn't play after submitting edit. see: https://develop.giveth.io/milestone/video-attaching-test

[2021-04-18 05:58] MoeNick opened #2039 "Stuck in loading in active milestonse tab"
Me as milestone creator, at my milestone page, when I click on active tab, It stucks it loading ...
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/64fb014e-3413-423b-ab02-a2301cfc22e2)

[2021-04-18 06:46] MoeNick commented on #1959
Amin said it's working fine, I cant do UAT testing on this issue.

[2021-04-18 07:33] MoeNick opened #2040 "check login and network before loading my donations and refund button"
As a donator, when I want to refund any of my donations and I was logged out, nothing happens. Until I get logged in and click on refund button again.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/7c99300a-9cb2-4af1-a73f-82ef6fa41e21)

[2021-04-18 08:58] aminlatifi commented on #2038
It's the repeat of #1964

[2021-04-18 08:58] #2038 closed

[2021-04-18 09:04] aminlatifi commented on #2040
Sign in action should add to refund button

[2021-04-18 13:40] danelsuga commented on #2005
Got it! Thank you! 💘

[2021-04-18 13:40] danelsuga commented on #2005
Got it! Thank you! 💘

[2021-04-18 13:40] #2005 closed

[2021-04-18 14:25] RamRamez commented on #2035
@GriffGreen I checked delegation from Commons Stack Association on beta develop branch and it was ok for me. Please let me know if you face the problem again.
By the way, it takes sometime to fetch pledges from backend.

[2021-04-18 16:36] RamRamez commented on #2040
@MoeNick It was ok for me. Refund asks for sign in and changing the user account refreshes the page.
If you could reproduce the problem again, please tell me.

[2021-04-18 17:50] laurenluz commented on #1785
@aminlatifi

This just happened to me again. I tried to collect from the milestone, and it worked fine, but I received an "Oh no!" popup:
related to #2001

In the other issue, you said that it is because funds have been collected before from the milestone, but it should be possible for the user to collect multiple times from the payment milestone (i.e. for monthly payments).

I think we need to ch

[2021-04-18 20:09] WhyldWanderer commented on #2017
I tested on Chrome browser...
YouTube: passed
Link: passed except vimeo. However if i use the link option to link to a different site like dailymotion, it worked fine.
File: passed

[2021-04-18 20:42] aminlatifi opened #2042 "Wrong button highlight in menu"
![image](https://user-images.githubusercontent.com/5684607/115160218-51ac5680-a0ac-11eb-96f1-b27186f45d55.png)

I am in another user profile like this:
https://beta.giveth.io/profile/0x301E35D012EB2ed3f2F4687552eD26ec11094756

[2021-04-19 00:24] WhyldWanderer commented on #1786
No matter how hard I try,  i am unable to even create a profile without enabling web3 so i assume the loophole has been closed. (Ive tried through creating a new campaign or milestone or donating)

I get this message
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/21bf814a-be67-4110-9263-1e3903fcef71)

When this message pops up, there is no [x] close window option so i m

[2021-04-19 06:48] MoeNick commented on #2018
@mohammadranjbarz would you pls test

[2021-04-19 07:10] MoeNick opened #2044 "Replace Bridge Monitor Info with Cached fetched event info"
Me as general user want to see the exact status of my transactions more reliable.

[2021-04-19 07:32] MoeNick opened #2045 "Use new designed milestone forms for editing."

[2021-04-19 07:45] MoeNick opened #2046 "Use Ant Design component in edit DAC"
Me as a Dac owner want to edit my DAC page better.

[2021-04-19 07:53] #1682 closed

[2021-04-19 07:57] MoeNick commented on #1881
#2013 Done

[2021-04-19 07:57] #1881 closed

[2021-04-19 09:40] MoeNick commented on #1786
@WhyldWanderer it's not have x button because you need to use metamask changing your account I assume. What do yo think?

[2021-04-19 10:25] MoeNick commented on #1964
Tested on chrome and brave.

[2021-04-19 10:51] MoeNick commented on #1969
tested both on brave and chrome

[2021-04-19 11:18] #2034 closed

[2021-04-19 11:23] aminlatifi commented on #1786
It's how it has been implemented. In case you visit a page with connected wallet and then you disconnect it, you should not be able to do anything till active it. In case you are directly directed to the view, back button doesn't have any meaning.

[2021-04-19 11:29] aminlatifi commented on #1821
@mdehghani Is going to upgrade feathers dependency and other related one to version 4.x

[2021-04-19 11:32] mohammadranjbarz commented on #2018
@MoeNick
@aminlatifi

After running this PR the `homepaymentstransactions` has been filled for me , it was something like this that I think it's ok, so I move this issue to `Done` column

[code]

[2021-04-19 12:36] aminlatifi commented on #1803
I will test it

[2021-04-19 13:20] horus2021 commented on #1846
I suggest to replace term *Milestone* with *Event*.  In this case
we have five event types
1. Milestone
2. Bounty
3. Expenses
4. Payment with/without cap

[2021-04-19 13:26] aminlatifi opened #2047 "Balance is incorrect in donate modal"
When I directly open campaign page and immediately open donate modal balance is shown zero

![image](https://user-images.githubusercontent.com/5684607/115243787-882fb300-a138-11eb-8e56-31c328a35661.png)

[2021-04-19 13:30] MoeNick commented on #1846
Doc updates here:
https://docs.google.com/document/d/1E6zBzVVpSW5_ISmSpdqFgoJCMIKFPztZMf_uhF2IKnY/edit

[2021-04-19 14:40] #1880 closed

[2021-04-19 15:28] GriffGreen opened #2048 "If Griff can't load the the DApp in Brave, we can set aside some time to hack on it."

[2021-04-19 15:31] aminlatifi opened #2049 "Design withdraw limit alerts/notifications"

[2021-04-19 15:32] aminlatifi commented on #2049
@mohammadranjbarz Would you feel this milestone with images of your ready cases of marking milestone complete, withdraw and proposing a milestone?

[2021-04-19 15:33] laurenluz commented on #2021
Would love to be kept in the loop on this issue so I can tweet about it once we have it live!

[2021-04-19 15:34] markoprljic commented on #2021
Public info
We're paying their gas and no one knows, we wanna brag about it!
Example: "Hey Fairdata Society, we paid that much gas for you!"

For User in dropdown menu My Profile, show this info, or their profile page as well.
For Campaigns show the total sum of gas fees paid for this campaign.
For the Milestones as well.

Ideally have a share button to share this info on Twitter or elsewhere.

Ha

[2021-04-19 15:45] mohammadranjbarz commented on #2049
![Screen Shot 1400-01-30 at 20 08 08 (2)](https://user-images.githubusercontent.com/9850545/115264452-8fac8780-a14b-11eb-8579-4a0792a18c1a.png)
![Screen Shot 1400-01-30 at 20 08 30 (2)](https://user-images.githubusercontent.com/9850545/115264463-91764b00-a14b-11eb-85c8-d1844e0fad9c.png)
![Screen Shot 1400-01-30 at 20 14 05](https://user-images.githubusercontent.com/9850545/115264777-d8fcd700-a14b-

[2021-04-19 15:55] GriffGreen opened #2050 "Design onboarding flow for new users to Giveth Trace from Giveth.io while in Beta"
Might want to include @WhyldWanderer, @markoprljic, and @GriffGreen...

We should figure out how to get more users on Trace

[2021-04-19 15:57] #2048 closed

[2021-04-20 09:24] MoeNick opened #2051 "Implement Search endpoint backend side"

[2021-04-20 09:25] MoeNick opened #2052 "Frontend implementation for search bar inside campaign."

[2021-04-20 09:31] MoeNick opened #2053 "Document Gas Calculation"

[2021-04-20 09:47] aminlatifi commented on #2040
@MoeNick Please test it again

[2021-04-20 14:14] aminlatifi commented on #2001
Same as #1785

[2021-04-20 18:26] WhyldWanderer commented on #1786
When I try to connect directly in my metamask i get this message
![image](https://user-images.githubusercontent.com/74267818/115445139-b2ce4a00-a1d2-11eb-832a-fdbdcf3ad77d.png)

I guess its not a big inconvenience for a user to press the back button before pressing the "enable web3" button.

[2021-04-20 18:59] aminlatifi commented on #2001
It's an error from smart contract side, maybe he has pushed button twice

[2021-04-20 19:04] aminlatifi commented on #1785
@laurenluz I hope it solve the issue, you can test on develop now.

[2021-04-21 09:03] MoeNick commented on #1785
Can I test?

[2021-04-22 04:52] MoeNick opened #2058 "Implement subscription for milestone on ViewMilestone to get updates on changes"
Me as campaign owner, expect the accept/reject buttons hide after I click on one of them and accept the transaction in meta mask, so it prevents me to double click on them again and again.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/27424d29-f35e-4efd-80e8-e90428a7b522)

It won't change only I refresh the page.

(We may add "get update " button after clicking on any

[2021-04-22 05:04] MoeNick opened #2059 "I have DAI but it's says you can't donate because you don't have any. (My latest logged-in didnt have)"
This is my account
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/6a718e6f-e81d-4b49-bec6-281db8b8faa1)

This is the error I get
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/75058b20-8066-4ae4-b6d0-e7cfb52f7ee7)

After refreshing the page:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/8ad1aa85-7528-4933-9dca-916

[2021-04-22 05:32] MoeNick opened #2060 "Donation bar needs more information"
Me as a donator, need some more information about this bar, a simple text would be helpful to get understand the maximum of this bar ins the total amount needed for donation.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/033b241e-cff7-4f1d-83d5-63a515fc66d4)

More info like, how much this amount as a share of my wallet would be helpful.

[2021-04-22 05:42] MoeNick commented on #1785
Seems it;s ok, I got this:

![image](https://user-images.githubusercontent.com/80677512/115661743-2b5c1480-a353-11eb-979e-e0332e289bf7.png)

[2021-04-24 16:00] WhyldWanderer opened #2061 "I cancelled my milestone but the funds have not yet returned to donor"
I cancelled this milestone: https://beta.giveth.io/milestone/support-for-the-caretaker-of-diamante-luz
because the funds were distributed to the landlord in local currency.

![image](https://user-images.githubusercontent.com/74267818/115964869-b1a76080-a4e3-11eb-952e-297653b4b99d.png)

@Danibelle was the donor of the funds but she has not yet received the funds back.
How long does the process take

[2021-04-24 16:14] MoeNick commented on #2061
@mohammadranjbarz can u pls take a look?

[2021-04-24 16:35] mohammadranjbarz commented on #2061
@MoeNick
I don't know what should happen in this scenario,  I don't think if feathers do the job or not (Unfortunetely I don't know much about bridge)

Maybe Amin can help

[2021-04-24 19:44] MoeNick commented on #2061
@aminlatifi I know you're off these days, but appreciate if you can take a look if you have time.

[2021-04-25 10:18] RamRamez opened #2063 "Delegate button is always working in background"
Delegate button processes is always working in background without even clicking delegate button.

[2021-04-25 15:36] markoprljic opened #2065 "Remove (s) from Giver(s) on project cards"
![Image 2021-04-25 at 5.33.25 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/2b76094f-d280-4a2c-8e61-568a788a07eb)

No need for (s), Givers: 0 Givers:1 is fine.

[2021-04-25 15:40] markoprljic opened #2066 "Increase font-size to 16px in Top Bar main navigation"
![Image 2021-04-25 at 5.39.44 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/d358ba26-5e2c-4cf5-8d7f-81e52e4a5e64)

[2021-04-25 16:30] markoprljic opened #2067 "Change font-family to Red Hat Text / Display to match align with Giveth.io"
I'm considering changing the font-family of TRACE to match the styles of Giveth.io.

Thoughts.

[2021-04-25 17:13] markoprljic commented on #2021
In Profile dropdown (also proposing to combine Manage under user profile dropdown)
![Image 2021-04-25 at 6 27 32 pm](https://user-images.githubusercontent.com/5704285/116002365-b2321b00-a5f9-11eb-8d7e-8a339fe6f8b9.jpg)

On the Campaign page, under Funding (contextually fits there), also notice slightly improved UI for this table
![Image 2021-04-25 at 7 08 17 pm](https://user-images.githubuserconte

[2021-04-25 17:26] markoprljic commented on #2049
Use this modal for all cases, update text accordingly.
Use Lottie animation https://lottiefiles.com/5527-alert-notification-character
Figma file here https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=4967%3A0

![Image 2021-04-25 at 7 25 09 pm](https://user-images.githubusercontent.com/5704285/116002891-03dba500-a5fc-11eb-9d2d-c667312d37ed.jpg)

[2021-04-26 05:37] MoeNick commented on #2019
@aminlatifi is there any user scenario to get to know its done?

[2021-04-26 05:39] MoeNick commented on #1803
@aminlatifi I couldn't reproduce it :(

[2021-04-26 08:38] MoeNick commented on #2046
@RamRamez the form won't scroll to the top of the field, which is required of missing validation.
Scenario:
I make the title empty, try to submit the DAC , mothing happens or I didn't see any error.

[2021-04-26 08:46] MoeNick opened #2069 "The edit CAM / DAC / Milestone form, won't let me working with pictures.. etc"
Me as a user who wants to propose milestone or create campaign, need to resize pictures in forms, while on editing or creating.
I don't have any tools to resize or change the location.

Take a look at this:
https://develop.giveth.io/dac/dac-owner-dac-test-1
- the picture length is enlarged to the size of video.
- The height of youtube video is shorten!
- the uploaded rabbit video, dont have any pr

[2021-04-26 12:12] mohammadranjbarz commented on #1871
![Screen Shot 1400-02-06 at 16.41.35.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/236eb142-a08c-43da-94b5-7a3fb7dd908c)

[2021-04-26 12:16] mohammadranjbarz commented on #1871
[Uploading... Screen Shot 1400-02-06 at 16.46.17.png]

[2021-04-26 13:29] Danibelle commented on #2028
Accept Proposed Milestone:
Your acceptance of this Milestone will be recorded as a publicly visible comment, and emailed to the Milestone Owner. Please add a personal comment, compliment or other custom message to accompany it!

[2021-04-26 13:32] Danibelle commented on #2028
Comment on Milestone:
Use this Comment section to provide a public record of questions and answers, updates, changes, compliments or concerns, and other information that helps donors and project participants understand the current status of the Milestone!

[2021-04-26 15:24] Danibelle commented on #2061
![image](https://user-images.githubusercontent.com/39466970/116108439-c103e680-a668-11eb-808a-afa879819d66.png)

[2021-04-26 15:47] MoeNick commented on #1826
#2050

[2021-04-26 16:58] WhyldWanderer commented on #1832
related issue: https://github.com/Giveth/giveth-planning/issues/127

[2021-04-26 17:06] Danibelle opened #2071 "Giveth DAC Reloaded! Community Text is soo 2017."
Time to update our DAC text - lots of waay old info..
The "Join our Community" button still points to https://riot.im/app/#/room/#giveth-general:matrix.org
Griff is the owner but Juliet holds the keys.. Dani will revise in [this document](https://docs.google.com/document/d/1EfVfLg360q3RQFP7fTlcDffNp4QmJ-kdf61SbSVmi7M/edit)..  then work with Juliet to update.

![image](https://user-images.githubuse

[2021-04-26 17:47] Danibelle opened #2072 "Dani needs Delegating rights on the Giveth 2 Campaign"
Can a Campaign have multiple Owners? I think so, Griff and I shared on some Decentral Campaigns..

I need to be able to delegate payments from the [Giveth 2 Campaign](https://beta.giveth.io/campaign/giveth-2) to Milestones created on it!

The "Delegate Funds" option comes up for me, but only for funds from the Gaia Gives DAC (which I created).

[2021-04-26 22:20] RamRamez commented on #2046
It's fixed on PR #2073

[2021-04-27 08:46] aminlatifi commented on #2061
@mohammadranjbarz This donation is canceled successfully, but money is not reverted
[code]

To money return back to the owner the pledge (here 8521) should be normalized. We have a process in feathers to normalize canceled donations, but it has not worked as expected. Please investigate it. Please see `getPledgesToNormalize` function in `src/blockchain/normalizer.js` of feathers.

[2021-04-27 11:24] RamRamez commented on #1751
@GriffGreen @MoeNick
In title it is said 3-5 days but in description it is said 2-5 days.
So how should we change it?

[2021-04-27 11:36] mohammadranjbarz opened #2075 "Wrong caption for Cancelled donations in /donations page"
according to this
https://github.com/Giveth/giveth-dapp/issues/2061#issuecomment-826927852

[2021-04-27 11:40] RamRamez commented on #2058
@aminlatifi It seems all milestone alerts like Request mark complete, Propose milestone again, Archive milestone … have this problem. Maybe we can implement a subscription for milestone object on ViewMilestoneAlerts

[2021-04-27 12:22] mohammadranjbarz commented on #2061
@Danibelle
Did your problem solved?
It was a problem with normalizing pledge, I think your money should be back already

[2021-04-27 18:00] laurenluz commented on #2028
Love the suggested text Dani. Can we also make the headers "Accept Proposed Milestone" and "Comment on Milestone" bolded, and delete the text "Accompanying message" for both?

[2021-04-28 07:31] aminlatifi opened #2078 "MetaMask issue on connectivity cause insufficient balance error"
In low connectivity environment MetaMask cannot connect to node and user balance is considered as zero!

![image](https://user-images.githubusercontent.com/5684607/116364302-4fb76580-a819-11eb-91ce-fb2324b57a84.png)

![image](https://user-images.githubusercontent.com/5684607/116364350-5c3bbe00-a819-11eb-9b20-e759498c001a.png)

[2021-04-28 08:56] MoeNick commented on #2021
@RamRamez pls take a look

[2021-04-28 11:11] aminlatifi commented on #2061
@mohammadranjbarz Feathers hadn't normalized the pledge, please investigate the issue.

[2021-04-28 11:13] mohammadranjbarz commented on #2061
Sure, I'll do it

[2021-04-28 11:14] MoeNick opened #2079 "logged in but show me you need to sign-in"
Im already signed-in , but it showed me to sign in. andd..... after I click on sign-in again. nothing happens...
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/4a8e4e48-6223-4f92-8d4a-5aba53ceec1d)

[2021-04-28 11:52] MoeNick opened #2080 "Pending Transaction Design"
This screen remains active. after I unlock and donate.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/90805aef-eea6-4a7f-83f4-34974e9a9339)

[2021-04-28 12:29] MoeNick commented on #1579
@RamRamez
1- Sign In before press donation is missed.
2- If Im not signed-in, it shows my last sign-in account balance, not mine right now.
3- If I need to unlock and donate, after I press "unlock & donate" , only unlock works and pop up still remains there. no thank you pop-up will be shown.

[2021-04-28 12:33] MoeNick commented on #2020
@aminlatifi
How can I test it?

[2021-04-28 13:32] MoeNick commented on #2040
This is the scenario:
1- Change the account on metamask
2- Go to Me doantion
3- Before sign-in, click on refund, correctly it says you need to sign in, after signing in, nothing happens
4- you need to click on refund bottom again.
(User expects, refund automatically begins after signing-in
OR
a message come and say," signing was successful, now click on refund again. )

[2021-04-28 13:33] MoeNick commented on #1871
tested.

[2021-04-28 14:21] MoeNick opened #2081 "It shows I don't have any tokens, unless I change the drop down."
Donation on campaign while I have token!

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/0d314abd-948f-4973-9145-f2c4a2584591)

[2021-04-28 14:31] MoeNick commented on #1486
In milestone:
wo refreshing right after submitting
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/a8101744-ded8-4b16-a5fc-7557c4453b0c)
Right after submitting, be refreshing the page:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/a06b3b3e-a328-43d0-9e1b-9a28c48425d7)
After 3 min:
![image.png](https://images.zenhubusercontent.com/604f242c2819

[2021-04-28 14:47] MoeNick opened #2082 "Stuck after I got back to page 1 on my milestones"
Scenario:
- Go to my mileston.
- Press page 2
- presss page 1 or <
then you got stuck.

[2021-04-28 14:47] MoeNick commented on #2082
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/2cc9ff8d-28fe-4fb3-b2bd-66f03e92eff1)

[2021-04-28 15:00] MoeNick opened #2083 "Unsubscribe email sent from beta get 404 error."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/835bd664-72b3-4e19-9121-75644be4d63d)

[2021-04-28 15:12] MoeNick commented on #1486
I also tested delegation method. All scenarios needs to be refreshed the page to update the leaderboard.

[2021-04-28 15:17] MoeNick opened #2084 "5 first letter, without space"
Add a text which remind user, 5 letter is matter nit first 5 characters.
we may edit watermark text to this: "fist 5 character without space"

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/bc6ca348-4ea2
-42f3-a4e4-e513fed14eec)
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/6bbc10bf-e7d7-431d-abb7-379a335f420e)

[2021-04-28 15:25] MoeNick commented on #2046
Tested!

[2021-04-28 15:52] MoeNick commented on #2039
if records needs paging, after getting back to page 1, the problem existed again. see https://app.zenhub.com/workspaces/giveth-10-zenhub-597f7f30f2f98b6dc0e61df9/issues/giveth/giveth-dapp/2082

[2021-04-28 16:20] MoeNick opened #2085 "Slider bug while on my delegations as campaign owner"
Me as campaign owner, when log-in and see my delegations, after clicking on delegate button, it appears:

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/4143e6d5-0fb9-4675-a983-d605c0d727d2)

sometimes it get like his|:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/dec92950-aece-44f5-9b06-17cd0f413672)

[2021-04-28 17:02] MoeNick commented on #1875
I archived this milestone as milestone creator:
https://develop.giveth.io/milestone/test-email-for-subscriber

wo refresh, it won't showed up
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/5318bd3b-236f-4e97-87bc-655e837fe829)

with refresh, the status wont show up in status update :(

[2021-04-28 17:05] MoeNick commented on #1875
I did it with this milestone:
https://develop.giveth.io/milestone/test-milestone-9

 and it has been updated. :)

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/08b6a102-b09c-4db8-9920-49c78d0ab6ca)

[2021-04-28 17:14] MoeNick commented on #1875
Test also failed on this milestone:
https://develop.giveth.io/milestone/test-delegation
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/24d3e180-e7d2-4803-8f70-cddb0edb51ce)

[2021-04-28 17:16] MoeNick commented on #1997
Tested.

[2021-04-29 04:23] mohammadranjbarz opened #2088 "I keep clicking on mark complete but nothing happend ( console says jwt expired)"
I think maybe we should force the user to login again when jwt expired ( after 1 day)

![Screen Shot 1400-02-09 at 08.50.23.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/fca305f7-2ec6-42f8-9c98-810113567150)

[2021-04-29 07:33] MoeNick opened #2089 "How the milestone completed below limit donated amount?"
How did it become completed? while total amounts are under the limit? the money stuck in the milestone and it cannot be collected.

https://develop.giveth.io/milestone/test-delegation
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/e84ecf3b-40d7-458d-9e2e-8d6b69aa7cf7)

[2021-04-29 08:52] MoeNick commented on #2082
Tested both on chrome and brave.

[2021-04-29 09:15] aminlatifi opened #2090 "Refactor Bridge Monitor"
Bridge monitor fails on processing events from both sides, it should be refactored and implement new approach on processing events.
The expected implementation needs:
- Process events reliably and don't miss any event
- Match both side transactions match

[2021-04-29 09:32] aminlatifi opened #2091 "Error in Donate Modal when switching to a token with no balance in wallet"
In donate modal, when user switches donate token to a token which user doesn't have any in his wallet bellow error happens.

![image](https://user-images.githubusercontent.com/5684607/116510197-c5830600-a8d9-11eb-9766-fcfe5c923b1a.png)

[2021-04-29 22:19] RamRamez opened #2093 "Delegate buttons needs sign in check"
Donate and delegate buttons need to check sign in before any action

[2021-04-29 22:26] RamRamez commented on #1579
They are not related to this issue.
By the way, I mentioned number 1 and 2 in Issue #2093 and PR #2094

[2021-04-30 09:00] mohammadranjbarz commented on #2061
After some investigating I knew that we had no error  in normalizing pledges since 26 days ago

<img width="1440" alt="Screen Shot 1400-02-10 at 12 48 15" src="https://user-images.githubusercontent.com/9850545/116671156-da34cc00-a9b5-11eb-9878-1bc79f5ea9bf.png">

That the cause of them was mongo connection, anyway with logs of 3 days ago ( before restarting server  and solving the problem), So wit

[2021-05-02 06:55] aminlatifi commented on #1786
@WhyldWanderer I imagine adding an `Enable Web3` button to the warning modal, what do you think?

[2021-05-02 06:59] aminlatifi commented on #1785
Actually it's the expected behavior, for better interactivity should hide collect button after user first click. It needs some new design and implementation by me, @MohammadPCh  and @RamRamez

[2021-05-02 07:02] aminlatifi commented on #2059
Same as #2047

[2021-05-02 07:02] #2059 closed

[2021-05-02 07:17] aminlatifi commented on #2047
Seems to be fixed.

[2021-05-02 07:19] aminlatifi commented on #2081
#2047

[2021-05-02 07:19] #2081 closed

[2021-05-02 07:23] aminlatifi commented on #2063
@MoeNick I will test it myself

[2021-05-02 07:32] aminlatifi commented on #2091
It's an issue in backend, the decimals for those tokens were saved as string!

[2021-05-02 07:36] MoeNick commented on #2052
@aminlatifi it shouldn't get tested on UAT before closing?

[2021-05-02 08:00] #2091 closed

[2021-05-02 08:00] aminlatifi commented on #2091
Tested

[2021-05-02 08:11] aminlatifi commented on #2093
Donate button doesn't need authentication

[2021-05-02 08:20] MoeNick commented on #1579
Thanks @RamRamez , what about the delegate buttons, are they fixed?

[2021-05-02 08:27] aminlatifi opened #2097 "Crash on opening donate modal immediately"
When we directly open a project link and before loading immediately click donate button when the button shows up bellow error happens

![image](https://user-images.githubusercontent.com/5684607/116806973-bd2f0300-ab45-11eb-92e4-f22296c5f6d3.png)

[2021-05-02 08:53] mohammadranjbarz commented on #2075
@MoeNick
If you want to test it, create a milestone, donate to it, then after cancelling milestone, got to your donations page then you should see the donation status is cancelled and the caption is right ( it was unknown before merging this)

[2021-05-02 09:36] RamRamez commented on #1579
@MoeNick Yes, sign in check is added for both delegate buttons (in milestone and campaign page and in the my-delegations page) and the donate button.

[2021-05-02 10:38] mohammadranjbarz commented on #1875
@MoeNick
This issue is just about creating archived milestone, so refreshing status updates after this is not related to this issue, I think you can move this issue to done

[2021-05-02 10:42] aminlatifi opened #2098 "Upgrade react dependencies"
Upgrade create-react-app and feathers-reactive packages.

[2021-05-02 10:43] aminlatifi commented on #2098
Maye solve #2055

[2021-05-02 11:35] RamRamez opened #2099 "Token balance in donate button not updating on user change"
Token balance in donate button not updating on user change

[2021-05-02 11:47] RamRamez commented on #2099
![image](https://user-images.githubusercontent.com/73441857/116812068-ed849a80-ab61-11eb-8f36-468b491db99d.png)

[2021-05-02 12:27] MoeNick commented on #1875
@mohammadranjbarz problem existed on last test I made. even with refresh.

[2021-05-02 12:33] MoeNick commented on #2093
tested

[2021-05-02 12:34] MoeNick commented on #2075
I have problems and I told @mohammadranjbarz in telegram chat.

[2021-05-02 12:35] MoeNick commented on #1821
@aminlatifi how can I test it?

[2021-05-02 12:36] MoeNick commented on #2047
tested!

[2021-05-02 12:43] MoeNick commented on #1486
@mohammadranjbarz Refreshing is needed on this issue, I made a mistake in our daily call.
Should we consider auto-updating without refreshing in leader-board?

[2021-05-02 13:36] aminlatifi opened #2101 "Change Delegate Multiple Button donation simple query to subscription"
DelegateMultipleButton used to use subscription on getting donations' list. We had changed it to simple query after refactor, but it cause issue when user do multiple delegation.

As a hint, this commit had changed subscription to simple query and the logic should be reverted
commit f0564ef1e795b1cbbdfd42a66dc8bd472789c791

[2021-05-02 14:12] MoeNick commented on #1579
Tested, tnx

[2021-05-02 14:16] MoeNick commented on #2049
@RamRamez pls approve and create implementation task if it's ok for you.

[2021-05-02 14:18] MoeNick commented on #2021
@RamRamez are u ok with the design?

[2021-05-02 14:22] MoeNick commented on #2050
@WhyldWanderer @laurenluz
would you pls update us if we have talked to some users start using trace.

[2021-05-02 14:23] MoeNick commented on #2044
@mohammadranjbarz @aminlatifi how can i test and passs it?

[2021-05-02 14:26] mohammadranjbarz commented on #1486
@MoeNick
We think maybe it's related to some reactive library, and the updating packages maybe solve this, So we have no specified task for this issue

[2021-05-02 14:28] MoeNick commented on #1486
@mohammadranjbarz shall I keep it here, until the library get updated and I see the result?

[2021-05-02 14:29] mohammadranjbarz commented on #1486
@aminlatifi
What do you think about this?

[2021-05-02 14:49] mohammadranjbarz opened #2103 "Why all donations of a milestone have zero pendingAmountRemaining"
https://develop.giveth.io/milestone/milestoneemailtest2-34343-4

This the scenario that @MoeNick  thinks he has done:

but in donations tables all donations show zero

![Screen Shot 1400-02-12 at 19.18.02.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/2d24c1a5-945b-4f8b-b0ef-3aa61e8a17f0)

and after checking that I saw that  all donations have `amount` but their `amountRemainin

[2021-05-02 15:01] RamRamez commented on #2049
@MoeNick ok.

[2021-05-02 15:23] RamRamez commented on #2021
@MoeNick @markoprljic The gas icon is a little different from the banner gas limit notification (it has a leaf on it). Should we change the banner gas icon with the new icon or use different icons for these?
And please give me the link of this new gas icon.

[2021-05-02 15:29] RamRamez commented on #2040
There are similar problems for Commit and Reject buttons on My donations page.

[2021-05-03 06:45] MoeNick opened #2105 "Not to show disburse button in cancelled milestone."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/386167e5-cbc2-40a3-995a-3c4b73fba8b8)

[2021-05-03 08:34] aminlatifi commented on #2101
Subscribe doesn't work out by new design, I made it to refetch donations on opening the modal again, and refetching after delegate

[2021-05-03 12:23] aminlatifi commented on #2053
https://docs.beta.giveth.io/docs/paid-gas-calculation

[2021-05-03 12:23] #2053 closed

[2021-05-03 12:33] aminlatifi commented on #2061
Thanks @mohammadranjbarz
Let's keep it in Bug & Ops pipe to find the cause later.

[2021-05-03 12:34] mohammadranjbarz commented on #2061
I agree👍

[2021-05-03 12:40] mohammadranjbarz commented on #1875
@MoeNick
If you test and approve this on UAT we could close it

[2021-05-03 12:41] MoeNick commented on #1875
@mohammadranjbarz im on it

[2021-05-03 13:37] WhyldWanderer commented on #2050
I have not yet reached out to any projects but having been keeping my eyes open for projects that seem like a good fit for TRACE.
I will update this issue with the progress as it comes.

[2021-05-03 13:49] aminlatifi opened #2107 "Comment Conversation Editor is not cleared after submit/cancel"
In milestone view, write comment modal doesn't clear it's editor value after either user Add comment or Cancel it
![image](https://user-images.githubusercontent.com/5684607/116884491-082b4200-ac3c-11eb-8855-67908976b7fe.png)
![image](https://user-images.githubusercontent.com/5684607/116884513-0f525000-ac3c-11eb-8c5f-e794002f2cb4.png)

If user open the write comment modal again she will see her pre

[2021-05-03 13:57] markoprljic commented on #2021
@RamRamez Yes, tha gas icon is intentionally different, please use it there. No need to change the one in the banner.

Link to Figma https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=4961%3A0

[2021-05-03 14:26] MoeNick opened #2108 "Implement new designs: gas paid info and related alerts"
Related to : #2021 and ##2049

Alert:
https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=4967%3A0
https://lottiefiles.com/5527-alert-notification-character

Public gas information:
https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=4961%3A0

[2021-05-03 14:41] MoeNick commented on #2052
1- Won't search within characters on titles or body
2- Must show "no result " msg after search has no results
3- Must have search botton amd UX improvement, it's confusing to press magnifier icon while there is some other icons there.
4- It should be a "clear search" or reset button, especially after no result found and after each search done.

I think we'd better count on marko for this.

[2021-05-03 14:43] MoeNick commented on #2028
@RamRamez and @aminlatifi pls take a look, can we proceed?

[2021-05-03 14:44] MoeNick commented on #1875
Seems ok to me.

[2021-05-03 14:49] MoeNick opened #2109 "Authentication issue after feathers upgrade"
Related to:  https://github.com/Giveth/giveth-1-simulation/issues/35

[2021-05-03 14:52] MoeNick opened #2110 "Set up new better Server for Trace"
Before Server Upgrade:
- [x] Prepare Spec
- [x] Set up accounts

After Server Upgrade:
- [x] Install Redis
- [x] Install NgineX and config
- [x] Review Ci/CD (netlify / githubAction)
- [x] Deploy

[2021-05-03 14:57] mohammadranjbarz commented on #2109
it's related to https://github.com/Giveth/giveth-dapp/issues/2088

[2021-05-03 14:57] MoeNick opened #2111 "Live UI with streaming on all actions and data"

[2021-05-03 15:41] MoeNick commented on #1832
- Comms Team make it more clear.
- Backend, api and entities should changes
- Short update could be changing the names in Frontend.
- Variables in BE and FE

[2021-05-03 15:45] MoeNick commented on #2028
@markoprljic would u pls tale a look at this?

[2021-05-03 15:50] RamRamez commented on #2028
Changing the text is a good idea. But I think we need more colors to make them more exciting

[2021-05-03 15:53] MoeNick opened #2112 "Bridge mailing functionality"

[2021-05-03 16:23] markoprljic commented on #2028
On it.

[2021-05-03 16:57] markoprljic commented on #2028
Write a Comment modal

![Image 2021-05-03 at 6 56 52 pm](https://user-images.githubusercontent.com/5704285/116907057-5a229680-ac41-11eb-8d13-11e4ee73733f.jpg)

Using lottie animation of the pencil https://lottiefiles.com/180-pencil-write

[2021-05-03 17:07] MoeNick commented on #2028
Thanks to @markoprljic
@RamRamez @MohammadPCh pls take a look and approve

[2021-05-03 17:10] markoprljic commented on #2028
Accept proposed Milestone

![Image 2021-05-03 at 7 09 30 pm](https://user-images.githubusercontent.com/5704285/116908403-26487080-ac43-11eb-8d2a-94b537762052.jpg)

Lottie https://lottiefiles.com/32537-checkmark

[2021-05-03 17:10] markoprljic commented on #2028
@RamRamez @MohammadPCh Figma source https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=4973%3A199

[2021-05-03 17:35] MoeNick commented on #2089
Please investigate with logs, then make it more clear and put estimation .
@aminlatifi

[2021-05-03 17:43] MoeNick commented on #2052
Dear @markoprljic would u pls take a look, it needs a better design on:
1- placement of the bar, watermark and search button instead of magnifier
2- Remove search filters button.
3- Design "no result found"

Appreciate it.

[2021-05-03 18:23] aminlatifi commented on #2088
#2109

[2021-05-03 18:28] RamRamez commented on #2028
OK. Thanks @markoprljic for the design.

[2021-05-03 18:29] aminlatifi commented on #2108
So beautiful, thanks @markoprljic

[2021-05-04 00:57] ForestSoleil opened #2115 "Home page copy edit under DAC"
Not sure that "These Communities are solving causes." quite makes sense. I've never heard of someone solving a cause before. Maybe "These Communities are solving problems and making our world a better place for all."

[2021-05-04 00:59] ForestSoleil opened #2116 "Lots of tests under DAC on the home page"
https://develop.giveth.io/
Is this page live? Doesn't look professional with all the tests. Maybe we can shift them down or hide them from public view? I'm not sure if I'm seeing this right now because they were just pushed or if it's been there for a while.

[2021-05-04 01:03] ForestSoleil opened #2117 "Copy at the top of communities, campaigns, and milestones pages"
Add clear paragraph at the top of each page for communities, campaigns and milestones that clearly outlines what differentiates these 3 things. What is a community vs a campaign vs a milestone? I'm not clearly understanding why projects are filtered in these different ways.

[2021-05-04 06:00] MoeNick commented on #2116
Thanks for the feed back @ForestSoleil , where did you find the link or the address? It's our testing environment, should bot be find on Google etc.

[2021-05-04 07:01] aminlatifi opened #2118 "Add form validation to add comment conversation"
@MohammadPCh fixed an issue by #2114, but conversation comment form validation doesn't work any more. He mentioned: "but the form validation is not working and I think this modal needs to change completely."

[2021-05-04 07:29] #2097 closed

[2021-05-04 07:31] aminlatifi commented on #2047
It shows my balance zero still under slow network environment

![image](https://user-images.githubusercontent.com/5684607/116972485-51c56c80-acd0-11eb-9bf8-ce4a592102cb.png)

![image](https://user-images.githubusercontent.com/5684607/116972527-61dd4c00-acd0-11eb-81ee-cb24ddb466ea.png)

[2021-05-04 07:33] #2065 closed

[2021-05-04 08:02] aminlatifi commented on #2072
@Danibelle No, only one user (owner) can delegate from Campaign. In case you want to become owner I can help you.
Note co-owner role is able to only approve milestones.

[2021-05-04 08:06] MoeNick commented on #2047
How can u simulate slow connection environment 🧐

[2021-05-04 08:07] aminlatifi commented on #1751
Let's go with 2-5 days

[2021-05-04 08:09] aminlatifi commented on #2058
Yes we should

[2021-05-04 08:12] aminlatifi commented on #2079
#2109

[2021-05-04 08:13] aminlatifi commented on #2080
After donate dapp tries to update backend. Maybe there was some connectivity issue at the moment.

[2021-05-04 08:25] aminlatifi commented on #1486
@mohammadranjbarz Upgrading just feathers-reactive may solve. Can you try it? and see whether subscription to donations work after?

[2021-05-04 08:29] mohammadranjbarz commented on #1486
I'm working on it,
upgrading ` feathers-reactive` didn't solve this, I'm investigating

[2021-05-04 08:33] aminlatifi opened #2120 "Slider issue on tiny values"
In my delegation page I chose an item with smallest possible amount of ETH
![image](https://user-images.githubusercontent.com/5684607/116978455-fb106080-acd8-11eb-9ac3-2c0af3b5ada9.png)

[2021-05-04 08:34] aminlatifi commented on #2085
@MoeNick Delegate modal is changed a lot, can you test this scenario again?

[2021-05-04 09:30] MoeNick commented on #2080
Need design for show pending trx

[2021-05-04 11:09] RamRamez opened #2121 "Join giveth is not center"
Join giveth button is not center
![image](https://user-images.githubusercontent.com/73441857/116995136-ed65d580-acee-11eb-8fb2-940106f9eac3.png)

[2021-05-04 11:24] aminlatifi commented on #2047
Browser DevTools -> Network Tab -> No throttling has options

[2021-05-05 03:07] GriffGreen commented on #1751
Sounds good! Thx Amin!

[2021-05-05 14:47] RamRamez opened #2123 "wrong notification after milestone update"
After editing milestone with a change in title, the notification says: 'Your milestone has been created!'

[2021-05-05 14:52] RamRamez opened #2124 "Add formType field to milestone"
Add formType field to milestone new creation forms and Milestone object (getter, setter, …) in order to be used with new milestone editing forms.

[2021-05-05 16:44] GriffGreen opened #2127 "Add GIF support to the TRACE picture"
This is a Feature request from Juanka! :-D

![Screen Shot 2021-05-05 at 9 42 21 AM](https://user-images.githubusercontent.com/14945613/117177931-d77d1100-add1-11eb-9bc3-105eb68f26fd.png)

[2021-05-06 03:56] GriffGreen opened #2128 "I did a bunch of network and account switching and then got locked out of Giveth again"
![Screen Shot 2021-05-05 at 8 56 20 PM](https://user-images.githubusercontent.com/14945613/117239862-d8dd2680-ae2f-11eb-959c-e5f0e9a5ad06.png)

[2021-05-06 09:24] mohammadranjbarz commented on #1996
@MoeNick

I couldn't reproduce it again, I'm not sure if this issue really exists

[2021-05-06 12:37] markoprljic commented on #2052
Can you please provide a screenshot of the Campaign page and where you want this search to be?

What is a watermark?
What search filters to remove? Where is that?

I'm lost.

[2021-05-06 12:40] aminlatifi commented on #2089
@MoeNick It's archived. the status of archived milestones is shown as `Completed`

[2021-05-06 12:42] aminlatifi commented on #2089
Archive should be disabled for milestone with balance less than limit.

[2021-05-06 14:21] markoprljic commented on #2080
Here all three notifications for transactions.

![Image 2021-05-06 at 4 20 57 pm](https://user-images.githubusercontent.com/5704285/117314477-19b45a00-ae87-11eb-8454-f37a3263f453.jpg)

Source file in Figma here https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=4973%3A199

[2021-05-06 14:32] aminlatifi commented on #2052
@markoprljic The search bar is implemented in develop.giveth.io campaign pages

[2021-05-06 14:35] markoprljic commented on #2052
This one here?

![Image 2021-05-06 at 4 35 10 pm](https://user-images.githubusercontent.com/5704285/117316649-0e622e00-ae89-11eb-85ee-90bd5849f2af.jpg)

[2021-05-06 14:58] MoeNick commented on #2052
Yes Man...

[2021-05-06 15:14] markoprljic commented on #2052
This should be a live search, when user starts typing it automatically filters the results below.

In case no results matching the search then show this information below:

![Image 2021-05-06 at 5 12 59 pm](https://user-images.githubusercontent.com/5704285/117322510-5cc5fb80-ae8e-11eb-843f-fc64a63969d9.jpg)

Figma https://www.figma.com/file/SuQbqtNjtRNrlYGAXijaMI/Giveth-TRACE?node-id=4984%3A14
Lot

[2021-05-06 15:26] MoeNick commented on #2052
Thanks marko, clasp for quick respond:
1- @aminlatifi  jaan, can we make it live or we have limitation on backend?
2- Due to case of limitation, should we have a button to reset the search result @markoprljic ? clear the bar character by character is a little bit boring to me. Am I right?

[2021-05-06 15:33] markoprljic commented on #2052
Sorry forgot to include focus state on search input field.

![Image 2021-05-06 at 5 32 50 pm](https://user-images.githubusercontent.com/5704285/117325592-28077380-ae91-11eb-9e2e-d812319a8cb7.jpg)

[2021-05-06 15:47] MoeNick commented on #2052
Perfect

[2021-05-06 19:10] WhyldWanderer commented on #1786
@aminlatifi I think that would be a sufficient solution... ;)
Or make it so the user is able to interact with the one in the upper right corner.

Sorry for my late response

[2021-05-06 19:19] WhyldWanderer commented on #2050
I have found a project that would like to onboard onto TRACE.
You can see their project here. https://giveth.io/project/earth-activation-indigenous-message-for-our-humanity/
They are represented by Gaia Gives (the future Giveth while label)
Not only does the project have use for all 4 'traces', but it is also a great way for the Gaia Gives team to see the new capabilities of leaving traces.

Im ta

[2021-05-09 13:20] aminlatifi commented on #1786
@WhyldWanderer Thanks Ashly for your precious feedback

[2021-05-09 13:23] aminlatifi opened #2131 "Add enable web3 button to wallet is not connected warning"
As a user I want to have access to an `Enable Web3` button in `Wallet is not connected` warning, so that I will be able to trigger unlock/connect my MetaMask.

![image](https://user-images.githubusercontent.com/5684607/117573813-35ba3480-b0ef-11eb-87ff-2d0168d63bd4.png)

[2021-05-09 13:25] aminlatifi commented on #2052
Thanks @markoprljic

@MoeNick No, backend doesn't need any new feature.

[2021-05-09 14:37] mohammadranjbarz opened #2132 "Cant upload photo in new forms ( for example creating campaign)"
After clicking on upload photo and selecting photo nothing happened, you can check this on develop

[2021-05-09 14:46] mohammadranjbarz commented on #2132
<img width="1440" alt="Screen Shot 1400-02-19 at 19 03 38" src="https://user-images.githubusercontent.com/9850545/117576386-0c070a80-b0fb-11eb-9d4d-19a78d63f63a.png">

[2021-05-09 21:20] aminlatifi opened #2133 "Profile image is not center anymore"
![image](https://user-images.githubusercontent.com/5684607/117587192-037df680-b132-11eb-8493-f624ed0fee85.png)

[2021-05-10 08:31] mohammadranjbarz commented on #1996
@MoeNick
@aminlatifi
Should I work on #2132?
it blocks testing this issue

[2021-05-10 08:34] aminlatifi commented on #1996
@mohammadranjbarz It's assigned to @MohammadPCh

[2021-05-10 12:41] MoeNick commented on #2069
@aminlatifi jan pls take a look. User even cant resize a picture in editor.

[2021-05-10 13:11] aminlatifi commented on #2132
#2129

[2021-05-10 13:15] MoeNick opened #2135 "Trace gets messy after uploading large pic."
When uploading a large picture on milestone:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/943ec1f5-d107-464b-acb3-674b832d8129)

[2021-05-10 13:17] MoeNick commented on #2132
Are sureabout the 2089 related to this?

[2021-05-10 13:29] aminlatifi commented on #2069
I can resize and select section of an image in edit forms

[2021-05-10 13:34] MoeNick opened #2136 "Replace "Traces" with "Milestone""

[2021-05-10 13:35] aminlatifi commented on #2069
I could reproduce it here

https://develop.giveth.io/dac/new-dac-with-new-form

[2021-05-10 13:36] aminlatifi commented on #2069
Slug is changed and the mentioned dac url is not useful anymore unfortunately

[2021-05-10 13:37] aminlatifi commented on #2132
No it's now, but I pushed a code with this one :(

[2021-05-10 13:42] MoeNick commented on #2052
@aminlatifi shall we assign to frontend guys or you can go forward?

[2021-05-10 13:49] MoeNick commented on #1704
@mohammadranjbarz it's in our currant sprint, pls go forward.
I forgot to assign it to u.

[2021-05-10 13:58] MoeNick commented on #2047
@aminlatifi can cherick take this task? we planned for it.

[2021-05-10 13:59] MoeNick commented on #2080
@aminlatifi can i assign it to RamRamez?

[2021-05-10 14:15] aminlatifi commented on #2088
@MoeNick It should be fixed by #1639

[2021-05-10 14:33] aminlatifi commented on #2128
@GriffGreen I tried to reproduce this by changing a lot to different networks and accounts, but couldn't see this issue. Are you sure the cause was that? sometimes connection issues happens and not related to user activity.
Would you please send us dev tools log (F12 -> console) next time?

[2021-05-10 15:15] MoeNick opened #2140 "Replace milestone phrase in Emails"

[2021-05-10 15:16] MoeNick opened #2141 "Replace all milestone Labels on FE"

[2021-05-10 15:16] MoeNick opened #2142 "Bridge monitor"

[2021-05-10 15:18] MoeNick opened #2143 "replace Trace in backed with feathers"

[2021-05-10 15:18] MoeNick opened #2144 "Update simulation script"

[2021-05-10 15:27] MoeNick commented on #2143
- [ ] DB Renaming

- [ ] Service renaming

- [ ] Entity Renaming

- [ ] FE URLs and Queries

[2021-05-10 15:35] MoeNick opened #2145 "Fix web-sockes reactive on feathers"

[2021-05-10 15:36] MoeNick opened #2146 "implement global providers for entitles"

[2021-05-10 21:16] aminlatifi commented on #2052
@MoeNick I take over

[2021-05-10 21:18] aminlatifi commented on #2047
It was assigned to him, but he got busy

[2021-05-10 21:19] aminlatifi commented on #2080
Yeah

[2021-05-11 04:56] mohammadranjbarz commented on #2132
@MoeNick
I've tested upload photo when creating `DAC`, `Campaign`, `Milestone`
So I think we can close this issue

https://develop.giveth.io/campaign/test-upload-photo
https://develop.giveth.io/milestone/test-upload-photo
https://develop.giveth.io/dac/test-upload-photo

[2021-05-11 09:00] MoeNick commented on #2084
Can you pls add the characters need to be Case Sensitive? @aminlatifi
App rejected below characters:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/30a1b243-4ee9-4a75-9d6a-6f3497e44dcd)

[2021-05-11 10:48] GriffGreen opened #2150 "Trace was Paid out but status didnt change?"
https://beta.giveth.io/milestone/jeffs-june-20-work

weird that it says completed... but paid out here: https://etherscan.io/tx/0x2d6b255e815723247a387e95efdcb6e08112c67aa06d3cd8c0d134e900f0239c

[2021-05-11 15:37] mohammadranjbarz opened #2152 "Show usdValue of donation amount in donate/delegate menu"
I think it's cool to show the usd value of the amount, it makes more sense for user to know how much he/she is donating

[2021-05-11 19:40] aminlatifi commented on #2150
@mohammadranjbarz You are right, there is an issue in event processing. The `Transfer` events corresponding to withdraw transaction are all in `Pending` state!!

{transactionHash:"0xf00b6e53e61e08f3daf0edfa39798e29c9d1541d5a8d33d643d0e3bb8b2bd6cb", event:"Transfer"}

[2021-05-12 07:53] MoeNick commented on #2080
@RamRamez as an unplanned task you can take this in this sprint.

[2021-05-12 08:57] MoeNick opened #2154 "email get mess with large campaign / milestone image."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/ba395edf-32b6-4dc7-a703-0280b22b65d4)

[2021-05-13 06:38] danelsuga opened #2156 ""Change recipient" bug?"
Hi! I tried to "change recipient" to collect for my Milestone, and something went wrong. I received an "Oh no!" message without any explanation. Can you please help? Thank you!

[2021-05-13 11:06] MoeNick commented on #2156
Amin jan pls take a look. @aminlatifi

[2021-05-13 15:25] MohammadPCh commented on #2135
Dear @MoeNick,
Could you please give me more information about expected behavior?

[2021-05-13 19:10] GriffGreen commented on #2156
https://beta.giveth.io/milestone/katy-onboarding-coordinator-2

[2021-05-13 19:33] danelsuga commented on #2156
It's all good, I think! Thank you for the help and explanation, @GriffGreen!

[2021-05-14 05:46] mohammadranjbarz opened #2159 "Documenting delegate to DAC flow"
This issue comes out from Giveth/feathers-giveth#432, there were some issue because we didn't know how exactly donations worked ( I mean in DB and status of donations) so I've decided to document this flow

[2021-05-14 08:01] mohammadranjbarz commented on #1996
@aminlatifi
@MoeNick
This error happened one time for me in local and never saw it again, in last month , and now it's ok.
I think  we have nothing to do with this issue

[2021-05-16 11:43] mohammadranjbarz commented on #1751
![Screen Shot 1400-02-26 at 16.12.35.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/31909a67-ec35-44cf-b045-17b55aece5d9)

@MoeNick
It works,  as you see

[2021-05-16 13:14] MoeNick opened #2164 "Milestone: No donations yet"
Me as a user want to see "no donations" msg if there's not any donations yet
OR
remove the title if there's nothing.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/97cdda33-d5c5-4d44-ad81-b1da673e68ef)

[2021-05-16 13:20] MoeNick opened #2165 "in Brave: connect your wallet alert / in my profile"
I do not see any alert to notify me I have to unlock my wallet. I just see this:

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/ab23af4b-e53c-451c-a060-203cdea230d9)

[2021-05-16 13:23] MoeNick commented on #2069
it goes to old form while editing, and don't let me resize the pic etc...
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/0ad8d247-50e7-4e49-8a15-ca3af3c08f9e)

[2021-05-17 04:48] MoeNick commented on #2089
@aminlatifi I think we have a new design for "oh no" msg.
How ever it works fine functionally.

[2021-05-17 05:49] mohammadranjbarz commented on #2022
Simulation script fixed the transfer and amountRemaining, but the parent donation status became Rejected?
@aminlatifi
**Answer**:

This is the first event:

[code]
 the owner of `8913` and `9071` is :
[code]

The second event ( after normalizing https://rinkeby.etherscan.io/tx/0x2026e7970f47d6ebdb920d0b339d228e117d7550936cffac4a4352ad450eeb25):

[code]

The owner of `9169` is :
[code]

So as we se

[2021-05-17 06:50] aminlatifi commented on #2124
#2108

[2021-05-17 08:07] aminlatifi commented on #2028
@RamRamez When I click the submit, both buttons go to loading state
![image](https://user-images.githubusercontent.com/5684607/118453507-8bed3000-b70c-11eb-8ea4-d6ab7f0957d7.png)

[2021-05-17 08:32] MoeNick opened #2167 "Edit Trace: pic size get back to their original size."
I resize a pic in body, when go back to edit mode, it get back to it\s original size.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/92a55f7a-d363-4274-9f0b-462424b2fd89)

[2021-05-17 08:57] #2028 closed

[2021-05-17 09:48] aminlatifi commented on #2105
@mohammadranjbarz

[2021-05-17 09:49] aminlatifi commented on #1704
@mohammadranjbarz

[2021-05-17 10:58] MoeNick opened #2169 "Error whiletrying to donate to Trace"
On Brave:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/f476cd72-b9d0-4925-95b9-300475f7b911)

https://develop.giveth.io/campaign/mycampbrave

[2021-05-17 11:06] MoeNick opened #2170 "wrong error - edit campaign on a wrong network"
Brave: Im on ropsten, trying to make edit milestone. instead of wrong network I get this:

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/4094bf5b-7dc3-4356-be57-0a3956c078e3)

[2021-05-17 11:06] mohammadranjbarz commented on #2105
It's ok,
I dont see the disburse/collect button

![Screen Shot 1400-02-27 at 15.23.59.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/1b9339cb-7db2-4792-87ca-c1105e24e69b)

![Screen Shot 1400-02-27 at 15.25.55.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/b00f9e3a-4ff5-4538-8962-3d696b3418e7)

[2021-05-17 11:14] mohammadranjbarz commented on #1704
I subscribed https://develop.giveth.io/campaign/renjer-test-campaign
with this user : https://develop.giveth.io/profile/0x4aA4e5B70b5B6529290AA9d2e22599d6887C1216
and after campaign owner accept below milestone
 https://develop.giveth.io/milestone/test-email-to-campaign-subscriber
I got this email:

![Screen Shot 1400-02-27 at 15.40.54.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a6

[2021-05-17 11:36] MoeNick opened #2172 "initial donation amount in slider differ from one token to another"
Video sent to Ramin can't uplad here.

[2021-05-17 11:55] aminlatifi commented on #2022
The last line has a wrong statement, toPledge's owner is 2532

![image](https://user-images.githubusercontent.com/5684607/118484451-7a1b8500-b72c-11eb-8f50-b80c0a534268.png)

[2021-05-17 11:57] MoeNick opened #2173 "Brave: Cant donate to a campaign"
I got this error:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/5d0d53df-4f04-46fb-ae4d-96d136e4f2b8)

[2021-05-17 15:45] GriffGreen opened #2178 "Trace not updating? Still says processing but it was paid"
![Screen Shot 2021-05-17 at 8 43 20 AM](https://user-images.githubusercontent.com/14945613/118517379-704b4f00-b737-11eb-90e5-7d93930da8fc.png)

https://beta.giveth.io/milestone/jess-milestone-for-communications-and-ecosystem-development

![Screen Shot 2021-05-17 at 8 45 23 AM](https://user-images.githubusercontent.com/14945613/118517661-b30d2700-b737-11eb-9a38-b8fe75ce0b39.png)

[2021-05-17 18:15] MoeNick commented on #2178
@aminlatifi related to bridge monitor? can you pls tale a look?

[2021-05-17 22:40] GriffGreen opened #2179 "Donate button looks weird at certain screen sizes"
<img width="1265" alt="Screen Shot 2021-05-17 at 3 35 11 PM" src="https://user-images.githubusercontent.com/14945613/118564826-de871600-b725-11eb-96de-79751fbc4ef8.png">

Donate button looks weird at certain screen sizes

The little number in the corner is nice to be not blocked... i think the donate button could just be 1/2 the length and the issue would be resolved

[2021-05-17 22:41] GriffGreen opened #2180 "When Delegating , the most obvious option is the Campaign that the milestone is in... that should be first if it is an option"
<img width="868" alt="Screen Shot 2021-05-17 at 3 40 31 PM" src="https://user-images.githubusercontent.com/14945613/118564983-3b82cc00-b726-11eb-9d04-43a1aa423469.png">

[2021-05-17 22:42] GriffGreen opened #2181 "The size of the pop up for the delegation isnt large enough to see the button to click when you are done"
<img width="1136" alt="Screen Shot 2021-05-17 at 3 41 53 PM" src="https://user-images.githubusercontent.com/14945613/118565140-7c7ae080-b726-11eb-8603-78ddf6bc162e.png">

[2021-05-17 23:16] GriffGreen opened #2182 "Hard to see the comment when I delegate and add a message, it shows up on the Trace.. but its hidden"
<img width="991" alt="Screen Shot 2021-05-17 at 4 12 30 PM" src="https://user-images.githubusercontent.com/14945613/118567490-bfd74e00-b72a-11eb-91c0-6ee0079c8da0.png">
<img width="598" alt="Screen Shot 2021-05-17 at 4 11 47 PM" src="https://user-images.githubusercontent.com/14945613/118567504-c4036b80-b72a-11eb-9714-4e37f878e751.png">
<img width="926" alt="Screen Shot 2021-05-17 at 4 15 54 PM" sr

[2021-05-18 09:15] MoeNick opened #2183 "Add waiting events to queue as batch"

[2021-05-18 09:28] MoeNick opened #2184 "Support Trace Links in Preview Service"

[2021-05-18 12:06] mohammadranjbarz commented on #2178
@GriffGreen
The trace that you mentioned is ok now, the delay was because this event was at the end of a long queue (syncing with home events from zero time that we start it last night).

but the issue that you mentioned is existed for those traces that `Giveth` didn't pay the payout transactions, that I'm working on that

[2021-05-18 12:55] MoeNick opened #2185 "Content for Tweet this in Gas payment info."
@laurenluz @WhyldWanderer

Can you please help us on the content for tweet this option.
We gonna let the user know how much gas we paid for them. these are the designs:

![116002365-b2321b00-a5f9-11eb-8d7e-8a339fe6f8b9.jpg](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/7ef9d918-a345-4df6-9699-e589b02977e5)
![116002381-c544eb00-a5f9-11eb-887b-1ae6510a8a54.jpg](https://images.zenhubu

[2021-05-18 15:50] MoeNick opened #2186 "Bring Manage Menu Items under Profile and user avatar."

[2021-05-18 15:53] MoeNick commented on #2186
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/acf38072-aa2d-434e-901c-c0b182783b88)

[2021-05-19 00:39] GriffGreen opened #2187 "Can't see the DApp with Brave again"
![Screen Shot 2021-05-18 at 5 38 49 PM](https://user-images.githubusercontent.com/14945613/118740139-661a7500-b84b-11eb-9c11-5478b6bc5cf4.png)

[2021-05-19 02:35] GriffGreen commented on #2187
OMG!! ITS JUST NOT ME!! :-D

<img width="1050" alt="Screen Shot 2021-05-18 at 7 34 41 PM" src="https://user-images.githubusercontent.com/14945613/118748162-a71a8580-b85b-11eb-93fe-48b18fd04519.png">

This happened to Dan from the Commons Stack!

[2021-05-19 05:39] MoeNick commented on #2187
@aminlatifi would u pls tale a look?

[2021-05-19 07:22] aminlatifi commented on #2187
@GriffGreen Please send a screenshot from devtools console

[2021-05-19 07:24] aminlatifi commented on #2187
What's your brave version?

[2021-05-19 13:55] MoeNick opened #2190 "Email get messy after I cancel the trace,"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/71dd0033-1ba4-46f9-88ff-96b3ce5bf3e2)

[2021-05-19 13:59] MoeNick commented on #2190
@MohammadPCh pls talk with amin about it

[2021-05-19 16:14] laurenluz commented on #2185
How about:

Wow! To date, Giveth has covered <AmountofGasPaidforUser> USD in gas fees for me so I could withdraw donated funds via Giveth TRACE 👀 Try it out for yourself: https://beta.giveth.io/
#blockchain4good

@MoeNick - what do you think? too informal?

Could also try:

Giveth pays the gas fees for withdrawing funds via Giveth TRACE so the users don't have to. To date, Giveth has covered <Amou

[2021-05-19 22:22] RamRamez opened #2192 "Implementing global provider for modal notifications"
Implementing global provider for modal notifications
PR #2191

[2021-05-20 08:30] danelsuga commented on #2156
Hi. I'm reopening this issue because the xDAI for the trace was never paid out after I changed recipients. Maybe I still need to wait? But this was a couple weeks ago already. Thanks for the help. @GriffGreen

[2021-05-20 10:04] MoeNick commented on #2156
@danelsuga in status update click on view transaction in last update, and you'll see how its gone to this wallet: 0x30f938fed5de6e06a9a7cd2ac3517131c317b1e7

[2021-05-20 10:42] danelsuga commented on #2156
Hi @MoeNick and thanks. I'm sorry, but I'm still confused. That's not my wallet. Does that mean I still wait until it goes through to mine? Thanks for the help.

[2021-05-20 10:47] danelsuga commented on #2156
Hi @MoeNick and thanks. Oh dear, I see it now. Thank you!

[2021-05-20 10:47] #2156 closed

[2021-05-20 14:59] aminlatifi opened #2193 "Remove anything related to `Direct Donation to Campaign` from Dapp"

[2021-05-21 21:47] RamRamez opened #2194 "MilestoneDescription initial value problem"
MilestoneDescription initial value problem in console.

[2021-05-21 23:10] RamRamez commented on #2194
This error has been occurred while editing a proposed payment form.

![image](https://user-images.githubusercontent.com/73441857/119206067-59965680-baaf-11eb-8228-f1e1cbf7e680.png)

[2021-05-23 12:11] divine-comedian opened #2197 "No borders at bottom of page while viewing traces"
Testing on Brave Browser
Clean cache and cookies

While viewing inside a campaign or community I'm scrolling to the bottom of the page and there appears to be no border on the bottom elements so whatever is at the bottom of the page is squished right against the bottom of my window.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/c12ea765-0c5e-4e62-8730-4020cb4dd783)

[2021-05-23 16:27] aminlatifi commented on #2167
@MoeNick Please test all kind of traces

[2021-05-24 11:36] MoeNick commented on #2183
Mohammad and Amin testedit several times.

[2021-05-24 13:01] MoeNick commented on #2167
Passed on payments - Brave
Not Passed on expences. Brave & Chrome

[2021-05-24 13:05] mohammadranjbarz opened #2200 "Change DAC to Community in both feathers and giveth-dapp"

[2021-05-24 15:22] MoeNick opened #2201 "Go Live Plan"

[2021-05-24 15:32] MoeNick commented on #2201
- Finalize Comm Plan
- Finalize MVP roadmap.  include design. Search, sorting, delegate modal redesign.
-

[2021-05-24 15:33] MoeNick opened #2202 "Finalize Comm Plan."

[2021-05-24 15:34] MoeNick opened #2203 "Finalize the first live version features: include design. Search, sorting, delegate modal redesign."

[2021-05-24 15:42] #1491 closed

[2021-05-24 15:44] #1343 closed

[2021-05-24 15:47] #1409 closed

[2021-05-24 15:47] #1165 closed

[2021-05-24 17:16] WhyldWanderer opened #2204 "Change wording of 'Insufficient Balance' pop-up"
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/b61f5dbb-4b24-4b9f-833f-340c5a267768)

Current text: "Be patient, you need at least 0.01 Rinkeby ETH in your wallet to take actions on the Giveth DApp, we are sending some to you now."

Suggested change: Be patient, you need at least 0.01 Rinkeby ETH in your wallet before you can interact with the Giveth DApp, We are sendin

[2021-05-24 18:01] MoeNick commented on #2200
thanks mohammad jan.

[2021-05-24 19:00] WhyldWanderer opened #2205 "I am unable to create a Community"
Testing on develop with chrome and metamask

I am signed in properly..
![image](https://user-images.githubusercontent.com/74267818/119394684-b8b2c180-bc8f-11eb-9865-b33d09fa7842.png)

And it says that I should have the permissions to create a community
![image](https://user-images.githubusercontent.com/74267818/119394750-ca946480-bc8f-11eb-80d1-85e778a8fda5.png)

But when I try to create a communi

[2021-05-24 19:07] #2205 closed

[2021-05-24 20:01] WhyldWanderer commented on #2205
Working now! Thanks Amin!

[2021-05-25 09:31] MoeNick commented on #2201
1- Domain of live environment.
2- Beta will redirect to live environment.
3- Scope
4-

[2021-05-25 09:33] MoeNick opened #2208 "Management dashboard overhaul"

[2021-05-25 09:33] RamRamez commented on #2080
@markoprljic Do these notification icons have Lottie animations?

[2021-05-25 09:35] MoeNick opened #2209 "Redesign Home Page, Community, Campaign and Trace"

[2021-05-25 09:37] MoeNick commented on #2208
Search , Sort, Filter
Menu redesign.
Buttons etc

[2021-05-25 10:13] markoprljic commented on #2080
https://lottiefiles.com/30679-loading

[2021-05-30 07:18] aminlatifi opened #2212 "Gas paid info is shown for DAC"
On develop

![image](https://user-images.githubusercontent.com/5684607/120095768-f2c30e00-c13c-11eb-84be-da7e5b9f8469.png)

[2021-05-30 15:21] mohammadranjbarz commented on #2143
@MoeNick

We merged giveth-dapp and feathers-giveth on develop,
now you can test the develop

( create trace, create campaign, create community, change recipient, donate, delegate, collect, ...) should be tested, because changes are a lot and maybe we have some bugs

[2021-05-30 17:00] MoeNick commented on #2143
👌🙏

[2021-05-30 18:37] RamRamez opened #2214 "Change milestone to trace in new notification provider + ..."
1. Add margins to accept and reject buttons in trace page
2. Remove Create donation address in campaign view
3. Change milestone to trace and DAC to community in minPayoutModal, NotificationModal, TransactionModal and ModalProvider
4. Change tnx submitted animation for smooth continuous loop
5. Remove delay in start of tnx successful animation

[2021-05-31 08:16] aminlatifi commented on #1452
Closed based on #2193

[2021-05-31 08:16] #1452 closed

[2021-05-31 12:48] MoeNick commented on #2212
I cant test on develop so assume as done.

[2021-05-31 12:50] MoeNick commented on #2192
I can't independently test this issue, so I assume it as done,

[2021-05-31 13:59] MoeNick opened #2216 "Tweet how much gas is paid."
#2185

[2021-05-31 14:00] MoeNick commented on #2216
https://github.com/Giveth/giveth-dapp/issues/2185

[2021-05-31 14:43] mohammadranjbarz commented on #2190
@MoeNick

please test it, it's deployed now

[2021-05-31 15:51] MoeNick opened #2217 "Report form to report issues or suggestion and feedback."

[2021-05-31 18:44] divine-comedian opened #2218 "replace 'Give 3% to community:"
If it's been decided to only allow 3% of the donation to go to Giveth then we should update the text on the Trace details to say simply

"Delegating 3% to Giveth TRACE"

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/a13e8611-5b3b-4e05-b4a3-ee1f295eab64)

[2021-05-31 19:03] divine-comedian opened #2219 "Add type of Trace when viewing my Traces"
I have all these Traces but I don't know what kind they are!
Add a column to the "My Traces" page that identifies a Trace as either Bounty, Expense, Milestone or Payment

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/4fcac794-2119-41cd-83dd-a2ee29479a41)

[2021-05-31 19:30] divine-comedian opened #2220 "make 'edit trace' and 'delete trace' buttons more noticeable"
as a user while viewing my trace I found it hard to find the buttons to edit and delete my trace, I found them eventually up in the top right corner but the text is too small and can be hard to see depending on the trace image. I suggest if we could increase the box-size, the text size/weight and add a background color to the button so it is more distinguishable on the page.

![image.png](https://

[2021-05-31 19:37] divine-comedian opened #2221 "rich text editor doesn't display things properly"
While creating/editing my Trace on develop.giveth.io

the rich text editor is not displaying quotes at all once I save my description

- also it is impossible to make nested lists,
   - usually while making a list you can use the `tab` key to nest a bullet point like this
      - and so on...

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/7534a5a0-9fd4-4f35-b9e4-079326

[2021-05-31 20:06] laurenluz opened #2222 "When trying to donate to Trace, get ask to switch from Rinkeby to Ropsten, then a new prompt to switch to Rinkeby"
This has happened twice, testing on develop.giveth.io with Brave browser.

I'm initially on Rinkeby. Then I go to donate, and it asks me to switch to Ropsten. I switch to Ropsten then I suddenly get this popup asking me (incorrectly) to switch to Rinkeby

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/08f42ad4-0574-4c51-a3d2-cc6c6629547f)

[2021-05-31 20:25] laurenluz opened #2223 "After donating to a trace, (while the donation is still pending) the delegation of 3% shows up as a donation to the trace, but a separate donation"
Is this working as functioned? I donated to a Trace (on develop with brave browser) and the owner enabled "delegate 3% to community"... but both parts of the donations show up as donations to the Trace, just split up.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/fff2db06-f4c2-4ff5-99b8-3fd3f3433dc9)

[2021-05-31 20:27] laurenluz commented on #2223
UPDATE: after the donation transaction completed... only 1 part of the donation remained on the trace's page (as expect).

so my feedback is that perhaps we should have the pending transaction also not be displayed on the trace's page, but rather on the community's page, as expected

![image](https://user-images.githubusercontent.com/75490971/120239794-4e17fd80-c21c-11eb-9a70-230992f4c9cf.png)

[2021-05-31 21:53] laurenluz opened #2224 "Suggestion: add "Create New" Button on Community/Campaign/Trace Pages"
if I don't *remember* that the "create new community" option is only on the homepage, I struggle to find it. I think it would be intuitive if the user could go the tab (i.e. "community) and then click a "create new" button from there.

Some green "Create New" button in-line with the Community header but on the right side of the page would be amazing

![image.png](https://images.zenhubusercontent.c

[2021-06-01 11:14] RamRamez commented on #2083
It's done in Dapp-mailer [PR #21](https://github.com/Giveth/dapp-mailer/pull/21).

[2021-06-01 15:12] divine-comedian opened #2225 "donation confirm graphic looks funny"
the check mark graphic seems to be overlapping the two lines, looks weird, is this intentional or a graphics error?
testing `develop.giveth`
brave browser, clean cache and cookies

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/a457a0cc-25c9-4144-be77-87fc1d186d4c)

[2021-06-01 15:48] MoeNick opened #2226 "TX Success modal changes."

[2021-06-01 15:51] markoprljic commented on #2226
![Image 2021-06-01 at 5 23 24 pm](https://user-images.githubusercontent.com/5704285/120353347-e6d47900-c301-11eb-9a42-b12c0072a805.jpg)

[2021-06-01 16:59] RamRamez commented on #2226
Thanks @markoprljic for the design. Is this also for tnx submitted modal?

[2021-06-01 17:00] markoprljic commented on #2226
No, only on success.

[2021-06-01 17:10] RamRamez commented on #2226
What about the delegation success modal? does it have it?

[2021-06-01 17:12] markoprljic commented on #2226
Idk. @MoeNick ?

[2021-06-01 17:29] MoeNick commented on #2226
Just donation modal is fine. @RamRamez thanks

[2021-06-01 17:37] laurenluz opened #2227 ""Join Our Community" leads to a 404"
I clicked to join Mitch's community:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/50367c32-6666-46a6-96c6-4cedc2ea2f1f)

and it opened a new page that redirected me to a 404:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d9ec2762-afa6-4156-8d65-240acacdc697)

[2021-06-01 17:58] laurenluz opened #2228 "Donation to community now showing up"
I donated twice to Mitch's community, but even after the transactions went through in my wallet, they do not show up in the "funding section" of the community. In fact, there are none.

Worth noting, after my first donation it said "1 new" next to "Leaderboard" but after a page refresh, it disappeared.

Testing on develop with Brave browser

![image.png](https://images.zenhubusercontent.com/5fdfac

[2021-06-01 18:04] laurenluz opened #2229 "Update Email text (remove space) for Trace proposals"
It looks awkward, the space after "campaign". Can we remove it? There is no space at the end of the Campaign Title, I checked.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/1bd30bcc-cb64-42d0-8add-766857fc2120)

[2021-06-01 20:24] GriffGreen opened #2230 "Feedback from Kristofer - "In progress" is unclear"
In the Commons Stack Trace Creation Hack Sesh he said that he doesn't understand what he is supposed to do with that status

https://beta.giveth.io/milestone/kristofer-april-milestone

Related to #1884

[2021-06-01 22:39] divine-comedian commented on #2227
+1  I encountered the same Issue!

[2021-06-02 03:50] #2116 closed

[2021-06-02 08:00] #2229 closed

[2021-06-02 08:52] #2169 closed

[2021-06-02 09:15] MoeNick commented on #2218
If want to make it default to giveth community what we should do with older taces and comuunitues:
https://beta.giveth.io/dac/the-diamante-bridge-collective

[2021-06-02 09:19] MoeNick commented on #2225
Related #2226

[2021-06-02 09:32] aminlatifi commented on #2228
@laurenluz On direct donate scenario, it takes few minutes to money be included in funding balance. It needs few steps to be completed:
1. 7 blocks be passed from the block donation is minted (Mainnet)
2. The bridge mint token in foreign network (Rinkeby)
3. 7 blocks be passed from bridge transaction
4. Feathers process the event

So, it's not possible to updated funding immediately.
@markoprljic

[2021-06-02 09:36] #2193 closed

[2021-06-02 09:40] MoeNick commented on #2172
Let's make all default amount to zero,

[2021-06-02 10:17] markoprljic commented on #2220
For Trace Owner View, why not have it below the Trace title in header? They don't need the donate button, right?
Also, please note that the labels are now Edit and Delete.

![Image 2021-06-02 at 12 16 50 pm](https://user-images.githubusercontent.com/5704285/120463696-77f82e00-c39c-11eb-91e2-c7e1436df6e9.jpg)

[2021-06-02 10:21] MoeNick commented on #2220
@RamRamez is it ok for you? Dont u want t say any comments about the background stuff that was mentioned in the daily?

[2021-06-02 10:35] markoprljic commented on #2228
Show "1 New" immediately after user has donated.
During the minting etc. show message: "Your donation is pending and will appear here after several confirmations."
Bonus: add tooltip at the end of the message which shows pending confirmations needed.

[2021-06-02 10:35] MoeNick commented on #2228
Don't we have a rolling circle design in front of each donation before it got completed?

[2021-06-02 11:02] MoeNick opened #2233 "Donation Modal Redesign"
Related to #2181 and due to "tnx submitted" and  "tnx successful " we recently updated, seems we need a new design for donation modal. The current modal is too busy and have lots of contents, with so many actions, that makes it always have a scroll bar. We can make it more  compact.

I think, we can see it as a  wizard: donation> submitted > successful.

![image.png](https://images.zenhubuserconte

[2021-06-02 11:16] RamRamez commented on #2220
Thanks @markoprljic. Ghost button is a good idea.
I just want to add we have a gradient on background header to make text more clear on light background pictures.

[2021-06-02 13:18] RamRamez commented on #2185
@laurenluz The "Tweet this" button is designed to be in trace and campaign pages, so "Giveth has covered x USD for me alone" is not gonna be an exact sentence.

[2021-06-02 15:48] GriffGreen opened #2236 "I delegated 3100 but only 1736.508 DAI showed up?!"
https://beta.giveth.io/milestone/dan-trusted-seeds-gardener-core-team

<img width="951" alt="Screen Shot 2021-06-02 at 9 47 15 AM" src="https://user-images.githubusercontent.com/14945613/120511366-956ecd00-c387-11eb-8668-cde4b5287441.png">

[2021-06-02 16:24] laurenluz commented on #2185
What about simply...

Wow! To date, Giveth has covered USD in gas fees for me to cover transactions on Giveth TRACE 👀 Try it out for yourself: https://beta.giveth.io/
#blockchain4good

[2021-06-02 18:52] GriffGreen commented on #2236
oh weird... ok so his payment isnt stuck, but i delegated 3100, but only 1736.508 DAI showed up!

[2021-06-03 05:16] mohammadranjbarz commented on #2222
@MoeNick
I tried a lot, but I couldn't reproduce the bug, I also took screen recording

![ezgif com-gif-maker](https://user-images.githubusercontent.com/9850545/120590885-78ea9780-c450-11eb-9759-0d7a210bdaac.gif)

[2021-06-03 08:36] aminlatifi commented on #2228
We have it for Trace donation list, not Community and Campaign types

[2021-06-03 08:41] aminlatifi commented on #2220
@RamRamez We have dark gradient on projects header already.

[2021-06-03 08:50] aminlatifi commented on #2236
@GriffGreen Are you sure the value is not decreased due to scrolling?!! Like the video

https://user-images.githubusercontent.com/5684607/120616440-7a2abd00-c46e-11eb-8680-57174644d848.mov

[2021-06-03 08:56] mohammadranjbarz commented on #2223
@MoeNick

For testing this, please create a trace and mark the checkbox to donate 3% to Community, then after donating to trace you will see one donation to trace (minus 3%)

[2021-06-03 09:19] MoeNick commented on #2228
1. Fix Badge on Campaign and Community.
2. During the minting etc. show message: "Your donation is pending and will appear here after several confirmations."

[2021-06-03 09:51] MoeNick opened #2237 "Fix email content - delegate from community to camp."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/6096daaf-d7da-4108-87bf-26fc039f6176)

[2021-06-04 18:26] laurenluz commented on #2223
it's working fine now on develop. Thanks Mohammad!

![image](https://user-images.githubusercontent.com/75490971/120846867-f46f4600-c52f-11eb-8631-e10e25885c57.png)

[2021-06-05 06:51] mohammadranjbarz commented on #2237
@aminlatifi  @MoeNick

I think the email content is ok,
The email says that The `Community` requested a delegation from the donation that you donated to `Community` and it's logically ok, but if it's not clear, I think @laurenluz  can help us to write clear message

[2021-06-06 06:12] MoeNick commented on #2228
@aminlatifi @RamRamez any updates?

[2021-06-06 07:25] mohammadranjbarz opened #2241 "Scrolling in delegate modal change the delegated amount"
it's so dangerous maybe the donor don't notice to amount change and delegate the wrong amount I think the #2236 case is like this

![ezgif.com-gif-maker (1).gif](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/3c74092c-139f-4059-9555-87bfcfb74c05)

[2021-06-06 07:47] mohammadranjbarz commented on #2241
I think it's related to seekbar because the key-down and key-up make change in progressbar

[2021-06-06 09:42] MoeNick opened #2243 "Email to giver, when his donations is get delegated to campaign / trace."
@laurenluz  suggested we change it to:

"The Community [community name] has proposed a delegation of [donation amount] to the [campaign or trace] [campaign or trace name].

This is a proposed delegation of funds that your sent to the Community [Community name]. You have until [date] to approve...."

[2021-06-06 10:17] mohammadranjbarz commented on #2236
@GriffGreen  @aminlatifi
I got a dump from the beta database then I run a simulation script to simulate transaction until the last block number before Griff's transaction, then I changed web3PRovider to login instead of Griff then I delegated `3100` from `Common stack society` to this milestone, and I saw that donations amount are ok and sum of them would be 3100, So I conclude that it was user er

[2021-06-06 10:36] aminlatifi commented on #2228
@RamRamez Aggregate service now includes pending donations too. Please make the front-end to be updated after donating.Also it would be cool if we change campaign fetch in ViewCampaign to subscribe mode (like trace) in order to update balance immediately after the pending donation is committed.

[2021-06-06 10:57] aminlatifi commented on #2236
Thanks @mohammadranjbarz.
@GriffGreen It's an UI bug which input value is change by scrolling!

[2021-06-06 10:57] aminlatifi commented on #2236
@RamRamez Please disable input change via up/down keys and scroll

[2021-06-06 11:19] aminlatifi opened #2244 "Error on creating a Campaign"
Ramin has created this campaign https://develop.giveth.io/campaign/test-campaign-to-cancel-2
But the event processing in feathers is not successful and corresponding event entity in db stays in `Processing` state.

{transactionHash:"0xc121e18c73fa1e8a5546f4cf111f8feed18d16408af817ecce519638b074ef85"}

Here are two questions:
1. Why processing the event is failed
2. Why the corresponding event enti

[2021-06-06 13:46] MoeNick commented on #2244
@mohammadranjbarz appreciate if you set sprint label after you have just started working on this.

[2021-06-06 18:17] laurenluz commented on #2227
tested- working fine now on develop.

[2021-06-06 18:20] laurenluz commented on #2170
![image](https://user-images.githubusercontent.com/75490971/120935766-8a86a600-c6c1-11eb-8a00-329bea483948.png)

working fine now - testing on develop w brave

[2021-06-06 18:43] laurenluz opened #2245 "Incorrect wording for delegation from community to campaign (it calls the campaign a Trace)"
Testing on develop w brave. Wanted to "reject" a proposed delegation from my community to my campaign... the text popup says the campaign is a trace

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/2485ce33-6c0d-4e69-8d84-ef270801a3f4)

[2021-06-06 19:07] laurenluz opened #2246 "Email to Giver when a delegation is proposed - wording is strange"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d7f90578-43b2-4b82-9acc-82bca554961c)

This is confusing wording... I suggest...

"The Community [community name] has proposed a delegation of [donation amount] to the [campaign or trace] [campaign or trace name].

This is a proposed delegation of funds that your sent to the Community [Community name]. You have until [date]

[2021-06-06 19:13] laurenluz commented on #2022
I think this is working correctly now on develop. I was able to delegate from a community to trace.

![image](https://user-images.githubusercontent.com/75490971/120937132-f0c2f700-c6c8-11eb-838e-d6340ee6299d.png)

[2021-06-06 19:23] laurenluz commented on #2190
![image](https://user-images.githubusercontent.com/75490971/120937379-5c599400-c6ca-11eb-96f8-ca146c077364.png)

it looks similar @mohammadranjbarz ... what was supposed to have changed? I think the wording is fine but the quotation marks " are awkward and I would suggest to remove them

[2021-06-06 19:27] laurenluz commented on #2216
![image](https://user-images.githubusercontent.com/75490971/120937442-a6db1080-c6ca-11eb-9484-8eb1d287afbe.png)

Please update wording to...

"Giveth pays gas fees on Giveth TRACE so the users don't have to. To date, Giveth has covered 0 USD for my TRACE! See my Trace here: https://develop.giveth.io/trace/harvesting-hibiscus-flowers"

The current formatting/wording feels a little off.

[2021-06-06 19:40] laurenluz commented on #2204
![image](https://user-images.githubusercontent.com/75490971/120937795-b196a500-c6cc-11eb-83b4-9e89d639b196.png)

the text has not yet been updated

[2021-06-06 19:45] laurenluz commented on #2222
I can't seem to reproduce either anymore. I'll move to done, but keep an eye on it.

[2021-06-06 19:46] laurenluz commented on #2083
![image](https://user-images.githubusercontent.com/75490971/120937917-90828400-c6cd-11eb-8e1c-4aec6a6902c5.png)

unsubscribe link from email is working fine now

[2021-06-06 19:49] laurenluz commented on #1986
so the unsubscribe button in the email is working properly but i think there should be a "Manage email preferences" section where the user can select which types of emails they would live to receive (or re-enable!). I unsubscribed from an email type to test, and now it seems I can not un-do that action.

[2021-06-06 19:52] laurenluz commented on #2221
quotes and nested lists are still not working
![image](https://user-images.githubusercontent.com/75490971/120938093-739a8080-c6ce-11eb-8acb-09ec372715af.png)

[2021-06-06 19:58] laurenluz commented on #2237
ahh I noticed this too and made another issue without seeing this one

https://github.com/Giveth/giveth-dapp/issues/2246

I suggest we change it to:

"The Community [community name] has proposed a delegation of [donation amount] to the [campaign or trace] [campaign or trace name].

This is a proposed delegation of funds that your sent to the Community [Community name]. You have until [date] to app

[2021-06-07 04:43] mohammadranjbarz commented on #2244
The error occured because using `Infura` service for getting events from blockchain, after changing that to `Giveth` node URL , the problem has been fixed

[2021-06-07 04:55] MoeNick commented on #2216
@laurenluz  the problem is that trace is not always his/her trace :) So we decided to put "This Trace" or "This campaign" wording, and make it possible for everybody to tweet and say, hey look, Giveth paid n $ gas fee for this trace...
But... on the profile section, the wording is  "Gas paid for me" ...
What do you think.

[2021-06-07 05:06] MoeNick commented on #2245
Thanks @laurenluz
@mohammadranjbarz would you pls take a look?

[2021-06-07 05:08] MoeNick commented on #2246
@laurenluz it's related to: #2237

[2021-06-07 05:13] mohammadranjbarz commented on #2245
Sure @MoeNick

[2021-06-07 05:18] MoeNick commented on #2190
Test scenario: Attach a big pic or video in comments whilst trying to cancel, reject or approve or make complete the: traces, delegations, campaigns.... and see what will happen to the email.
Besides, thanks for quotation problem you reported, shall we totally move it ? shouldn't it shows sense of quotation? @laurenluz

[2021-06-07 09:32] MoeNick commented on #1486
@RamRamez update state after user push pending donations to backend.

[2021-06-07 13:45] MoeNick commented on #2226
Tested except not "logged in" state.
@RamRamez  I don't have any idea how can I donate w/o being signed-in.

[2021-06-07 15:30] MoeNick opened #2249 "GIV Back Integration"

[2021-06-07 15:30] MoeNick opened #2250 "Project Verification"
IDX  (formerly 3box)

As a community manager I want to verify and authorize campaign manager and trace creators (recipients)  to make sure they are real.

[2021-06-07 15:37] MoeNick opened #2251 "Creating user journey for Project verification"
-

[2021-06-07 18:00] GriffGreen commented on #2249
Background Links:

GIVbacks Deep Dive: https://www.notion.so/giveth/Spec-GIVbacks-MVP-2d6335964e5b414082e41d7df89f9b3d

[2021-06-08 03:12] GriffGreen opened #2252 "In the delegation screen and the number keeps changing"
![Screen Shot 2021-06-07 at 9 10 23 PM](https://user-images.githubusercontent.com/14945613/121117104-d6763f80-c7d4-11eb-9ca1-cedf7a11f514.png)

I was donating 2351... and then i click donate and before i can click accept on the Trace and the number changes on me!!

[2021-06-08 09:27] MoeNick opened #2253 "Donation API to GivBack Project to give-tokens manually"
API should have:

Result:
GiverAddress, GiverID,

[2021-06-08 09:32] RamRamez opened #2254 "Infinite unlock tooltip not showing completely"
![image.png](https://images.zenhubusercontent.com/6040fd6c6873c665b22c45b3/3c71e3c2-9ade-4439-bfc5-9479065078b4)

[2021-06-08 11:07] markoprljic commented on #2233
Here's the proposal for new Donation modal. Default height is 652px.

![Image 2021-06-08 at 1 04 44 pm](https://user-images.githubusercontent.com/5704285/121174644-6c07e280-c85a-11eb-981e-e937aa5722b7.jpg)

[2021-06-08 11:32] markoprljic commented on #2251
@MoeNick Please do provide more description in this issue so that anyone first time seeing it knows what to do. Thanks.

[2021-06-08 14:30] divine-comedian opened #2255 "change 'Mark complete' text"
Viewing my trace I get the option to mark it as complete. but the wording is a bit off 'request mark complete' isnt quite a full description. Also `Mark complete` should be capitalized as `Mark Complete`

I suggest changing the text from 'request mark complete' to :
'Mark this Trace as completed and ready for the Trace Reviewer to verify!'

![image.png](https://images.zenhubusercontent.com/5fff1c8

[2021-06-08 14:31] divine-comedian commented on #1583
feature has been removed from UI

![image](https://user-images.githubusercontent.com/67759413/121204123-a8c8df00-c844-11eb-820e-596efd3b86cf.png)

[2021-06-08 14:32] divine-comedian commented on #2172
I'm not sure how to test this! I need more clarification!

[2021-06-08 14:38] divine-comedian commented on #2221
quotes and nested lists are working now!

![image](https://user-images.githubusercontent.com/67759413/121205339-956a4380-c845-11eb-92b2-1762391d4ed7.png)

[2021-06-08 14:45] divine-comedian commented on #2204
modal has been updated!

![image](https://user-images.githubusercontent.com/67759413/121206405-6f916e80-c846-11eb-99d9-5811d1e30f53.png)
I'm sorry to be that guy though and say the proposed text has improper punctuation.
updated:
"Be patient, you need at least 0.01 Rinkeby ETH in your wallet before you can interact with the Giveth DApp. We are sending some to you now!"

[2021-06-08 14:59] divine-comedian opened #2256 "'your delegations' menu options are missing and the text is mispelled."
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/1f29d7a1-6cb0-4a5b-85b7-6e6bb1afa7a0)

When I go to the my delegations page when in the DAC owner account I have the option to delegate funds that have been delegated to me. I have plenty of options of where to delegate my trace but there are no options in the campaigns menu for me to delegate... Also the text over the hove

[2021-06-08 17:34] laurenluz commented on #2216
I get it. Would love to tweak the wording here a lil' bit...

"Giveth pays gas fees to collect or disperse funds donated on Giveth TRACE so the users don't have to! To date, Giveth has covered **$value** for **(this Trace)/(this Campaign)/(me)**. Check it out here: **link**"

[2021-06-08 17:38] laurenluz commented on #2190
I understand - thanks for the test case scenario!

As for the quotation, it should have two quotation marks, i.e.

or

Or if not, simply in bold and italics:

I think either option is fine, whatever is easier to format... but as it is with just one ' " ', it doesn't make sense

[2021-06-08 18:39] divine-comedian commented on #2220
![image](https://user-images.githubusercontent.com/67759413/121239374-2a316900-c867-11eb-82b2-9960770d25dd.png)
much more noticeable! This looks great! I checked for all types of Traces and this looks to be fixed as proposed.

[2021-06-08 18:54] ForestSoleil commented on #2250
Awesome, is this being prioritized for your current/next sprint?

[2021-06-08 21:33] GriffGreen opened #2258 "Hide milestones for a couple months please"
https://beta.giveth.io/milestone/chuy-may-tec-comms

This is one that slipped thru :-( but there were so many that i caught and asked people to remake milestones traces into payment traces. Chuy ended up not getting paid cause he thought he had to make a milestone.

People still say "make a milestone" and then they really need to make a payment trace...

This has caused a lot of problems and no on

[2021-06-09 08:09] mohammadranjbarz commented on #2172
When you wanted to donate and dialogue was opening for `ETH` token the default amount was `1` but for other tokens it was zero, now we changed the default amount to  be zero for all tokens

[2021-06-09 08:18] MoeNick commented on #2190
@mohammadranjbarz or @MohammadPCh jan
would u please remove " (double quotation mark) ?

[2021-06-09 08:23] MoeNick commented on #2250
If we can groom it and make it clear, yes we go for it.

[2021-06-09 08:26] mohammadranjbarz commented on #2190
Sure, I'll do it now

[2021-06-09 08:41] mohammadranjbarz commented on #2204
Thanks dude,
God bless your amazing eyes :))

[2021-06-09 08:43] MoeNick commented on #2258
@aminlatifi jan

Will we take it I assign it to @mohammadranjbarz ?

[2021-06-09 08:50] MoeNick commented on #2225
We Fixed it.

[2021-06-09 08:50] #2225 closed

[2021-06-09 08:50] #2154 closed

[2021-06-09 10:47] aminlatifi commented on #2216
@laurenluz I guess you meant `collect or disburse` not `collect or disperse`

[2021-06-09 12:58] mohammadranjbarz commented on #2253
@MoeNick As I and @GriffGreen Talked we conclude we need these in this story:

* Somewhere we need to have in the backend whether a project is verified or not
So ideally we would be able to pull the direct donations (not delegations or anything) for all projects
And then filter on if they are verified or not
* Projects will need to apply to be verified ( So there should be a boolean somewhere and

[2021-06-09 17:22] laurenluz commented on #2216
yes, sorry, "disburse"

[2021-06-09 17:58] hytung8 opened #2264 "README.md: update Windows10 install instructions"
The windows 10 install instructions are out-of-date and should be updated.

[2021-06-09 18:50] GriffGreen opened #2265 "Remove the Donate button from the Commons Stack Association"
https://beta.giveth.io/campaign/commons-stack-association

For various reasons...

@kristoferlund

[2021-06-10 02:26] GriffGreen commented on #2258
Wow!! Amazing work @mohammadranjbarz !

[2021-06-10 08:44] MoeNick commented on #2226
It works fine. thanks

[2021-06-10 09:25] aminlatifi commented on #2249
As discussed:
1. Campaigns or Traces can be verified separately
2. Donations to verified Campaigns and Traces should be rewarded
3. Donations to Community will not be rewarded, till it's delegated and not vetoed by user

[2021-06-10 09:54] cloudvenger opened #2267 ""Maximum amount Must be greater than 300 USD" Error when I try to put 100 DAI"
Issue type: **Error**
Maximum amount Must be greater than 300 USD

**TransactionLink:**
{
  "message": "Maximum amount Must be greater than 300 USD"
}

[2021-06-10 10:51] aminlatifi commented on #2265
Implemented for this campaign https://develop.giveth.io/campaign/campaign-with-disabled-donation

[2021-06-10 10:51] aminlatifi commented on #2265
Implemented for this campaign https://develop.giveth.io/campaign/campaign-with-disabled-donation

[2021-06-10 11:35] MoeNick commented on #2256
Tested. Good job guys.

[2021-06-10 11:41] MoeNick opened #2270 "Get subdomains prepared for going live"

[2021-06-13 10:37] #2270 closed

[2021-06-13 12:49] aminlatifi commented on #2267
Hey @cloudvenger,
Can you provide more detail? It would be helpful if you mention which trace and explain the scenario you followed.
Due to high gas price we have limited any withdraw to minimum of 300 USD.

[2021-06-13 14:19] divine-comedian opened #2273 "update trace description text"
following discussion in Giveth TRACE dev channel we should update this text to describe traces a bit more and explain what each type of trace is for.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/7775aaee-f8d7-49a9-8810-87f8b6fe54fc)

[2021-06-13 14:33] divine-comedian commented on #2273
Suggest:
## Traces
Represent requests for funding from a Campaign or its members. Traces are the foundation of the Giveth TRACE DApp. There are four different types of Traces that can exist: **Milestones**, **Bounties**, **Payments** and **Expenses**.

@markoprljic  @MoeNick

[2021-06-13 14:36] MoeNick commented on #2273
Thanks @divine-comedian . can u go forward about this and all wording issues you see with your PR?

[2021-06-13 14:49] divine-comedian commented on #2273
yes, just need validation for the text and I will include it in my PR

[2021-06-13 15:44] markoprljic commented on #2273
Cut the text to: Requests for funding from a Campaign or its members.

[2021-06-13 15:58] divine-comedian commented on #2273
we shouldn't mention there's different types of traces? It's not mentioned anywhere unless you're making a trace yourself.

[2021-06-13 15:59] markoprljic commented on #2273
Below title should just be short description, not a full explanation. This is enough.

[2021-06-13 18:06] laurenluz commented on #2216
I just saw this on twitter: I think there is an extra space on "so  the users..."
@mohammadranjbarz can you check?

![image](https://user-images.githubusercontent.com/75490971/121817604-a6e58e00-cc3f-11eb-9da5-678d1bec327c.png)

[2021-06-13 19:09] aminlatifi commented on #1998
It has been implemented.

[2021-06-13 19:09] #1998 closed

[2021-06-13 19:10] aminlatifi commented on #1832
Done

[2021-06-13 19:10] #1832 closed

[2021-06-13 21:14] RamRamez opened #2275 "Change delegateMultipleModal components to Ant"

[2021-06-13 21:32] RamRamez commented on #2216
Thanks @laurenluz it's fixed in PR #2277

[2021-06-14 09:11] mohammadranjbarz opened #2278 "Sort leaderboard donations by createdAt descending"

[2021-06-14 12:17] aminlatifi opened #2279 "Update README"
README file is obsolete and based on old configuration.

[2021-06-14 17:34] mohammadranjbarz opened #2281 "trace.giveth.io SSl problem"
trace.giveth.io showing warning, but other sub domains seems ok

![Screen Shot 1400-03-24 at 22.02.20.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/429d29a1-25a2-4c4b-a8c6-9b15add8b216)![Screen Shot 1400-03-24 at 22.04.13.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/0909d28a-68ec-48d2-ae18-1c96eac94569)

[2021-06-14 17:39] mohammadranjbarz commented on #2281
https://www.sslshopper.com/ssl-checker.html#hostname=https://trace.giveth.io

[
<img width="1114" alt="Screen Shot 1400-03-24 at 22 08 53" src="https://user-images.githubusercontent.com/9850545/121934975-2917a480-cd5d-11eb-8c92-73c05843f2b1.png">
](url)

[2021-06-14 18:28] RamRamez opened #2282 "Change delegateModal components to Ant"

[2021-06-14 22:22] Danibelle opened #2284 "Add token to TRACE: GTC !!"
How hard is it to accept GTC on a trace campaign?

![image](https://user-images.githubusercontent.com/39466970/121966874-3a908a80-cd24-11eb-9b9d-6acff4496e46.png)

[2021-06-15 06:55] aminlatifi commented on #2281
![image](https://user-images.githubusercontent.com/5684607/122006642-4fc0f400-cdcc-11eb-8567-83e41341df8f.png)
Fixed

[2021-06-15 06:59] aminlatifi commented on #2281
Thanks @mohammadranjbarz for reporting

[2021-06-15 07:02] aminlatifi commented on #2284
@Danibelle It should be supported in bridge (Giveth Bridge smart contract). @GriffGreen is the best one to kick off.

[2021-06-15 08:54] MoeNick opened #2285 "Upgrade Server"

[2021-06-15 08:56] MoeNick opened #2286 "Having Swagger for trace services"

[2021-06-15 08:57] MoeNick opened #2287 "Using Docker for deployment"

[2021-06-15 08:59] #2202 closed

[2021-06-15 08:59] #2203 closed

[2021-06-15 09:08] #2145 closed

[2021-06-15 09:09] #1552 closed

[2021-06-15 09:11] #1529 closed

[2021-06-15 09:17] #1515 closed

[2021-06-15 09:21] #1348 closed

[2021-06-15 09:51] #1725 closed

[2021-06-15 09:56] MoeNick opened #2288 "Monitoring"

[2021-06-15 10:06] #2285 closed

[2021-06-15 11:13] geleeroyale commented on #2110
I need more details to tackle this issue please :)

[2021-06-15 12:33] divine-comedian commented on #2197
borders look good! nice work

![image](https://user-images.githubusercontent.com/67759413/122052912-33b15880-cdb4-11eb-95a1-bb6433eb2438.png)

![image](https://user-images.githubusercontent.com/67759413/122053041-5fccd980-cdb4-11eb-9ac2-00b7c3933bf9.png)

[2021-06-15 12:42] divine-comedian commented on #1874
testing this out again, brave browser clean cache and cookies on `develop`
no problems archiving a Trace while logged in.

![image](https://user-images.githubusercontent.com/67759413/122054192-73c50b00-cdb5-11eb-9edc-b8ad318600cf.png)
![image](https://user-images.githubusercontent.com/67759413/122054235-7aec1900-cdb5-11eb-9bc9-fdb022ab270d.png)
![image](https://user-images.githubusercontent.com/67

[2021-06-15 12:54] divine-comedian commented on #1895
No more cancel buttons it seems!
testing brave browser on `develop`
as Trace Manager

![image](https://user-images.githubusercontent.com/67759413/122056093-45482f80-cdb7-11eb-9d00-793955bea9bb.png)

[2021-06-15 13:37] GriffGreen opened #2289 "Weird Leaderboard math... Victor only sent 500... but it says 1000"
![Screen Shot 2021-06-15 at 7 32 51 AM](https://user-images.githubusercontent.com/14945613/122062282-838c2180-cdac-11eb-8a2b-1587f9e4a42e.png)

https://trace.giveth.io/campaign/commons-stack-association

[2021-06-15 15:07] MoeNick commented on #2289
Amin jan pls take a look

[2021-06-16 10:17] aminlatifi commented on #2289
This donations is returned from canceled trace, but its `isReturn` flag is false!
[code]

[2021-06-16 10:18] aminlatifi commented on #2289
@mohammadranjbarz Simulation script may have issue

[2021-06-16 10:41] aminlatifi commented on #2289
@mohammadranjbarz Please see this PR will solve the issue
https://github.com/Giveth/giveth-1-simulation/pull/45

[2021-06-16 17:56] mohammadranjbarz commented on #2289
After running the simulation on the beta dump, the problem still exists

<img width="979" alt="Screen Shot 1400-03-26 at 22 25 58" src="https://user-images.githubusercontent.com/9850545/122268877-da4f4380-cef1-11eb-915f-a9734c29b922.png">

<img width="1162" alt="Screen Shot 1400-03-26 at 22 23 29" src="https://user-images.githubusercontent.com/9850545/122268695-a411c400-cef1-11eb-861c-de55d55de472

[2021-06-18 13:53] RamRamez opened #2290 "Refactoring user profile pages (My delegations, My campaigns, etc)"
@MoeNick For UAT test. In this PR the following is done:

1. Fix my delegations sending redundant requests
2. Sort my delegations ascending
3. Add loading for pagination in profile pages
4. Change menu bar font family
5. Reset pagination to zero in My traces, My donations, My delegations
6. Add subscription to My delegations
7. Fix profile pic sticking to the profile title
8. Remove redundant requ

[2021-06-18 13:54] RamRamez commented on #2290
They are implemented in PR #2274

[2021-06-18 14:06] #2273 closed

[2021-06-20 13:48] mohammadranjbarz commented on #2253
@MoeNick

Getting All projects donations:
https://feathers.develop.giveth.io/verifiedProjectsGiversReport?fromDate=2018/05/01-00:00:00&toDate=2021/06/14-00:00:00&allProjects=true

Getting verified projects donations:
https://feathers.develop.giveth.io/verifiedProjectsGiversReport?fromDate=2018/05/01-00:00:00&toDate=2021/06/14-00:00:00

[2021-06-23 13:34] Danibelle opened #2291 "Co-owner of Campaign cannot delegate funds to Traces"
Willy made me co-owner of the Giveth 2 Campaign so I can make the PAN delegations!
But the Campaign does not show up for me to delegate funds from within the Trace:
![image](https://user-images.githubusercontent.com/39466970/123105778-edc84600-d3ec-11eb-9a9a-51dac1663626.png)

Also from within the Campaign I have no ability to delegate from, only to:
![image](https://user-images.githubusercontent.

[2021-06-23 14:05] aminlatifi commented on #2291
@Danibelle Coowner cannot delegate money, just owner can

[2021-06-23 15:51] Danibelle commented on #2291
OK  -- so proposal is for MoeNick to be the Giveth 2 Campaign Manager..
There are PAN payouts that need to get out quickly - maybe we make me the Manager first to get these outstanding payments done and document the process, then hand off to MoeNick for July payments.

[2021-06-23 18:16] Danibelle commented on #2291
Let's change the owner to me from Willy so I can make the payouts please :)

[2021-06-24 14:53] aminlatifi commented on #2291
Changing ownership of a campaign needs few transaction to be made by current owner. So @willyogo and I should have a hack session on this. I will ping Willy.

[2021-06-24 16:02] Danibelle commented on #2291
THank you Amin!  This is pretty high priority as we need to get the PAN Payouts made with time in the GitCoin Grant Round..

Here is the [spreadsheet of PAN distro](https://docs.google.com/spreadsheets/d/1v0PCi7A1Hb8zppz9Yu-Gx7AQTT6ycUsV1V5MGsdN70g/edit#gid=0) FYI.

[2021-06-24 16:41] aminlatifi commented on #2291
@Danibelle We made you owner of Giveth-2
Just confirm it's working by doing some delegation.

[2021-06-24 17:06] Danibelle commented on #2291
Spelling error on this window:
(Etherscan, not Etherescan)

![image](https://user-images.githubusercontent.com/39466970/123304399-c5674700-d4d3-11eb-95ec-48908d1ceb10.png)

[2021-06-24 17:13] Danibelle commented on #2291
All is Swell!!

[2021-06-24 17:13] #2291 closed

[2021-06-25 08:57] mohammadranjbarz opened #2292 "The trace link is unknown in bridge-monitor"
And the domain of bridge montior is still bridge.beta.giveth.io

![Screen Shot 1400-04-04 at 13.24.59.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/60ef205b-105b-4d27-bbc5-3066d360f1c6)

[2021-06-25 17:34] MoeNick opened #2293 "Milestone instead of Trace shown in "trace status update" on live."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/e12e60b0-4c06-4e7f-afae-a9d0c131277b)

[2021-06-25 19:52] #1647 closed

[2021-06-27 04:30] mohammadranjbarz commented on #2293
![Screen Shot 1400-04-06 at 08.59.56.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/a154775b-b301-4f5c-846e-974557e25759)

https://trace.giveth.io/trace/mohammad-ranjbar-reward-nov-08-nov-21

@MoeNick
it deployed on `UAT` and `Production`

[2021-06-27 21:19] RamRamez commented on #1681
In PR #2296 the below issues are done:
1. Remove unnecessary props: currentUser, displayForeignNetRequiredWarning, balance, isForeignNetwork, match and history props
2. Fix Community Button wrong url type

[2021-06-28 08:32] RamRamez commented on #2279
It's done in PR #2297

[2021-06-28 08:33] RamRamez commented on #1983
We've add subscription to the Trace view so this is already done.

[2021-06-28 08:33] mohammadranjbarz commented on #1414
@MoeNick  for testing this you should create a trace and mark the `Donate 3% to Giveth`
then for donations with amount 10$ or less than 10$ your all donations will go to trace,
but for greater amount the 3% percent of donations should go to community

PS 1 : the amount in production is 50$ ( it doesn't matter what token you donate, we compare the usdValue)
PS 2: this 3 percent works for donation n

[2021-06-28 09:15] mohammadranjbarz commented on #1789
@aminlatifi
I ran this query on database:

[code]

and this is the result:
[code]
This has two donations with same amount, and it was ok
https://trace.giveth.io/trace/nelson-smart-contract-work-on-cstk-token-dapp

and this is the Kris trace that had double payment
https://trace.giveth.io/trace/kris-august-20-work

so we just had one double payment

[2021-06-28 09:24] MoeNick opened #2298 "External Endpoints"
- Crypto Compare
- Coin gecko
- Gasnow
- Eth nodes
- Infura
- IPFS
-

[2021-06-28 09:24] MoeNick opened #2299 "Sentry Integration"
- [x] (Description)

- [x] Backend

- [x] External endpoints
Crypto Compare
Coin gecko
Gasnow
Eth nodes
Infura
IPFS

- [ ] Discord notif.

[2021-06-28 09:24] MoeNick opened #2300 "DB connection"

[2021-06-28 09:28] MoeNick opened #2301 "feather monitoring"

[2021-06-28 09:34] MoeNick opened #2302 "Discord Monitoring Notification"

[2021-06-28 09:36] MoeNick opened #2303 "Sentry Backend"

[2021-06-28 09:40] #2302 closed

[2021-06-28 09:44] MoeNick opened #2304 "PEN Test"

[2021-06-28 09:45] MoeNick opened #2305 "DDos Attack Assessment"

[2021-06-28 09:45] #2305 closed

[2021-06-28 09:46] MoeNick opened #2306 "prevent get rate ddos attack"

[2021-06-28 09:46] MoeNick opened #2307 "prevent ipfs Upload attack"

[2021-06-28 09:53] MoeNick opened #2308 "prevent trace proposal ddos"

[2021-06-28 10:01] MoeNick opened #2309 "Giveth.io and trace integration"

[2021-06-28 10:02] MoeNick opened #2310 "onboard"

[2021-06-28 10:02] #2310 closed

[2021-06-28 10:03] MoeNick opened #2311 "Create campaign view in givethio"

[2021-06-28 14:50] Jeff-Emmett opened #2312 "Not able to submit scholarship milestone for Michel Bauwens"
Here is the error message.  My wallet is connected to Rinkeby & unlocked, not sure what else the problem might be?

Something went wrong with the Trace creation. Is your wallet unlocked? https://rinkeby.etherscan.io/tx/undefined => { "hook": { "type": "before", "method": "create", "path": "traces", "params": { "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJ1c2VySWQiOiIweDc3ODU0OUViMjk

[2021-06-28 17:45] aminlatifi commented on #2312
It happens on creating expense trace
Amount is 450 DAI and token is DAI
[code]

[2021-06-29 09:06] mohammadranjbarz opened #2314 "The image in project (trace, campaign, community) view have bad aspect ratio and make the images useless"
I beive changing aspect ratios made the images useless let's see this trace for example
https://trace.giveth.io/trace/griff-product-manager-and-cheerleader-core-team

![Screen Shot 1400-04-07 at 20.33.54.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/b48971d9-2993-48b8-8b21-2827859c1548)![Screen Shot 1400-04-07 at 20.33.33.png](https://images.zenhubusercontent.com/5fa7ed7fb0994

[2021-06-29 09:46] mohammadranjbarz commented on #2314
@MoeNick

[2021-06-29 10:17] mohammadranjbarz commented on #2312
@MoeNick
@aminlatifi

it's ok now, I've created this trace (with expense form) in develop

https://develop.giveth.io/trace/test-issue-2312-giveth-dapp

[2021-06-29 10:32] mohammadranjbarz opened #2315 "cant get verified projects in /campaigns?verified=true"
it because the `verified` is boolean, but the variables in the query string are string, so the query cant find the verified projects, and return an empty array

[2021-06-29 11:15] aminlatifi commented on #1681
Tested, it's ok

[2021-06-29 11:30] GriffGreen opened #2316 "Add Freshelle to the Registry that will allow her to be the Co-owner of many Campaigns"
Freshelle is going to help CS and Giveth do accounting and payment management on Giveth... so i would like to make her co-owner of these campaings

her address is 0x38f80f8f76B1C44B2beeFB63bb561F570fb6ddB6

<img width="864" alt="Screen Shot 2021-06-29 at 1 28 39 PM" src="https://user-images.githubusercontent.com/14945613/123790027-25982780-d8de-11eb-849d-f0123ac838e1.png">

[2021-06-29 11:47] RamRamez opened #2317 "Change MyCommunities to hook base"
1. Change MyCommunities to hook base
2. Change my-donations and my-delegations path
3. Remove props in EditCampaign.jsx

[2021-06-30 06:28] aminlatifi commented on #1789
Kris Trace double payment is canceled

![image](https://user-images.githubusercontent.com/5684607/123912320-238fa080-d992-11eb-9747-a7aa1cc7b107.png)

[2021-06-30 06:39] aminlatifi commented on #1789
@GriffGreen Above shows double events for single payment. Kris payment doesn't have double `PaymentExecuted` event and it means bridge had created its job two times, but finally it didn't end up double transfer to Kris wallet.

But Nelson had received double payments for single collect of 605.97 DAI ("paymentId" : "968" and "paymentId" : "1361")
https://trace.giveth.io/trace/nelson-smart-contract-

[2021-06-30 06:40] aminlatifi commented on #1789
Thanks @mohammadranjbarz for the query

[2021-06-30 06:46] aminlatifi commented on #2312
I created on trace.giveth.io and it's OK. Thanks @Jeff-Emmett for reporting

[2021-06-30 06:51] GriffGreen commented on #1789
hmmm so there was a bug here and he was able to collect 605.97 DAI more than the milestone received in donations?

@aminlatifi @mohammadranjbarz can you confirm i got that right?

If so, Great Catch!!!! How did the bridge not catch it? How can we make sure the bridge does catch it?

[2021-06-30 06:53] GriffGreen commented on #1789
This was 3 days ago!?

https://etherscan.io/tx/0xa83830df727ddf5e05c8a66ea31df9e9b8fd1d214512a323f0e0600ace8f3d43

[2021-06-30 06:56] GriffGreen commented on #1789
oh ok! It did catch it

<img width="738" alt="Screen Shot 2021-06-30 at 8 55 45 AM" src="https://user-images.githubusercontent.com/14945613/123915673-0900fb80-d981-11eb-9555-cf81deab666d.png">

Looks like it slipped by @bowensanders

[2021-06-30 06:57] GriffGreen commented on #1789
I will reach out to nelson and see if he tried to collect again

[2021-06-30 07:02] mohammadranjbarz commented on #1789
@GriffGreen
Nelson's trace didn't have problem, he has two exact amount collect in single trace so his payments came out from query result,
But I think it didn't have bug ( he collected twice in different times, so he get money twice and it's ok)

 https://trace.giveth.io/trace/nelson-smart-contract-work-on-cstk-token-dapp
![Screen Shot 1400-04-09 at 11 30 12](https://user-images.githubusercontent

[2021-06-30 07:09] aminlatifi commented on #2316
@GriffGreen Can you ask Freshelle to create an account first in Giveth Trace?

[2021-06-30 07:11] aminlatifi opened #2319 "Use Ant components in ChangeOwnershipButton component"

[2021-06-30 07:12] GriffGreen commented on #1789
it looks like to me that he collected

605.97+1194.09+605.97 = 2,406.03 DAI

and the milestone says he only had 2220.06 DAI donated...

So one of those numbers is wrong

[2021-06-30 07:13] GriffGreen commented on #1789
@mohammadranjbarz ^^

[2021-06-30 07:16] aminlatifi commented on #1789
![Uploading image.png…]()

[2021-06-30 07:17] aminlatifi commented on #1789
It's not about his try to collect multiple time, bridge had created double tx for his payment

[2021-06-30 07:18] aminlatifi commented on #1789
@GriffGreen That's the one I did a mistake and told you and Bowen about it

[2021-06-30 07:19] aminlatifi commented on #1789
![image](https://user-images.githubusercontent.com/5684607/123918583-43769280-d999-11eb-913a-4cf91be7fbef.png)

[2021-06-30 07:24] mohammadranjbarz commented on #1789
@GriffGreen
You are right,  my mistake, Nelson had one collect for 605 and two bridge payment, that Amin said the cause in the above message

[2021-06-30 08:52] aminlatifi commented on #2289
@GriffGreen I happened because money is delegated from the campaign to a trace which its recipient was the very campaign. So after the trace owner collected the money, it's returned back to the campaign! So since it's not considered as `isReturn` donation is shown two times in leader board.
The simplest solution would be considering this kind of donations as `isReturn`

[2021-06-30 08:59] aminlatifi commented on #2289
@mohammadranjbarz What do you think?

[2021-06-30 10:38] freshelle opened #2320 "Co-owners cannot edit traces"
![image](https://user-images.githubusercontent.com/86718721/123946930-53f72f00-d9d2-11eb-825a-611848917f02.png)

I clicked the "edit" button and the screen flashes, and it won't let me edit traces.

[2021-06-30 12:02] RamRamez commented on #2319
Done in PR #2322

1. Remove react-rangeslider component
2. Use ant components in change ownership
3. Add ability to remove Campaign co-owner

[2021-06-30 15:48] divine-comedian opened #2323 "Analytics integration into Segment"
Following Dev Call on 30/06/201 we should find out how we can hook up Giveth TRACE into segment and what code needs to be implemented on the back-end and front-end to begin sending analytical information to segment which can then be passed on to amplitude and/or many many other potential applications available through segment.

We should also define in this epic what parts of Giveth TRACE need to

[2021-06-30 19:38] #2316 closed

[2021-07-01 06:14] GriffGreen opened #2324 "Join links are all broken!!"
Join links on home page and campaign page are all broken... check it out!

[2021-07-01 06:55] MoeNick commented on #2324
@mohammadranjbarz would u pls take a look?

[2021-07-01 07:42] mohammadranjbarz commented on #2324
@MoeNick
@GriffGreen

What link should we set there, the Discord link?

[2021-07-01 07:45] MoeNick commented on #2324
Trace.giveth.io there are join us links at top. Even in campaigns an traces page.

[2021-07-01 07:59] mohammadranjbarz commented on #2324
@MoeNick  In my machine and [UAT](https://develop.giveth.io) it's ok, so I think after deploy to beta it will be fixed,
@RamRamez  what do you think?

[2021-07-01 08:26] mohammadranjbarz commented on #2324
@MoeNick
it has been fixed and merge on [Production](https://trace.giveth.io)

[2021-07-01 08:33] #2324 closed

[2021-07-01 08:50] MoeNick opened #2326 "If not logged-in, Edit / Cancel buttons in Trace needs to be clicked twice"

[2021-07-01 14:48] MoeNick commented on #1414
It worked for me. but for second scenario (less that 10) there is a UX problem, the donation modal still be there for minutes before the submitting trx showed up.
Let me test it more it may lead to another UI problem over there.

[2021-07-01 20:53] krrisis opened #2327 "Etherescan typo :)"
Typo on accepting

![image](https://user-images.githubusercontent.com/6533925/124188150-289e3e00-dabf-11eb-8f98-0f4959cd2eff.png)

[2021-07-01 20:54] krrisis commented on #513
FYI, can confirm that this is still open :)

[2021-07-02 03:38] MoeNick commented on #513
I will check asap

[2021-07-02 03:47] bowensanders commented on #1789
This seems to be the one that i DID delay a month when I was asked to, but I did not check back on it because I had assumed, once you asked me to delay it by 30 days, that the payment cancellation via multisig would have gone through, even though I wasn't asked to participate in the cancellation :(

[2021-07-02 03:52] bowensanders commented on #1789
to further iterate I did actually delay that payment.
<img width="1680" alt="Screen Shot 2021-05-28 at 9 14 08 PM" src="https://user-images.githubusercontent.com/27023908/124217894-05b75e00-daae-11eb-90ca-a64a02e2cb69.png">
Glad I kept the screenshot.
Sorry I didn't catch it the second time around, *that* part is on me, though I figured I would have been notified that appropriate action hadn't bee

[2021-07-02 08:12] mohammadranjbarz commented on #2327
@MoeNick
@aminlatifi  has fixed that in this [Commit](https://github.com/Giveth/giveth-dapp/commit/b3fd2d86b805f124ceca3b6895ec0335eb9777f8), it will be fixed after the next release (merging `develop` to `master`)

[2021-07-02 13:28] freshelle commented on #2320
Hi Amin. I see that the issue is still open. I tried to edit a trace again today and I experienced the same issue. I'll keep posted for updates on this. Thank you so much!

[2021-07-03 00:56] GriffGreen opened #2328 "did this canceled trace refund to the campaign?"
https://trace.giveth.io/trace/hatch-animation-video

[2021-07-03 03:42] mohammadranjbarz commented on #2289
I think it's good,
and logically is ok because the donation returned to campaign literally

[2021-07-03 04:15] mohammadranjbarz commented on #2328
Yeah we have returned donations that come from this trace to [Commons Stack Association](https://feathers.beta.giveth.io/campaigns/5feb2ca1dae3134bd0166dd6)

https://feathers.beta.giveth.io/donations/60dfb70d1e3e9e27f7f03e5e
https://feathers.beta.giveth.io/donations/60dfb70e1e3e9e27f7f03e65
https://feathers.beta.giveth.io/donations/60dfb70f1e3e9e27f7f03e6c

[2021-07-04 06:28] aminlatifi commented on #2320
Hi @freshelle
We are working on it, it will be fixed on develop and then will be released to production env. We hope it happen soon this week

[2021-07-04 07:46] #2327 closed

[2021-07-04 10:39] aminlatifi commented on #2328
Thanks @mohammadranjbarz

[2021-07-04 16:29] divine-comedian opened #2330 "Add analytics Snippet to front-end and connect to segment"
Adding in the snippets into the TRACE front-end to allow us to track page views and UTM link tracking for the launch of Giveth TRACE using segment and amplitude.

Communications team is hoping this can be setup before the TRACE launch campaign begins so we can begin gathering analytical data.

Quick start guide and further documentation for analyticsJS for segment:
https://segment.com/docs/connect

[2021-07-04 16:30] divine-comedian opened #2331 "add analytics page trackers on front-end for page loads"

[2021-07-05 08:16] aminlatifi opened #2332 "Infinite state change loop in donate"
My page wasn't responsible any more and imposed high cpu load
![image](https://user-images.githubusercontent.com/5684607/124439598-d8f59600-dd8e-11eb-9ad7-752ef48ee124.png)

[2021-07-05 12:48] MoeNick commented on #2253
Hi @mendesfabio
We need your approve to make it done man.

[2021-07-05 12:53] MoeNick commented on #2278
Checked both on communities and campaigns, seems ok to me.

[2021-07-05 13:08] MoeNick commented on #2216
Im just wondering why we show gas paid before the user collect the money?

[2021-07-05 13:52] mendesfabio commented on #2253
hey guys! the API is amazing, it has all the required information, as I previously aligned with @mohammadranjbarz.

one question: do we only have one verified project on TRACE?

[2021-07-05 15:06] mohammadranjbarz commented on #2253
Hi Fabio, happy to hear that
yes I just made a campaign verified in server to test it

[2021-07-05 15:11] GriffGreen commented on #1789
I definitely should have been the one to lead the charge on canceling that payment... and i failed :-(

[2021-07-06 06:17] MoeNick opened #2334 "Wrong Msg. "The Bounty has been updated!" while update a Payment and Expences"

[2021-07-06 06:19] MoeNick commented on #2334
I got it on this payment: https://develop.giveth.io/trace/6june
while try to edit as a co-owner.

[2021-07-06 07:00] MoeNick commented on #2320
@RamRamez @aminlatifi

**Tested, as co-owner I can:**
1- Edit, Accept, reject. from trace page and from dashboard.
2- All Traces type: Expense, Bounty and Payment.

Problems:
1. Wrong update msg on edit payment and expense: It says Bounty is get updated!
2. If not signed in, needs double click on reject, edit and re-propose botton.
3.  edit trace small badge over the trace card not showed on campa

[2021-07-06 07:18] MoeNick opened #2335 "Got this over collect money from dashboard"
First I got Oh noe msg
after tat I got this:

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/4a1a6099-37b7-4ec3-9455-9e260274cf20)

[2021-07-06 07:24] MoeNick opened #2336 "Has more than 20$ but get limit error while trying to collect"
On this trace:
https://develop.giveth.io/trace/milescretest1

Seems It has balance:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/b11a82a7-6ece-41e4-b105-c02323457297)

But cant collect.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/e9c7b4bd-5a26-4057-88ce-8e50932f67a9)

[2021-07-06 10:27] MoeNick commented on #2319
Any Ideas for default value of changing co-owner modal?

Eider a campaign has a co-owner or not. so putting the owner address as a default value in dropdown list is a bad idea I think.
What do you think?
@RamRamez

[2021-07-06 10:31] aminlatifi opened #2338 "Add sentry to giveth bridge"

[2021-07-06 10:33] RamRamez commented on #2319
There was a problem before that the campaign owner could make himself co-owner, so in this PR I removed Campaign owner from co-owner selection list and this is not also a default selection. The default selection is the previous campaign co-owner so in your case, probably the campaign owner had been set as campaign co-owner in DB before.

[2021-07-06 10:38] MoeNick commented on #2319
So is it okay that I keep this issue here to see your recent changes and after move it to done?
@RamRamez

[2021-07-06 10:39] MoeNick commented on #2331
Hey @divine-comedian , would u please check it to make sure we are done in front-end?

[2021-07-06 10:54] MoeNick opened #2339 "owner and co-owner set as same address when create a campaign"
On create campaign, the co-owner should set as owner address.
It cause a bad UX on change co-owner process.

[2021-07-06 11:14] MoeNick opened #2340 "got this error while donating to campaign"

[2021-07-06 11:15] RamRamez commented on #2319
It seems when creating campaign, backend is setting the default co-owner address equal to the campaign owner.
@mohammadranjbarz Could you please check it?

[2021-07-06 11:27] mohammadranjbarz commented on #2319
Yes you are right
by default the `coownerAddress` is the userAddress of who create the campaign

[2021-07-06 11:28] MoeNick commented on #2319
I created another issue and make it done.

[2021-07-06 11:29] RamRamez commented on #2319
@MoeNick has created an issue for it #2339

[2021-07-06 12:07] mohammadranjbarz commented on #2301
@MoeNick
could you say what scenarios you want to test?
based on test scenario maybe it will need some impelmentaion

[2021-07-06 12:35] divine-comedian commented on #2331
looks to be received in segment...

![image](https://user-images.githubusercontent.com/67759413/124600397-aa31fb00-de34-11eb-9b5b-2d914f5fea59.png)

and the info is being sent to amplitude...
![image](https://user-images.githubusercontent.com/67759413/124600713-039a2a00-de35-11eb-9673-1e393b5c1b8b.png)

I would call this issue done! nice work @aminlatifi  on such quick implementation..

[2021-07-06 16:26] GriffGreen opened #2341 "Users are having trouble seeing the Enable web3 button"
<img width="732" alt="Screen Shot 2021-07-06 at 6 25 38 PM" src="https://user-images.githubusercontent.com/14945613/124635412-aed3cf00-de87-11eb-9f1a-ee9774903817.png">

It would be cool if that error box had the "enable web3" button in it :-D

[2021-07-06 17:37] bowensanders commented on #1789
Is there a way we can easily ask to recover the funds from that? I'm sorry I didn't double check on this too :(

[2021-07-07 16:19] MoeNick opened #2342 "Donation Error"
Issue type: **Error**
Something went wrong on getting user donations!

**Name:**
Timeout of 30000ms exceeded calling donations::find

**LineNumber:**
undefined

**FileName:**
undefined
<details><summary>Stack</summary>

"Error: Timeout of 30000ms exceeded calling donations::find\n    at https://d33wubrfki0l68.cloudfront.net/bundles/8e710d6b797ea21cb1d8da35f579c4ba8614d835.js:2:3057027"
</details>

[2021-07-07 18:35] RamRamez commented on #2320
No. 3: Only proposed traces can be edited by campaign owner or campaign coowner and we do not show proposed traces on campaign page

[2021-07-08 07:30] RamRamez opened #2344 "Fix some issues"
1. Fix AcceptRejectProposedTraceButtons.jsx ApproveRejectTraceCompletionButtons.jsx ArchiveTraceButton.jsx CancelCampaignButton.jsx CancelTraceButton.jsx ChangeTraceRecipientButton.jsx DeleteProposedTraceButton.jsx EditCampaignButton.jsx EditTraceButton.jsx ProfileUpdatePermission.jsx ReproposeRejectedTraceButton.jsx RequestMarkTraceCompleteButton.jsx TraceConversationComment.jsx WithdrawButton.js

[2021-07-08 07:34] RamRamez commented on #2320
No. 1 and 2 are fixed in PR #2345

[2021-07-08 07:53] mohammadranjbarz opened #2346 "Getting error in giveth-dapp when delegating"
![Screen Shot 1400-04-17 at 12.21.02.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/cb2d732a-af85-439c-ba23-7ca090c8e669)

[2021-07-08 10:34] RamRamez opened #2348 "Description error when editing traces"
1. When editing traces initial value for descriptions is not set
2. Fix Ant notification and message icon not center

[2021-07-08 22:16] RamRamez opened #2351 "Remove unused Giveth wallet components"
Remove unused Giveth wallet components

[2021-07-09 09:28] GriffGreen opened #2353 "This Trace seems to be stuck...."
https://trace.giveth.io/trace/merlins-june-commons-stack-swiss-dapp-and-giveth-contributions-2

[2021-07-09 09:31] GriffGreen commented on #2353
I think the GrantOps campaign ownership switch might not be complete?

[2021-07-09 09:35] GriffGreen opened #2354 "Research and confirm the block size on rinkeby and see if we can fit more pledges into a transaction"
Rinkeby just hardforked to apply 1559... what does this mean... well i have ideas... but it would be good for someone to fully understand how big transactions can be in this new situation

[2021-07-09 10:22] aminlatifi commented on #2353
Our rinkeby node needed upgrade, resolved.

[2021-07-09 10:22] #2353 closed

[2021-07-09 14:35] RamRamez opened #2355 "Avoid user to input the same address while changing recipient. & fix trx hash"
Me as management user, want the app won't let me to change the recipient if the address I entered is the same at it as was.

![image](https://user-images.githubusercontent.com/73441857/125094580-a29a7c80-e0e8-11eb-8649-b640795e6fa2.png)

[2021-07-09 16:44] mohammadranjbarz opened #2356 "Add sentry to front"

[2021-07-10 16:57] GriffGreen opened #2357 "Not sure what this error was... tried to accept a trace and it freaked out"
Issue type: **Error**
Something went wrong with accepting this proposed Trace

**TransactionLink:**
"patch-error"

Trace
https://trace.giveth.io/trace/adam-stallards-scholarship-for-membership-dues

So I Got the Error screen... i should have taken a screen shot of it before clicking the report issue button... but i didnt :-(

I went back to check the dev tools and then i got this:

<img width="915

[2021-07-10 17:12] GriffGreen commented on #2357
Refreshed twice and got it to work on the second time...

[2021-07-10 22:01] GriffGreen opened #2358 "I think this is a false error... you would know Amin ;-)"
Issue type: **Error**
Unable to update the donation in feathers

**Name:**
Error

**LineNumber:**
undefined

**FileName:**
undefined
<details><summary>Stack</summary>

"NotAuthenticated: Error\n    at new c (https://d33wubrfki0l68.cloudfront.net/bundles/76e5ab000916e0d5d33a8ae27d3275a13ffbe046.js:2:3094030)\n    at convert (https://d33wubrfki0l68.cloudfront.net/bundles/76e5ab000916e0d5d33a8ae27d32

[2021-07-10 22:21] GriffGreen opened #2359 "Accidentally made a second grant ops campaign"
I tried to edit this old campaign...

https://trace.giveth.io/campaign/grantops

and when i did... it made a new one...

https://trace.giveth.io/campaign/grantops-2

I would like to cancel the new one

And add this text to the top of the  old campaign:

This Giveth Campaign has been in active for over 2 years, but in that time the value of the ether in the Campaign has skyrocketed. It wouldn't be

[2021-07-11 04:34] mohammadranjbarz commented on #2336
@MoeNick
Actually I didn't get this error while collecting money,
Maybe we can check it with together (you share screen and show me what happens)

[2021-07-11 05:48] MoeNick commented on #2336
@mohammadranjbarz were u on brave?

[2021-07-11 06:25] mohammadranjbarz commented on #2336
You are right, I faced the error on brave

[2021-07-11 06:31] mohammadranjbarz commented on #2336
@MoeNick
My mistake, some donations were not mined so I got the error, after mining of donations I collected on brave
https://develop.giveth.io/trace/test-collect-on-brave-2

<img width="1433" alt="Screen Shot 1400-04-20 at 10 57 44" src="https://user-images.githubusercontent.com/9850545/125184966-219dcb00-e237-11eb-84dd-96f40b7c0376.png">

[2021-07-11 08:21] aminlatifi commented on #2359
Campaign is an old one holding feathers uploaded image in its image field. That caused issue in editing.
@GriffGreen Now it should be fixed and you can edit you campaign. Please cancel the new one.

[2021-07-11 08:27] MoeNick commented on #2344
Goodjob @RamRamez thanks.

[2021-07-11 08:54] MoeNick commented on #2355
It works fine for me.
Shall you please share screen to have a review? @RamRamez

[2021-07-11 08:56] MoeNick commented on #2354
@aminlatifi ay thoughts ?

[2021-07-11 08:58] MoeNick commented on #2328
May we close this @GriffGreen ? Is it clear?

[2021-07-11 09:06] MoeNick commented on #2358
Needs more clarification.

[2021-07-11 09:18] MoeNick opened #2364 "Add Source Map for Sentry"

[2021-07-11 09:18] MoeNick commented on #2364
related to #2356

This is working but we need add sourcemap to get variables and codes real names in sentry reports not uglified names, but I was not familiar with react webpack config ( I don't know without rejecting, how we can modify webpack config) maybe @MohammadPCh or @RamRamez can help,

https://docs.sentry.io/platforms/javascript/guides/react/sourcemaps/

@aminlatifi and we should add REAC

[2021-07-11 09:58] MoeNick commented on #2110
@aminlatifi @mohammadranjbarz can u please provide more information for Kay?

[2021-07-11 10:01] MoeNick commented on #1862
Please check it out, it is important more because if the security issues.

[2021-07-11 10:46] mohammadranjbarz commented on #2356
@aminlatifi
Please add  add `REACT_APP_SENTRY_DSN` in netlify when building

[2021-07-11 11:55] RamRamez commented on #2355
Sure. Tested again and got failed tnx again.

[2021-07-11 12:17] MoeNick opened #2365 "Campaign Cancel button wont go after cancellation, it needs refresh."
As a campaign manager, After I canceled a campaign,  I don't want to see the cancel button still be there and clickable, because it I might think smth is not okay and tray to click that button again

[2021-07-11 12:27] MoeNick commented on #1590
@RamRamez @MohammadPCh please go forward and ask marko if its not clear to you.

[2021-07-11 12:49] OhArthits opened #2366 "กรณีใช้งาน"
การมีส่วนร่วม

[2021-07-11 13:07] MoeNick commented on #2301
Thanks @mohammadranjbarz for the test:

Test Scenario:
1- MongoDB pass changed in config manually to occur a lost DB connection.
2- Restart DB
3- We got an alert for a loss connection on Sentry.

https://sentry.io/organizations/giveth-ds/issues/2506479187/events/ab55f4318e704cbeac010f2a09b341c4/?project=5853180

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/22e0d288-cc

[2021-07-11 21:18] RamRamez commented on #2355
As we tested, if the new recipient address be the same as the old recipient address, the user will get failed tnx error.
Otherwise, the tnx will be successful and recipient will be changed but the tnx hash is always undefined.

[2021-07-11 22:22] RamRamez opened #2367 "Authentications continue process after clicking not now!"
All authentications continue process after clicking not now in sign in popup.

[2021-07-12 09:55] RamRamez opened #2369 "Enabling Torus wallet just for develop"

[2021-07-12 12:33] RamRamez opened #2372 "Fix wrong code for some unsubscriptions"

[2021-07-12 18:18] RamRamez opened #2375 "There should be a badge or something for a cancelled Campaign"
When a campaign is cancelled , there is no badge or status info to inform other users that the campaign is not active anymore.

[2021-07-13 09:14] #2292 closed

[2021-07-13 09:47] MoeNick commented on #1968
No results found
We couldn’t find any user for your search or it doesn’t exist.
Try adjusting your search.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/a3f3a556-3e8d-4883-b07a-a0a95be81e0c)

[2021-07-13 09:53] MoeNick opened #2377 "community to campaign deleation email link"

[2021-07-13 09:58] MoeNick opened #2378 "Rejected Delegations send new donation email to community owner"

[2021-07-13 10:00] MoeNick opened #2379 "Anonymous donator should not be able creating not-pending donation"

[2021-07-14 08:00] MoeNick opened #2382 "Bridge Stability"

[2021-07-14 08:21] MoeNick commented on #1486
Discussed in grooming, mohammad suggests a solution, they will test it on tomorrow 15 July. got paired witch cherick.

[2021-07-14 08:22] MoeNick commented on #2354
Discussed on grooming, mohammad will test it.

[2021-07-14 08:40] mohammadranjbarz opened #2383 "What should be the status of donations with campaign recipient?"
The recipient of below trace is campaign, after disbursing the donation status became `Processing` (the giveth-dapp show the `Paid` donations that don't have authorizePaymentTxHash as `Processing`, but in this case the donations should not have authorizePaymentTxHash ever, so it will remain `Processing`
Maybe we should think of another status for this case

https://trace.giveth.io/trace/amin-givet

[2021-07-14 08:51] #2241 closed

[2021-07-14 09:03] MoeNick opened #2384 "Unlocking Process Modal"
After unlock and donate, the donation modal should disappear and processing modal is showed up .

[2021-07-14 09:24] #2300 closed

[2021-07-14 09:24] #2298 closed

[2021-07-14 09:26] #2342 closed

[2021-07-14 09:38] MoeNick opened #2385 "Remove unused dependencies"

[2021-07-14 09:39] MoeNick opened #2386 "Oh no error"

[2021-07-14 11:04] MoeNick commented on #2233
@markoprljic

In our currant design we have: 1-  unlock & donate button, 2- infinite unlock and donate 3-Buy/Exchange
 ("Remove Access" appears when the access to a certain crypto is already granted)

the question is, what we should do about "unlocking process: in this design, ideas:

1- we will change the text to "Unlock and donate" - after clicking that button:  this modal disappear, pending tra

[2021-07-14 11:07] MoeNick opened #2387 "Refactor nonce management"

[2021-07-14 11:08] MoeNick opened #2388 "Recover missed transaction"

[2021-07-14 11:09] MoeNick opened #2389 "Disaster scenario management in Bridge"

[2021-07-14 11:09] markoprljic commented on #2233
Option 2 BUT without closing this modal, user stays on the same modal open and waits till the transaction has been confirmed.
Include a loader in the button as well. When user clicks on Approve and confirms with MM then button label change to [loader] Pending

[2021-07-14 11:16] aminlatifi opened #2390 "Not sign in button if I close onboard js first popup"
![image](https://user-images.githubusercontent.com/5684607/125613212-99c0ceb5-fe94-4d82-95d6-a890fef95c96.png)

[2021-07-15 10:02] MoeNick commented on #2233
@RamRamez @MohammadPCh
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/4a8800b0-f7ec-43b0-8002-
d36842f7ffa4)

[2021-07-15 13:48] mohammadranjbarz opened #2394 "Can not set recipient for Bounty"
After creating Bounty, I want to set recipient bu I got error

Logs in UAT
![Screen Shot 1400-04-24 at 18.15.56.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/c250ed0b-9235-4eb8-b477-0531a5d3f8d8)

Logs in localhost
![Screen Shot 1400-04-24 at 18.16.48.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/64492fa6-43a8-4e6d-ad04-d9484be0c23c)

[2021-07-17 07:59] mohammadranjbarz commented on #2377
@MoeNick plz provide email text for this issue

[2021-07-17 08:00] mohammadranjbarz commented on #2336
@MoeNick
I think we need to discuss about it, how should we handle there is a tiny amount in trace,
should we not show collect button in this case?

[2021-07-17 08:02] mohammadranjbarz commented on #2378
@MoeNick plz provide email text for this issue

[2021-07-18 09:30] MoeNick opened #2396 "Removing dependency - Review package Json"

[2021-07-18 09:31] MoeNick opened #2397 "Removing dependency - Formsy"

[2021-07-18 09:32] MoeNick opened #2398 "Removing dependency - Swal"

[2021-07-19 12:03] aminlatifi opened #2400 "Links in notifications after campaign creation do not work"
`View Transaction` links doesn't work in toast after tx is mined.

`AfterCreate` and `AfterMined` functions should be revised in all kind of projects

[2021-07-19 12:22] RamRamez commented on #2385
@MoeNick As I analyzed package.json, I suggest adding these issues to this epic:
1. Using just one modal (react-modal and antd)
2. Using just one notification component (react-toastify and antd)
3. Using just one http component (request, feathers, axios, whatwg-fetch and node-fetch)
4. Using just one date-picker (react-datepicker and antd)
5. Using just one cropper tool (react-cropper and antd-img

[2021-07-19 19:28] aminlatifi commented on #2341
#2131

[2021-07-19 20:24] aminlatifi commented on #2358
Probably brave connection issue with feathers is the root cause

[2021-07-19 20:24] aminlatifi commented on #2358
#2357

[2021-07-19 22:33] GriffGreen opened #2401 "Autofill the Delegation if delegating from the campaign is possible"
<img width="335" alt="Screen Shot 2021-07-20 at 12 30 42 AM" src="https://user-images.githubusercontent.com/14945613/126235683-13517c6b-d91b-4058-ad55-e89b37af518b.png">

The campaign is ALWAYS what i want to delegate from if i can... only when i can't delegate from the campaign would I even consider delegating from a DAC... I think we can skip a button click here and autofill the Campaign if i'm

[2021-07-20 08:47] yinghuonu opened #2402 "claim"

[2021-07-20 09:22] aminlatifi commented on #2357
https://community.brave.com/t/brave-cannot-establish-wss-connection-to-server/267892

[2021-07-20 09:22] MoeNick commented on #2357
https://community.brave.com/t/brave-cannot-establish-wss-connection-to-server/267892/3

[2021-07-20 09:23] MoeNick opened #2403 "Generating User Profile Automatically by API"
Name
Address
Profile image
email
-----
The contract should sign by the user.
We might have a Front-end for project manager to do it by himself.

[2021-07-21 09:57] MoeNick commented on #2378
Hey @laurenluz
Can help us on this issue? We need a text of email whenever the donor, rejects the delegation of his donation, from a community  to a campaign.  The emails should be sent to community manager, inform him that the delegation he has made was rejected and will get back to Community balance.
Thanks.

[2021-07-21 12:12] divine-comedian commented on #2377
there's no context to this issue so I am not able to test it!

[2021-07-21 12:23] divine-comedian commented on #1968
testing on `develop.giveth.io`
brave browser - clean cache and cookies

tried typing in a fake user name into URL `https://develop.giveth.io/profile/dfoiangfar`
this is what popped up -

![image](https://user-images.githubusercontent.com/67759413/126487620-13f20c43-022e-45a5-a419-e065212266c5.png)

it's not clear from the issue description what the intended action should be. Is this how the issue

[2021-07-21 12:27] MoeNick commented on #2377
when community owner, delegate funds to a campaign, donor receives an emails. The link to  my donations got 404 error. It should be fixed right now.
@divine-comedian

[2021-07-21 12:33] divine-comedian commented on #2390
testing on `develop.giveth.io`

I arrive on this page -
![image](https://user-images.githubusercontent.com/67759413/126488139-bd922910-46f7-4079-916e-c59ab7c531b5.png)

I click away the onboard JS popup and then I still see the sign in button -

![image](https://user-images.githubusercontent.com/67759413/126488456-c5828b8c-4639-4ddd-95fe-4d08693d1af0.png)

this issue seems to be resolved

[2021-07-21 12:39] RamRamez commented on #1968
The issue is about making a Not found page for user profile page. We didn't have it before and it used to be confusing whether the user had registered or not.

[2021-07-21 12:40] divine-comedian opened #2405 "can't change sign in option after rejecting Torus"
testing on `develop.give.io` - brave browser clean cache and cookies.
I clicked `sign in` on the homepage and chose Torus, the sign-in button changes to `Enable Web3` I being the Torus wallet sign-in but change my mind and reject the pop-up, from here there is no option to go back to the original sign-in to choose metamask (or another option). even on page refresh it takes me directly back to the

[2021-07-21 12:42] MoeNick commented on #1968
Yeah its correct right now. It showed anonymous user before now it get better.
Thanks @divine-comedian

[2021-07-21 13:03] divine-comedian commented on #1590
testing on `develop.giveth.io`

new dashboard looks great and the tabs work very fluid
![image](https://user-images.githubusercontent.com/67759413/126492887-5734e996-9743-4df4-bedb-9e793d04e0c5.png)

looks like this is resolved!

[2021-07-21 13:18] divine-comedian commented on #2394
testing on `develop.giveth.io`

changing recipient of an approved trace
![image](https://user-images.githubusercontent.com/67759413/126494626-6162f138-c666-47e1-8bff-775e62aab6d3.png)

I successfully propose a recipient
![image](https://user-images.githubusercontent.com/67759413/126494928-f3186cdb-9f9a-4c0a-9d10-74e27cd3c79f.png)

 error looks to be fixed!

[2021-07-21 15:35] RamRamez commented on #1590
We still need two user actions to show this new dashboard: First user should hover mouse on his profile name, Then he should click on one of the menus.
@markoprljic It would be great if we could show this dashboard with just one click (e.g. just clicking on the name and remove that dropdown menu).

[2021-07-21 15:43] divine-comedian commented on #1590
I was doing more testing and just uncovered a pretty big issue - notifications are popping up behind the dashboard bar, making them almost impossible to see -

![image](https://user-images.githubusercontent.com/67759413/126518306-14dbc938-5319-44df-97b5-29a62d599052.png)

[2021-07-21 15:52] divine-comedian commented on #2377
testing this on `develop.giveth.io` I delegated a donation from a community to a campaign - I receive this email in my inbox -
![image](https://user-images.githubusercontent.com/67759413/126518633-0783c1d6-d43f-492a-879b-8f474a2fd6ce.png)

I click the `my donations` link and it takes me to a 404!

![image](https://user-images.githubusercontent.com/67759413/126518790-306f016b-38d4-4c9f-963d-bb1293e

[2021-07-21 15:55] divine-comedian commented on #2365
I just cancelled my campaign and the `cancel` button instantly dissapears after I send the transaction on rinkeby - looks to be fixed!

![image](https://user-images.githubusercontent.com/67759413/126520290-b400ceea-d7ae-4060-8fdb-bd01cfc48a61.png)

[2021-07-21 16:02] divine-comedian commented on #2375
I just cancelled my campaign and I visit the campaign URL and I'm informed on the campaign description that it's been cancelled -
![image](https://user-images.githubusercontent.com/67759413/126520690-8f94294e-51e2-432e-bb51-f198c160255f.png)

this is cool but I also noticed that all my affiliated interactions, donations, delegations, traces that we're associated with the cancelled campaign dissape

[2021-07-21 16:05] MoeNick commented on #2377
Thanks @divine-comedian

[2021-07-21 16:23] RamRamez commented on #2233
RP #2404
1. Donation Modal Redesign
2. Unlocking Process Modal
3. Fix not showing token balance on donate refresh
4. Optimizing DonateButtonModal.jsx

[2021-07-21 16:46] RamRamez commented on #1590
Fixed in PR #2406

[2021-07-21 22:39] RamRamez commented on #2341
PR #2407
1. Enable Web3 button is added to the "Wallet is not connected" modal.
2. This modal has been added to other profile pages (my donations, my delegations, etc.).

[2021-07-22 09:33] #2131 closed

[2021-07-22 09:40] RamRamez opened #2408 "Change all Edit profile components to Ant"
1. Change all Edit profile components to Ant
2. Change it from class-based to hook-based
3. Fix some edit profile bugs
4. Make upload image reusable
5. Redesign edit profile

[2021-07-25 05:17] mohammadranjbarz commented on #2354
@aminlatifi
@MoeNick
I donated to a trace with 20 different account and after collecting, it was ok, you can rinkbey transaction:

https://rinkeby.etherscan.io/tx/0xb3a2cfa39dce8ceb2bf816dee0474a89c6b5de43316275921e485c0ac06332df
https://develop.giveth.io/trace/test-docker

So I think we should change the limit from 10 to 20

[2021-07-25 07:01] aminlatifi commented on #2354
@mohammadranjbarz @MoeNick Delegating from 20 different pledges should be tested too
To test it,
1. Create a new campaign and donate via 20 different accounts to campaign, all in one token
2. Create a trace in the campaign and delegate all the money to that trace
3. Collect the money in the trace

[2021-07-25 07:19] aminlatifi commented on #2354
Please test here:
https://github.com/Giveth/giveth-dapp/pull/2413

[2021-07-25 09:04] mohammadranjbarz commented on #2354
It worked for this scenario:
1. Donate with 20 different accounts to a campaign
2. Create a trace in campaign
3. Delegate all amount of campaign to trace (from 20 pledges)
4. Collect trace money at once

https://develop.giveth.io/trace/test-blocksize-trace

https://rinkeby.etherscan.io/tx/0x2f67ac7b758c460e827711a3b8e62071fb6fdf3bfe6be3050d4eaf938306f48f

https://rinkeby.etherscan.io/tx/0xddbe8206

[2021-07-25 12:27] mohammadranjbarz commented on #2103
@MoeNick
when the recipient of trace is campaign, after donations become `Committed` the amount goes to parent campaign, so the amount in trace table is `Zero`, and it's not a bug so we can close this issue.
when I raised this issue, I didn'nknow this.

@aminlatifi
Am I right?

[2021-07-25 12:46] MoeNick opened #2415 "Enabling web3 button won't do anything in Brave"

[2021-07-25 12:46] MoeNick commented on #2415
Im on Brave.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/85e61e46-504f-49d2-9431-8b51f9e61aed)

[2021-07-25 13:05] MoeNick opened #2416 "Oh no error, right After I came from email to my donations and unlock my wallet"
Issue type: **Error**
Something went wrong on getting user Traces!

**Name:**
jwt expired

**LineNumber:**
undefined

**FileName:**
undefined
<details><summary>Stack</summary>

"NotAuthenticated: jwt expired\n    at new c (https://d33wubrfki0l68.cloudfront.net/bundles/f7f3efdc16a4275b7f59ca662b2fe6e52fe5d261.js:2:2708445)\n    at convert (https://d33wubrfki0l68.cloudfront.net/bundles/f7f3efdc16a42

[2021-07-25 13:12] MoeNick commented on #2377
Tested. The link was OK.

[2021-07-25 13:25] MoeNick commented on #1590
Thanks @divine-comedian  and @RamRamez

notifications problem seems have been solved.

[2021-07-25 13:33] MoeNick opened #2417 "Not able to get back to Matamask after choosing torus"
Switch Account button.

[2021-07-25 13:36] MoeNick commented on #2367
Tested.

[2021-07-25 13:38] MoeNick commented on #2375
Yeah @divine-comedian . Let's have a talk about it over the dev call.

[2021-07-25 13:49] MoeNick opened #2418 "After unlocking, donation won't showed up"

[2021-07-25 13:52] #1895 closed

[2021-07-25 13:53] #1874 closed

[2021-07-25 13:53] #2197 closed

[2021-07-25 13:53] #2281 closed

[2021-07-25 13:54] #2256 closed

[2021-07-25 13:54] #2255 closed

[2021-07-25 13:54] #2226 closed

[2021-07-25 13:54] #2220 closed

[2021-07-25 13:55] #2221 closed

[2021-07-25 13:55] #1583 closed

[2021-07-25 13:55] #2022 closed

[2021-07-25 13:55] #2170 closed

[2021-07-25 13:55] #2223 closed

[2021-07-25 13:56] #2080 closed

[2021-07-25 13:56] #2142 closed

[2021-07-25 13:56] #2140 closed

[2021-07-25 13:56] #2144 closed

[2021-07-25 13:57] #2108 closed

[2021-07-25 13:57] #2192 closed

[2021-07-25 13:57] #2052 closed

[2021-07-25 13:58] #2159 closed

[2021-07-25 13:58] #2212 closed

[2021-07-25 13:58] #2214 closed

[2021-07-25 13:58] #2090 closed

[2021-07-25 13:58] #2179 closed

[2021-07-25 13:58] #2167 closed

[2021-07-25 13:59] #1638 closed

[2021-07-25 13:59] #2194 closed

[2021-07-25 13:59] #2187 closed

[2021-07-25 13:59] #2183 closed

[2021-07-25 13:59] #2178 closed

[2021-07-25 14:00] #2084 closed

[2021-07-25 14:00] #2079 closed

[2021-07-25 14:00] #1704 closed

[2021-07-25 14:00] #2105 closed

[2021-07-25 14:00] #2058 closed

[2021-07-25 14:00] #2069 closed

[2021-07-25 14:02] #2118 closed

[2021-07-25 14:02] #2109 closed

[2021-07-25 14:02] #2089 closed

[2021-07-25 14:02] #2135 closed

[2021-07-25 14:02] #2017 closed

[2021-07-25 14:02] #1996 closed

[2021-07-25 14:02] #2132 closed

[2021-07-25 14:02] #2066 closed

[2021-07-25 14:03] #2121 closed

[2021-07-25 14:03] #2107 closed

[2021-07-25 14:03] #2098 closed

[2021-07-25 14:03] #1875 closed

[2021-07-25 14:03] #2101 closed

[2021-07-25 14:03] #2040 closed

[2021-07-25 14:03] #2063 closed

[2021-07-25 14:03] #2099 closed

[2021-07-25 14:04] #2044 closed

[2021-07-25 14:04] #1821 closed

[2021-07-25 14:04] #2075 closed

[2021-07-25 14:04] #1579 closed

[2021-07-25 14:04] #2093 closed

[2021-07-25 14:05] #2082 closed

[2021-07-25 14:05] #2039 closed

[2021-07-25 14:05] #1997 closed

[2021-07-25 14:05] #2046 closed

[2021-07-25 14:05] #1871 closed

[2021-07-25 14:05] #1785 closed

[2021-07-25 14:05] #2001 closed

[2021-07-25 14:06] #2018 closed

[2021-07-25 14:06] #1964 closed

[2021-07-25 14:06] #2042 closed

[2021-07-25 14:06] #2011 closed

[2021-07-25 14:06] #1959 closed

[2021-07-25 14:07] #1734 closed

[2021-07-25 14:07] #2008 closed

[2021-07-25 14:07] #2023 closed

[2021-07-25 14:07] #1940 closed

[2021-07-25 14:07] #1845 closed

[2021-07-25 14:08] #1972 closed

[2021-07-25 14:08] #1988 closed

[2021-07-25 14:08] #2013 closed

[2021-07-25 14:08] #1899 closed

[2021-07-25 14:08] #1987 closed

[2021-07-25 14:14] MoeNick opened #2419 "Oh no msg after a while in dashboard"
Issue type: **Error**
Something went wrong with the transaction. Is your wallet unlocked?

**TransactionLink:**
"https://rinkeby.etherscan.io/tx/0xf46b13728b8110d50ce70f31493128dee463a5f2ff20d7684a9fe127eb59cd81"

[2021-07-25 14:21] #1754 closed

[2021-07-25 14:24] #1749 closed

[2021-07-25 14:25] #1755 closed

[2021-07-25 14:25] #1916 closed

[2021-07-25 14:25] #536 closed

[2021-07-25 14:26] #1814 closed

[2021-07-25 14:26] #1756 closed

[2021-07-25 14:27] #2367 closed

[2021-07-25 14:29] #1852 closed

[2021-07-25 14:29] #1847 closed

[2021-07-25 14:29] #1918 closed

[2021-07-25 14:29] #1917 closed

[2021-07-25 14:30] #1820 closed

[2021-07-25 14:30] #1936 closed

[2021-07-25 14:31] #1684 closed

[2021-07-25 14:31] #1958 closed

[2021-07-25 14:31] #1930 closed

[2021-07-25 14:31] #1947 closed

[2021-07-25 14:31] #1999 closed

[2021-07-25 14:38] #1705 closed

[2021-07-25 14:38] #1670 closed

[2021-07-25 14:38] #1885 closed

[2021-07-25 14:39] #1886 closed

[2021-07-25 14:39] #1786 closed

[2021-07-25 14:39] #1887 closed

[2021-07-25 14:39] #2035 closed

[2021-07-25 20:58] RamRamez commented on #2415
It was ok for me.
If the MetaMask modal is already open, clicking on the Enable Web3 wouldn't do anything, because it's waiting for the user action.
![image](https://user-images.githubusercontent.com/73441857/126913292-a2b39230-d4a9-44d1-abf4-de2da018e345.png)

[2021-07-26 07:57] mohammadranjbarz commented on #2299
@MoeNick I suggest create another issue for setup self hosted sentry and integration between sentry and discord, then we should ask for Kay's help

[2021-07-26 11:41] aminlatifi opened #2421 "Current Balance Value is not updated automatically"
I donated to a trace and its current balance updated automatically, but it needed refresh to update `Current balance value`.
It's worth noting that the trace balance was below 20$ and I wasn't able to collect money till I refresh the page.

![image](https://user-images.githubusercontent.com/5684607/126982943-afdf5ae3-7098-482b-b222-139753ead121.png)

[2021-07-26 11:59] mohammadranjbarz opened #2422 "Change text of Change co-owner button to Set co-owner when campaign doesn't have co-owner"
related to #2339

![Screen Shot 1400-05-04 at 16.08.51.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/b4f17565-3675-4c14-9cda-9697554614b3)

[2021-07-26 12:59] RamRamez opened #2424 "Change ProfileUpdatePermission.jsx components to Ant"
1. change ProfileUpdatePermission.jsx components to Ant
2. Fix checkbox bad design

![image](https://user-images.githubusercontent.com/73441857/126992249-0274dbcf-33d9-4029-b33d-92072fc5103b.png)