[2018-05-30 12:43] perissology commented on #98
there should be an event emitted for actions. The event also contains the `txHash` which can be used in `web3.eth.getTransaction(txHash)` to get who sent the tx

[2018-05-30 17:00] perissology commented on #98
If you're running the develop branch, you should be able to:

1. npm run deploy-local
2. npm run start:networks
3. in a new window `npm run start`

this is in the feathers repo. And should correctly deploy & start feathers & the bridge

[2018-05-30 17:55] StevenJNPearce commented on #98
Ok, I followed these 3 steps, no errors but now the testrpc accounts have no balance.

[2018-05-30 18:50] GriffGreen commented on #315
<img width="691" alt="screen shot 2018-05-29 at 11 02 17 am" src="https://user-images.githubusercontent.com/14945613/40741092-60b83e38-63ff-11e8-955d-bcd1f725820c.png">
Another instance of this inconsistency... Kay thought that there was a lot of decimals in his payout because thats what he saw when he was making the milestone, but what he actually gets paid is something else.

Luckily i was able

[2018-05-30 19:29] vojtechsimetka commented on #315
No he is actually paid all the decimals, it is just being displayed to users with 8 decimal places. We agreed to do that in past, deam actually implemented it in the DApp. We decided to do so because any digit trimming introduces errors and especially in expenses it could be hard to reproduce same values on frontend and backend.

[2018-05-30 19:49] vojtechsimetka commented on #98
@StevenJNPearce Do you have 3 windows running?

**In feathers**
1 `npm run start:networks`
2 `npm run start`

**In DApp**
3 `npm run start`

Also are you using one of the keystore files from `dapp/keystores`?

[2018-05-30 23:15] lorelei1 commented on #348
not sure if this is part of the same bug, but i noticed also on this one i was unable to click to expand the attached proof

[2018-05-31 06:38] vojtechsimetka commented on #98
Oh yeah you do need node 8+, I thought it's in readme but now that I look at it, it has not been updated. I'll do that.

[2018-05-31 07:01] vojtechsimetka commented on #370
Thank you @vs77bb !

And thank you @anshumanv for taking this, let me know here, on slack or riot if you need any help.

[2018-06-02 08:34] vojtechsimetka opened #372 "Some wall of fame videos download automatically when embedded"
**Description:**
We allow users to add video into a dedicated video component in the DAC, Campaing and Milestone description. However, some of these links instead of displaying the video, download the video. This is likely issue with wall of fame, but we should handle these cases as well.

**Example:**
In chrome this milestone will automatically start downloading a video.
https://develop.giveth.io

[2018-06-02 18:17] anshumanv commented on #370
Working on this already. @gitcoinbot

[2018-06-02 19:41] vojtechsimetka commented on #370
@anshumanv i’ll take care of that installation.

[2018-06-05 17:10] GriffGreen opened #373 "Created 1 milestone but it ends up showing up 4 times in my milestones page"
<img width="1113" alt="screen shot 2018-06-05 at 7 07 12 pm" src="https://user-images.githubusercontent.com/14945613/40991398-fb31f640-68f3-11e8-97ff-b901c430c8db.png">

[2018-06-05 20:17] vojtechsimetka commented on #373
There was a problem with the develop environment and it was sporadically running multiple times. This should be fixed.

[2018-06-05 20:17] #373 closed

[2018-06-05 20:58] vojtechsimetka opened #374 "Withdraw does not work on overfunded milestone"
**Description:**
I can't withdraw (collect) from [this milestone](https://develop.giveth.io/campaigns/3kgmzoEAZgRt9irx/milestones/tHcQ84wUFXYutayJ). Due to UI error, the milestone has been overfunded, which may be the reason for failing. Here is console log:
<img width="958" alt="screen shot 2018-06-05 at 22 44 46" src="https://user-images.githubusercontent.com/7974813/41001953-adb7ce02-6912-11e8-

[2018-06-05 22:08] vojtechsimetka commented on #374
It does work on another milestone thought so maybe not a concern. https://develop.giveth.io/campaigns/3kgmzoEAZgRt9irx/milestones/UcMRpFmRMufzeYkv

[2018-06-05 23:07] perissology commented on #374
at a quick glance, this looks like a bug in feathers possibly. Looks like kay's donation was recorded 2x, but I'm guessing it only happened 1x

[2018-06-06 16:25] vojtechsimetka opened #375 "Bridge"
Making sure the bridge works correctly and that the UI works with it.

[2018-06-06 16:27] vojtechsimetka commented on #374
Yeah the duplication of delegation actually happens quite often. I'll create issue for that.

[2018-06-06 18:54] vs77bb commented on #370
Hi @anshumanv @vojtechsimetka Thanks for commenting with Gitcoin Bot! We're working on some improvements we hope will make it more elegant.

@anshumanv Please do keep us posted with progress / a WIP PR as soon as possible 🙂

[2018-06-06 22:20] perissology commented on #361
This was a bug in the donate button. You can see in the above tx that `idGiver` was 0, which will throw.

Fixed in bc6046da6388a8018167badf7d5d2a1350ff70cd

[2018-06-06 22:20] #361 closed

[2018-06-06 22:36] perissology commented on #366
also ran into this error trying to withdraw from the wallet view. Something to do with either the incorrect web3 instance, or the account not being added to the instance

[2018-06-07 19:10] perissology opened #376 "dapp appears to be broken on firefox"
If I view the wallet page using firefox, either the cached value appears, or nothing.

This occurs both locally & on develop, so most likely is not caused by the build pipeline

[2018-06-07 19:13] perissology opened #377 "no way to collect authorized payments on home network"
When we `withdraw` from the wallet page, this will initiate the process of transferring the funds back across the bridge to the home network. This creates an authorizedPayment with a timelock that needs to be collected after 48 hrs (as long as the payment isn't flagged).

We need to relay this information in the dapp, as well as provide a way for the user to collect the payment.

[2018-06-10 01:19] wildaces215 commented on #368
Is this open?

[2018-06-10 08:30] vojtechsimetka commented on #368
Yes

[2018-06-10 17:24] GriffGreen opened #379 "Long term: Need a way to donate to Bounties.network, Gitcoin and other bounties"
look at this awesome bounty: https://beta.bounties.network/bounty/v1/592

Might be interesting to even top up some DAI into this bounty to see how their dapp works.

would be nice if we could integrate into these platforms... i imagine we would need a different type of milestone plugin to play well with them.... but it might be easiest to integrate a very simple milestone for Reg rewards and this

[2018-06-10 17:33] vojtechsimetka commented on #379
Good thought for about 3 months from now. Right now we try to focus and limit the scope of the DApp as we discussed. Moving to icebox.

As for your question, in the UI withdrawing does not ask you address and withdraws is to your DApp address. This limitation is created in UI to simplify the flow, but may change soon.

[2018-06-10 21:39] wildaces215 commented on #368
Ok I would like to take it! Should the data come from an api?

[2018-06-10 21:50] wildaces215 commented on #368
That way more currencies can be supported

[2018-06-11 08:48] vojtechsimetka commented on #368
For the time being I think this list needs to be exposed in feathers and read in UI.
https://github.com/Giveth/feathers-giveth/blob/abdf973189977ab57dbd0568c4410ca2d7a1fbed/src/services/ethconversion/getEthConversionService.js#L4

Satya will rewrite that part soon because it can not fetch historical prices in the current implementation.

[2018-06-11 12:52] wildaces215 commented on #368
Ok sounds good!

[2018-06-11 15:49] perissology commented on #379
@GriffGreen the ability to specify an address to send the tokens/eth to on the home network when withdrawing from the foreign network?

If so, that's not currently implemented, but it is something I thought about doing. Basically when we call `ForeignBridge.withdraw()` we could specify an address that the `authorizedPayment` would be sent to on the home network.

This issue is that we could possib

[2018-06-11 18:35] satyavh opened #380 "After withdrawing from wallet, wallet balance is not automatically updated"
**Reproduce:**
- withdraw 0.1 ETH from wallet
- wallet balance stays the same, giving the impression nothing is happening
- check transaction to succeed

result:
Wallet balance only updates after page refresh, this is very confusing for user.

**Expected behavior:**
- withdraw 0.1 ETH from wallet
- wallet balance should drop 0.1 ETH instantly, also after page refresh
- if the tx fails, wallet bala

[2018-06-11 22:37] wildaces215 opened #381 "What testing framework/suite should be used for testing?"
One thing I've noticed is that there is no testing tools to be used for the project, or at least that I don't know about. What framework should be used then?

[2018-06-12 19:30] #99 closed

[2018-06-12 20:02] #177 closed

[2018-06-13 14:33] perissology commented on #232
fixed in fac9ed86ed80b85cb88d2d6d2908f84989a3b821.

Wallets are auto-filled, however if they use the eth at a faster rate then we fill, a warning will appear on the wallet with a link to the faucet

[2018-06-13 16:06] perissology commented on #379
okay, so the contracts have been updated to allow this. When you withdraw a milestone, it is directly transferred to the bridge now.

The home network bridge will allow anyone to push authorizedPayments (barring a reality check from adria), therefore you can set the recipient of a milestone to any address and the funds will be transferred to that address on mainnet upon withdraw.

We probably need

[2018-06-13 16:09] perissology commented on #377
the withdraw is now done automatically from the milestone plugin. However we should display the payments in the wallet as well as when it can be or if it has been disbursed.

[2018-06-13 16:10] perissology commented on #367
fixed by updating geth node

[2018-06-13 16:10] #367 closed

[2018-06-15 01:15] vojtechsimetka commented on #348
Should be handled in ff11e4508222de587c47cff2ed94fc30b4ed2ce6

[2018-06-15 01:15] vojtechsimetka commented on #336
Should be handled in ff11e4508222de587c47cff2ed94fc30b4ed2ce6

[2018-06-15 12:12] vojtechsimetka commented on #316
Partially fixed in a790dff1e9f45ed16b98b6ced1553b66221af49b

[2018-06-15 12:13] vojtechsimetka commented on #314
Partially fixed in a790dff1e9f45ed16b98b6ced1553b66221af49b

[2018-06-15 12:24] vojtechsimetka commented on #330
Fixed in ff11e4508222de587c47cff2ed94fc30b4ed2ce6

[2018-06-15 12:59] vojtechsimetka commented on #252
@lorelei1 can you give me the multisend transaction for this and the correct addresses to which it was sent? I am working on the migration right now.

[2018-06-15 14:02] vojtechsimetka commented on #316
Fixed in b910a3f8887a71ab0e7f1d44af0bcbfb13e75182

[2018-06-15 15:53] GriffGreen commented on #315
he isnt paid that amount tho.... the amount he is paid is recorded on the blockchain as having 10 decimal points... see in this weeks pay out:
https://etherscan.io/tx/0x2ee94812b755d11198ae1e506b1981c08d1a0b77ef6c17d42f07548bee09c90d

the inconsistency is a (negligible) transparency issue but what is not negligible is that it causes users to create milestones with inconsistencies in the numbers...

[2018-06-15 16:00] perissology commented on #315
are you guys regenerating the tx data used to send the payments (b/c you need to remove duplicates, etc)?

[2018-06-15 16:01] GriffGreen commented on #315
usu yeah... its pretty rare that the first data works each time.

[2018-06-15 16:05] GriffGreen commented on #315
but the real thing is we make this test send and we trim decimals off because we can't audit effectively otherwise... IMO other users will have similar issues... Just cause Ethereum is silly (using big numbers that almost no software can easily deal) doesnt mean we have to be silly.

It is in no way a priority right now, i just have to keep dealing with this bug that is labeled "won't fix" so i ca

[2018-06-15 19:09] #232 closed

[2018-06-15 20:22] perissology opened #383 "Changing wallets gives error when trying to donate "cannot signed w/ address ...""
I've investigated this a bit, and is a bug in web3. The references to currentProvider are not updated in Contract.methods functions after calling `web3.setProvider`.

I thought this may be an issue w/ `eth-contract-class`, but I get the same error when using the web3 `Contract` instance directly.

to reproduce:

1. signin with 1 wallet
2. sign out and signin w/ another
3. try to donate
4. should s

[2018-06-16 22:50] cbrenn commented on #342
Working on this issue now.

Could you explain conceptually what a confirmation is?

I think that it is a reviewer must confirm the campaign is valid before it can be launched and this confirmation takes place on the reviewer page.

I'm thinking about making it a property of the campaign model, but I don't see it stored anywhere currently.

[2018-06-17 01:01] perissology commented on #342
a confirmation is just the number of blocks passed when the tx was mined. If it was mined 2 blocks ago, then there are 2 confirmations.

This data is already present on the model returned from feathers, you only need to show it in the ui

[2018-06-17 01:16] perissology opened #384 "latest contract builds include json artifacts that are too large"
Ran into out of memory issues (https://github.com/facebook/create-react-app/issues/2555#issuecomment-321145942) when try build the dapp after updating the contracts.

It turns out that there is a 3.1 M artifact file that got included which breaks the build process. A temporary hack for now was to include `GENERATE_SOURCEMAP=false` when running the build.

The cause of the issue is that solcpiler i

[2018-06-17 02:48] GriffGreen opened #385 "Proposing milestones is not possible right now on alpha.giveth.io for anyone"
When trying to propose a milestone I get these errors:
<img width="836" alt="screen shot 2018-06-16 at 7 32 48 pm" src="https://user-images.githubusercontent.com/14945613/41504181-578b7596-719c-11e8-81a3-a5d159a83ff4.png">
<img width="538" alt="screen shot 2018-06-16 at 7 35 30 pm" src="https://user-images.githubusercontent.com/14945613/41504190-8405f20e-719c-11e8-9613-d4a151ff8cb7.png">

Deam and

[2018-06-17 08:19] vojtechsimetka commented on #385
I'm on it

[2018-06-17 08:44] vojtechsimetka commented on #385
Fixed. For the record, the reason why this happened is because the `data/ethconversion.db` contained record without any rates for yesterday's timestamp.

[2018-06-17 08:44] #385 closed

[2018-06-17 10:33] vojtechsimetka commented on #342
Hi @cbrenn, thank you for your interest. See perissology response. Will you take this up? If so let me know. I was just about to assign this to @xavivives

[2018-06-17 15:57] GriffGreen commented on #385
Thx V!! ;-)

[2018-06-17 19:00] perissology opened #386 "Should not be able to delegate/donate more the the `maxAmount` to a milestone"
In the ui, I can currently delegate more then the `maxAmount` of a milestone. The excess is returned to me on the contract side of things, but this is a bit confusing.

I'm not sure about the current donate behavior, but it should be the same as above

[2018-06-17 19:04] perissology opened #387 "Campaign View donations disappear after partial delegation"
If a campaign has receive 2 1 ETH donations. Then partially delegates 1 of them to a milestone, after the tx has been mined, the ui will show that the campaign has 2 donations. 1 for 1 ETH & 1 for < 1 ETH. This is similar, but a different issue then #364.

This view should show all historical donations, and not what the campaign currently has control of.

Delegating an entire donation should have

[2018-06-17 22:28] lorelei1 opened #388 ""Minimum value must be at least 1" when you select ETH as the currency for a milestone"
In both alpha and develop!
<img width="795" alt="screen shot 2018-06-17 at 3 26 56 pm" src="https://user-images.githubusercontent.com/38163206/41512701-e805a582-7242-11e8-8e92-c12a1976739a.png">

We need to be able to have less than 1 eth and still choose 1ETH=1ETH as the conversion because otherwise it puts fiat amounts onto reward daos and bounties and just looks incorrect/awkward.

[2018-06-17 22:40] lorelei1 commented on #388
also, what's up with this?
<img width="774" alt="screen shot 2018-06-17 at 3 32 36 pm" src="https://user-images.githubusercontent.com/38163206/41512772-07cbb996-7244-11e8-84c6-ce52285c4ae2.png">

When we know that this is true:
<img width="641" alt="screen shot 2018-06-17 at 3 30 18 pm" src="https://user-images.githubusercontent.com/38163206/41512744-988ecd0c-7243-11e8-831a-e67b8f159f21.png">

I s

[2018-06-18 12:09] #388 closed

[2018-06-18 16:43] lorelei1 commented on #388
Ok. Who will take care of checking those retrospectively? Since I'm a milestone checker already I could help with that, I'd also be happy to propose a group decision to forgive the discrepancies...it'll be over 200 milestones and if we can show that the exchange rate was only off by a margin of a couple euro per eth, i bet a loomio would find our community willing to just forget it in the interest

[2018-06-18 16:45] vojtechsimetka commented on #388
We will write script to check it. Thats why I have not made attempt to alter the past rates yet.

[2018-06-18 16:46] lorelei1 commented on #388
word. thanks!
what about the 1 eth minimum tho?

[2018-06-18 16:48] vojtechsimetka commented on #388
thats fixed. minimum is anything above 0 now.

[2018-06-18 16:50] lorelei1 commented on #388
sweet! thank youuu

[2018-06-18 17:55] RnbWd opened #389 "unhandled promise rejection if no wallet balance"
if the wallet is locked, and you try to create a new campaign or community, when the the swal popup is confirmed, the Dapp throws an unhandled promise rejection error

[2018-06-18 17:58] RnbWd commented on #389
I'm attempting to add a similar a function in middleware.jsx for handling when someone isn't authenticated or logged in, and I ran into this error while testing (quite fitting), so I'll try and tackle both simultaneously.

[2018-06-18 18:30] vojtechsimetka commented on #389
Thank you @RnbWd I was eyeing that one. Perfect if you can tackle it!

[2018-06-18 19:45] krrisis opened #390 "Incorrect exchange rate in Alpha"
All amounts in the alpha are slightly off from the develop exchange rate. According to vojtech it is the alpha exchange rate that is off. So this means many previous Milestones will need to be compensated?

two exact Milestones to show this difference:
https://alpha.giveth.io/campaigns/R1WkS0obautijkvJ/milestones/9Cjl6QuskgQeYUaC
https://develop.giveth.io/campaigns/5b27bf48cd46d41e274b53ef/milesto

[2018-06-18 20:31] ljg583 opened #391 "Pending and Failed Milestones"
![screen shot 2018-06-18 at 1 20 19 pm](https://user-images.githubusercontent.com/35914957/41560327-9c6a1a2c-72fb-11e8-895d-b87ddb9fcda3.png)

Multiple milestones are getting stuck after the proposer selects "Mark Complete"with a spinning circle and "Pending" or "Failed" status

No contract registered for these transactions
There is no sign of these transactions on the rinkeby etherscan for this w

[2018-06-18 20:38] vojtechsimetka commented on #391
Can you send ID's of those milestones?

[2018-06-18 20:41] ljg583 commented on #391
There aren't and transaction IDs but here are links to the milestones

RewardDAO #16 Apr16-May15: Ronald: (Pending) https://alpha.giveth.io/campaigns/Bub3WLo6jmlG8V6j/milestones/J3RQukbKC508bZSB
RewardDAO #16 Apr16-May15: Raresica: (Failed)
https://alpha.giveth.io/campaigns/Bub3WLo6jmlG8V6j/milestones/lloOxKfbO1CMvCwG
RewardDAO #16 Apr16-May15: Abram Symons: (Pending)
https://alpha.giveth.io/campa

[2018-06-18 20:59] vojtechsimetka commented on #391
And you said you just marked them as complete?

@perissology  Here are the TX hashes and data from feathers. To me this almost looks like there was chain reordering?

On feathers
https://feathers.alpha.giveth.io/campaigns/Bub3WLo6jmlG8V6j/milestones/J3RQukbKC508bZSB
Latest tx:
https://rinkeby.etherscan.io/tx/0xc0f9ea417c39cdc73b378d447a6ed17c55b07a5f74f79cb9a4a66dc571c57a6d

On feathers
https://fe

[2018-06-18 21:36] ljg583 commented on #391
Yes, they were marked complete after the campaign manager accepted and before going to review

[2018-06-18 22:02] krrisis opened #392 "Some issues with text out of fields (develop.giveth)"
On a 13" screen text on develop run out of the blocks, see screenshot below.

![image](https://user-images.githubusercontent.com/6533925/41564709-feb12970-7353-11e8-9602-8c33b8f17f27.png)

[2018-06-18 22:14] krrisis opened #393 "Milestones skipping place"
Minor 'issue', but often Milestones 'move' place, suddenly old Milestones end up in second place, Milestone that should be there disappears.

I see this movement often, goes away on refresh.
Seems to always happen for sure when creating a new Milestone.

Most recent example, before refresh:
Creating New Milestone, old Milestone from January pops up on the right. See screenshot below.

![image](htt

[2018-06-18 22:23] krrisis opened #394 "Extra spacing / paragraphs in text after saving"
This is different from the issue of spaces coming when editing, these extra paragraphs now appear after saving.

Text when creating:

![image](https://user-images.githubusercontent.com/6533925/41565327-9f161e28-7356-11e8-96d4-686fea3687f7.png)

Text after saving:

![image](https://user-images.githubusercontent.com/6533925/41565409-fc8229b2-7356-11e8-8398-0be771dfd4ad.png)

[2018-06-18 22:36] krrisis opened #395 "Campaigns not outlined correctly in overview on larger screens"
See example below

![image](https://user-images.githubusercontent.com/6533925/41565825-afbff6ac-7358-11e8-9db0-50d09dba79f7.png)

[2018-06-18 22:41] krrisis opened #396 "Not possible to update image in a Milestone you edit"
Reproduce:

See example in Milestone https://alpha.giveth.io/campaigns/R1WkS0obautijkvJ/milestones/BuxdhbJiEhwGOulL

Selected a new image, see below

![image](https://user-images.githubusercontent.com/6533925/41565914-377adad0-7359-11e8-9677-3835612ada02.png)

After saving, still shows wrong image:

![image](https://user-images.githubusercontent.com/6533925/41565947-6ae0cd30-7359-11e8-8682-17fd584

[2018-06-18 22:50] krrisis opened #397 "2 Milestones stuck on 'paying' (develop.giveth)"
these are stuck, also don't show any status

https://develop.giveth.io/campaigns/5b27bf48cd46d41e274b53ef/milestones/5b2824bdcd46d41e274b5467
https://develop.giveth.io/campaigns/5b27bf48cd46d41e274b53ef/milestones/5b27e36acd46d41e274b5423

![image](https://user-images.githubusercontent.com/6533925/41566187-b68882d6-735a-11e8-90d9-f37bb5caeab6.png)

![image](https://user-images.githubusercontent.co

[2018-06-18 22:53] krrisis opened #398 "Milestone overview - visual fix"
Issue 1: Text shows ampersands and pastes text together when there are only 'enters' between them and no paragraphs

![image](https://user-images.githubusercontent.com/6533925/41566286-2982b644-735b-11e8-993f-91ed76cabecf.png)

![image](https://user-images.githubusercontent.com/6533925/41566299-36ebab38-735b-11e8-9661-f1b3a975380c.png)

Issue 2: Titles are cut off. Proposed fix: allow slightly mor

[2018-06-19 00:04] perissology commented on #392
I don't think we need to show both the address and username here. We should show only the username & default to the address if no username has been set

[2018-06-19 01:04] perissology commented on #391
hmm, are you sure that you marked them complete? That should not have been possible as they have never been created.

I don't see any evidence of a re-org in the logs...

https://alpha.giveth.io/campaigns/Bub3WLo6jmlG8V6j/milestones/9ioctPTBs0OzBtuC

I can't find any tx for either of the above milestones. Neither of them have a `projectId` assigned, which tells me they were never created.

A coupl

[2018-06-19 01:19] perissology commented on #397
ah, I see what happened. The tx events got processed out of order. The `prevStatus` is `Paid` and the status is `Paying`. That should be reversed.

I'll implement a fix

[2018-06-19 02:19] #252 closed

[2018-06-19 02:20] #314 closed

[2018-06-19 02:20] #316 closed

[2018-06-19 02:20] #330 closed

[2018-06-19 02:20] #336 closed

[2018-06-19 02:20] #348 closed

[2018-06-19 13:38] krrisis commented on #345
this is fixed I see. thx!

[2018-06-19 13:38] #345 closed

[2018-06-19 13:59] krrisis opened #399 "Formatting issue when editing Campaign"
This was fixed for Milestones (see issue #229 ) but not for Campaigns - can the same fix be applied here?

[2018-06-19 14:33] krrisis opened #400 "Create warning message when leaving Community/Milestone/Campaign you edit"
Happens often that (apparently?) I click back and lose my entire Milestone.
Can we have a pop-up with a warning message that confirms moving away from page?

[2018-06-19 15:06] perissology commented on #400
even better is to just cache the current values in local storage when editing, so we can re-fill when we return to the page. Like github does if you navigate to a different page when editing/creating an issue, etc.

I guess we would need a cancel button to clear the cached data

[2018-06-19 15:08] vojtechsimetka commented on #400
It is on my plan when rewriting the milestones to model, this should be provider and consumer.

[2018-06-19 15:14] satyavh commented on #400
I've been trying to tackle this today. React Router has a built-in Prompt function that should conditionally trigger a prompt upon route change.

Unfortunately, the thing doesn't work with `history.back` 👎

Upon pressing back, it will change the browser route url, but it does prevent React from rendering the new route. Then it will show a prompt, but if you press cancel, it will restore the browse

[2018-06-19 15:17] vojtechsimetka commented on #400
@satyavh does this solve the history back issue? I was about to merge it. https://github.com/Giveth/giveth-dapp/pull/337

Also can you disable the erase on escape press?

[2018-06-19 15:25] krrisis opened #401 "Incorrect Milestone conversion rate in edit view"
Milestone gives wrong date when editing - it always shows the current date (well, date of yesterday), which is highly confusing (made me reassign this Milestone - and now logically cancel - as date was actually correct in the first place).

Screenshots as example from [this milestone](https://alpha.giveth.io/campaigns/R1WkS0obautijkvJ/milestones/BuxdhbJiEhwGOulL) but actually is the case with all

[2018-06-19 15:55] vojtechsimetka commented on #401
Actually no, it seems like apart from visual issue it does not cause any other problems. I prefer not touching this part before the next release is rolled out.

[2018-06-19 20:48] bowensanders opened #402 "Milestone Descriptions Reject Inline Images"
see: https://alpha.giveth.io/campaigns/Bub3WLo6jmlG8V6j/milestones/u2bYcmF3SIgSdXiI

When writing the description for my weekly milestone, I attempted to inline an image, which during the editing phase was visible, but upon saving disappeared. I tried both dragging the image on and using the insert image button.

I assume that this problem will persist through any of the items (community or campai

[2018-06-19 21:03] RnbWd commented on #389
basically we need to add catch statements for every promise that returns a rejection so that the app doesn't crash during development, even if we aren't doing anything with the error at the moment.

[2018-06-19 21:06] vojtechsimetka commented on #389
I mean there is a React solution for that. It would be great if you used it and created at least the top level boundary https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html#introducing-error-boundaries

[2018-06-19 21:21] ljg583 commented on #372
This issue is still on-going

Using Chrome, these two videos (links below) automatically start downloading when I attempt to embed the video in a milestone using the Firebase link

[https://fame.giveth.io/view/-LFKGZ8fvPmPagPvcaNe](url)
[https://fame.giveth.io/view/-LFM41v2vg31jmqRkm5W](url)

[2018-06-19 21:40] vojtechsimetka commented on #381
We are using Jest which is default for create-react-app. You can see how it is (rather stupidly) used in models, though we will shortly push to do more automated testing.

[2018-06-19 22:05] perissology commented on #397
This should be fixed in feathers [be51db6](https://github.com/Giveth/feathers-giveth/commit/be51db63ed9f64884fb01b8d9d9dda04bce69aeb)

[2018-06-19 22:22] RnbWd commented on #389
React's error component doesn't catch errors for promises that we generate ourselves... I just tested it.  That method only works for "catching errors during rending, lifecycle methods, and in the constructors of react components".

I added catch statements to checkWalletBalance throughout the codebase to prevent the app from crashing during testing. It makes sense to handle the errors consistentl

[2018-06-20 09:29] satyavh commented on #402
I fixed this in develop, will be released soon

[2018-06-20 09:29] #402 closed

[2018-06-20 09:29] satyavh commented on #400
Fixed in develop branch

[2018-06-20 09:49] satyavh commented on #399
This has been fixed on develop

[2018-06-20 09:49] #399 closed

[2018-06-20 14:31] vojtechsimetka commented on #400
There is a bug. When creating new DAC/Campaign or Milestone, hitting the save button gives the popup.

[2018-06-20 16:29] satyavh commented on #396
It depends, what state is your milestone in (proposed, inProgress, completed...)?

[2018-06-20 17:13] vojtechsimetka commented on #396
It actually does not work in any state even on develop. Somewhere that functionality got broken.

[2018-06-21 02:29] vojtechsimetka opened #404 "CORS setup on develop"
Allow netlify.com in CORS for develop and release environments. This way we can test PRs directly from github.

**Replicate:**
- Go to https://deploy-preview-403--giveth-dapp.netlify.com/
- Try creating new DAC
- It will get stuck on saving and display following error in console
<img width="833" alt="screen shot 2018-06-21 at 03 11 45" src="https://user-images.githubusercontent.com/7974813/4169465

[2018-06-21 03:43] #389 closed

[2018-06-21 04:00] vojtechsimetka opened #405 "My DACs and My Campaigns views are broken"
The views don't render because the there are no data received from the server.

[2018-06-21 13:47] perissology opened #406 "unlock wallet popup is hidden when trying to donate w/ locked wallet"
The unlock wallet popup appears behind the donate popup now.

[2018-06-21 13:56] perissology opened #407 "MyDonations page doesn't show where the donation has been delegated to"
If a dac delegates a donation I made to a campaign/project, I need to commit the delegation.

Currently it asks for me to commit it, but it doesn't show where the donation is being committed to

[2018-06-21 17:54] #384 closed

[2018-06-21 18:09] perissology commented on #404
fixed

[2018-06-21 18:09] #404 closed

[2018-06-21 21:03] perissology commented on #383
https://github.com/ethereum/web3.js/pull/1726 should fix this issue

[2018-06-23 07:56] vojtechsimetka commented on #381
Of course. All you need to do is run `npm run test` or `yarn test`.

[2018-06-23 07:56] #381 closed

[2018-06-26 23:42] cbrenn commented on #342
Coming along with this, and should be finished by Sunday. The only place I really see a clear confirmation state is in the Donation Model. Everything else I am assuming I take from the model directly, unsure about changing the constructor params for campaign, milestones etc.
Please let me know if that is ok.

[2018-06-27 14:43] vojtechsimetka commented on #342
Please go ahead and modify the other models. The required data should be received from feathers, but they are not added to the other models.

[2018-06-30 17:14] GriffGreen opened #408 "When signing up for a new account, the page stays on sign up"
the expected behavior is that it would give me a chance to back up the wallet, then add my name and whatever other deets in the profile page but instead i'm just logged in (as you can see in the corner but its not really obvious) and it stays on the same page, so i have to manually back up my wallet.

<img width="1183" alt="screen shot 2018-06-30 at 10 10 30 am" src="https://user-images.githubuser

[2018-06-30 17:22] GriffGreen commented on #408
Also it didnt auto send me Rinkeby, even after 10 minutes

[2018-06-30 17:35] perissology commented on #408
okay, it has lots of eth now, should start auto sending.

[2018-06-30 18:14] GriffGreen opened #409 "Faucet link replaces the page, therefore logging you out"
Expected Behavior: Open the faucet link in a new tab

(this was in chrome)

<img width="849" alt="screen shot 2018-06-30 at 10 28 45 am" src="https://user-images.githubusercontent.com/14945613/42127594-7b5122d2-7c50-11e8-8a24-e5e60ac007d7.png">

[2018-06-30 18:23] GriffGreen opened #410 "When signing up for your profile, you stay on the same page"
Expected Behavior: Move the user to another page (Not sure if its DACs or Campaigns... dealers choice I would say) But if I stay on that page i think my user profile didn't get updated (even though it did!) and then on top of it when i click the save button again.. it just stays on "saving" but pops up a thing that says "your profile is updated, see a link to transaction" that pop up probably isnt

[2018-06-30 18:29] GriffGreen opened #412 "Join Giveth buttons send users to slack"
You can see where the button directs you in the bottom left of the pic... it should go to giveth.io/join or even http://riot.im/app/#/room/#giveth-general:matrix.org (my preference is the latter)

<img width="950" alt="screen shot 2018-06-30 at 11 26 50 am" src="https://user-images.githubusercontent.com/14945613/42128086-9d708788-7c58-11e8-8262-8f4381fd1e33.png">

[2018-06-30 18:35] vojtechsimetka commented on #412
Yes only whitelisted addresses can see those buttons (because only they can perform the actions)

[2018-06-30 18:41] GriffGreen commented on #412
thx V i edited in the comment to remove my sillyness

[2018-06-30 18:49] GriffGreen opened #413 "When not logged in, and you try to create a community there is no user feed back of the issue"
I was clicking and clicking the "create a DAC" button and "create a campaign" button and they weren't working! Then i realized that i had refreshed the page and wasnt logged in, but i an error message saying i wasnt logged in, would be helpful

[2018-06-30 19:42] lorelei1 opened #414 "hyperlink didn't come thru?"
<img width="744" alt="screen shot 2018-06-30 at 11 25 37 am" src="https://user-images.githubusercontent.com/38163206/42128080-7cc090e6-7c58-11e8-82b0-a4cbc50f87f6.png">
I'm also wondering if sending them to the wiki homepage might be a bit too general for this specific question of whether to create a DAC or a campaign. the glossary page (https://wiki.giveth.io/documentation/glossary/) has great de

[2018-07-01 01:18] cbrenn commented on #342
Confirmations seem to be attached to the idea of a transaction. Milestones and delegations don't seem to be mapped to the idea of a transaction. Also they don't have a model in the D'app and therefore don't take in confirmations or required confirmations as state. Not seeing a logical way to get transactions from milestones or delegations...something I'm missing?

[2018-07-01 16:02] perissology commented on #342
every action taken on a milestone (mark complete, reject, etc) is a tx and the txhash & # of confirmations on the milestone is updated.

For delegations, the txhash & # of confirmations is updated on the donation that is delegated

[2018-07-02 13:31] #370 closed

[2018-07-02 16:35] vojtechsimetka opened #415 "List of reviewers shows wrong names with wrong addresses"
On release (and I could swear it also happens on beta) the names of reviewers are wrong in the reviewer dropdown when creating campaign/milestone.

[2018-07-02 18:56] emilcecarlisa commented on #98
Cbrennan and I want to make something like this the foundation for our capstone MVP. Do we have to be assigned the issue?

[2018-07-02 19:48] perissology commented on #145
Just an update...

Because of the bridging situation now, this will need to be a contract deployed on the mainnet for each dac/campaign that can forward to the bridge the correct data. It probably isn't worth the cost of deploying a contract for any milestones.

The idea is that the adminId will be set on the mainnet contract. It will have a fallback function that forwards to the bridge if enough

[2018-07-02 23:54] GriffGreen opened #417 "GasPrice Oraclet too limiting, needs flexibility"
It would be really nice in times like these, if we had an "advanced" button that would allow people who understand gas price the ability to just put their own gas price in the field.

Right now its autogenerating 1.1 Gwei... i'm not taking the bait and just waiting for it to recalculate and charge me more... refresh, refresh, refresh

<img width="665" alt="screen shot 2018-07-02 at 4 46 49 pm" src

[2018-07-02 23:56] GriffGreen commented on #417
and the oracle is working right, the ethgasstation safe low is 1 Gwei... its just actually not really safe enough to try.
<img width="733" alt="screen shot 2018-07-02 at 4 54 41 pm" src="https://user-images.githubusercontent.com/14945613/42191664-d26f469c-7e18-11e8-8553-384f73279c0d.png">

[2018-07-03 00:59] GriffGreen opened #418 "Editing a milestone doesnt navigate to the page"
Granted, i have crappy internet... maybe with stronger wifi it would work, but when i try to navigate to  the edit page for this milestone, it just shows me the green dot and reloads the my-milestone page.
<img width="1285" alt="screen shot 2018-07-02 at 5 56 08 pm" src="https://user-images.githubusercontent.com/14945613/42193077-7ceb0ed2-7e21-11e8-8755-ef3641d7f7d5.png">

[2018-07-03 01:12] GriffGreen opened #419 "Wrong name referenced in conversation"
It says bowen made this comment, but really it was me! I accepted his milestone!
<img width="1066" alt="screen shot 2018-07-02 at 6 11 14 pm" src="https://user-images.githubusercontent.com/14945613/42193478-82c2eff8-7e23-11e8-967e-a4091f2f448c.png">

[2018-07-03 01:17] GriffGreen commented on #419
should be referencing the campaign manager instead of milestone manager

[2018-07-03 07:08] vojtechsimetka commented on #419
Might be related to https://github.com/Giveth/giveth-dapp/issues/415 . Maybe the migration script caused some issues or in general the user service is buggy.

[2018-07-03 07:10] vojtechsimetka commented on #418
Yeah your browser has 5 seconds to load the page otherwise it fails. We should in general fix the socket connection and offer rest as backup.

[2018-07-03 07:47] vojtechsimetka commented on #98
@StevenJNPearce are you still working on this? We have made a UI prototype how the new wallet should look like and these transactions are there as well.

https://projects.invisionapp.com/share/A3JZQZLWZRF#/screens

@emilcecarlisa You mean you want to work on this issue? I guess if @StevenJNPearce is not following up you can go ahead!

[2018-07-03 09:24] krrisis opened #420 "Site not loading on first try"
95% of the time the 'homepage' of the DApp does not load on the first try, just a blank page, works on refresh.
Always have had this issue with alpha, beta does the exact same think.

reproduce: type beta.giveth.io

Linked to my extensions? Console:

Error in event handler for (unknown): TypeError: Cannot read property 'length' of undefined
    at doBlacklistCheck (chrome-extension://pdknmigbbbhml

[2018-07-03 09:32] krrisis opened #421 "View not fixed on DAC overview"
view [here](https://beta.giveth.io/dacs/5b37da13a239ac21b383d4da) is still not ok (13" screen), it's correct on the campaign subpage, not on communities

![image](https://user-images.githubusercontent.com/6533925/42211818-c31dfc28-7eb4-11e8-894d-807fc62be3fa.png)

[2018-07-03 09:35] krrisis opened #422 "style issue when creating Campaign/DAC"
You can now edit Campaigns and it does not delete spacing between paragraphs but... now it does the opposite when creating a new Campaign, example Campaign [here](https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328)

There is now double the spacing between paragraphs, visable in other Campaigns too.

[2018-07-03 13:16] StevenJNPearce commented on #98
I stopped working on this. It just wasn't any fun, feathers-giveth is a bug-riddled mess.

[2018-07-03 17:41] cbrenn commented on #98
Thanks! We'll get started :D

[2018-07-03 22:44] cbrenn commented on #98
@vojtechsimetka @perissology
Where is the event that is emitted stored? Is it in a central place in Feathers?

The way I am viewing this problem right now is trying to understand how does the User fetch data from the blockchain? Then once I understand that, the event can trigger the user to update themselves. Then store the data of transactions somewhere on the user model as an array or something

[2018-07-04 00:34] StevenJNPearce commented on #98
The user doesn't fetch data from the blockchain directly; feathers is a cache for the data. The events are stored in the events service, so you can use a hook on the events service to save the actions to a transactions service. On each event you won't have enough information, so you can use the transaction hash from the event to search the other services for the information needed.

[2018-07-05 18:30] cbrenn commented on #98
Here is the list of transactions that can occur in the D'App, did I miss any?

Transactions:
Donation
-successfully created
-delegated(confused around this- see below)

Community
-create Community
-also contains all transactions housed in campaigns/milestones/donations which belong to community

Campaign
-create Campaign
-also contains all transactions housed in milestones/donations which belong t

[2018-07-05 20:56] cbrenn commented on #98
And now for a completely different direction!

Our next direction is to look at the user ethereum address, and then filter the transactions in that address based on what occurred on giveth. Looking at Wallet we can see that etherScan is used to get information for the wallet. If we can query all transactions that have happened in that wallet, we can then filter them for what transactions happened

[2018-07-06 05:57] perissology commented on #98
transactions should be stored in a different service, then we can just query to get the tx for a specific user.

In feathers, we monitor events from the blockchain and update the different models in feathers based on the event that occurred. The idea is that we can completely fill the cache (feathers) via only onchain info & logs. This is so anyone can run their own feathers instance (such as on t

[2018-07-06 06:58] anshumanv commented on #370
@vs77bb can you please take care of the payout? :slightly_smiling_face:

[2018-07-06 15:09] ljg583 commented on #372
This video auto-downloads any way I try to embed it in a milestone
Using the Firebase, Share link, etc. they all download

[(https://fame.giveth.io/view/-LGUmUp_RbZkd32HtgAD)]

[2018-07-06 19:37] emilcecarlisa commented on #98
Thank you for the thorough advice!

Is the relationship between the event services folders and the Liquid Pledging Monitor one where the event service should be listing/defining all events that we consider a transaction, while the Liquid Pledging Monitor actually listens to the various events interfacing with BC, registering them as such? In other words, what should the transaction service emitter

[2018-07-07 09:45] perissology commented on #98
The events is a record of all events picked up by the Liquid Pledging Monitor. It acts like a queue. We save the event when we first detect it, and then process the event after a configurable # of blocks have past. A single tx can contain multiple events.

yes

[2018-07-07 12:22] #409 closed

[2018-07-07 13:06] GriffGreen opened #423 "Gas price on rinkeby is too low"
https://rinkeby.etherscan.io/tx/0x25ff41b758cbbc709d09a6b7ecd47fd7d5f535de08094c7e5c7de3e4d99a3373

1 gwei will work most of the time, but I would suggest we move it up to 2.01 Gwei just to make sure we are in the next block :-D

[2018-07-07 13:14] GriffGreen opened #424 "Donation splitting when a milestone reaches it's funding goal"
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b3ab3d5df629170d472b3dc

I thought these milestones were capped?

Also it says i can still delegate the 1.2 ETH which was sent to the Milestone... I'm not sure if this is a UI bug or what is going on.

i haven't tried to double delegate... yet... see the screen shot, its the last one.

<img width="1321" alt="screen shot 2018-07-

[2018-07-07 13:18] vojtechsimetka commented on #424
Yeah the UI gets updated very slowly. You can not double spent. You "can over delegate" in UI (it will bug it out) but the contract will reject the over delegation. We left the over delegation/donation in on purpose but kinda forgot about it for the release. Will be fixed in the next one :).

[2018-07-07 13:20] rsercano commented on #182
It's merged but still seems open in open bounty.

[2018-07-07 13:59] GriffGreen opened #425 "Tx link goes to mainnet etherscan instead of rinkeby"
The flag link (which IMO goes away too quickly and is there another way to get to this tx from the app?) is linking to the wrong network.
https://etherscan.io/tx/0x19d13c40a111e27b78feb187d0a697e5279b7b80c0c9fd48424303cd549974d5

should be

https://rinkeby.etherscan.io/tx/0x19d13c40a111e27b78feb187d0a697e5279b7b80c0c9fd48424303cd549974d5

This was on https://beta.giveth.io/donations

<img width="1

[2018-07-07 23:03] cbrenn commented on #98
Can I pull the events directly from feathers and then filter them in the front end? this is the code I have atm in giveth-dapp UserWallet.jsx
[code]

[2018-07-08 09:49] GriffGreen opened #426 "Trying to delegate with wallet locked no error message"
<img width="965" alt="screen shot 2018-07-08 at 11 48 03 am" src="https://user-images.githubusercontent.com/14945613/42418634-e607aad8-82a4-11e8-8b96-db9a63f97b3a.png">

Just sits there delegating... obv i need to unlock my wallet... i forgot, but i prob needed a prompt before this point

[2018-07-08 09:52] GriffGreen commented on #426
oh! funny, when i closed the box in the screen shot, the password input was right behind it

[2018-07-08 09:53] vojtechsimetka commented on #426
Yeah the popups are in wrong order :( .

[2018-07-08 09:55] GriffGreen commented on #426
and let me just say, the next delegations were so fucking smooth :-D love the flow, so fast so easy :-D no waiting... way better then any dapp i've ever used

[2018-07-08 09:57] GriffGreen commented on #426
well except for:

<img width="989" alt="screen shot 2018-07-08 at 11 55 51 am" src="https://user-images.githubusercontent.com/14945613/42418700-108250be-82a6-11e8-8bbf-c75a1e1bf285.png">
<img width="1017" alt="screen shot 2018-07-08 at 11 56 05 am" src="https://user-images.githubusercontent.com/14945613/42418701-10bc89a0-82a6-11e8-9382-95e73c103b02.png">

[2018-07-08 21:51] RnbWd commented on #182
hmm?

[2018-07-09 07:04] vojtechsimetka commented on #397
Just did a bunch of milestones, seems good.

[2018-07-09 07:04] #397 closed

[2018-07-09 07:07] vojtechsimetka commented on #182
@RnbWd can you try an make empty PR with link to the original one and mention "fix #182" in it? I'll merge and that should do the trick.

[2018-07-09 22:04] bowensanders commented on #424
On my milestone I'm experiencing a number of issues:
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b3ab3d5df629170d472b3dc

I had in error marked it complete before it had enough donations. Griff later rejected it, and then donated to it.

I saw today that the donations were in, and marked it complete:
https://rinkeby.etherscan.io/tx/0x45af2f43e0ade56b9e529e69da499106b365b0

[2018-07-09 22:18] bowensanders commented on #424
Also two secondary notes:
• The milestone isn't showing in the Giveth Governance campaign
• When I marked the milestone complete (the tx in the above comment) The URL that is provided in the green window (marked complete - view transaction) provides the correct TX ID but it points to plain etherscan.io instead of rinkeby.etherscan.io.

[2018-07-10 03:05] perissology commented on #424
did you have a different recipient address then your rinkeby address?

There is a bug in the ui when creating milestones, where upon creation of a proposed milestone, the campaignOwner is set as the milestoneManager. Only the milestoneManager & recipeint can mark a milestone complete, so I'm guessing this is your issue. We will have a fix today, but griff may have to mark this milestone complete.

[2018-07-10 03:28] vs77bb commented on #406
Hi @vojtechsimetka is this one worth a Gitcoin bounty? @anshumanv is willing to take it up and we can fund it, if so 🙂

[2018-07-10 07:34] perissology commented on #424
your milestone should be correct now

[2018-07-10 10:42] perissology commented on #425
fixed

[2018-07-10 10:42] #425 closed

[2018-07-10 12:39] krrisis opened #427 "Error when cancelling a transaction"
When you create a Milestone and get the pop up 'are you sure you want to make this transaction' and you hit cancel the 'saving' button keeps on 'turning' and there is no way to continue apart from hitting refresh and starting over.

![image](https://user-images.githubusercontent.com/6533925/42510599-aa212c5e-844f-11e8-9993-376f45bef1b8.png)

![image](https://user-images.githubusercontent.com/65339

[2018-07-10 13:41] #406 closed

[2018-07-10 13:41] #413 closed

[2018-07-10 13:41] #412 closed

[2018-07-10 13:43] vojtechsimetka commented on #426
Fixed in af4b9b49f9478513d120a9079d3cc82996a8e8d0

[2018-07-10 13:43] #426 closed

[2018-07-10 13:55] vojtechsimetka commented on #420
Yeah this looks like an extension issue. Although I definitely had the same issue before. Should be fixed in develop now, anyone feel free to reopen if the issue appears again..

[2018-07-10 13:55] #420 closed

[2018-07-10 14:10] #414 closed

[2018-07-10 17:50] #408 closed

[2018-07-10 17:50] #410 closed

[2018-07-10 19:51] vojtechsimetka commented on #406
hey @vs77bb Thank you for the offer it is very kind! This issue was rather simple fix we needed to hotfix. I will create a bunch of new issues soon that should be well defined so those should be great candidates :) . In any case we will start using Gitcoin ourselves soon.

[2018-07-10 20:47] anshumanv commented on #406
Hey @vojtechsimetka didn't know the issue is this quick, nice fix though. :)

Will look up more issues that need fix.

[2018-07-10 21:13] bowensanders commented on #424
It sure looked correct, but I get the "Oh No! is your wallet unlocked" upon trying to [$collect]...

I checked, reloaded, unlocked again (a few times) and even doublechecked metamask to make sure I was using the right wallet. I *seem* to be doing it right, but I think this milestone may be cursed! ;)

[2018-07-10 21:43] vojtechsimetka commented on #80
@anshumanv @vs77bb How do you like this one? More are coming :).

[2018-07-11 03:51] anshumanv commented on #80
This is super interesting! :open_mouth:

I'll surely love working on this. :tada:
cc @vs77bb :sparkles:

[2018-07-11 14:01] #160 closed

[2018-07-11 14:12] #215 closed

[2018-07-11 20:50] cbrenn commented on #98
Could you clarify around these roles of delegate? Are they delegate funds or assign the role of delegate to a user? Could you also tell me what entity or entities(DAC, milestone, campaign) this might be associated with?

For
Campaign Manger - delegate
entity: DAC or Campaign or Milestone?

Community manager -delegate
entity: DAC or Campaign or Milestone?

[2018-07-16 12:13] ljg583 commented on #391
This milestone is stuck pending for review

https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5b4c3bf0b89c2175b538dea4

![screen shot 2018-07-16 at 2 11 29 pm](https://user-images.githubusercontent.com/35914957/42757987-39b4c252-8902-11e8-8ee2-4ab741ec1b8c.png)

[2018-07-16 12:57] perissology commented on #407
fixed in develop

[2018-07-16 12:57] #407 closed

[2018-07-16 12:59] perissology commented on #387
fixed in develop

[2018-07-16 12:59] #387 closed

[2018-07-16 12:59] perissology commented on #364
fixed in develop

[2018-07-16 12:59] #364 closed

[2018-07-16 13:01] perissology commented on #374
should be fixed in develop

[2018-07-16 13:02] perissology commented on #365
fixed in develop

[2018-07-16 13:02] #365 closed

[2018-07-16 13:03] perissology commented on #208
this is fixed

[2018-07-16 13:03] #208 closed

[2018-07-16 13:04] perissology commented on #155
fixed

[2018-07-16 13:04] #155 closed

[2018-07-16 13:11] perissology commented on #391
this will be fixed in 1-2 days when we roll out a new release

[2018-07-17 23:02] GriffGreen opened #430 "Some times people put receipts as the front picture (UX Improvement)"
Random UX snaffoo
https://beta.giveth.io/campaigns/undefined/milestones/5b4e13f6b89c2175b538df0c
there was a receipt, but it was added as the cover photo... maybe the expense option should be more obvious?

[2018-07-17 23:20] GriffGreen opened #431 "Lots of people are completing milestones before they receive any donations"
major issue

https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b48c9e3b89c2175b538de77

https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b3fe7f73539167798ff4645

both these and many more have been marked complete and then the reviewer accepted... but now these guys dont get paid? What is the fix and the preventive medicine?

[2018-07-18 07:52] vojtechsimetka commented on #431
1. I have disabled for now the Mark as complete button if the donation amount is 0.
2. I will make an on-boarding call with each campaign manager whos responsibility it will be to make sure that all people within the campaign know what they are doing.

[2018-07-18 08:02] #431 closed

[2018-07-18 16:03] GriffGreen opened #432 "Need's reviewing but no button to review?"
https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5b4e1583b89c2175b538df0d

https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5b4e13f6b89c2175b538df0c

Couple o milestones that got an issue :-D

<img width="1110" alt="screen shot 2018-07-18 at 5 59 00 pm" src="https://user-images.githubusercontent.com/14945613/42893341-60b2aeec-8ab4-11e8-9121-bc1b44e562be.png"

[2018-07-18 16:17] GriffGreen commented on #432
https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5b4c3bf0b89c2175b538dea4

[2018-07-18 16:20] vojtechsimetka commented on #432
Yeah those are just stuck on pending. I fixed them manually, but hopefully tomorrow we can deploy the new release and this will be fixed.

[2018-07-18 16:29] GriffGreen commented on #432
:-D

[2018-07-18 16:33] GriffGreen commented on #432
https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5b4e13f6b89c2175b538df0c
https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5b4e1583b89c2175b538df0d
2 more! :-D

[2018-07-18 16:35] vojtechsimetka commented on #432
Done.

[2018-07-18 20:34] GriffGreen opened #433 "Make it easy to fund campaigns with Milestones (Feature request)"
I'm filling out this Stable.fund grant and it would be sooooo nice to be able to have a milestone for funding integrating the DAI feature and then have that feed into the DApp Campaign directly.

Currently:

I can make a milestone for integrating DAI. It will end up with ETH on mainnet sent to an address. If it's supposed to support a campaign in general... well then it has to be put back in the s

[2018-07-19 12:41] krrisis opened #434 "redirect alpha.giveth.io"
as mentioned in the unicorns channel - can you please redirect all alpha.giveth.io/** pages to beta.giveth.io ? There are links to alpha in many Milestones. thx!

[2018-07-19 12:42] krrisis opened #435 "Campaigns no longer show up under DAC"
only donations visible under DAC
now impossible to see which Campaigns are funded by a DAC - takes away a lot of the transparency.

[2018-07-19 16:19] vojtechsimetka commented on #80
Hey @anshumanv sorry for late response:

Yes we have change the DApp so that you have to use external web3 provider to donate. All you need to do is import one of the keystores to metamask.

Milestones can be deleted only when they are proposed (meaning you "create" a milestone in campaign that is not made by you) and they can be deleted only until they are accepted by the Campaign lead.

[2018-07-19 16:21] anshumanv commented on #80
Okay, lost track of the recent changes, will try this.

Makes sense, I'll try playing around with it. :+1:

Thanks for the help again @vojtechsimetka  :smile:

[2018-07-19 16:31] vojtechsimetka commented on #432
Should be fixed with yesterday's release. Reopen if not.

[2018-07-19 16:31] #432 closed

[2018-07-20 11:33] GriffGreen opened #436 "Created Campaigns hang in Release and Beta"
Trying to create a few campaigns... but first one died on me:
<img width="833" alt="screen shot 2018-07-20 at 1 23 09 pm" src="https://user-images.githubusercontent.com/14945613/43000372-74fd5b7c-8c21-11e8-94ae-8228a3fd0a86.png">

https://rinkeby.etherscan.io/tx/0xa01b9a0736a2fd9d045fd4a5c0e4b71c704cb6b89f28efc73af76967bb5b013a

Tx went thru, but the UI is showing pending forever...

[2018-07-20 16:29] vojtechsimetka commented on #435
This will be added back but in a different form. The DACs and Campaigns will be linked through donations.

[2018-07-20 16:31] vojtechsimetka commented on #436
Fixed, all that needed to be done was restarting the beta feathers. If this ever happens again please put another comment here. @perissology said he is aware and will fix this.

[2018-07-20 16:32] #405 closed

[2018-07-20 16:32] #396 closed

[2018-07-20 16:33] vojtechsimetka commented on #393
I think this has been fixed with migration to Mongo. I could not reproduce, please reopen if not.

[2018-07-20 16:33] #393 closed

[2018-07-20 16:33] #391 closed

[2018-07-21 01:38] vojtechsimetka commented on #434
The problem is that even if we redirect the links to milestones and campaigns will be broken. Hence we decided not to redirect so that rather than showing incorrect link we show broken one. Does that make sense to you?

[2018-07-22 16:59] GriffGreen opened #438 "Donations are hanging for one donor"
https://beta.giveth.io/donations

<img width="1267" alt="screen shot 2018-07-22 at 6 45 35 pm" src="https://user-images.githubusercontent.com/14945613/43048004-b7d6781e-8de0-11e8-8d3a-8c08006c43f3.png">

3 donations are hanging... one to a milestone which needs to be canceled (I already re-donated and it worked! ) 2 went to different campaigns... those could be pushed thru... ;-)

Thx guys

[2018-07-22 16:59] GriffGreen commented on #438
oops wrong screen shot

[2018-07-22 17:00] GriffGreen commented on #438
<img width="1159" alt="screen shot 2018-07-22 at 6 59 57 pm" src="https://user-images.githubusercontent.com/14945613/43048040-7a678850-8de1-11e8-87b1-97f30e5f8642.png">

[2018-07-22 18:13] GriffGreen opened #439 "Double donation? I only sent it once!"
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5

<img width="796" alt="screen shot 2018-07-22 at 8 11 33 pm" src="https://user-images.githubusercontent.com/14945613/43048670-c0552a52-8deb-11e8-8edb-3866761fbb1e.png">

[2018-07-22 18:16] GriffGreen commented on #439
Also... I sent it from my Metamask address... 0x83939.....80 it might be jarring to see that it came from a different address... we might need an info box during the donation that explains that?

[2018-07-22 18:19] GriffGreen opened #440 "Image is too damn small! Make images fit to width?"
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5

See the image I threw in there.... its tiny!! it should fit to width

This is the image i attached...
<img width="470" alt="screen shot 2018-07-22 at 7 46 04 pm" src="https://user-images.githubusercontent.com/14945613/43048702-581d105c-8dec-11e8-8216-292d502a062a.png">

Here is what it looks like on the DApp:

<img width="786" alt="screen

[2018-07-22 18:47] GriffGreen commented on #433
We are making Milestones in DAppNode that will send 15-50 ETH to the campaign... but to do it, we made a dappnode address (which deployed the campaign) and then that address will receive the ETH and then it has to be re-donated to the DAppNode campaign or milestones, and that takes an extra couple txs on mainnet...

Gotta get it so mainnet ETH is not touched in situations like this and liquid pled

[2018-07-22 18:55] vojtechsimetka commented on #433
Not saying whether we shoul or should not do it but what will a difference between DAC and Campaign then be? I feel OK with shared milestones between campaigns but sending money from campaign to campaign sounds to me like DAC duplication. Mind you I do understand the usecase.

[2018-07-22 21:04] GriffGreen commented on #433
I'm sorry, i'm not communicating clearly... i mean a milestone within a campaign that can send money back up to the "general funds" for THAT campaign.

To say it slightly different... this would be a milestone that can be funded directly and when this milestone is accomplished, the funds go straight to the campaign that the milestone was proposed in.

In a lot of grants, funding to the campaigns c

[2018-07-22 21:13] YalorMewn commented on #433
We now have our first Milestone for adding a DApp to DAppNode. Welcome Mysterium !!! https://beta.giveth.io/campaigns/5b44b198647f33526e67c262

[2018-07-22 21:38] perissology commented on #438
yes, this is a know bug regarding delegations that are past their commit time. It's the same bug that is blocking bowens milestone from being completed.

working on a fix

[2018-07-22 21:54] perissology commented on #439
the duplicate is taken care of. Not sure of the cause, but I added some more logging so if/when it happens again, we can better determine the cause.

I agree on the donation address point.

[2018-07-23 11:43] krrisis commented on #434
the proposal I'd make is to redirect all links (so, all the specific milestones that are on subpages - alpha.giveth.io/** ) to the homepage of beta.giveth.io (so not to the new url of the specific milestone on beta) -- as far as I know no link will give an error at all?

[2018-07-23 22:30] vojtechsimetka commented on #380
The Giveth Wallet balance is now irrelevant and not used anymore.

[2018-07-23 22:30] #380 closed

[2018-07-23 22:32] #101 closed

[2018-07-23 22:40] vojtechsimetka opened #441 "Image cropping throws error if out of bounds"
**Description:**
When adding image to DAC/Campaign/Milestone or user profile we currently allow cropping of this image to a predefined aspect ratio. However, if the cropping area is bigger than the picture itself it errors out.

**Reproduce:**
1. Try and create anything with a picture
2. Extend the cropping area outside of the picture itself
3. The DApp will halt on "Saving..."

Does not work
<img

[2018-07-23 22:43] vojtechsimetka commented on #417
This is fixed since you can now only donate with metamask (where the gas price is editable)

[2018-07-23 22:43] #417 closed

[2018-07-24 00:13] vojtechsimetka opened #442 "Wrong exchange rate when editing milestones"
**Description:**
Editing milestone puts in wrong value in ETH (it shows wei value rather than ETH). There is no risk of submitting milestone with this wrong rate (even if editing proposed one) because the backend checks the rates and rejects wrong ones.

Note: It also shows the wrong exchange rate and the date of exchange as per https://github.com/Giveth/giveth-dapp/issues/401

<img width="1304" a

[2018-07-24 07:36] vojtechsimetka commented on #80
Yeah that works :). Can you also `highlight` (just like this) the par that needs to be copied?

[2018-07-24 15:16] GriffGreen opened #444 "When a Campaign Manager edits a milestone it shows the number of wei???"
I just walked some people thru making milestones for the signaling website and they selected ETH as the base currency, then i went to edit it and i saw that 2.5 ETH was converted to 25000000000000000000 ETH

![screen shot 2018-07-24 at 5 15 33 pm](https://user-images.githubusercontent.com/14945613/43148303-50278fc4-8f65-11e8-8af6-30e25e07c29a.png)

[2018-07-24 15:18] GriffGreen commented on #444
oops already mentioned in https://github.com/Giveth/giveth-dapp/issues/442

[2018-07-24 15:36] vojtechsimetka commented on #444
Yeah closing as a duplicate. It is actually "fine" in sense that it will not let you save and break the system, but definitely something we are focusing to solve ASAP.

[2018-07-24 15:36] #444 closed

[2018-07-24 17:02] bowensanders opened #445 "Milestone will not disburse"
I have a milestone ready for disbursement, but clicking disburse gives the "oh no" dialog:

<img width="1251" alt="screen shot 2018-07-24 at 9 30 42 am" src="https://user-images.githubusercontent.com/27023908/43154259-97cd5f4e-8f28-11e8-8e0f-9702b2bcfd9c.png">

The milestone can be seen here:
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b47d5588f99d75a704edd60

[2018-07-24 17:10] #400 closed

[2018-07-24 17:11] vojtechsimetka commented on #445
Sorry RJ I tried to fix it, could not :(

[2018-07-24 21:59] #415 closed

[2018-07-25 22:50] GriffGreen opened #446 "Create a donation address option (Feature request)"
Can i put a bounty on part or all of this?

Tension:
You can't donate to anything by simply sending to an address.

Proposal:

I would like for there to be a button that would allow any DAC, campaign, or milestone to create an anon donation address.

I have a proposed  smart contract design:

Create a factory that deploys a contract for every project when this button is pushed

That contract is a

[2018-07-26 13:07] vojtechsimetka commented on #446
We are actually discussing feature request strategy as a financing model for the DApp. As for the idea I think we can talk about it, maybe there is an easy and cheap solution.

[2018-07-26 22:40] bowensanders opened #447 "Generate an email to recipient when payment is disbursed"
It would be a great feature if when _disburseAuthorizedPayment(s)_ is triggered, and a payment moves from _Pending to Paid_ in the bridge monitor, that the system generates an email to notify the recipient that their payment has been sent.

[2018-07-27 08:08] vojtechsimetka commented on #331
@krrisis this is resolved, right?

[2018-07-27 17:56] lorelei1 opened #448 "DAC's don't show their campaigns... could be better for users!"
It's awkward that when i click on a DAC, for example, https://beta.giveth.io/dacs/5b37da13a239ac21b383d4da, I can't see that DAC's campaigns. I have to scroll up and click on the campaigns tab, which then, for a user, cuts any connection to their parent DACs. As DACs are umbrellas under which all their campaigns exist, the click-flow on the DApp should reflect that. Conversely, when navigating to

[2018-07-27 18:08] lorelei1 commented on #447
despite how nice the personal messages are...yup, this would be awesome! that way the days of bowen and i awkwardly chasing down ppl's reward daos and finding them on riot are over :-)

[2018-07-27 22:52] perissology commented on #447
it wouldn't really work for reward dao b/c they aren't registered in the dapp, so we wouldn't know an email to send to

[2018-07-27 23:02] bowensanders commented on #447
Maybe not directly, but when Loie and I were doing it all by hand (with the multisend and all) we were able to cross-reference addresses with a list we had. So I suggest one of two things:

1) If the address is registered to a user, email them, If it is not registered to a user in the dapp, check a google sheet (or make a way to register the addresses)
2) Can't we cross-reference "wall of fame" et

[2018-07-28 02:50] anshumanv commented on #80
I'll complete this today.

[2018-07-28 08:40] vojtechsimetka commented on #448
Alright alright, I will do this. Just so you know there is absolutely no link between DAC and Campaign. One can exist without the other. The only link is made through delegations. DAC is not an umbrella and one Campaign can be linked to 0 or 1000 DACs.

[2018-07-29 11:49] GriffGreen commented on #433
This feature would make a feature request funding method (as mentioned in https://github.com/Giveth/giveth-dapp/issues/446 ) trustless... That's basically what I'm asking for here

[2018-07-29 11:58] GriffGreen opened #449 "Milestones ore only viewable in the campaign they are created in, reducing transparency."
I was considering making a milestone in the dappnode campaign to create a script for making invoices in the dapp and donation to it from governance (and I have milestones for cardona, Prague and other events still to make).

This milestone will not show up in the gov campaign, which I would argue hurts the transparency of the gov campaign.

This feature will also help the Unicorn DAC set up.

[2018-07-29 15:52] #448 closed

[2018-07-30 15:04] krrisis commented on #435
currently Campaigns still not showing up under DACs, even after donations - reduced transparency at the moment..

[2018-07-30 15:05] vojtechsimetka commented on #435
It's fixed in develop.

[2018-07-30 20:10] vs77bb commented on #80
How's this going @anshumanv? Hope you're doing well 🙂

[2018-07-30 20:16] anshumanv commented on #80
Hey @vs77bb I'm at my best and hoping for you the same. This is almost done and a WIP PR is at https://github.com/Giveth/giveth-dapp/pull/443 the task is completed, just need some refactoring, will be doing this tomorrow. :+1: :sparkle: Thanks for checking it up!

[2018-07-31 17:42] perissology commented on #445
this is fixed

[2018-07-31 17:42] #445 closed

[2018-08-01 06:25] GriffGreen opened #450 "Integrate Gitcoin into Giveth Milestones"
I would like to put a bounty on gitcoin to have someone integrate gitcoin to giveth.. I would hope they find a nice work flow for it that doesnt require much change on our side or gitcoin's side.

[2018-08-01 12:07] vojtechsimetka commented on #450
Sure I would also like to do that but I have no idea how. Feel free to initiate this but before implementation it would be great to hear how ti will work.

[2018-08-01 12:10] vojtechsimetka commented on #449
This can easily be fixed - we display all the milestones that received funds from a campaign. However, prerequisite is that milestones can be funded by different campaigns.

[2018-08-01 14:11] anshumanv commented on #450
I'm up for it! Just list down the changes comprehensively as done in https://github.com/Giveth/giveth-dapp/issues/80 :+1: :fire:

[2018-08-01 16:01] perissology commented on #449
Showing donated milestones would be in addition to milestones created in that campaign?

We also need good sorting and pagination. The milestone lists are already getting long ;)

[2018-08-02 12:39] #80 closed

[2018-08-02 14:34] anshumanv commented on #392
@vojtechsimetka can I work on this?

Agreed with @perissology that showing just the username makes sense to me too.

[2018-08-02 16:43] perissology commented on #392
I fixed this yesterday

[2018-08-02 16:43] #392 closed

[2018-08-02 16:50] perissology commented on #436
bug has been fixed

[2018-08-02 16:50] #436 closed

[2018-08-02 16:58] perissology commented on #424
closing as I'm pretty sure this has all been fixed. the milestone is paid.

[2018-08-02 16:58] #424 closed

[2018-08-02 17:13] perissology commented on #390
@vojtechsimetka this has been fixed right?

[2018-08-02 17:41] vojtechsimetka commented on #390
Yes but the reimbursement has not been made.

[2018-08-02 17:58] #435 closed

[2018-08-02 18:19] #383 closed

[2018-08-02 20:36] #376 closed

[2018-08-03 09:31] #442 closed

[2018-08-03 09:49] #401 closed

[2018-08-03 11:31] #379 closed

[2018-08-03 16:04] #386 closed

[2018-08-03 16:04] #374 closed

[2018-08-03 16:05] vojtechsimetka commented on #363
This did not happen since reported. Closing for lack of evidence that this is actually a bug.

[2018-08-03 16:05] #363 closed

[2018-08-07 14:03] krrisis commented on #331
sorry for late reply, just changed back to hotmail to test it, will report back when I get a new notification. On gmail it works (again) in any case.

[2018-08-07 14:05] krrisis opened #452 "Hide mail address from public view"
currently your mail address to which notifications are being sent is publicly viewable by anyone, which is ofc not ideal for privacy, spam etc. Could this be hidden by default? people can indicate maybe with a checkmark if they want to show this on their profile, but should be off by default.

[2018-08-07 14:31] krrisis commented on #393
seems ok, thx!

[2018-08-09 20:17] #145 closed

[2018-08-09 20:17] perissology commented on #446
relevant comment: https://github.com/Giveth/giveth-dapp/issues/145#issuecomment-401913852

[2018-08-11 00:05] GriffGreen opened #453 "Milestone showing wrong amount paid?"
<img width="429" alt="screen shot 2018-08-10 at 5 03 34 pm" src="https://user-images.githubusercontent.com/14945613/43985832-7073bf84-9cbf-11e8-9b06-18a28b5b61c7.png">

https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b4c949fb89c2175b538dec7

I hope I get the left overs as a delegation ;-D

[2018-08-11 00:06] GriffGreen commented on #453
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b566a7e2c76b41c27b9b52b
this one too

[2018-08-11 14:39] vojtechsimetka commented on #453
Yeah there is some problem in the counters. RJ is looking into that but I am also working on something that might solve it.

[2018-08-11 14:43] vojtechsimetka commented on #452
Well we can hide in in the UI but all those email addresses are exposed and will be. Especially once we store them on IPFS. I believe hiding them in UI will just make it even less transparent.

[2018-08-13 16:07] krrisis opened #454 "Milestone reporting - field not empty"
when approving a Milestone you see the comment you added in there from the previous Milestone you reviewed - the field should be empty again.

[2018-08-13 16:15] krrisis commented on #452
how can we solve this? this is one of the things you could add to a list (a version) of things that need to be fixed before we onboard external projects. logically I don't want my mail address on the blockchain and most people don't want this, major privacy issues. Mail is in any case outdated.. maybe the twitter api, sending you a DM if you authorize?

[2018-08-13 16:18] vojtechsimetka commented on #452
Right, well email should be optional. But in principle we can not store anything off chain/IPFS/Swarm otherwise it would not be decentralized. So would making emails optional solve this struggle?

[2018-08-13 20:33] perissology commented on #453
@GriffGreen did you make this donation outside of the ui?

There was a donation from a dac directly to a milestone which isn't supported in the ui

[2018-08-13 20:58] perissology commented on #453
fixed in feathers-giveth f628e4c.

production will be updated on next release

[2018-08-13 20:58] #453 closed

[2018-08-13 22:07] #452 closed

[2018-08-14 16:22] vojtechsimetka opened #455 "Can not mark milestone as complete"
Reported by @krrisis , I did not find out a reason why it does not work. He tried refresh, locking/unlocking wallet etc.

https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5b71a86aa5f82545c38d2cc6

Description of the Error:
[code]

![image](https://user-images.githubusercontent.com/7974813/44104346-e700b71a-9fee-11e8-8eff-fda4e1cb21df.png)

[2018-08-14 23:00] perissology commented on #455
It was already markedAsComplete. But for some reason the event did show up in the events table.

The logs were getting super hard to read, so I spent some time configuring the logs to write to a rolling daily file in json format. This will make the files smaller so we can more easily isolate the time, as well as allow us to query & parse the log files using something like `jq`. Hopefully that will

[2018-08-14 23:00] #455 closed

[2018-08-15 14:25] #75 closed

[2018-08-15 14:26] vojtechsimetka commented on #86
This has changed. Campaigns and DACs are now linked through money flow

[2018-08-15 14:26] #86 closed

[2018-08-15 14:28] vojtechsimetka commented on #88
There is no direct coupling between DACs and Campaigns this does not make sense.

[2018-08-15 14:28] #88 closed

[2018-08-15 14:31] vojtechsimetka commented on #168
We removed governance tokens. The decision has been made to simplify the DApp but also because since we will support token donations it would be very difficult to decide how much governance tokens should be emitted.

[2018-08-15 14:31] #168 closed

[2018-08-15 14:32] #87 closed

[2018-08-15 14:35] vojtechsimetka commented on #174
Implemented by @perissology in a slightly different way. Users now have to donate with injected web3 instance but for interacting with the DApp GivethWallet is used. This is best option for time being as we use 2 networks.

[2018-08-15 14:35] #174 closed

[2018-08-15 14:43] vojtechsimetka commented on #305
This was fixed by @perissology during rewrite.

[2018-08-15 14:43] #305 closed

[2018-08-15 16:47] vojtechsimetka commented on #434
@perissology I've tried to add alpha.giveth.io as alias on netlify after which I would make the necessary rewrite rules. However, it seems the domain has since been removed from netlify, can you add following record?

[code]

[2018-08-15 19:41] perissology commented on #434
that doesnt seem to work

[2018-08-15 20:00] vojtechsimetka commented on #84
Fixed in 58831be7eeaca698233ed5afbf8f4764fdec86e4

[2018-08-15 20:00] #84 closed

[2018-08-17 12:13] #166 closed

[2018-08-18 21:38] krrisis opened #457 "Milestones before May 2018 not showing up in comms campaign"
see here https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328
and screenshot below

![image](https://user-images.githubusercontent.com/6533925/44303381-dbc22100-a33f-11e8-8ece-6e1c137ebe52.png)

[2018-08-20 10:30] #457 closed

[2018-08-20 10:30] #427 closed

[2018-08-20 10:32] vojtechsimetka commented on #331
This works for me on my test hotmail account, closing

[2018-08-20 10:32] #331 closed

[2018-08-20 10:33] vojtechsimetka commented on #366
This is solved for donations, have not seen the error in a while. Closing

[2018-08-20 10:33] #366 closed

[2018-08-20 10:36] vojtechsimetka commented on #349
This was fixed in 30b81813748da09df6b3b1cb6427976af2906af5

[2018-08-20 10:36] #349 closed

[2018-08-20 10:40] vojtechsimetka commented on #194
The counters has been fixed in the feathers rewrite.

[2018-08-20 10:40] #194 closed

[2018-08-20 10:46] vojtechsimetka commented on #329
This was fixed in the #403

[2018-08-20 10:46] #329 closed

[2018-08-20 10:47] vojtechsimetka commented on #182
@geleeroyale Can we pay this out somehow so that I can close?

[2018-08-20 11:14] vojtechsimetka commented on #102
Not an issue anymore. The donate TXs will prompt metamask, any other TXs are on sidechain.

[2018-08-20 11:14] #102 closed

[2018-08-20 11:15] vojtechsimetka commented on #169
DACs and Campaigns are linked through donations now.

[2018-08-20 11:15] #169 closed

[2018-08-20 11:17] #239 closed

[2018-08-21 20:33] vojtechsimetka commented on #390
Rates are resolved (the cryptocompare sometimes gets updated after midnight, but the changes are not dramatic). This document monitors that the rates are within error margin https://docs.google.com/spreadsheets/d/1SzAF39l2NkyICv1Xbdo6muw2dIT_4SA-CyDx2H4S47s/edit?usp=sharing . Initial rate recalculation has been created but needs more feedback from Griff and Lindsay.

[2018-08-22 09:25] Ins0mniaIco opened #458 "No create new campaign button"
I am not sure what I am doing wrong, but there is no buttons for creating a new campaign or community, even if I try to add the trailing URL /campaigns/new it reverts back to the homepage.

<img width="1397" alt="screen shot 2018-08-22 at 11 24 31" src="https://user-images.githubusercontent.com/40732463/44455343-1ce75900-a5fe-11e8-91ac-8a007f9e50bf.png">

[2018-08-22 10:14] vojtechsimetka commented on #458
Yes that is correct, we are still in rather experimental closed beta stage. Creation of the DACs and Campaigns is whitelisted for the time being and we are slowly onboarding external projects in waves. If you are interested in creating your project on the platform please contact @danibelle:matrix.org on Riot.

[2018-08-22 10:14] #458 closed

[2018-08-23 11:18] anshumanv commented on #395
Hey @krrisis While looking this up I couldn't reproduce the issue both in campaigns or in communities tab, the cards seem to rearrange themselves for all the resolutions I tried.

![image](https://user-images.githubusercontent.com/21009455/44522471-45ea1580-a6f4-11e8-9ace-fc8a88b40b0e.png)

Can you please recheck if the issue still persists and if it does please tell me the environment you tested

[2018-08-23 11:31] vojtechsimetka commented on #395
Hey, on a train now vut i am certain this is broken for sub 1920/2 pxs. I’ll give you the exact resolution later

[2018-08-23 11:39] anshumanv commented on #395
Sure thanks! No hurry. :+1:

[2018-08-23 16:06] vojtechsimetka commented on #395
@anshumanv  Oh this only happens for a campaigns in DAC e.g.
https://beta.giveth.io/dacs/5b37da13a239ac21b383d4da

The resolution for which it happens are:
4 campaigns: 1920 - 1600
3 campaigns: 1440 - 1200
2 campaigns: 960 - 820

<img width="1593" alt="screen shot 2018-08-23 at 18 01 51" src="https://user-images.githubusercontent.com/7974813/44537468-302e1d80-a6ff-11e8-8212-8dd37c2ea92f.png">

Thi

[2018-08-23 18:18] krrisis commented on #455
Same with this one :/ https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5b798415718202720c50cdda

[2018-08-23 19:05] anshumanv commented on #395
Thanks, @vojtechsimetka understood the issue, working on a fix! :+1:

[2018-09-01 18:03] arquimed opened #461 "EADDRINUSE error when deploying Smart Contracts on Feathers-giveth"
I there everyone!

I am trying to install de Giveth DAPP locally, following the walkthrough video (https://www.youtube.com/watch?v=r06804yGen4&index=3&list=PL4Artm1rmCWEvm8WgcFpwZ2UMYT_BOF92)

After starting a local blockchain using yarn ganache-cli, I try to deploy the smart contracts but get the folling error:

 node scripts/deploy.js
{ Error: listen EADDRINUSE 127.0.0.1:8545
    at Server.setup

[2018-09-01 18:10] arquimed commented on #461
As it seemed a problem caused by having an instance of Ganache-cli already running, I stopped the Ganache-Cli instance and runned again scripts/deploy.js.

It actually deployed the Smart Contracts and returned the addresses, to my surprise, as the local testnet should not be working! It seems as if deploy script starts its own blockchain.

Here's the result:
$ node scripts/deploy.js
Foreign Networ

[2018-09-01 21:07] perissology commented on #461
yes, the deploy scripts start their own instance.

The [readme](https://github.com/giveth/feathers-giveth#run-server) has the latest instructions.

[2018-09-01 21:07] #461 closed

[2018-09-03 04:49] anshumanv commented on #171
Hey @vojtechsimetka can you explain the issue more? :slightly_smiling_face:

[2018-09-03 04:51] anshumanv commented on #78
What can we do to make them different for example?

[2018-09-04 07:34] debragail commented on #297
Was this closed by ovx?

[2018-09-07 17:55] vojtechsimetka commented on #78
Thanks @anshumanv We actually decided this is not an issue and when we change layout of the default pages it will become more clear.

[2018-09-07 17:55] #78 closed

[2018-09-07 19:58] vojtechsimetka commented on #421
Fixed in #459

[2018-09-07 19:58] #421 closed

[2018-09-11 16:31] vojtechsimetka commented on #439
The infobox is already there, have not seen duplicate donations lately.

[2018-09-11 16:31] #439 closed

[2018-09-12 01:43] vojtechsimetka commented on #423
This should be made configurable from the src/config.js

[2018-09-12 16:32] GriffGreen opened #462 "Delegate button not working if you are a delegate for multiple DACs"
LOVE THE DELEGATE BUTTON!!!

I ran into a bug. When i go to delegate to a milestone, it lets me choose which DAC i am a part of but then there is no button to move forward from there.
<img width="1102" alt="screen shot 2018-09-12 at 9 27 14 am" src="https://user-images.githubusercontent.com/14945613/45439322-58f66280-b66e-11e8-81db-32cb530f4cd6.png">

[2018-09-12 17:16] Quazia opened #464 "Changing image on milestone doesn't update image"
When attempting to edit a milestone that does not have an image, adding an image and saving the milestone will not change the image.

[2018-09-13 19:59] anshumanv commented on #440
Looking this up!

[2018-09-13 19:59] anshumanv commented on #423
Looking this up!

[2018-09-15 00:36] vojtechsimetka commented on #297
@debragail no

[2018-09-16 22:24] GriffGreen opened #465 "When delegating multiple times with one delegate, the delegate button is not able to be pressed"
<img width="1024" alt="screen shot 2018-09-16 at 3 20 05 pm" src="https://user-images.githubusercontent.com/14945613/45601589-40ff4580-b9c4-11e8-9139-dc9ee7242ce9.png">
^^^ pic of what i see after the first delegation... even after waiting for the first delegation to clear. the only way to delegate multiple times is to refresh

[2018-09-16 22:29] GriffGreen opened #466 "when delegating and selecting the campaign/milestone to donate to, the amount is reset to the the total amount able to be donated"
<img width="1011" alt="screen shot 2018-09-16 at 3 25 50 pm" src="https://user-images.githubusercontent.com/14945613/45601631-11047200-b9c5-11e8-8d80-b3667be87207.png">
^^^ I type in gov to find the gov campaign

<img width="1032" alt="screen shot 2018-09-16 at 3 25 59 pm" src="https://user-images.githubusercontent.com/14945613/45601634-224d7e80-b9c5-11e8-99ec-162dd10673e1.png">
^^^^ The amount i

[2018-09-16 22:50] GriffGreen opened #467 "Delegated milestone doubled up"
a new delegation popped up... its a double of a real one
<img width="1242" alt="screen shot 2018-09-16 at 3 29 28 pm" src="https://user-images.githubusercontent.com/14945613/45601846-39da3680-b9c8-11e8-8560-d8927f31802b.png">
that 72.1 ETH one is fake!

[2018-09-17 01:13] GriffGreen opened #468 "Milestone says it has twice the Max ETH it can have"
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b62fa776d8ed147a62a6a0e

Should i accept this?

[2018-09-17 07:09] GriffGreen opened #469 "2 milestones stuck in pending limbo"
I accepted these milestones and they disappeared from my milestones page... then i couldnt delegate to them... it was hard to find them again but I found a webpage that shows the milestones!

<img width="810" alt="screen shot 2018-09-17 at 12 02 38 am" src="https://user-images.githubusercontent.com/14945613/45609574-69f7f880-ba0d-11e8-8599-bd7405b13446.png">

i want to pay them out. :-D

[2018-09-17 16:28] vojtechsimetka commented on #469
Oh @perissology  will have to fix those :(. For some reason feathers did not register the create event so they are still in a Proposed state and the plugin address was not saved :(.

[2018-09-17 16:58] vojtechsimetka commented on #469
These are the milestones:
**Epoch 32** https://feathers.beta.giveth.io/milestones/5b72c2e7a5f82545c38d2d05
**Epoch 31** https://feathers.beta.giveth.io/milestones/5b72c17aa5f82545c38d2d04

[2018-09-17 17:00] vojtechsimetka commented on #469
Oh actually I just reprocessed all the events after 2018-08-20 and it got fixed.

[2018-09-17 17:00] #469 closed

[2018-09-17 17:27] GriffGreen commented on #468
https://beta.giveth.io/campaigns/5b6cb8da11875f2dc87ff150/milestones/5b97e3fe90b3c1478f06b45e
this one too

[2018-09-17 17:36] bowensanders commented on #468
The one of those is my milestone - and it's showing as double in 'my milestones'
<img width="1311" alt="screen shot 2018-09-17 at 10 35 29 am" src="https://user-images.githubusercontent.com/27023908/45639715-8de72880-ba65-11e8-9d57-1b0c4efd8634.png">

[2018-09-17 18:14] GriffGreen opened #470 "When donating to a milestone, the default suggested amount is blank"
<img width="1050" alt="screen shot 2018-09-17 at 10 49 37 am" src="https://user-images.githubusercontent.com/14945613/45640462-99d3ea00-ba67-11e8-8c6d-4b73a8fe007c.png">

This is a different screen then when delegating from the my delegations screen... in that screen the entire requested amount is shown and you can use a slider to choose the amount... that screen works really well and makes it eas

[2018-09-17 22:26] GriffGreen opened #471 "Can't view My Donations page"
I have refreshed, locked and unlocked my wallet, waited for a long time, etc... my griff green user gets only a dancing green dot for the My donations page.

<img width="1335" alt="screen shot 2018-09-17 at 2 27 55 pm" src="https://user-images.githubusercontent.com/14945613/45651359-24c3dd00-ba86-11e8-9106-3356d3a793a6.png">

I chatted with Maria and she could view it... also i could view it in ot

[2018-09-17 23:04] GriffGreen opened #472 "Can't view Donations at the bottom of some milestones"
<img width="984" alt="screen shot 2018-09-17 at 3 29 31 pm" src="https://user-images.githubusercontent.com/14945613/45654025-d6ffa280-ba8e-11e8-8c2f-9410b333d33f.png">

i get the dancing green dot at the bottom of:
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b72c17aa5f82545c38d2d04

https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b98826990b3c1478f06b

[2018-09-18 16:33] vojtechsimetka commented on #468
@perissology this one is very interesting
Milestone: https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b62fa776d8ed147a62a6a0e

Feathers:
https://feathers.beta.giveth.io/milestones/5b62fa776d8ed147a62a6a0e

Donations:
https://feathers.beta.giveth.io/donations?ownerId=169
Interestingly enough it actually seems like two independent donations with two TX hashes
https://rinkeby.eth

[2018-09-18 21:56] #471 closed

[2018-09-19 21:52] millnitzluan commented on #440
I found the problem, going to open the PR :D

[2018-09-19 22:49] millnitzluan commented on #440
@anshumanv can you check pr #473 ?

[2018-09-20 15:47] krrisis commented on #390
what about the reimbursements?

[2018-09-21 01:37] anshumanv commented on #470
Hey @vojtechsimetka @GriffGreen can I work on this?

[2018-09-21 02:23] anshumanv opened #474 "Do not allow negative donation values in donation modal"
I think we should restrict the min amount to 0 rather than going in negatives.

![image](https://user-images.githubusercontent.com/21009455/45856742-6220b700-bd73-11e8-90e0-38ea7bf6b776.png)

[2018-09-21 02:30] anshumanv commented on #423
Hey @GriffGreen @vojtechsimetka can you help in how to make transactions on the rinkeby network? I don't see any test ether in my wallet too, did I miss anything?

Also in the donation form, the gas price is being fetched from feathers I think and is already not 1.

![image](https://user-images.githubusercontent.com/21009455/45856986-66010900-bd74-11e8-8d59-ee0b61f7f016.png)

[2018-09-21 07:38] GriffGreen opened #475 "Milestones that have no funding get marked complete and then can't receive funding"
There are many solutions to this very common error.
Options:
1. Milestones cannot be marked complete unless they have some funding
2. If a Milestone has no funding an extra warning box comes up when marking it complete
3. **Even if a milestone is marked complete, the UI allows for funds to be sent to it.**

Each of these has its own pros and cons... My fave is 2 but any solution including one not

[2018-09-21 07:43] GriffGreen commented on #468
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5b71f94da5f82545c38d2cdf
This one is fairly important, i would loe to get him paid

[2018-09-21 21:11] GriffGreen opened #476 "Home page goes to Communities but for the UI as it is, Campaigns are the main attractions"
Can we point the home page to "Campaigns"?

[2018-09-21 22:43] GriffGreen opened #477 "Add links within the Milestone for the Campaign it is created for"
There is no way to navigate to the Campaign from the milestone... i imagine anywhere a campaign's name is listed it should be hyperlinked to the campaign

[2018-09-21 22:47] vojtechsimetka commented on #477
When you click the back button it goes there. But it should probably say campaign name :)

[2018-09-21 22:58] GriffGreen opened #478 "Donate by simply sending to an address with a standard transaction fee"
The goal is to make donating as easy as possible.

Right now every donation to any DAC, Campaign, or Milestone requires a user to include Data and the transaction fee is higher then a standard transaction.

The end goal of this issue would be an easy user experience for donating using simply an ENS (or RSK equivalent) name.... and ideally it would use the same gas as a normal transaction.

For ins

[2018-09-21 23:12] GriffGreen commented on #478
https://www.youtube.com/watch?v=rnbz60wkEcw

[2018-09-21 23:34] vojtechsimetka commented on #470
Hey, sure!

[2018-09-21 23:35] vojtechsimetka commented on #474
Please go ahead, I just did not find easy way of doing so.

[2018-09-23 02:13] GriffGreen opened #479 "Add BTC to the List of Currencies"
:-D I have a few purse expenses for burning man to throw in all of them in BTC, it would be good to get BTC in for that and of course the RSK fun :-D

... I wonder what they think of Bitcoin Cash... :-D

[2018-09-23 02:41] GriffGreen opened #480 "A rejected milestone is saying that it is "In Progress""
https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5b973ecd90b3c1478f06b458

When i try to delegate to it (which i shouldn't be able to do) this is what i see:

<img width="940" alt="screen shot 2018-09-22 at 8 34 07 pm" src="https://user-images.githubusercontent.com/14945613/45923602-e1170c00-bea7-11e8-9c6b-a446146537ef.png">

I assume the dapp also needs to reflect that the can

[2018-09-23 17:11] ljg583 commented on #480
I am unable to cancel this milestone

![screen shot 2018-09-23 at 11 08 42 am](https://user-images.githubusercontent.com/35914957/45930753-2166a080-bf21-11e8-9482-640c7f67679b.png)

(No data shows up in Developed Tools)

[2018-09-24 01:51] #477 closed

[2018-09-24 02:06] vojtechsimetka commented on #480
That is actually correct. The milestone is correctly in the "InProgress" state. @ljg583 should be able to cancel it... (I think there was just some random error that prevented you from doing so, should work in like an hour).

[2018-09-24 05:35] GriffGreen commented on #480
oh yeah thats right cause it was rejected... but it still shouldn't show up on the list of milestones to delegate to right?

[2018-09-24 15:43] vojtechsimetka commented on #480
It should because we do not distinguish between milestone that has never been marked as complete and milestone that has been completed but rejected. Maybe it is a little bit weird, not enough for me to care now tbh. There are bigger problems.

[2018-09-24 16:57] vojtechsimetka commented on #468
@GriffGreen yeah it is always safe to do if it lets you (the smart contract will not allow you to deposit/retrieve more money than the limit). Re-processing fixed all of these. Not sure why this keeps happening.

[2018-09-24 17:57] krrisis commented on #328
Same thing with visuals in the text, you cannot click to enlarge this, so you cannot verify if the proof is correct.
example of such a Milestone here https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5ba5e19c910d22748d87a82c

[2018-09-24 18:36] krrisis opened #481 "Canceled & rejected Milestones are not showing up"
Just asked someone to cancel my Milestone I know for sure I have had some in the past,
These tabs are empty however - can we bring these back? I need the info that's there :)

![image](https://user-images.githubusercontent.com/6533925/45971475-64b43280-c039-11e8-8e3b-4abf9f23993b.png)

[2018-09-24 18:56] vojtechsimetka commented on #481
All non-paid milestones before 1st of July have not been migrated. So if it is before that then no. Otherwise this tab works, I have 2 canceled milestones there.

[2018-09-24 21:16] krrisis commented on #481
Aaaand.. I found it. Person who was going to cancel didn't cancel and missed it, my mistake, apologies!

[2018-09-24 21:16] #481 closed

[2018-09-26 11:20] anshumanv commented on #474
Hey @mkosowsk  can you approve my request on gitcoin? Already working on the fix. :)

[2018-09-26 11:28] mkosowsk commented on #474
If you're interested in doing work on the Giveth or other Web 3.0 repos for the ECF Web 3.0 Infrastructure fund, you can

0. Find existing issues and submit a bounty request via https://gitcoin.co/requests

1. Create new issues and also submit a bounty request via https://gitcoin.co/requests

Happy hunting!

[2018-09-26 18:01] anshumanv commented on #423
Working on it already, @vojtechsimetka can you refer https://github.com/Giveth/giveth-dapp/issues/423#issuecomment-423394302 :smile:

[2018-09-26 23:28] krrisis commented on #475
You should also delete Milestones that are now marked complete and have no funding as they now just appear double in the DApp which is quite confusing. Or.. create the option for us to delete these. thx!

[2018-10-01 15:09] mkosowsk commented on #474
@GriffGreen do you have a moment to review @anshumanv's code? If this passes spec, @anshumanv please submit at your earliest convenience :)

As Griff says, this is probably a bit rich for funding but we are happy to get the ball rolling with starting funding issues on Giveth 👍

[2018-10-01 15:15] vojtechsimetka commented on #474
Thank you @mkosowsk ! I just did the review and requested few changes.

Also thank you very much for the funding opportunities, we really appreciate it. We are going to submit a bunch of issues very soon.

[2018-10-01 17:15] vojtechsimetka commented on #423
@anshumanv  Sorry missed that msg. Everything with `foreign` in the name is on Rinkeby. Basically except for donations all the transactions are made on Rinkeby. We however don't use the foreign keyword for web3. It is just web3 instance and for mainnet we use homeweb3 . Does this help?

[2018-10-02 01:29] millnitzluan commented on #480
@GriffGreen and @vojtechsimetka can you explain what it have to be done here?

[2018-10-02 10:13] vojtechsimetka commented on #476
I actually had this in one of my branches before my computer crashed. There should be one page called explore where both Campaigns and Communities are.

[2018-10-02 11:39] mkosowsk commented on #474
@vojtechsimetka please let me know if there's any help you need in filling out the [Gitcoin Requests](https://gitcoin.co/requests). Very happy to fund an excellent project :)

[2018-10-02 14:29] GriffGreen opened #483 "Milestone says "Completed" but didnt make it to the bridge?"
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5ba3e1b8be1d182c6addc808

Whats up with this?
:-D

[2018-10-02 15:38] vojtechsimetka commented on #483
Not an issue, Max Semenchuk needs to click on "Disburse" button :).

[2018-10-02 15:38] #483 closed

[2018-10-02 18:40] anshumanv commented on #423
Thanks @vojtechsimetka working on it, will send a patch as I finish traveling in 2 days.

[2018-10-03 08:46] vojtechsimetka opened #484 "Token Integration"
The aim is to allow ERC20 tokens like DAI to be used in the DApp in addition to ether. The Liquid Pledging smart contracts support ERC20 tokens, the feathers has some support but the UI support is missing.

In the current design the smart contract plugins are written to accept any whitelisted token donation for DACs and Campaigns. At the creation of milestone users have to choose which token or et

[2018-10-03 08:46] vojtechsimetka commented on #257
Duplicate of #484

[2018-10-03 08:46] #257 closed

[2018-10-03 08:47] vojtechsimetka commented on #479
Part of #484

[2018-10-03 08:47] #479 closed

[2018-10-03 08:47] vojtechsimetka commented on #339
Closing as point 3 is part of #484

[2018-10-03 08:47] #339 closed

[2018-10-03 09:20] vojtechsimetka opened #485 "Add overview to DACs and Campaigns"
Add a tab new tab to DACs and Campaigns called "overview"detailing information about the entity. The data should be presented in table or as graphs. React-Vis library seems to be one of the better to use https://uber.github.io/react-vis/ :

 - [ ] Number of milestones, and a per status breakdown - Multiple colored progress bar or Pie chart
 - [ ] Total money donated (distinguish between committed

[2018-10-03 09:31] vojtechsimetka commented on #447
@bowensanders I think you could tackle this one. All you need to do is modify the Bridge monitor feathers service to send email when the payment status changes to "Paid" for the first tie. You already have the milestone info in the bridge now so you can find emails of the Milestone Managers. Have a look at `bridgemonitor/feathers/services/payments`. I'm happy to help if needed :).

[2018-10-03 12:04] mkosowsk commented on #474
Hi @anshumanv have you had a chance to review requests from @vojtechsimetka? Thanks! 👍

[2018-10-03 16:55] anshumanv commented on #474
Hey @mkosowsk, yes received the review and I know my next steps, will make the requested changes :+1:

Thanks for your patience. :smile:

[2018-10-03 17:03] vojtechsimetka opened #486 "Video creation directly in DAC/Campaign/Milestone"
Allow users to upload and record video in Milestone, Campaign or DAC. The functionality should be similar to https://fame.giveth.io and the code could probably just be taken from there. The functionality  is:

- [ ] Video uploading into the video container in description and storing it in IPFS
- [ ] Video recording
- [ ] Screen recording

[2018-10-03 17:28] vojtechsimetka commented on #449
**The request is:**
Allow Campaign Managers to delegate Campaign money to Milestones from a different Campaign.

Pros:
- Adds flexibility, it is very likely that several Campaigns operating in same area would like to participate in funding same/similar goals.

Cons/Dangers:
- Campaign Reviewers (who are there to safeguard givers money) will not be able to cancel the Milestone from a different Camp

[2018-10-03 21:10] vojtechsimetka opened #487 "Users as Delegates"
**Functionality description:**
Allow individual users to become delegates. Anyone can then donate money to these delegates just like to a DAC. The functionality of these delegates is similar to DAC. Any donation to a Delegate would only be a pledge. Upon delegation, the original donor would have 3 days period to reject the pledge unless the delegation goes to DAC. To see the full spec please refer

[2018-10-03 21:23] bowensanders opened #488 "Display "URL to join your community" on a Campaign's page"
When creating a community, one is asked for "URL to join your community."

![bepupzbiryvrwonvpzrjfdaw](https://user-images.githubusercontent.com/27023908/46440298-c5b5c780-c717-11e8-9a80-51bfa2b7a73d.png)

If this field is filled, it should be displayed on a campaign's page, so people can interact with a campaign's online community.

[2018-10-04 10:44] GriffGreen commented on #449
- With the ACL functionality, you can have 1,000 different milestone reviewers... you could make the campaign reviewer a reviewer on the donated milestone as well.... maybe the milestone manager would have to approve it... but it would be a safe guard if needed

This is the case anyway when individual donors fund milestones directly, and really this feature will need to be there is we have individ

[2018-10-04 12:15] mkosowsk commented on #480
@GriffGreen could you please provide some guidance to @millnitzluan when you have a moment? Thanks!

[2018-10-04 14:03] GriffGreen commented on #478
The first task is just to write up the smart contract, and the tests for the smart contract that can receive funds and the only thing it can do is donate to the Giveth DApp to a specific DAC (For now it will be the Giveth DAC).

The factory doesn't need to be written, this is only a proof of concept, but it should also be seen as a learning exercise in writing SAFE smart contracts that start off w

[2018-10-04 14:52] GriffGreen commented on #478
(requested from gitcoin)

[2018-10-04 15:44] vojtechsimetka commented on #480
@GriffGreen I don't think this is an issue, is it?

[2018-10-04 15:52] #33 closed

[2018-10-04 15:53] vojtechsimetka commented on #35
Closing for the lack of description. User profiles are OK for now.

[2018-10-04 15:53] #35 closed

[2018-10-04 16:30] #74 closed

[2018-10-04 16:32] vojtechsimetka commented on #171
Duplicate of #81

[2018-10-04 16:32] #171 closed

[2018-10-04 16:33] #90 closed

[2018-10-04 16:37] vojtechsimetka commented on #107
Duplicate of #476

[2018-10-04 16:37] #107 closed

[2018-10-04 16:38] #111 closed

[2018-10-04 16:40] vojtechsimetka commented on #188
We are not showing balance anymore, it has been moved to Metamask.

[2018-10-04 16:40] #188 closed

[2018-10-04 16:41] #175 closed

[2018-10-04 16:42] vojtechsimetka commented on #113
Delegates and Campaign managers are whitelisted, this is not an issue now.

[2018-10-04 16:42] #113 closed

[2018-10-04 16:43] vojtechsimetka commented on #173
Not an issue anymore as we use metamask for donations and the in DApp wallet for everything else.

[2018-10-04 16:43] #173 closed

[2018-10-04 16:43] #375 closed

[2018-10-04 16:44] vojtechsimetka commented on #254
My Milestones page is now tabbed, sorting works, search and filtering is missing but not an issue for now.

[2018-10-04 16:44] #254 closed

[2018-10-04 16:45] vojtechsimetka commented on #256
Pagination and sorting is done. Filtering not supported but not needed as of now.

[2018-10-04 16:45] #256 closed

[2018-10-04 21:25] vojtechsimetka opened #489 "Milestone and Campaign Reviewer management"
**Description:**
The smart contracts allow for the Milestone and Campaign reviewer to be changed. To change reviewer, one has to call tho action `Change Reviewer` (called by old reviewer) and `Accept New Reviewer` (called by new reviewer). These should be two buttons in the UI.

**Task:**
- [ ] Add `Change Reviewer` button  for Campaigns https://github.com/Giveth/lpp-campaign/blob/master/contracts

[2018-10-04 21:31] vojtechsimetka commented on #270
I've created new issue for the change reviewer buttons #489

[2018-10-04 21:31] #270 closed

[2018-10-04 21:48] #315 closed

[2018-10-04 21:56] #440 closed

[2018-10-04 22:07] vojtechsimetka commented on #277
This could be just a UI feature, but it would not allow users to donate money as the milestone is not yet deployed. We could make the recipient to be the Milestone Manager but don't display it as such. Instead show as `To be determined later`. The Milestone Manager can not pay it to himself and has to change recipient. The problem is, that in current implementation the recipient needs to agree (an

[2018-10-05 17:49] vojtechsimetka commented on #446
Duplicate of #478

[2018-10-05 17:49] #446 closed

[2018-10-05 20:33] vojtechsimetka commented on #333
Thanks for the feedback, closing for now. The system evolved and hopefully this became less of a pain. We will wait for a feedback from our first users before making modifications in milestone contract.

[2018-10-05 20:33] #333 closed

[2018-10-08 17:18] anshumanv commented on #474
Waiting for view. :+1:

[2018-10-09 15:47] GriffGreen opened #490 "Edits were undone for a campaign title"
<img width="1001" alt="screen shot 2018-10-09 at 5 20 30 pm" src="https://user-images.githubusercontent.com/14945613/46681407-74ac4480-cbeb-11e8-893a-0d737233da44.png">
I had changed the Title for "ETHSignals (Working Title) " to "Tennagraph" but then it changed back!?!

:-D So I changed it back but curious whats happening.

Link: https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5

[2018-10-09 19:01] sameer2800 commented on #478
@gitcoinbot , here it is : https://github.com/Giveth/collection-box/pull/1

[2018-10-09 22:17] GriffGreen opened #491 "A large donation stuck in limbo (donated via mycrypto)"
https://etherscan.io/tx/0xab4751921b47b52127d2792e124adec88c8ca079851d7058a12fc72dcc291cf3

successful donation :-D

But the UI is freaking out...

It isnt showing up in https://beta.giveth.io/delegations where the rest of the decentral donations are showing up so I can't delegate it yet..

but it shows up in the campaign ( https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421 ) as donated twi

[2018-10-09 22:26] GriffGreen opened #492 "Donations aren't showing up under "Amount Donated""
i started delegating to a bunch of campaigns but its not showing up...

Under https://beta.giveth.io/donations it shows i donated to this milestone:
<img width="1174" alt="screen shot 2018-10-10 at 12 21 49 am" src="https://user-images.githubusercontent.com/14945613/46702316-e784e200-cc22-11e8-932c-fd80f3af63b2.png">

but when you check out the milestone in the campaign's page or in the milestone'

[2018-10-09 22:39] cryptomental commented on #492
Hi. I was just about to open a similar ticket. I started working today on https://github.com/Giveth/giveth-dapp/issues/67 and spent way too much time on this already, stuck with this issue as well ;)

I would be grateful if somebody set up the most recent develop branch of feathers and dapp and confirmed that. Perhaps @vojtechsimetka ?

I will  also open a separate ticket for broken my-milestones

[2018-10-09 22:46] cryptomental opened #493 "Broken milestones view and milestone view donated amount 0 after donating to milestones"
While trying to set up  https://github.com/Giveth/giveth-dapp/issues/67 I encountered an issue where the milestones view is broken after donating to milestones. There is a hotfix branch with the fix which seems to solve it, but on the milestone view total donated amount is 0.

This issue seems to be related to https://github.com/Giveth/giveth-dapp/issues/492

I am pasting a few screenshots I did o

[2018-10-10 01:43] mkosowsk commented on #480
@GriffGreen no worries, I canceled and got funds back for the ECF :)

@millnitzluan I am going to fund #488 for 25 DAI and you will have priority if you want to work on this issue 👍

[2018-10-10 08:58] anshumanv commented on #423
Hey @vojtechsimetka, As I'm understanding I just need to change the https://github.com/Giveth/giveth-dapp/blob/152d85d93c9dbaf850cfd2f4207a47e78d99f679/src/components/DonateButton.jsx#L37 to something from the src/config right? Also I don't seem to find test eth in my wallet to make transactions, can you help? :

[2018-10-10 11:21] krrisis opened #494 "Delete all completed unfunded Milestones"
Is it possible to manually delete the unfunded completed Milestones from the frontend of the DApp? we put a lot of time in getting transparency here but now there are a number of doubles (in my Caampaign but others as well) which I can't edit nor can I ask reviewers to cancel (as they're approved, reviewed & completed)
If you need of the list let me know, I'll gladly add mine but I think @GriffGre

[2018-10-10 13:34] vojtechsimetka commented on #423
No that is a mainnet gas. For the rinkeby you need to go to every transaction and increase the gas there as far as I understand. If it was this easy I would do it :). Test ETH is not displayed in the wallet anymore, but you can see it on etherscan.

[2018-10-10 13:39] millnitzluan commented on #480
@mkosowsk I'll work on this

[2018-10-10 13:59] vojtechsimetka commented on #493
There is a hotfix I am waiting for @YalorMewn to confirm it works `hotfix/mymilestonesUndefined`. I'll just merge it then. @cryptomental please pull develop and confirm it is fixed.

[2018-10-10 14:13] vojtechsimetka commented on #491
I think it is just unlucky. But using MyCrypto instead of metamask might be relevant as we actually store some donation data before it hits the chain when donating through metamask (and we clearly can't do that with mycrypto/mew).

[2018-10-10 14:21] vojtechsimetka commented on #480
@GriffGreen but this is not issue at all right? I mean rejecting completion of a milestone should put it back to in progress. It just means that the reviewer is not happy with the deliverables but does not want to cancel the milestone (which they can). Instead they want to return the milestone to in progress state so that the milestone manager can work on it more and provide better proof. If you a

[2018-10-10 14:22] vojtechsimetka commented on #490
It's probably just local cache issue. Did this ever happen for anyone else?

[2018-10-10 14:22] perissology commented on #491
Are you sure this was donated via mycrypto?

It looks like the donation was originally made via metamask & the ui & then possibly canceled (via re-using a nonce) and donated again.

The reason I'm saying this is the "Failed" donations has only a `homeTx` (mainnet) hash and no rinkeby txHash. This should only be the case when donating via the ui. The 'homeTx` hash doesn't exist anymore, making me t

[2018-10-10 14:30] perissology commented on #478
fyi this needs some thought of how to handle when the bridge is replaced. You'll need to either freeze the contract, or be able to update the pointer to the bridge.

But the campaign/dac owner should not be able to update the bridge address as then they could take the funds w/o ever going through the dapp.

It probably makes sense to use the upgreadability of aragonOS (or maybe there is a more lig

[2018-10-10 14:35] YalorMewn commented on #493
Hot Fix confirmed 👍

[2018-10-10 14:39] perissology commented on #423
I don't think this is an issue. For rinkeby, we use the node's gas oracle, which should always return a reasonable gas price.

If you really want to change it, you would need to update `GasPriceProvider.js`, but I think using the node oracle is a better solution

[2018-10-10 14:50] vojtechsimetka commented on #492
There is just some undefined value passed to the Donation model which throws error that is uncaught. Just check the model which of the attributes is incorrect and loosen it if needed.

For the develop environment please try develop.giveth.io (thanks @perissology for fixing it!)

[2018-10-10 17:12] mkosowsk commented on #474
Hi @vojtechsimetka have you had a chance to review @anshumanv's latest work? Thanks!

[2018-10-10 18:39] GriffGreen commented on #491
@perissology yes exactly, I tried to make the donation in Metamask... but then there was a nonce issue so i replaced the tx with MyCrypto

background:

 I still have the nonce issue in fact (maybe i should file a bug for MM ;-) ) but its ok cause its a throw away account used only for moving the DECENTRAL multisig funds to the dapp

The bug in MM happened because i was donating 3 and 4 at a time i

[2018-10-10 18:41] vojtechsimetka commented on #491
To fix the nonce just change the network to localhost and back. That should refresh your nonces :).

[2018-10-10 19:56] vojtechsimetka commented on #474
Hi @mkosowsk yes I did give him a feedback earlier. Thank you!

[2018-10-10 20:31] GriffGreen commented on #478
@perissology I agree very much. The Aragon App will be the way forward in the long run. I am just looking to whip out a fast POC that i can play with so we can discover the unknown needs :D

[2018-10-10 23:11] JeremiGendron opened #496 "Can't add a milestone to campaign"
Asks at the bottom, which is broken:
Maximum amount in Fiat && Maximum amount in Ether

However, if one of those values isnt rounded, it doesn't allow the creation and also doesn't show any visible error.

Would like to fix, need to get familiar with codebase first. Initially came for #475

[2018-10-10 23:13] cryptomental commented on #493
Can be closed now. Thank you!

[2018-10-10 23:14] JeremiGendron commented on #496
Here's a screenshot: [imgur](https://i.imgur.com/aCUZUUQ)

[2018-10-10 23:14] #493 closed

[2018-10-10 23:30] cryptomental commented on #67
I just cannot believe it ;)

https://github.com/Giveth/giveth-dapp/pull/497

took me lots of time for the setup though.

Fixes also #492 .

Screenshots:

![screenshot from 2018-10-11 01 05 09](https://user-images.githubusercontent.com/20819151/46771653-d3a9b080-ccf4-11e8-8264-121f0838f367.png)
![screenshot from 2018-10-11 01 05 55](https://user-images.githubusercontent.com/20819151/46771654-d3a9b0

[2018-10-10 23:42] cryptomental commented on #492
The reason for '0' amount was likely due to donations for the milestones were actually targeted to the campaign. With the simple fix donate milestone button is now unlocked so that donations to milestones within campaigns work as expected.

[2018-10-11 10:45] vojtechsimetka commented on #494
We wanted those for transparency purposes originally. But sure we can filter these out all that needs to be done is modify each milestone query to have:

`$not: {currentBalance: '0', status: Milestone.COMPLETED }`

Feel free to make a PR with that, I can do it myself when I resolve other issues....

[2018-10-11 11:17] lorelei1 opened #498 "No one knows they're getting paid unless they are stalking the DApp!"
I want (me and all users) to be notified when something happens for their address in the DApp.
- When a milestone is created for you to receive.
- When that milestone is reviewed or marked complete.
- And AT THE VERY LEAST, when the eth is actually sent!

But obviously the address I want to hold money in is not the address i want to put my private keys into the DApp for not-so-safe keeping. So thu

[2018-10-11 12:37] vojtechsimetka commented on #496
I guess chrome is again enforcing numbers to follow step attribute. I'll make a fix https://www.isotoma.com/blog/2012/03/02/html5-input-typenumber-and-decimalsfloats-in-chrome/

[2018-10-11 12:45] #496 closed

[2018-10-11 13:56] perissology commented on #491
so the current issue (besides the "Failed" donation being shown & a bit confusing) is:

The donation is visible via the 'my-donations' page for the 'decentral multisig' user but the donation does not appear in the 'my-delegations' page for the "griff green" user (are you sure you are using the correct account for the delegation?)

[2018-10-11 15:04] GriffGreen commented on #476
@vojtechsimetka WOW 😻 that is a gorgeous plan!
I love the "recently visited" section especially... i think that will help A LOT.

But that will take a big effort... for the time being while we are showing people the DApp, can we have a simple redirect making the home page campaigns, and DAC's can have it's own page like campaigns do now?

[2018-10-11 16:14] mkosowsk commented on #67
@vojtechsimetka does this PR from @cryptomental fulfill the requirements for the bounty? Thanks!

[2018-10-11 18:13] vojtechsimetka commented on #67
@mkosowsk oh sorry I did not notice he applied with that PR to this bounty. No it does not solve the issue. It only enables donations to milestone, but does not display them in the Campaign. What we are asking for is displaying the donation in red under the campaign donations.

<img width="1920" alt="screen shot 2018-10-11 at 20 10 07" src="https://user-images.githubusercontent.com/7974813/4682471

[2018-10-11 18:32] cryptomental commented on #67
Ok, thank you a lot for clarifying this. I was a bit confused. I will implement it the way it is desired.

[2018-10-11 19:28] vojtechsimetka commented on #423
I'm closing this then. Happy to reimburse @anshumanv for his work so far as a punishment for my lack of knowledge :) . Please contact me through PM on Riot or Slack.

[2018-10-11 19:28] #423 closed

[2018-10-11 20:16] vojtechsimetka commented on #498
I will modify the description and title above. Anyways here is the task:

**Task:**
- [ ] Add to the User profile ability to store recipient addresses and optionally a list of emails who should be notified on each action. If no email is provided, the main profile email should be used. So it should take:
   - Name of the recipient account
   - Address
   - Optional list of emails
- [ ] Create email

[2018-10-11 20:49] vojtechsimetka commented on #475
To whoever starts working on this: please implement option 3. All the way until Paid it should be able to receive money. Unless the smart contract does not allow it @perissology ? I don't think there is such restriction. https://github.com/Giveth/lpp-milestone/blob/master/contracts/LPPMilestone.sol

[2018-10-11 21:01] vojtechsimetka commented on #476
Yeah I will fix this for the next release before devcon. It is part of simplifying some components.

[2018-10-11 21:18] vojtechsimetka commented on #494
This should be tackled after #475

[2018-10-11 21:19] vojtechsimetka commented on #470
This should work similar to delegate button.

[2018-10-11 21:51] GriffGreen commented on #490
yeah it happened for other people is well, as in other people saw the tennagraph name change and then other people saw the name change back

[2018-10-11 21:54] vojtechsimetka commented on #490
So this should not be an issue then?

[2018-10-11 22:05] GriffGreen commented on #490
Its definitely an issue, i changed the name and then it changed back... not
sure how, but i wonder if there are other changes that got rolled back when
the events were reprocessed that we don't know about.... cause they arent
as obvious as the title of a campaign... mostly thinking campaign and dac
text edits.

On Thu, Oct 11, 2018 at 11:54 PM Vojtech Simetka <notifications@github.com>
wrote:

--

[2018-10-11 23:09] GriffGreen commented on #478
yep its done now @mkosowsk :-D

[2018-10-12 14:18] anshumanv commented on #470
Ah missed this :sweat_smile:

On it along with #474

[2018-10-12 20:25] #488 closed, assigned to nobody

[2018-10-12 21:17] millnitzluan commented on #475
@vojtechsimetka The donate button will appear even if the milestone has been fully funded?

[2018-10-12 21:22] vojtechsimetka commented on #475
no, when the fullyFunded === true it should nod be displayed. Please use that flag on the milestone response. E.g. here https://github.com/Giveth/giveth-dapp/blob/ff091bf43c86630fa2e74cebe6ec04d8c7cfb9ba/src/components/views/ViewMilestone.jsx#L85

[2018-10-13 11:06] cryptomental commented on #67
I implemented it as requested and opened a PR https://github.com/Giveth/giveth-dapp/pull/502:

The implementation is based on the analysis of MongoDB donations entries for campaign and milestone that I entered locally:
[code]

I understood that no changes in the db schema are needed and ownerTypeId can still be used, just donations subscription in CampaignService needs to be extended. Therefore th

[2018-10-13 12:09] GriffGreen opened #503 "Donation not showing up to be delegated"
maybe related to #492

[2018-10-13 12:10] #503 closed

[2018-10-13 12:15] vojtechsimetka commented on #67
Hi @cryptomental . Thank you for the PR and analysis. I agree that this works, but it is not 100% because if there is a lot of milestones, not all of them will be loaded. I know that right now this may not be an issue, because such milestones will be old and unlikely to be donated to recently and the current donation view would not suffer from it. The role of the database here is different - it is

[2018-10-13 14:10] lorelei1 opened #504 "Not letting me commit donation to milestones"
Had a couple successes and then this message started coming up repeatedly when trying to commit a donation
<img width="1218" alt="screen shot 2018-10-13 at 4 06 25 pm" src="https://user-images.githubusercontent.com/38163206/46906352-6ec3a580-cf02-11e8-9376-8d70f78bce24.png">
wallet's definitely unlocked ;)

[2018-10-13 15:01] cryptomental commented on #67
Ok. I see. I will rework this then as initially suggested.

[2018-10-13 18:35] mkosowsk commented on #488
@vojtechsimetka is this bounty good to be paid out to @millnitzluan? Thanks! 👍

[2018-10-13 18:35] GriffGreen commented on #491
Yes @perissology I am sure, as it was donated to the DECENTRAL campaign... and i can delegate the other donations i made to that campaign

These pics are from today:

Here you can see that the donation happened... tho there is some failed thing still going on...
<img width="980" alt="screen shot 2018-10-13 at 2 04 24 am" src="https://user-images.githubusercontent.com/14945613/46905286-a413c780-cef

[2018-10-13 18:36] GriffGreen commented on #491
I'm playing these games to test the dapp, mostly as a user story, and slightly to bring transparency to the burn camp.... thats why i have all these 3 and 4 ETH donations...

[2018-10-13 18:41] GriffGreen commented on #504
yeah and we pushed commit a couple times and it looked like it worked... but then we refreshed the page and it didnt work!

[2018-10-13 20:33] vojtechsimetka commented on #488
Hi @mkosowsk yes please do! Thanks to both of you

[2018-10-14 09:48] FrederikBolding opened #505 "Certificate issues with mew.giveth.io"
The DApp is pinging mew.giveth.io constantly generating many errors as the SSL certificate is expired.

Furthermore, I'm not sure if it's a good idea to keep requesting in case of errors anyway?

I wasn't sure if anyone was aware of this, as I couldn't find an existing issue for it.

[2018-10-14 12:50] cryptomental commented on #67
Hi @vojtechsimetka  I opened two new pull requests:

https://github.com/Giveth/giveth-dapp/pull/506
https://github.com/Giveth/feathers-giveth/pull/100

to be able to use campaignId as previously mentioned. Donation service is now able to store campaignId when needed and feathers-giveth had to have Donations model extended with an optional field pointing to campaignId. I would be grateful if you ha

[2018-10-14 18:11] cryptomental commented on #489
Hi! My giveth milestone donations bounty takes me more time than I had expected and I would like to be fair and not to block this bounty to others. I will therefore press 'stop' button on GitCoin to unblock it.

[2018-10-14 20:30] #492 closed

[2018-10-14 20:36] vojtechsimetka commented on #67
Thank you @cryptomental I will review this in the morning. It looks fine, I would like for the campaignId to be deduced on feathers rather than being pushed from the frontend, but that is small thing and I can quickly modify.

[2018-10-15 06:52] cryptomental commented on #67
Ok great! I rebased the pull request today morning against latest develop branch. Please modify as you expect.

[2018-10-15 08:59] iamonuwa commented on #489
@vojtechsimetka I would love to pick up this task. I've started work already on this.

[2018-10-15 10:10] cryptomental commented on #489
Hi @iamonuwa it is great that you picked it up immediately. All the best with the bounty!

[2018-10-15 11:13] #67 closed

[2018-10-15 11:15] vojtechsimetka commented on #67
Thank you @cryptomental !

@mkosowsk this bounty can be paid out

[2018-10-15 11:18] vojtechsimetka commented on #489
@iamonuwa please feel free to work on this. This milestone was funded by ECF so @mkosowsk needs to approve you. Thanks again for the funding!

[2018-10-15 11:46] cryptomental commented on #67
Great. Thank you!

[2018-10-15 13:16] mkosowsk commented on #475
Hi @millnitzluan, is there an update on this PR? Thanks! 👍

[2018-10-15 14:07] millnitzluan commented on #475
@mkosowsk, I'm working on that

[2018-10-15 19:55] krrisis opened #509 "When donating to a partly funded Milestone the amount is no longer automatically calculated"
Example: the below Milestone [here](https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5bbb4d4a089683199bce5592) is already funded for 0.5 of the amount but when delegating funds it still shows 0.7

![image](https://user-images.githubusercontent.com/6533925/46974623-d9244380-d0c4-11e8-8cf6-7eb45b116474.png)

FYI I think vojtech is on this but posting here on request of @FrederikB

[2018-10-15 23:33] GriffGreen commented on #504
![screen shot 2018-10-13 at 9 15 36 pm](https://user-images.githubusercontent.com/14945613/46909088-44d3a880-cf2d-11e8-84e6-e35c301c8063.png)
Thats what dev tools looked like... its still not working

[2018-10-16 22:07] GriffGreen commented on #492
this small fix fixes the flashing green dot under "Donations" for every single milestone @vojtechsimetka ? If so... can i beg for a hot fix... I am trying to do some accounting with DAppNode and i need to confirm that I didnt donate directly to any milestones.

[2018-10-16 22:08] GriffGreen commented on #492
Oh never mind... its a different issue probably... i'm looking for this one:
<img width="852" alt="screen shot 2018-10-17 at 12 07 49 am" src="https://user-images.githubusercontent.com/14945613/47050483-d1d26800-d1a0-11e8-9e49-674ab93e5715.png">

[2018-10-16 22:12] GriffGreen commented on #472
Do you have an estimate on when this will be fixed in the deployed version? I am trying to do some accounting with DAppNode and i need to confirm that I didn't donate directly to any milestones. I think it can wait, no need to rush it in, but if you have a time line that would help me out.

[2018-10-16 22:13] GriffGreen commented on #472
Reopening it cause i'm an attention whore

[2018-10-17 00:16] iamonuwa commented on #489
@vojtechsimetka am getting
`{ code: -32603, message: "gas required exceeds allowance or always failing transaction" }` when am sending a request to changeReviewer() (https://github.com/Giveth/lpp-campaign/blob/master/contracts/LPPCampaign.sol#L103)

[2018-10-17 07:13] cryptomental commented on #492
Hi, exactly this green dot on milestone view will be fixed with
https://github.com/Giveth/giveth-dapp/commit/68fa1d2bc3d6fd98a009311afd78f80b6ce8f770
commit.
I had to implement the same fix when I was working on #67

On Wed, Oct 17, 2018 at 12:08 AM Griff Green <notifications@github.com>
wrote:

[2018-10-17 15:41] iamonuwa commented on #489
@vojtechsimetka are you there?

[2018-10-17 15:42] vojtechsimetka commented on #489
Hi, what are the params that you are passing to the contract? Also did you try to increase the gas limit for that tx?

[2018-10-17 19:57] iamonuwa commented on #489
@vojtechsimetka am passing the newReviewer address as requested by the LPPCampaign. I did not increase the gas limit

[2018-10-17 22:43] vojtechsimetka commented on #472
Closing again as I pushed it to beta :) https://beta.giveth.io/campaigns/5b44b198647f33526e67c262

[2018-10-17 22:43] #472 closed

[2018-10-18 12:41] iamonuwa commented on #489
@vojtechsimetka are you there?

[2018-10-18 12:59] vojtechsimetka commented on #489
@iamonuwa try adding extra gas like here. https://github.com/Giveth/giveth-dapp/blob/237a8d70c7d54e8f796a8972c189dd02c64a3a9a/src/services/DonationService.js#L129

[2018-10-18 14:03] iamonuwa commented on #489
Cool. Will do that now.

[2018-10-20 13:41] GriffGreen commented on #467
This is still an issue... cause old donations are still showing up as doubled... I am confident the smart contract accounting is right... but i dont know if my accounting is right... Also... I wonder how this is even being handled!
<img width="1292" alt="screen shot 2018-10-20 at 3 24 26 pm" src="https://user-images.githubusercontent.com/14945613/47256249-f8ccba80-d47c-11e8-9d7b-32977028d8af.png">

[2018-10-20 16:37] GriffGreen commented on #467
Follow up... my theory was correct, the top rafa donation didnt work... so now i tried to make the donation with the bottom one :-D I bet it will work! Screen shot of the balances post donations :-D
<img width="1326" alt="screen shot 2018-10-20 at 6 31 36 pm" src="https://user-images.githubusercontent.com/14945613/47258121-eeb7b580-d496-11e8-8e18-78e4d31cbcbc.png">
https://rinkeby.etherscan.io/tx/

[2018-10-20 16:39] perissology commented on #467
I'm been looking into this right now. They actually both should work b/c they point to the same `pledgeId` in lp. However they will each start failing once the pledge has been used up in lp.

I think I know why they were doubled up, but waiting to a response from @vojtechsimetka  on riot

[2018-10-20 16:51] perissology commented on #467
I see why it appears it didn't work.

https://rinkeby.etherscan.io/tx/0x2749d92b1d55cf6ecab9ca65c3b22cef68301e641a4804d347e7c21f959ce429 was donated to https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5bb26b0bae4f6e3373e4fae0

The 2nd one was donated to a milestone that was already funded. Look at the [event logs](https://rinkeby.etherscan.io/tx/0x8764eeaa754019db8a7ec7dd684989

[2018-10-20 17:16] GriffGreen commented on #467
so then this is an error: https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5b98826990b3c1478f06b462
it says it needs funding... should i assume it actually is funded?

[2018-10-20 19:29] perissology commented on #467
The original issue should be addressed in https://github.com/Giveth/feathers-giveth/pull/101, but we'll need to re-sync feathers.

Looking into the latest comment

[2018-10-20 19:42] perissology commented on #467
leaving this here for later investigation:

[This](https://feathers.beta.giveth.io/donations?ownerId=203&txHash=0x391c72be8000d7384c046c4d6f5cd4fa87b638e691fd828ad161410d4803bbd3) donations show `amountRemaining = 0` in feathers

but the tx was clearly successful and not returned https://rinkeby.etherscan.io/tx/0x391c72be8000d7384c046c4d6f5cd4fa87b638e691fd828ad161410d4803bbd3#eventlog

Why does f

[2018-10-21 00:09] bookmoons commented on #297
I've been trying to reproduce this without success. Is it possible `web3` has updated?

The described mechanism leads me to believe this test script should cause the warning. It runs 100 contract creations. But it gives me no warning.

[code]

[2018-10-21 00:10] bookmoons commented on #297
I've been trying to reproduce this without success. Is it possible web3 has updated?

The described mechanism leads me to believe this test script should cause the warning. It runs 100 contract creations. But it gives me no warning.

[code]

[2018-10-21 00:11] bookmoons commented on #297
I'm also not seeing a warning in log output, but there a lot of messages and I'm not really sure where it's supposed to show up.

[2018-10-21 11:32] GriffGreen opened #510 "Make Manage pages paginated"
**Task:**
Make the My Donations, My Delegations, My Campaigns and My Communities paginated the same way as the My Milestone page is.

**Work Estimate:**
2-4h

**Original description:**
https://etherscan.io/tx/0x66bc674ddb2d2c142462c0eb2ad4ed1f5d99cd4fec87c23d7dba72b8bc53fb86

Not in my delegations... likely related to: https://github.com/Giveth/giveth-dapp/issues/467

[2018-10-22 14:42] perissology commented on #467
fixed

[2018-10-22 14:42] #467 closed

[2018-10-23 16:57] #474 closed

[2018-10-23 16:59] vojtechsimetka commented on #474
@mkosowsk this bounty can now be paid out. Thank you @mkosowsk and ECF!

Thanks @anshumanv !

[2018-10-23 18:03] anshumanv commented on #470
@vojtechsimetka can this be closed too or do we need some more changes here? :smile:

[2018-10-23 18:17] #470 closed

[2018-10-23 20:04] anshumanv commented on #462
Investigating on this. :+1:

[2018-10-24 11:53] vojtechsimetka commented on #462
The problem is that sometimes the delegations is empty even though they should not be. So there must be a problem with the query for the delegate button
<img width="1122" alt="screen shot 2018-10-24 at 13 48 14" src="https://user-images.githubusercontent.com/7974813/47428533-d8aa3d80-d793-11e8-8419-22a7bad829aa.png">
<img width="929" alt="screen shot 2018-10-24 at 13 48 18" src="https://user-image

[2018-10-24 11:54] anshumanv commented on #462
Aight, thanks for the test cases, looking this up. :+1:

[2018-10-24 13:18] vojtechsimetka commented on #510
Make the My Donations, My Delegations, My Campaigns and My Communities paginated the same way as the My Milestone page is.

[2018-10-24 13:52] vojtechsimetka commented on #297
Thank you @bookmoons , it does seem that the error is no longer present. Let me thoroughly verify again and I'll come back.

[2018-10-25 08:42] iamonuwa commented on #489
@gitcoinbot work in progress

@vojtechsimetka how do I get the new reviewer's details. Am asking this because the second feature is for the new reviewer to accept the review request. Any field on the data that indicates you have a review request?

[2018-10-25 19:20] anshumanv commented on #510
Will do this after #462

[2018-10-27 19:00] bookmoons commented on #98
It seems like this has been sitting open a while. Don't want to step on anyone's toes. Is it still available for submission of a new solution? @vojtechsimetka

[2018-10-27 22:42] vojtechsimetka commented on #98
Hey @bookmoons no the solution is good, we just made a significant changes that made it very difficult to merge. Until now there were other priorities but I am trying to find time to go through it.

[2018-10-28 15:36] GriffGreen commented on #490
<img width="419" alt="screen shot 2018-10-28 at 4 31 40 pm" src="https://user-images.githubusercontent.com/14945613/47618100-52616480-dacf-11e8-9bff-e0274706a818.png">
<img width="794" alt="screen shot 2018-10-28 at 4 31 53 pm" src="https://user-images.githubusercontent.com/14945613/47618101-52616480-dacf-11e8-83ab-7c5bcb8b7852.png">

Tennagraph's name changed back again.... I have to fix it incas

[2018-10-28 17:15] krrisis opened #513 "Mail notification wrong link"
Review link under button links to https://dappmailer.giveth.io/my-milestones instead of beta.giveth.io

this button:

![image](https://user-images.githubusercontent.com/6533925/47619302-77f56a80-dadd-11e8-9cae-72bf1a78c0bf.png)

[2018-10-28 20:40] vojtechsimetka commented on #490
It's fixed but not merged to beta.

[2018-10-31 08:01] GriffGreen opened #514 "When you donate too much the UI doesn't reflect the smart contracts"
<img width="684" alt="screen shot 2018-10-31 at 8 57 50 am" src="https://user-images.githubusercontent.com/14945613/47773766-6aadcb00-dceb-11e8-8273-9af9ca603a1f.png">
This is not the truth... I think this is related to other issues in the past

https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5bbcf4e2089683199bce55cb

[2018-11-03 18:43] anshumanv commented on #462
Working on this! WIll send a WIP by tomorrow.

[2018-11-03 23:31] GriffGreen opened #515 "Donation failed?"
<img width="1151" alt="screen shot 2018-11-04 at 12 31 01 am" src="https://user-images.githubusercontent.com/14945613/47958301-06c82280-dfc9-11e8-9c9b-8d895a2106f0.png">

Right after signing in I sent a donation from metamask to
https://beta.giveth.io/campaigns/5bd7ba30db72b92a41002fd3
But it says it failed... not sure why... i used 150% of the gas price required and the t was successful: https://

[2018-11-03 23:59] GriffGreen commented on #515
<img width="257" alt="screen shot 2018-11-04 at 12 59 02 am" src="https://user-images.githubusercontent.com/14945613/47958509-db473700-dfcc-11e8-8638-1aa86f1c3600.png">
the plot thickens

[2018-11-05 12:34] ljg583 opened #516 "Can't give people easy way to donate to a milestone"
Is there any way to have a milestone generate an address to make donations easier and more accessible??

I created a milestone for the Berlin AirBnB and shared the link to the milestone to the people that stayed so they can send donations.  At different times that link wouldn't load for people or they didn't have the right wallet extension.  This process would be very seamless if I could just send

[2018-11-05 13:42] krrisis commented on #509
Still not working unfortunately @vojtechsimetka - no stress, but @FrederikBolding wants that Milestone completed, so will just fill in the approximate amount now so that this Milestone can be completed, hope you can still reproduce afterwards.

![image](https://user-images.githubusercontent.com/6533925/48001470-f4ed9900-e108-11e8-83b2-41ea8a4392dc.png)

[2018-11-05 13:45] FrederikBolding commented on #509
As discussed with @vojtechsimetka in DMs - It seems that the issue is caused because the "data" is bugged, would require reprocessing to fix. It doesn't seem to be happening when running locally and creating new milestones.

[2018-11-05 13:55] krrisis commented on #475
hey @millnitzluan finding a solution for this one? Or should we open this up again? Thanks!!

[2018-11-05 19:32] GriffGreen opened #517 "Smart Contract Upgrades"
There is an awesome milestone talking about potential upgrades: https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5bde03f68c322044ef55f10d

I would like to add to it a few things :-D

SCOPE CREEP!

1. Updating the bridge contract: To address #516 and #478 we need to make sure there is an easy way for people to donate to a milestone or campaign by sending funds directly to an Eth

[2018-11-05 19:53] perissology commented on #517
This is already #11 in the milestone. However I still need to verify what would happen in the scenario that the recipient campaign was canceled, especially if it wasn't the parent campaign. I need to investigate further to assess the feasibility of this.

I think simplifying the contract to a single optional reviewer (opposed to the current 2 reviewer system) makes sense. The ui would default to t

[2018-11-06 11:17] GriffGreen commented on #462
no worries... we were all at devcon too so it wouldnt have made it on our todo list anyway.... did you end up figuring out a fix @anshumanv :-D?

[2018-11-06 16:46] millnitzluan commented on #475
@krrisis I've stopped the work on gitcoin and said it on the PR, I couldn't find the solution.

[2018-11-08 00:29] perissology commented on #494
This would remove all milestones that were created before we were actually using donating to them.

We were creating milestones for transparency reasons at the beginning of the year, but using the multisend to pay them out

[2018-11-08 04:14] ryan-shea commented on #462
Hey @anshumanv, Ryan from Gitcoin here. How's the progress on this? 😄

[2018-11-08 04:43] anshumanv commented on #462
Hey @GriffGreen @ryan-shea thanks for the heads up!

Sorry about delaying this, reproducing this is quite difficult and it's appearing randomly, nevertheless this is on priority and with some more research a WIP should be up soon. :100:

[2018-11-08 13:22] krrisis commented on #494
hmm and is it possible then to only remove the ones as of a certain date?

[2018-11-08 22:25] GriffGreen opened #519 "The Auto estimator for funding milestones isnt auto calculating the max available"
<img width="999" alt="screen shot 2018-11-08 at 11 13 10 pm" src="https://user-images.githubusercontent.com/14945613/48230709-410c3800-e3ac-11e8-9217-ff691027cca6.png">

Trying to get rid of some of these small BM donations to get to the tennegraph and aragon dac donations i need to delegate, but i'm scared to over donate to some of the milestones... not sure why the slider is not auto filling the

[2018-11-08 22:29] GriffGreen opened #520 "text overflow"
<img width="1276" alt="screen shot 2018-11-08 at 11 28 45 pm" src="https://user-images.githubusercontent.com/14945613/48231365-1de28800-e3ae-11e8-8a4c-0fb9b1518c13.png">

[2018-11-09 09:07] GriffGreen commented on #519
its a problem in release too
<img width="992" alt="screen shot 2018-11-09 at 10 06 19 am" src="https://user-images.githubusercontent.com/14945613/48253271-2c10c280-e407-11e8-8566-d032d43a689f.png">
<img width="562" alt="screen shot 2018-11-09 at 10 05 57 am" src="https://user-images.githubusercontent.com/14945613/48253272-2c10c280-e407-11e8-8ed3-c7f356a3552e.png">

[2018-11-09 09:22] GriffGreen opened #521 "No easy way to report an issue on github from the beta"
It would be really nice if there was a link on every page that would send people to: https://github.com/Giveth/giveth-dapp/issues/new

This is done on the https://fame.giveth.io/ and on https://giveth.github.io/xchange-rates and it makes it really easy to do feed back (gitcoin bounty?)

[2018-11-09 13:17] GriffGreen opened #522 "Need a way to save unfinished proposed milestones"
... and campaigns... and dacs!

Right!

[2018-11-09 13:28] GriffGreen opened #523 "Share option added for milestones and campaigns"
Add a prefilled tweeeeeter link, FB link, telegram link, Insta link.... and whatever other fun social media platform... so people can easily share the web page they are using to raise funds.

[2018-11-09 17:53] GriffGreen opened #524 "Too many donations going to "Anonymous User""
There is no easy way to sign up for an account without exposing key... so lets just allow any identity to claim that an address is some one!

Would love for people that are paying out to a secure address to be able to claim that address as theirs. Even if its fucking just saying it's their address! It doesn't have to be trustless! Just let someone registered already say that an address is some one

[2018-11-09 23:09] GriffGreen commented on #510
@anshumanv @vojtechsimetka i am starting to have troubles managing my campaigns... i can't  access any funds donated to me after 10/12 :-( trying to clear as many delegations as possible but not making much progress.. I can't pay out Aragon DAC people because this and the delegate button doesn't work :(

[2018-11-11 00:12] GriffGreen opened #526 "Create a matrix room for every new Campaign and DAC"
I would love to have the riot chats created for every Campaign and DAC so by default a riot room is created in the name of the campaign and displayed prominently on the page (as well as sent to all the participants)... this can be bridged to telegram, gitter, mattermost, slack, and many other social media platforms!

So by default a riot room is created in the name of the campaign and the link to

[2018-11-11 00:30] GriffGreen commented on #526
Future steps will include
1. Integrating the riot room link into notifications
2. Making more notifications for donors and writing text encouraging them to join the room and giving them the riot handle of the campaign/dac manager/delegate.
3. Offering bridging services (Telegram, slack, rocketchat, gitter, mattermost and others can all be bridged together via riot, facebook,  status, whatsapp and

[2018-11-13 11:21] GriffGreen commented on #510
I was able to get rid of some donations and get to the Aragon DAC donation... but the Tennagraph donation is still unaccessible :-( Is this up for a bounty yet? @vojtechsimetka

[2018-11-13 11:29] anshumanv commented on #510
Hey @GriffGreen almost finished up with fixing the delegate button, will tackle this after delegate button PR is finalized, sorry for the delay.

[2018-11-13 11:33] GriffGreen commented on #510
no worries! the delegate button will also fix my issue :-D

[2018-11-13 11:47] vojtechsimetka commented on #510
Yeah I asked @anshumanv to prioritize this issue.

[2018-11-13 19:49] Danibelle commented on #447
In looking toward having Reward DAO recipients create their own milestones, that will solve the email address issue and keep this in the DApp, right?

Are you interested in taking this on @bowensanders ?  I'm interested in helping prioritize and clean up open issues that touch Reward DAO so we can document the process from points to paid :)

[2018-11-13 19:53] bowensanders commented on #447
I've currently got my fingers in the code for the bridge monitor, and I need to look into the feathers section of it to find out how it works to do this, so the short answer is yes, I am interested in taking this on as I've already got a bunch of things in there i'm working on - but I'm not sure how quickly it will be done, but my guess is within a couple weeks. Once I have a slightly better idea

[2018-11-13 21:23] #462 closed

[2018-11-13 21:39] vojtechsimetka commented on #462
Thanks @anshumanv , this solved it for me and can be paid out. Maybe @GriffGreen you could check it as well? beta.giveth.io

[2018-11-13 23:17] stellarmagnet opened #527 "Campaign name missing in Milestone acceptance notification email"
See image below, it says "undefined" where Campaign name is expected

![image](https://user-images.githubusercontent.com/2584493/48449390-8fea1100-e7a2-11e8-86ec-527272036871.png)

[2018-11-14 02:40] ceresstation commented on #510
Funding this now for @anshumanv :)

[2018-11-14 12:39] GriffGreen commented on #510
Scott you are a god damn hero

[2018-11-15 16:49] #476 closed

[2018-11-15 20:36] geleeroyale commented on #182
wow - hurray for github notifications - sorry - I just did not see this. @RnbWd - please follow these steps:

1 - register on openbounty.status.im to link your github account to a metamask account
2 - sumbit an empty PR with the following comment: fixes #[your issue number] (without the square brackets)
3 - Ping @geleeroyale on Riot, to accept the PR

I will then close this issue again

[2018-11-16 09:31] GriffGreen opened #529 "Authorized payment missing from bridge?"
Hey, do you guys know the status of this milestone? It says completed, but it's not in the list on the bridge. https://beta.giveth.io/campaigns/5b6cb8da11875f2dc87ff150/milestones/5bd6aacf90748f ?

[2018-11-16 15:24] perissology opened #530 "Token Bug fixes before release"
- [x] milestone amount donated shows 0 even after a token donation.
- [x] My donations has no indication of the donation type, just the amount
- [x] my delegations always says eth
- [x] my communities doesn't show the counters
- [x] I think feathers donation counters in general is not working

[2018-11-16 16:07] perissology commented on #529
I think that the link got cut off? I can't access the milestone

[2018-11-16 17:11] jvluso commented on #529
https://beta.giveth.io/campaigns/5b6cb8da11875f2dc87ff150/milestones/5bd6aacf90748f6a14206928

[2018-11-16 18:40] perissology commented on #529
doesn't look like it's been disbursed, only marked complete.

`0x901CE5e910061c5c56F6E4F85B027eb30bCa9b40` or `0x1424F8b752788841eFAE5965f76Ed168DDa6c822` needs to disburse the payment from the 'My Milestones' page

[2018-11-18 22:11] GriffGreen opened #531 "Donor confused about failed donation...."

[2018-11-19 01:50] GriffGreen opened #532 "I don't get an NFT as a gift for donating to a campaign or milestone!"
i tired out a few donation platforms and they all gave out NFTs... apparently this is what we have to do to be cool ;-D and it is pretty awesome to give people a badge... i especially liked https://cryptocare.tech/adopt/ where you get a different one depending on how much you donate and to what type of cause it is :-D

I suggest we create various types of unicorns... ideally 100's of different uni

[2018-11-19 14:05] satyavh commented on #530
If this is on develop, they are all resolved. The db wasn't migrated yet and Ropsten ETH wasn't correctly whitelisted.

What is a problem is donations 'multiplying'

[2018-11-19 15:07] vojtechsimetka commented on #530
@satyavh it still does not work well for me locally.

**Reproduce:**
1. Clear `data` and local mongo DB, redeploy everything with `node scripts/deploy.js`
2. Sign in with first testrpc key
3. Create DAC
4. Donate to it 1 ETH and 20 ANT tokens

later on

5. Create Campaign
6. Try Delegating to the Campaign

**Problems:**
- [ ] There is this error in feathers once there is enough confirmations - pro

[2018-11-20 10:11] #530 closed

[2018-11-20 10:15] 0x6431346e opened #533 "Campaign becomes undefined when editing a milestone"
The url looks like this `https://beta.giveth.io/campaigns/{id}/milestones/{id}`, but when I press edit milestone it becomes `https://beta.giveth.io/campaigns/undefined/milestones/{id}`

[2018-11-20 17:18] anshumanv commented on #510
Submitted PR some days back, waiting for review.

Please see @vojtechsimetka

[2018-11-20 23:11] vojtechsimetka commented on #510
@ceresstation This has been delivered and merged. Will go out in the next release, thank you very much for funding this issue!!!

Merged in 48f2441cc602d0e36070ae18779d2790040f1b36

@anshumanv I've accepted it because we are trying to make new release (and this part will be changed soon) but please next time make it more universal. This screams HOC as the pagination is shared across multiple pages

[2018-11-21 08:45] vojtechsimetka commented on #509
Also we will remove the max amount limitation for milestones very soon, probably not worth spending time on fixing it now.

[2018-11-21 08:48] vojtechsimetka commented on #513
Received one yesterday, the URL is correct, closing as I can't reproduce.

[2018-11-21 08:49] vojtechsimetka commented on #514
The milestone now shows correct amount and I am unable to reproduce locally, closing for now.

[2018-11-21 08:49] #514 closed

[2018-11-21 08:54] vojtechsimetka commented on #523
This could be a nice bounty if you express what would you like that profiled text be @GriffGreen :). I would also add it to DACs because why not.

[2018-11-21 09:58] ceresstation commented on #489
Hey @vojtechsimetka just wanted to check to see if you and @iamonuwa had a chance to sync on the above question :)

[2018-11-21 10:15] ceresstation commented on #489
Ah, yep I missed that, thanks for clarifying!

[2018-11-21 12:17] FrederikBolding commented on #509
@vojtechsimetka If that is the case, then sure, it shouldn't be a priority at all 😄

[2018-11-21 13:09] vojtechsimetka commented on #529
Not an issue, it was not disbursed and here is the bridge TX - https://etherscan.io/tx/0x15816da6b8ccb54fd0ff49f79393b557712e18d22c45b8046a47ba8dbbb9e8dd

[2018-11-21 13:09] #529 closed

[2018-11-22 00:14] krrisis opened #534 "Mails notifications from the DApp no longer arriving at all (on hotmail)"
... not even in spam, although I now see that I have 5 or 6 Milestones to review

[2018-11-22 10:03] vojtechsimetka opened #535 "Release 2018-11-22 bugs"
This is to transparently collect all the bugs in the next 2018-11-22 release that needs to be fixed. Please follow the [release precedure](https://docs.google.com/forms/d/e/1FAIpQLScaTkn-5-S6XJBDEasiZggjCJDtYchwGu22jwYXfdXX6ruqgw/viewform?usp=sf_link
), all tests are to be made on [release.giveth.io](release.giveth.io).

## Bugs
### Critical:
- [x] Donate button crashes Campaigns and DACs (fixed i

[2018-11-22 13:45] anshumanv commented on #523
Looking this up!

[2018-11-22 22:15] vojtechsimetka commented on #534
@krrisis is this still the case? I've received 2 today

[2018-11-23 00:11] krrisis commented on #534
well no new requests today but for the ones I had I never got any mail - can check back in here to confirm when I get new requests

[2018-11-23 20:36] ryan-shea commented on #462
Hey @mkosowsk, Ryan from Gitcoin here. Do you think you could pay this one out on Gitcoin? Let me know if you have any questions :)

[2018-11-23 21:58] Danibelle commented on #535
When I am in a campaign and use the <--campaigns back button, the top of the screen is cut off.
![image](https://user-images.githubusercontent.com/39466970/48961247-058f7300-ef41-11e8-818e-d5c003caaefa.png)

You can see at right the scroll bar is all the way up.

[2018-11-24 09:54] GriffGreen opened #536 "Add a feature for subscribing to updates for campaigns"
My thoughts..
I imagine a subscribe button on each page for Community subscriber, Campaign subscriber, and Milestone subscriber.

Each button would bring up a menu for the user to choose what type of subscription they would like. We can keep it simple with only 3 options.. The user can choose between Donation updates, Project updates, or All updates. the actions that would trigger an email are as

[2018-11-25 11:35] vojtechsimetka commented on #535
Sometimes user's are unable to confirm delegation.

**Feathers error:**
[code]

**Error in UI:**
<img width="510" alt="screen shot 2018-11-25 at 12 34 40" src="https://user-images.githubusercontent.com/7974813/48978632-946dce00-f0ae-11e8-9504-377d2c3d5fb1.png">

[2018-11-25 15:43] vojtechsimetka commented on #535
Sometimes the DApp is stuck on "Loading" and it is only fixed with changing the web3 provider. The problem is likely with the MM but the Web3Provider makes the DApp stuck on loading.

[2018-11-26 09:14] vojtechsimetka commented on #533
@satyavh will fix this with his rewrite of Milestones :)

[2018-11-26 10:02] vojtechsimetka commented on #516
As @FrederikBolding said, duplicate of #478 :) Closing

[2018-11-26 10:02] #516 closed

[2018-11-26 12:56] GriffGreen commented on #535
<img width="1121" alt="screen shot 2018-11-26 at 1 54 29 pm" src="https://user-images.githubusercontent.com/14945613/49015292-eed85e80-f182-11e8-9f54-2846d3b04345.png">
Video upload issue when creating it in the campaign

[2018-11-26 12:59] vojtechsimetka commented on #535
@perissology This seems to be IPFS config problem, could you have a look?

[2018-11-26 13:22] vojtechsimetka commented on #535
Email notifications have incorrect environment name.
<img width="231" alt="screen shot 2018-11-26 at 14 20 24" src="https://user-images.githubusercontent.com/7974813/49016519-a753d180-f186-11e8-82ae-bb7424189144.png">

[2018-11-26 14:03] geleeroyale commented on #535
Found many issues - here is the rundown:

1 - "Your Profile URL" is not saved for me (in profile UI, its displaying fine if you visit my profile)
2 - When making a donation, its unclear to me if the modal has to stay open for second transaction - if YES would prefer to have a warning: "Do not close this until you signed the second transaction"
3 - Still confused about reviewers - should my MetaMas

[2018-11-26 15:56] perissology commented on #535
I removed the "X-Frame-Options" header. Should be good to go now

[2018-11-26 18:41] vojtechsimetka commented on #535
@geleeroyale Thanks for the testing! You've discovered quite some bugs :). Here is my response:

Oh the URL modifications are not being considered as modification! It does get saved to IPFS, but it does not display the newly saved value...

I don't know myself :/ Probably.

Yes, the problem is that maybe the list is already tooo long so release actually does not show all of them. Plus the whitelis

[2018-11-26 22:07] vojtechsimetka commented on #535
I was able to go to a Milestone and seemingly delegate money to it from the Milestone's original Campaign even though the campaign is not created by me.

https://release.giveth.io/campaigns/5bbe1bef907dbb7a361d026b

<img width="896" alt="screen shot 2018-11-26 at 23 04 47" src="https://user-images.githubusercontent.com/7974813/49045052-04c04080-f1d0-11e8-82b5-d303f3ffb5da.png">

[2018-11-27 10:59] vojtechsimetka commented on #532
NFT for a 5% fee sounds like a good deal to me 😁 . In all seriousness, we do need NFTs and/or other gamification mechanics to incentivize donations.

[2018-11-27 15:56] vojtechsimetka commented on #535
Thanks everyone for the testing, we have just released to production :). The only known "bug" (or rather not the best UX flow) will be fixed in the next release.

[2018-11-27 15:56] #535 closed

[2018-11-27 15:57] ceresstation commented on #523
Hey @anshumanv you're good to go :)

[2018-11-28 00:54] GriffGreen opened #538 "Old milestones are stuck in pending in new release"
<img width="1097" alt="screen shot 2018-11-28 at 1 52 04 am" src="https://user-images.githubusercontent.com/14945613/49121310-4c1dfe00-f2b0-11e8-92ab-43d87ca44683.png">

^^^^From: https://beta.giveth.io/my-milestones

Milestones stuck in limbo:

https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5bfdc847351c4516abf9db7c

https://beta.giveth.io/campaigns/5b5b38b19737b23ee71c73a6/m

[2018-11-28 21:00] krrisis commented on #534
nope, new milestones, no mail notification

[2018-11-28 21:08] krrisis opened #539 "'enable web3' button does not function when not logged into metamask"
When not logged in in metamask and you click enable web3 nothing happens when you click the button.
Metamask logs out automatically by default, so if there's nothing here, we prob need this.
solution could be:

- action: click button
- if not logged in: pop-up on site: please log in to metamask to continue

Console log below, just in case this use case already exists (but don't think the issue is

[2018-11-28 21:14] krrisis commented on #539
Ok could not reproduce now after logging out, but had the same thing yesterday, so keeping this open for now.
Now I do see the log in to metamask message + pop-up from metamask (yay!)

Other Q:
1) will we get this request to connect our account every time after logging in? (see screenshot below) Why is this needed as I already authorized this?
2) for people who just want to browse this pop up migh

[2018-11-29 01:14] GriffGreen opened #540 "my delegation and my dontation pages won't load"
Below is the error i get for delegations
<img width="584" alt="screen shot 2018-11-29 at 2 03 30 am" src="https://user-images.githubusercontent.com/14945613/49192603-fd3d9a80-f37b-11e8-9541-fc1c5b9d0d50.png">
<img width="1167" alt="screen shot 2018-11-29 at 2 12 30 am" src="https://user-images.githubusercontent.com/14945613/49192678-5e656e00-f37c-11e8-89c9-501268cf1636.png">

Below is the error i

[2018-11-29 13:02] mmohorko commented on #535
I can't click on milestones in Mozilla Firefox (version: 63.0.3 64 bit). See the screenshot.

![photo_2018-11-29_14-00-37](https://user-images.githubusercontent.com/45455085/49223488-31967280-f3df-11e8-88dd-5f4ba248f633.jpg)

[2018-11-29 13:14] vojtechsimetka commented on #535
@mmohorko Can you post the link here?

[2018-11-29 13:34] vojtechsimetka commented on #535
@mmohorko Thanks for reporting the bug.

As for the error it is present in Firefox and Safari but if you try google it does work. So please for the time being use Chrome. I will investigate.

The not loading on your computer, just try and refresh. The first time you open the DApp there is something wrong. It is not our problem, it is problem with react-scripts and the npm serve package.

[2018-11-29 15:50] vojtechsimetka commented on #538
Should be fine now, please confirm

[2018-11-29 19:20] vojtechsimetka commented on #534
yeah.... you were unlucky I actually switched off the notifications as I needed to reprocess the whole DB. It is up now....

[2018-11-29 20:37] vojtechsimetka commented on #534
Worked for me, closing

<img width="607" alt="screen shot 2018-11-29 at 21 34 48" src="https://user-images.githubusercontent.com/7974813/49250360-ec923080-f41e-11e8-886e-21a36807d424.png">

[2018-11-29 21:46] vojtechsimetka opened #541 "Hotfixes Release 2018-11-22"
This issue is to track the issues that need hotfixing. The fixes will be pushed to the [`hotfix/release_2018-11-22`](https://github.com/Giveth/giveth-dapp/tree/hotfix/release_2018-11-22) branch:

- [x] Milestones can not be disbursed/collected (fixed in 25dab443e8c58a20673a338617c2ed1c1b3a817a)

[2018-11-29 22:32] vojtechsimetka commented on #539
Yes you will receive this every time, this is the new metamask thing we have no control over. The only thing we could do (though would huge changes across the DApp) is to ask for it when you first time sign TX. Just like we do right now with sign in.

[2018-11-30 04:17] anshumanv commented on #523
Thanks @ceresstation :smile: :sparkles:

@GriffGreen what's your preference about the positioning of the share options? How does a `Share` section below the `Donate` section sounds?

[2018-11-30 04:41] perissology commented on #539
metamask should actually cache your approval. maybe they broke that or you are using an old version, so you should only see that 1 time.

however, we have no ability to see you addresses until you "approve" the dapp. If we don't see you address, then we don't know who you are.

The other option would be to make users explicitly click a button like "connect metamask" to sign in. I'm not sure if tha

[2018-11-30 04:42] perissology commented on #539
I'm also curious about the log out thing. metamask does not log me out automatically unless the browser is closed.

How long do you have to wait for the auto logout to happen?

[2018-11-30 04:45] perissology opened #542 "Should ask to signin on account change"
If I am signed in to feathers & I change metamask accounts, I should be asked again to signin.

to reproduce

1. visit my-donations page
2. sign msg to sign in
3. change metamask account
4. (I should have to sign another msg to signin here)
5. visit home page
6. visit my-donations page (now I'm asked to signin)

[2018-11-30 12:50] vojtechsimetka commented on #540
Fixed in https://github.com/Giveth/feathers-giveth/commit/5efdf8836ac6dddc92bc771a413cb3c8a1f7015d

[2018-11-30 12:50] #540 closed

[2018-11-30 18:31] GriffGreen opened #544 "3 small improvements to Token Donation"
1. This should say DAI not ETH:
<img width="1440" alt="screen shot 2018-11-30 at 6 41 03 pm" src="https://user-images.githubusercontent.com/14945613/49305505-b82a7d00-f4cf-11e8-9cd1-3b356e825966.png">

2. After the first transaction approving the Bridge to take DAI the saving... is "greyed" out, but i hope we can have a little more hand holding to keep it in the user mind that they are not done do

[2018-12-01 16:59] #542 closed

[2018-12-02 14:14] GriffGreen opened #545 "In correct amount displayed in donation list on milestone"
https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5bbfc745089683199bce565f

It should say that it only has 5.xxx ETH not 20 something

<img width="795" alt="screen shot 2018-12-02 at 3 12 33 pm" src="https://user-images.githubusercontent.com/14945613/49340772-debdf480-f644-11e8-81fc-79d4fbf32ad0.png">

[2018-12-03 05:37] anshumanv commented on #520
Ideally, all cards should be of the same size, have any ideas about this @vojtechsimetka ?

[2018-12-03 05:39] anshumanv commented on #519
I think it was decided to prefill the max donation amount, what would be the ideal amount @GriffGreen @vojtechsimetka ?

[2018-12-03 15:07] krrisis commented on #539
yeah log out doesn't seem to have happened recently (was prob in the previous version).

'metamask should actually cache your approval. maybe they broke that or you are using an old version, so you should only see that 1 time.' --> I have the latest version. It does ask for approval again every time though.

I think you could steal quite some things from the gitcoin userflow by the way. So when I'

[2018-12-03 15:07] satyavh commented on #544
2 does not cause 3 :-)

Yes that was there, but the code that took care of that got very interesting during the complex merge we went through. I fixed it now :-)

[2018-12-03 15:38] satyavh commented on #544
Also see https://github.com/Giveth/feathers-giveth/commit/4d4e0b61a04464e07a32d0ebcac3a05f636a03d2

[2018-12-03 15:41] krrisis opened #546 "delegating not working"
Heard people say this does not work, but don't see an issue, maybe it's a different one, so here we go.
When I want to fund a Milestone, I cannot select the Milestone, see below. I'm logged in on rinkeby with the right account.

![delegate](https://user-images.githubusercontent.com/6533925/49383970-46923f00-f71a-11e8-9775-7703f3802fc0.gif)

[2018-12-04 10:33] satyavh commented on #546
What browser is that?

[2018-12-04 12:52] krrisis commented on #546
Chrome, latest version

[2018-12-04 19:23] GriffGreen opened #547 "Web3 is not letting me sign in"
In my own normal browser i get this

<img width="1189" alt="screen shot 2018-12-04 at 8 16 51 pm" src="https://user-images.githubusercontent.com/14945613/49467091-eaa2e580-f801-11e8-90df-6015b3bb6bf6.png">

when i open a private tab i get:

<img width="1197" alt="screen shot 2018-12-04 at 8 20 47 pm" src="https://user-images.githubusercontent.com/14945613/49467268-5be29880-f802-11e8-8424-2ded82463

[2018-12-04 21:26] krrisis opened #548 "GivETH currency in dapp is confusing (required fix for DAI reward)"
We (@bowensanders @danibelle @GriffGreen & me) just noticed a new currency (?) in the dapp. This GivEth token has a different value depending on the moment of the month? Also a bit confusing knowing that we used that token earlier for other purposes. Maybe best to disable for now?

![image](https://user-images.githubusercontent.com/6533925/49469672-6e5fd080-f808-11e8-8a99-abc790206ca6.png)

[2018-12-04 21:33] GriffGreen opened #549 "Can't see the balances for any campaigns (required fix for DAI reward)"
:-( We don't know how much ETH is in RewardDAO, we need a way to display the balances for tokens and ETH for everyone to see.

[2018-12-05 01:06] GriffGreen commented on #549
Shutting down the browser fixed it...

[2018-12-05 02:38] GriffGreen opened #550 "The ability to edit amounts and recipients in milestones after proposed has been disabled?"
<img width="924" alt="screen shot 2018-12-05 at 3 35 27 am" src="https://user-images.githubusercontent.com/14945613/49486463-d9c49500-f83e-11e8-8946-4d2009248129.png">
You used to be able to edit amount and recipient.... but now you can't?

[2018-12-05 15:47] GriffGreen commented on #490
Still not merged? It happened again
<img width="1057" alt="screen shot 2018-12-05 at 3 23 36 am" src="https://user-images.githubusercontent.com/14945613/49525188-80477f00-f8ad-11e8-84d7-fd54191d24ad.png">

[2018-12-05 18:18] GriffGreen opened #551 "the autofill that is greyed in the donation screen should actually be Black!"
I just walked Liraz thru matching donations and he thought the greyed "1" autofilled in the matching donation he wanted to have... but really its just text in the background.

I think the UX would be better if the 1 was actually put in as an input, not just as a grey background text.

[2018-12-05 18:21] GriffGreen opened #552 "Can't delegate to new milestones from the DAC (required fix for DAI reward)"
<img width="993" alt="screen shot 2018-12-05 at 7 17 57 pm" src="https://user-images.githubusercontent.com/14945613/49534793-c78c3a80-f8c2-11e8-8cbd-f2be03f8c825.png">
It only allows DAC's right now to donate to Campaigns... how do DACs donate to milestones?

[2018-12-05 22:50] lorelei1 opened #553 "Whitelist Loie so I can make a DAC!"
@perissology @vojtechsimetka halllp I really need to make the unicorn DAC been trying for a while...
This is the address I'll use:
0xB3e43abf014cb2d8cF8dc3D8C2e62157E6093343

[2018-12-06 00:33] GriffGreen opened #554 "The text in DAI milestones around DAI is weird"
<img width="895" alt="screen shot 2018-12-06 at 1 30 00 am" src="https://user-images.githubusercontent.com/14945613/49553146-9299db00-f8f6-11e8-95d7-d5d184ad15ac.png">

It currently says:
ETH 15
1 Maker DAI = 1 ETH

This should say:
15 DAI
1 DAI = 1 DAI

(You can leave out Maker)

[2018-12-06 00:38] GriffGreen opened #555 "Changing accounts does not refresh token balance"
<img width="1231" alt="screen shot 2018-12-06 at 1 36 11 am" src="https://user-images.githubusercontent.com/14945613/49553335-91b57900-f8f7-11e8-9dc2-25dfc9371eee.png">

[2018-12-06 00:40] vojtechsimetka commented on #490
It will not happen from now on. You needed to edit it last time to create IPFS record, now that one will be used

[2018-12-06 00:40] #490 closed

[2018-12-06 00:40] #553 closed

[2018-12-06 00:46] GriffGreen commented on #555
Oh I figured it out... i had to refresh the page... but basically my old account's balance lingered...
1. was on rinkeby with Key1
2. Switched to mainnet
3. Switched accounts
balance showed 0....
Refreshed to fix it

[2018-12-06 01:00] GriffGreen commented on #544
The flow around the double tx is great! Metamask pops up and its easy... but `Fix #544 - showing notification while waiting for 2nd donation tx` doesnt quite fix the problem.

The flag that got added disappears after 5 seconds... but the user has to sit there for about 90 seconds waiting for the tx... it would be nice if the flag stayed (you had to close it) ... i assume it will be easiest to be l

[2018-12-06 19:05] anshumanv commented on #523
PR up at - https://github.com/Giveth/giveth-dapp/pull/543 😄

Waiting for feedback, @vojtechsimetka can we go ahead with it? 🤔

[2018-12-06 22:43] icole commented on #475
Is this still an issue that might be good for a first time contributor? Would be interested in taking a crack at it if so.

[2018-12-07 09:50] lorelei1 commented on #436
This is happening to me now!
<img width="1230" alt="screen shot 2018-12-07 at 5 45 46 pm" src="https://user-images.githubusercontent.com/38163206/49640379-6c845000-fa48-11e8-82f1-b4723d3034d1.png">
I created this DAC like 2 days ago and it still looks like this...

[2018-12-07 09:52] lorelei1 opened #556 "Created campaign and it won't take"
There's already an [issue for this](https://github.com/Giveth/giveth-dapp/issues/436) but I wasn't sure if my comment would notify anybody since it's closed.

I created this DAC like 2 days ago and it still looks like this...
<img width="1230" alt="screen shot 2018-12-07 at 5 45 46 pm" src="https://user-images.githubusercontent.com/38163206/49640536-cf75e700-fa48-11e8-9201-b0d6b1f7479e.png">

[2018-12-07 13:14] GriffGreen opened #557 "Can't navigate to the second page in the Donation Page (required fix for DAI reward)"
The pagination doesn't work... or at least, i can't get to the second page of donations right now
<img width="1248" alt="screen shot 2018-12-07 at 2 14 12 pm" src="https://user-images.githubusercontent.com/14945613/49649768-68493a00-fa2a-11e8-8b8f-e71782636fa9.png">

[2018-12-07 22:51] vojtechsimetka commented on #556
Seems like it is fine, no? https://beta.giveth.io/dacs/5c086caed663227e436371c5

[2018-12-07 22:53] vojtechsimetka commented on #555
So the issue is that changing accounts within network does not refresh the balances.

[2018-12-08 06:42] lorelei1 commented on #556
Yeah it looks great now did you do something? If not, then maybe I should make another DAC as a test, because if it was just time that did the trick, and it took 3 days to finish pending...

[2018-12-08 11:06] GriffGreen opened #558 "Can't donate to Unicorn DAC"
The transaction comes out as https://etherscan.io/tx/undefined

I tried may times from good internet connections and restarted the browser

<img width="1207" alt="screen shot 2018-12-08 at 12 04 09 pm" src="https://user-images.githubusercontent.com/14945613/49685286-70b07c00-fae1-11e8-83bb-b668991bbb81.png">
<img width="546" alt="screen shot 2018-12-08 at 12 03 29 pm" src="https://user-images.gith

[2018-12-08 11:07] GriffGreen commented on #558
Also... what happened to the donate with mycrypto feature?

[2018-12-08 12:33] vojtechsimetka commented on #556
The Giveth node was down so I am pretty sure that was the problem. We actually can’t really cancle DACs now so maybe wait with such test :).

[2018-12-10 00:19] Kisgus opened #559 "Whitelist cryptoxmas"
Desired whitelisted address:

0x224CF0B963c59B95623b3Dd6ce07b4cE40F7b134

cc: @vojtechsimetka @GriffGreen

[2018-12-10 00:39] GriffGreen opened #560 "Create some sort of view for newest milestones"
It would be nice to see what new milestones have been recently been added to the platform...

[2018-12-10 00:44] GriffGreen opened #561 "Tennagraph donation in limbo"
I delegated a bunch of ETH to https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c07d0768b83251b841a6a6d

But it never showed up. Its just in limbo...

<img width="1198" alt="screen shot 2018-12-10 at 1 41 09 am" src="https://user-images.githubusercontent.com/14945613/49705184-0dc3ff80-fc1d-11e8-874b-a92557bc9a0a.png">

Help! :-D

[2018-12-10 01:03] GriffGreen opened #562 "When proposing a milestone, DAI is not in the list of currencies and 1 DAI != 1 USD right now?"
<img width="906" alt="screen shot 2018-12-10 at 1 55 09 am" src="https://user-images.githubusercontent.com/14945613/49705506-e9692280-fc1e-11e8-9442-6c513c6307f1.png">

1 DAI = 1.01 USD ?

Milestones need to be able to be made in DAI directly.

[2018-12-10 01:15] GriffGreen opened #563 "When creating a new milestone, but rejecting the transaction, the whole milestone is stuck"
It would be nice if you could reject the transaction and then the button came back and you could change what you wanted to change (the reason you rejected the transaction) and then submit the transaction:
<img width="1221" alt="screen shot 2018-12-10 at 2 14 43 am" src="https://user-images.githubusercontent.com/14945613/49705801-672e2d80-fc21-11e8-8473-27f4c5fb981c.png">

The big problem is you lo

[2018-12-10 01:56] GriffGreen opened #564 ""Attached Proof" button is a weirdly named, and there's no way to remove them once added"
Attach Proof should be renamed its sort of weird and doesn't capture the entire set of use cases, which is very well lined out on the "Add multiple expenses, invoices or items" switch.

- [ ] I would suggest "Add Line Item" as a new name for that button.

- [ ] Also, it would be nice if we could remove a line item once added, if there was a mistake in it... instead, if we dont like the name we gav

[2018-12-10 02:21] GriffGreen commented on #544
I have added many other issues... some of them in the title have "(required fix for DAI reward)" :-D these are the ones i feel are required for DAI to be considered implemented... There will likely be more too

[2018-12-10 08:40] GriffGreen commented on #475
Yeah @icole Would love to see some action on this issue... its been a thorn in my side for too long! We are all just getting out of some conferences.. @vojtechsimetka will probably be around to authorize work on this soon :-D if you need a more specific understanding of this... ping @griffgreen:matrix.org on https://riot.im/app/#/room/#giveth-product-development:matrix.org

[2018-12-10 14:37] satyavh commented on #559
Hi, you've been added

[2018-12-10 14:37] #559 closed

[2018-12-10 15:04] vojtechsimetka commented on #564
You can remove them, just scroll right.

[2018-12-10 16:16] GriffGreen opened #566 "Edit button on milestones is broken"
Every time i click to edit the milestone, i get sent to:
https://beta.giveth.io/campaigns/undefined/milestones/undefined/edit

If i add /edit to the end of the milestone... it works fine

[2018-12-10 17:21] GriffGreen commented on #509
There has been a lot of push back from Michael and others about getting rid of the max funding feature... After some consideration, it seems to make sense that choosing a "max funding" for a milestone should still be there by default... unlimited funding can be there for the campaigns.

If we want to, we could make the default for extra funds that go to a milestone above the max funding that they

[2018-12-10 19:35] mmohorko opened #567 "Whitelist Datafund"
Please whitelist Datafund so we can take our campaigns live on beta.

0x58E017795699cEB023dDa1a370F789C49ee6aDE2

You can find our campaigns in the testing environment here:

https://release.giveth.io/campaigns/5be5617ba42e9c652fdbf81e
https://release.giveth.io/campaigns/5bec221ea42e9c652fdbf830

The addresses have been added to the beta users whitelist form (https://docs.google.com/spreadsheets/d

[2018-12-10 23:54] krrisis commented on #546
still not working :/

[2018-12-10 23:56] krrisis opened #568 "When changing date fiat amount switches to an eth amount"
Now when you put in euros first and then change the date to the correct date, it changes your euro amount, see behavior below

![euro](https://user-images.githubusercontent.com/6533925/49769193-8b504400-fcdf-11e8-97ef-485dca7c850b.gif)

[2018-12-11 01:59] vojtechsimetka commented on #552
The problem is that there is a limit to how many Campaigns and Milestones are visible in that screen with Campaigns being the first ones so it does not show any Milestone for you

[2018-12-11 07:35] satyavh commented on #562
This is correct. Dai is not 1 USD
https://coinmarketcap.com/currencies/dai/

[2018-12-11 07:53] lorelei1 opened #569 "Duplicate donation appears in DAC"
There's definitely only one Griff donation here but the UI on this page shows 2.

<img width="1170" alt="screen shot 2018-12-11 at 2 44 00 pm" src="https://user-images.githubusercontent.com/38163206/49785674-e6bc1980-fd53-11e8-9cf0-e8d0a430f6e9.png">

Elsewhere, in "My Delegations", it appears correct.
<img width="1062" alt="screen shot 2018-12-11 at 2 50 23 pm" src="https://user-images.githubuser

[2018-12-11 08:10] satyavh commented on #562
FYI; I understand what you want, and you could make this a feature requests.
But this is not an issue caused by token integration.

[2018-12-11 08:17] #544 closed

[2018-12-11 08:22] satyavh commented on #548
Fixed

[2018-12-11 08:22] #548 closed

[2018-12-11 08:50] satyavh commented on #561
This is not an issue caused by token integration, it's caused by failed tx and likely incomplete logic handling failed txs. As such is not part of the Dai reward.

But I do feel your pain and dived into it.

Question:
You delegated 28.52969300 ETH. Was that the full amount of a single donation?

campaign ownerId: 95 / donation {_id: new ObjectId("5c030c4e6812a05976ba3cf2")}

[2018-12-11 08:51] satyavh commented on #557
This is not caused by the token integration, as such not part of the Dai reward.
I will have a look and fix it though.

[2018-12-11 09:00] satyavh commented on #561
And this donation still shows up on your delegations page with 0.0000000ETH and a spinner?

The donation doesn't seem delegated at all, it is actually showing up here:
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5

The only thing is that the UI is showing the spinner is incorrectly on the campaign.

[2018-12-11 09:12] satyavh commented on #557
Are you still experiencing this issue, because I cannot replicate it.
If yes, please click on REPORT and check if it shows any error

[2018-12-11 09:22] satyavh commented on #552
This should be fixed, please check

[2018-12-11 16:28] Danibelle opened #571 "Unable to edit milestones"
When I select the edit pencil at left from My Milestones I receive this error:

![image](https://user-images.githubusercontent.com/39466970/49814417-946cff80-fd37-11e8-9c3d-67e2f69c74a3.png)

Same thing if I go into the milestone and choose the edit pencil from top left.  After closing the error window the dapp stays stuck in the pulsing green dot.

[2018-12-11 18:46] Danibelle opened #572 "RewardDAO Campaign Ownership Change"
Dani is taking responsibility for the RewardDAO campaign going forward:

https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424

We need the project owner changed from Lindsay (Griff's Boss) to Danibelle please.

[2018-12-11 18:46] Danibelle commented on #572
I'm told RJ @perissology is the only one that can make this change?

[2018-12-11 19:14] anshumanv commented on #521
WIP up at https://github.com/Giveth/giveth-dapp/pull/565!

[2018-12-12 00:19] krrisis opened #573 "reproposing button for rejected milestone does not work"
1)  Editing [this Milestone which @GriffGreen rejected by accident](https://beta.giveth.io/campaigns/5b5b38b19737b23ee71c73a6/milestones/5c0ea28e06392d786b64d4ad) directly from the link threw a constant error (bug report content below)

2) When clicking the button 'repropose' under rejected Milestones simply nothing happens.

3) I then tried clicking the edit button here to see if I could repropos

[2018-12-12 01:29] lorelei1 opened #574 "Delegation went through but won't show on milestone"
I delegated from Griff's donation to the Unicorn DAC, and on the delegations page it shows so (started with 15 eth, delegated ~1.7 of that to this milestone, now shows 13.3 eth in the delegation).
<img width="1031" alt="screen shot 2018-12-12 at 8 23 20 am" src="https://user-images.githubusercontent.com/38163206/49840833-b3c36580-fde7-11e8-8740-4cef66b13af8.png">

But in the [milestone](https://be

[2018-12-12 03:00] #523 closed

[2018-12-12 08:46] GriffGreen opened #575 "Donation visible in Delegation page, when it shouldnt be"
<img width="1010" alt="screen shot 2018-12-12 at 9 36 06 am" src="https://user-images.githubusercontent.com/14945613/49857111-fa1dc200-fdf1-11e8-9185-4cadd60312aa.png">

I am not the delegate of the unicorn dac... so i shouldn't see this donation

[2018-12-12 11:15] GriffGreen commented on #521
@anshumanv lets do it in the header, front and center. I would like to really encourage feed back on github

[2018-12-12 12:32] lorelei1 opened #576 "Can't edit a milestone I just made"
When I click the edit button i get this message:
<img width="1171" alt="screen shot 2018-12-12 at 7 30 04 pm" src="https://user-images.githubusercontent.com/38163206/49869928-81942100-fe44-11e8-96cf-ecb07c3df038.png">

[2018-12-12 12:34] lorelei1 commented on #571
Similar to my issue #576 but I went at it from the milestone itself and it gave a slightly different error msg.

[2018-12-12 12:53] vojtechsimetka commented on #561
This will probably need reprocessing again

[2018-12-12 18:50] GriffGreen commented on #562
That doesn't make any sense... this is totally within the scope. The token isnt integrated if it cannot be selected as a currency for payment. Thats a core part of integration. being able to denominate milestones in DAI is part of the token integration

[2018-12-12 18:54] GriffGreen commented on #549
I got screen shots man, in the last version there were balances:
<img width="257" alt="screen shot 2018-11-04 at 12 59 02 am" src="https://user-images.githubusercontent.com/14945613/49891722-81e1eb80-fe47-11e8-93bf-60b9ac58b5f0.png">
this feature was removed in the latest upgrade, I assume because including it would be difficult in token integration. It is necessary.

[2018-12-12 18:58] GriffGreen commented on #572
Linds is the only one who can make that change... RJ is the only one who knows how to do it... i know we did it for another campaign... I just can't remember how

[2018-12-12 21:43] GriffGreen commented on #571
See #566 as well, the work around is to add `/edit` to the milestone's address

[2018-12-13 06:14] lorelei1 commented on #574
Ok the more I interface with this, the worse it gets. It makes it sooo difficult to track, the fact that (AFAIK) there's NO way to see where delegations have been allotted to! Until the OG donor approves or vetos them... it could be 3 days. That 3 days of limbo is incredibly confusing. Here I am looking at the delegations for my DAC, and I know the amounts have gone down from the original amount d

[2018-12-13 07:38] satyavh commented on #549
You're right, I'm wrong! I will get those balances back

[2018-12-13 08:51] satyavh commented on #549
It's on beta

[2018-12-13 08:51] #549 closed

[2018-12-13 11:49] satyavh commented on #562
It's now in on beta, please check

[2018-12-13 11:49] #562 closed

[2018-12-13 11:49] satyavh commented on #576
From where did you click the edit button?

[2018-12-14 00:55] krrisis opened #577 "error message when delegating"
When I delegate funds I get the below error message.
When pressing the delegate button I also do not get a sign the transaction message or a pop-up from metamask (I do see the '1' popping up in the extension)

![image](https://user-images.githubusercontent.com/6533925/49976659-21d06f80-ff43-11e8-84d0-24a135f78cf1.png)

[2018-12-14 00:57] krrisis opened #578 "Display popup when any metamask tx is executed"
I do see the notification in the metamask extension but no pop-up or question from the interface to go sign them.

[2018-12-14 18:57] anshumanv commented on #521
@GriffGreen updated as per the need, check out - https://github.com/Giveth/giveth-dapp/pull/565#issuecomment-446584824 😄

[2018-12-15 06:48] GriffGreen opened #579 "The Donation Page is sorted oldest to newest (UX issue)"
When ever I go to https://beta.giveth.io/donations, I have to navigate to the second page... If the sorting were reversed, newest to oldest, the  donations I am likely to interact with are at the top.

[2018-12-15 06:52] GriffGreen commented on #557
clicked report
It was fixed for a day.... but its broken again
<img width="1012" alt="screen shot 2018-12-15 at 7 51 08 am" src="https://user-images.githubusercontent.com/14945613/50040149-55dc8b00-003e-11e9-8664-d30c30090c5f.png">

[2018-12-15 15:42] Danibelle commented on #571
The workaround Griff suggested continually crashed the Dapp previously.

Today I received a different error on attempt to edit..  it's not clear to me WHERE I need to have the ETH from this message, Rinkeby?

![image](https://user-images.githubusercontent.com/39466970/50044734-16219d80-0056-11e9-943f-78a9b0bc5bb3.png)

[2018-12-15 15:47] Danibelle commented on #571
Still happening..  when I type /edit at the end of the milestone it just hangs:
![image](https://user-images.githubusercontent.com/39466970/50044774-ba0b4900-0056-11e9-8f50-0e160b33391c.png)

[2018-12-15 15:48] Danibelle commented on #571
And clicking the edit button from anywhere changes the URL to undefined:

![image](https://user-images.githubusercontent.com/39466970/50044787-e8892400-0056-11e9-905f-ef555f4729d2.png)

[2018-12-16 14:23] GriffGreen opened #580 "Second DAI Donation failed because it did not ask to approve"
I tried to donate DAI and the first one worked out great, the second one didnt ask to approve, just straight up asked me to create the transaction to have DAI pulled out of my account, but it failed of course.
https://etherscan.io/tx/0x25be3a79b777382b1ea29faa9abbf0f40aee7bc85292036d1490940057868d8a
<img width="834" alt="screen shot 2018-12-16 at 2 58 29 pm" src="https://user-images.githubusercont

[2018-12-16 14:33] GriffGreen commented on #557
The thing is... the is a bug that had been fixed but now is reintroduced from the last upgrade that greatly affects the use of the dapp (I can't commit donations early after delegating) The DAI integration can't be considered complete until the new bugs introduced are fixed.

[2018-12-17 03:14] GriffGreen opened #581 "When donating DAI, the max amount of the milestone is not auto calculated"
Also related to #509 but unlike #509, this deals with new money coming into the system and is much more critical.

The slide bar shouldn't let me over donate to the milestone... this could be a potential security hole and cause a lot of drama around missing donations.... as in, lets say i donate too much... what happens? Am i over approved? Do i send money in and it ends up as a pledge somewhere?

[2018-12-17 04:32] CPSTL commented on #521
Hello from Gitcoin! @GriffGreen, have you had the chance to take a look at @anshumanv 's PR?

[2018-12-17 08:38] GriffGreen commented on #521
Looks good to me... Need @vojtechsimetka to sign off

[2018-12-17 15:18] GriffGreen commented on #561
@vojtechsimetka @satyavh any updates on this issue?

[2018-12-17 15:20] vojtechsimetka commented on #561
I can try and reprocess tonight when everyone is asleep.

[2018-12-17 15:40] GriffGreen commented on #561
awesome! Thx V :-D

[2018-12-17 21:07] satyavh commented on #561
If you don't have a txHash than there was no delegation.
There's no evidence at all in the db of a delegation, I doubt there will be something to reprocess

So @GriffGreen, what was the txHash?
And

[2018-12-17 23:12] krrisis commented on #577
To make it clear, the delegation DOES work now, just gives that message.

[2018-12-18 08:12] satyavh commented on #554
This won't be fixed retrospectively, only for new actions within the system

[2018-12-18 08:37] GriffGreen commented on #552
yeah its fixed

[2018-12-18 08:37] #552 closed

[2018-12-18 08:50] GriffGreen commented on #561
the plot thickens:

<img width="879" alt="screen shot 2018-12-18 at 9 48 03 am" src="https://user-images.githubusercontent.com/14945613/50142322-229e3400-02aa-11e9-86a3-cc80427ac678.png">
In my delegations screen ^^^^ the donation is showing up as 20.whatever eth

<img width="1000" alt="screen shot 2018-12-18 at 9 47 36 am" src="https://user-images.githubusercontent.com/14945613/50142324-229e3400-

[2018-12-18 08:57] satyavh commented on #561
This is possible. On the campaign we show what has been donated.
In the delegation tab we show what is left of each donation.

[2018-12-18 09:03] satyavh commented on #561
The 7.69ETH of that donation was delegated to this milestone
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5bf6a7afaad06c0b7db0191e

[2018-12-18 09:04] satyavh commented on #561
I doesn't seem like your donation is still stuck in limbo :-)

[2018-12-18 09:08] satyavh commented on #581
Actually, the milestone contract returns any excessive funds.
But yes, the input/slider should 'enforce' it.

[2018-12-18 09:08] GriffGreen commented on #561
nice! that answers that one,

But I still can't delegate it... the error that pops up is:

      Description of the Error:
      Thare was a problem with the delegation transaction.

      Transaction link:
      https://rinkeby.etherscan.io/tx/undefined

[2018-12-18 09:11] GriffGreen commented on #581
returns it how? Thats easy to do when its ETH... but with a token, its a lot easier to cause UX issues... if it works at all. And how does the UI react?

[2018-12-18 09:23] satyavh commented on #580
It looks like we need to wait a couple of blocks / confirmations before the transfer (or approval) can be considered final. Because if the 2nd time you instantly get to the transfer, it means the previous approval was still in place and the previous transfer not really finalise. Sounds like racing conditions.

The quick fix is to create an unlimited approval. We could make a checkbox for that when

[2018-12-18 09:28] satyavh commented on #581
LP cancels the exceeding amount of the pledge and returns those funds. The bridge should pick it up. Not sure if and how the UI reacts.

https://github.com/Giveth/lpp-capped-milestone/blob/master/contracts/LPPCappedMilestone.sol#L330-L340

I don't know if it has been tested at all.

[2018-12-18 09:34] satyavh commented on #561
Is that all you get, anything in the console?
Did your metamask popup at all? Are you signed in?

[2018-12-18 09:41] satyavh commented on #561
And to which campaign/milestone did you try to delegate and what amount?

[2018-12-18 11:24] GriffGreen commented on #566
This would be a good first issue right? And good for gitcoin?

[2018-12-18 14:41] satyavh commented on #581
I have fixed this, please check.
(I also might have fixed your delegation issue, but maybe not)

[2018-12-18 16:07] lorelei1 opened #582 "Milestone erroring out"
I know this milestone was viewable recently, like yesterday....
<img width="900" alt="screen shot 2018-12-18 at 10 57 56 pm" src="https://user-images.githubusercontent.com/38163206/50166375-86137a80-0319-11e9-8619-944b595bc87b.png">

buuut when I click on it it brings me here:

<img width="855" alt="screen shot 2018-12-18 at 10 57 07 pm" src="https://user-images.githubusercontent.com/38163206/5016

[2018-12-19 00:30] bowensanders opened #583 "Multiple Expense Milestone: "Attach" button does nothing, cannot create expense"
I am unable to "attach" multiple expenses to a new milestone. I've done all the normal tech support stuff to make sure it wasn't me - restart of browser, restart of machine, relogging metamask, making another new milestone, etc.

Tried making the expense with or without a picture, both do nothing when you press the attach button.

Cancel button works as expected.

<img width="823" alt="screen shot

[2018-12-19 05:02] GriffGreen commented on #561
Everything in this issue is the tennagraph campaign... trying to load the same donation to the same milestone: https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c07d0768b83251b841a6a6d

<img width="1213" alt="screen shot 2018-12-19 at 5 58 14 am" src="https://user-images.githubusercontent.com/14945613/50199786-1fab4e00-0353-11e9-9085-6a21a47ffd4f.png">

<img width="1273" alt="s

[2018-12-19 05:12] GriffGreen commented on #577
I am now getting the same issue...

<img width="1280" alt="screen shot 2018-12-19 at 6 04 05 am" src="https://user-images.githubusercontent.com/14945613/50200083-9dbc2480-0354-11e9-8bc7-bbf5f732fdf6.png">

The console error there happens when loading the page, before taking the action, so there is no console error logged, butthe log being reported via email is:

      Description of the Error:

[2018-12-19 07:54] GriffGreen commented on #583
<img width="1276" alt="screen shot 2018-12-19 at 8 52 50 am" src="https://user-images.githubusercontent.com/14945613/50206397-905e6480-036b-11e9-8095-d0bf944e73ec.png">

I have the same issue, this is what the console logs say:

Model.js:38 Uncaught TypeError: Cannot read property 'includes' of undefined
    at t.value (Model.js:38)
    at t.set (MilestoneItem.js:65)
    at t.value (AddMilestoneIt

[2018-12-19 08:00] satyavh commented on #582
Sorry about that. There are some edge cases in the beta database that apparently are not handled well. Should be fixed now.

[2018-12-19 08:00] #582 closed

[2018-12-19 08:07] satyavh commented on #578
Are you stating a fact of observation or requesting a feature?

[2018-12-19 08:08] satyavh commented on #576
#566 is fixed, so please check if this issue is still the case

[2018-12-19 08:39] #583 closed

[2018-12-19 08:40] satyavh commented on #571
This is fixed, please check

[2018-12-19 08:40] #571 closed

[2018-12-19 14:22] GriffGreen opened #584 "Donated a bunch of DAI to some milestones and they went into limbo"
I tried to donate DAI in these transactions:

This one I donated in a standard way:
https://etherscan.io/tx/0x1e229a2244aabdaacb8ba16de1d27ca581922841f93518c435e3a51d1f934778

This one I donated in my other accounts name:
https://etherscan.io/tx/0x4b1dd4b21ba19f21f349fa0a53d3009a0fbe7f9ae57487be3de4af5a442ce32f

The donations ended up in limbo with a status of "unknown"

<img width="1208" alt="scr

[2018-12-19 14:32] vojtechsimetka commented on #584
Yeah it seems like this just failed and the money got to your giver account instead of the milestone. Sometimes it happens with ether donations as well :(

[2018-12-19 14:52] Danibelle commented on #567
Confirming DataFund is ready to go on Beta!

[2018-12-20 11:29] GriffGreen opened #585 "No easy Automated Accounting"
We need an easy way to pop out the data in each campaign...

Right now it is almost impossible to actually be transparent with the DApp... cause all the numbers are hidden... It would be so nice to be able to easily pop out a google spreadsheet that shows every milestone and every donation, with as much data as possible.

[2018-12-20 17:55] igorline opened #586 "Campaign pages are not displayed in browsers without metamask support"
I tried to load today the webpage of campaign on the beta portal from brave browser on my mobile and it failed due to some error.
Later on I tried loading webpage from qutebrowser on my laptop and got this error.

![image](https://user-images.githubusercontent.com/1465430/50301807-96963300-0488-11e9-9672-bbec8b546a09.png)

I expect if the page needs to fetch some web3 data more specific error shou

[2018-12-21 06:38] krrisis commented on #578
Both I guess?

[2018-12-21 12:09] FrederikBolding commented on #585
Shouldn't be that difficult to make some sort of "Export to Excel" button?

[2018-12-22 02:57] GriffGreen commented on #561
The plot thickens even more! There is something wrong with this campaign somewhere in feathers for sure...

i went to edit a milestone and the address it took me to was: https://beta.giveth.io/campaigns/undefined/milestones/5c1b77536c76245cd3f97c8a/edit

<img width="1137" alt="screen shot 2018-12-22 at 3 51 12 am" src="https://user-images.githubusercontent.com/14945613/50369902-19a8ad80-059d-11e9-

[2018-12-22 03:05] GriffGreen commented on #584
first time i noticed this happening... I will try again and see if we can get it to work

[2018-12-22 03:19] GriffGreen commented on #566
Very weird... For the gov campaign and the tennagraph campaign, the link it connects to has an `undefined` string where the campaign should be.

<img width="928" alt="screen shot 2018-12-22 at 4 08 34 am" src="https://user-images.githubusercontent.com/14945613/50370019-4fe72c80-059f-11e9-8ff9-3ddb8d5bbd1a.png">

And now when we edit milestones it doesnt create a transaction? it works most of the t

[2018-12-22 16:41] GriffGreen opened #587 "Refunding DAI doesn't work?"
Tried to get a refund due to #584 and the withdrawal isnt making it to the bridge :-(

I made a bunch of other actions and they have made it to the bridge... https://bridge.beta.giveth.io/

here is the tx:
https://rinkeby.etherscan.io/tx/0xede7610d9d1e03cbf11823191c8d98333062ff35e7ab09308559d2f5aef93d50

I hope we can get this $2500 out of limbo

[2018-12-23 06:04] GriffGreen commented on #554
this has my 👍

[2018-12-23 06:05] GriffGreen commented on #581
see #587 The bridge doesnt pick up DAI refunds :-(