[2018-12-23 10:59] GriffGreen commented on #584
Looks like the refunding doesn't work :-( but i should be able to delegate them...

I am surprised at the failure rate of donating to milestones:

Tried $1 here:
https://etherscan.io/tx/0x907e66386d1e9232f46d9a496ceb130ae9426f2b4b43a477d6cfb2ca5348f3f4

no dice, ended up in ~/my-delegations

then I delegate it to https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5c114ac34a43c73a

[2018-12-24 08:34] GriffGreen opened #588 "Sometimes a 0 is added to the end of the currency?"
<img width="407" alt="screen shot 2018-12-24 at 9 33 49 am" src="https://user-images.githubusercontent.com/14945613/50394631-1ceb9700-075f-11e9-979c-dc7dde3a9cec.png">
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5c1d45da6c76245cd3f97d3b
kind of random but i have seen it in a few places

[2018-12-24 19:03] adamstallard opened #589 "Can't delegate DAI"
Our DAI delegation on https://beta.giveth.io/campaigns/5b94a71490b3c1478f06b42b

Shows under "my delegations" that the amount has been reduced, but it's not showing in these two
milestones https://beta.giveth.io/campaigns/5b94a71490b3c1478f06b42b/milestones/5c212a6e6c76245cd3f9809d
and
https://beta.giveth.io/campaigns/5b94a71490b3c1478f06b42b/milestones/5c211c9f6c76245cd3f98081
where it was delega

[2018-12-24 20:59] GriffGreen commented on #561
Ok now this is just wild...

I donated 28.5 ETH to this milestone:
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c07d0768b83251b841a6a6d
In this transaction:
https://etherscan.io/tx/0xfda47f04551b6b34564e75e67b7236907a2924403ea304f7abc95dd999474558

and the dapp displays that it only has an amount donated of 14.160307 ETH
..
Even tho it displays 28.5 ETH was donated!

<img

[2018-12-25 07:50] lorelei1 opened #590 "My Delegations page is empty"
And it shouldn't be!
<img width="1251" alt="screen shot 2018-12-25 at 2 30 01 pm" src="https://user-images.githubusercontent.com/38163206/50416604-20ad1580-0854-11e9-9b42-8723801eeb2b.png">

I have 6 delegations I should be working with here... you can still see they exist in the DAC page.
<img width="925" alt="screen shot 2018-12-25 at 2 49 14 pm" src="https://user-images.githubusercontent.com/38

[2018-12-25 11:02] vojtechsimetka commented on #590
Please check but it should be fine now. I was just trying to fix some of the issues

[2018-12-25 17:11] perissology opened #591 "Inform user when they have token balances in the wallet due to a "refund""
We need to inform the user when they have a balance of any bridge currency in their Rinkeby wallet.

This should also include a button that will easily allow the user to withdrawal the funds via the bridge

[2018-12-25 17:12] perissology commented on #587
refunding ETH or DAI only end up in your wallet (https://blockscout.com/eth/rinkeby/address/0x839395e20bbb182fa440d08f850e6c7a8f6f0780/tokens). You'll need to manually call withdraw on the bridge.

ping me if you need help

closing in favor of #591

[2018-12-25 17:12] #587 closed

[2018-12-25 17:38] lorelei1 commented on #590
Sweet, they are back. Thank you!

[2018-12-26 02:42] #590 closed

[2018-12-26 10:16] lorelei1 opened #592 "Delegations didn't go through"
Some of them DAI, some of them ETH. I did a bunch of Unicorn DAC delegations last week and it seems to be completely random which ones took hold and which didn't. At the time, the UI showed them as successful transactions... but now the milestones are no more full and the delegations in the DAC no more empty :(
These are the ones that failed:
<img width="615" alt="screen shot 2018-12-26 at 5 04 08

[2018-12-26 13:35] GriffGreen commented on #561
<img width="1235" alt="screen shot 2018-12-26 at 2 33 38 pm" src="https://user-images.githubusercontent.com/14945613/50447419-4cdf9980-091b-11e9-9953-8310cd7eec01.png">
Welp shit :-(
Glad that milestone is gone.... but now what do we do, I donated 28.5 ETH to the milestone, it got 14.something... and we paid out the milestone so now the rest of the original donation is just gone. :-(

[2018-12-26 17:30] #566 closed

[2018-12-26 17:30] #579 closed

[2018-12-26 17:42] #576 closed

[2018-12-26 17:42] perissology commented on #533
fixed in bd2151d

[2018-12-26 17:42] #533 closed

[2018-12-26 17:57] perissology commented on #522
for milestones at least, why don't you just put "WIP - " in the title and then propose it.

You can make the edits after proposing the milestone. When it's ready for the campaign owner to review, just remove the "WIP -".

For DACs & Campaigns, just flesh out the text in a text editor before creating. Once the text is ready, just create the dac/campaign. Then continue editing as needed.

To have a

[2018-12-26 19:06] perissology commented on #572
done

[2018-12-26 19:06] #572 closed

[2018-12-26 20:27] helmot opened #593 "Can't propose milestone"
ERROR:
      project reviewer address 0x29684371d4dFb108B66B24922679442d3218F560 is not in the whitelist

Campaign:
https://beta.giveth.io/campaigns/5b94a71490b3c1478f06b42b

[2018-12-26 21:16] perissology commented on #593
can you try now. I just deployed a fix I made earlier today. I think it should be fixed

[2018-12-26 22:03] vojtechsimetka commented on #491
Nice!

[2018-12-27 08:42] GriffGreen commented on #587
oh shit funny! well that sounds like fun... I should be able to figure it out.

[2018-12-27 08:58] lorelei1 opened #594 "Disburse message is confusing, simple wording fix"
I made a milestone for Kay. 3 days after delegation the funds are ready, and I am able to see the disburse button (I am sure he does too). But when I click on it it's a little awkward and confusing because the pop up message says the funds will be transferred to *my* wallet - I want them in Kay's!

![screen shot 2018-12-27 at 3 54 00 pm](https://user-images.githubusercontent.com/38163206/50473585-

[2018-12-27 10:04] GriffGreen commented on #561
Ok! I think I found it!

Its the 14.05 in the delegation page for my 83939 address
<img width="1065" alt="screen shot 2018-12-27 at 9 40 45 am" src="https://user-images.githubusercontent.com/14945613/50476044-e57f2380-09c6-11e9-8ba9-d20d81705633.png">

[2018-12-27 10:30] GriffGreen opened #595 "weird dapp rendering"
<img width="1375" alt="screen shot 2018-12-27 at 11 22 08 am" src="https://user-images.githubusercontent.com/14945613/50476870-35131e80-09ca-11e9-98cd-6eade157d9c3.png">

Chrome, Macbook

And a great milestone for it to happen on :-D

[2018-12-27 10:33] lorelei1 commented on #550
Is this desired editing taking place after proposing and before campaign manager accepting?

Honestly if it's after anyone else has reviewed it (campaign mgr or reviewer) I think editing these fields should NOT be allowed. Its too easy to slip under someone's nose the change of a SIGNIFICANT detail. There's a reason the amount and recipient are the most sensitive details of a milestone.

[2018-12-27 11:13] lorelei1 commented on #574
This also prevented me from realizing the big bug (issue #592 ) that failed out people's payments last week. If there was some indication on the milestone that delegations had at least been slotted for this milestone and are up for veto, then I would've realized this error way sooner. Instead, the recipients are waiting even longer and have to re-propose... and idk what to do about Unicorn funds d

[2018-12-27 14:14] perissology commented on #586
what specific campaign?

[2018-12-27 14:38] GriffGreen commented on #561
Ok so the big thing that needs to be fixed here is that the 20.8 ETH Donation that Aragon made is stuck... it cant be delegated anywhere but it was able to be delegate partially before the upgrade... This is likely a bug that was created during the last upgrade, which is why the DAI reward tag is on it. You can't break the dapp with a feature and then call the feature done.

Ideally a post mortem

[2018-12-27 14:50] perissology opened #596 "My-Milestone is not paginated?"
needs to be checked, but Dani says not all are showing

[2018-12-27 14:51] ewingrj opened #597 "Campaign/Dac donations list sorting & paginated"
should be sorted by amount (leaderboard).

also needs to be paginated so all donations can be seen

[2018-12-27 14:55] igorline commented on #586
https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c18f6616c76245cd3f97b5b

On Thu, Dec 27, 2018, 3:14 PM perissology <notifications@github.com> wrote:

[2018-12-27 14:56] igorline commented on #586
https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c18f6616c76245cd3f97b5b

[2018-12-27 19:52] perissology commented on #561
okay, that 20.8 ETH is actually in the milestone as it is supposed to be.

For some reason (I think maybe when Vojtech reprocessed events), there are events missing from the database. The tx where this delegation occurred is missing, thus why feathers isn't correct.

I'm re-processing the events already b/c a similar issue happened elsewhere, so the delegations should appear correct once that is d

[2018-12-27 22:06] GriffGreen commented on #510
Some how this was reverted @perissology @vojtechsimetka

[2018-12-27 22:35] vojtechsimetka commented on #510
@GriffGreen Are you sure? Because the code still has those but I don't have enough items on beta to check :)

E.g. https://github.com/Giveth/giveth-dapp/blob/master/src/components/views/Donations.jsx#L163

[2018-12-27 23:51] perissology commented on #561
okay, can you see if that milestone is able to disburse? You should be able to.

ignore the total donated, I'll fix those tomorrow

[2018-12-28 06:38] GriffGreen opened #598 "Double donations in a DAC"
<img width="1014" alt="screen shot 2018-12-28 at 7 32 49 am" src="https://user-images.githubusercontent.com/14945613/50505243-d5248280-0a72-11e9-9028-c5793f196dad.png">

https://beta.giveth.io/dacs/5b48c6f9b89c2175b538de66

[2018-12-28 16:00] Danibelle opened #599 "Error received on Donating to Milestone"
Donated to Jeff's milestone for my flight to Prague and received this error:

![image](https://user-images.githubusercontent.com/39466970/50520671-95b85f00-0a8f-11e9-9ac6-a89b47ca5421.png)

I did not get a link to monitor the transaction.

[2018-12-28 18:56] Danibelle opened #600 "Add Dani to Whitelist for Project Owner and Delegate"
Please add me to the Whitelist in Feathers as a Campaign/Project Owner and DAC Delegate:

0x5D28FE1e9F895464aab52287d85Ebff32B351674

[2018-12-28 20:44] perissology commented on #598
okay, this should be fixed in https://github.com/Giveth/feathers-giveth/commit/2000c293f3a208c54f0761b023b61bc34017b501....

The "unknown" status is actually failed.

This happened because you have a pledge w/ a non 0 amount of DAI (due to previous bugs, but this should appear as a delegation for you). We had some naive logic to determine if a 'Transfer' is an initial donation or not, that did not

[2018-12-28 20:45] perissology commented on #561
All balances should now be correct in the dapp.

[2018-12-29 05:02] jvluso opened #601 "Cannot read property 'toString' of undefined when using Frame"
Using [Frame](https://github.com/floating/frame) instead of Metamask has worked in the past, but it is currently throwing the following error. I'm not sure if this is because of Frame or because of Giveth. Do you know what function is returning undefined that shouldn't be?

[code]

[2018-12-29 16:04] perissology commented on #601
the error appears to be the same issue as #586.

However I think a different fix will need to be applied. It appears the dapp is not detecting the frame provider. The current implementation was only tested with metamask, and I'm 90% sure there will be issues w/ other providers.

The main issue point would be detecting the the provider is enabled or not. https://github.com/Giveth/giveth-dapp/blob/d

[2018-12-29 17:39] perissology commented on #575
is this still a problem? What is the exact amount that is showing in the donation?

[2018-12-29 17:43] perissology commented on #577
fixed in ea2dd7691e1d6e4af5b05c0ae1d5ac1b856239d8

[2018-12-29 17:45] perissology commented on #599
This is most likely (but hard to know w/o seeing the error report) the same issue as #577 and is now fixed

[2018-12-29 17:47] perissology commented on #600
done

[2018-12-29 17:47] #600 closed

[2018-12-29 17:49] perissology commented on #569
is this still an issue? I'm pretty sure it's been fixed

[2018-12-29 17:50] perissology commented on #601
can you try using develop.giveth.io to see if you still get the 'toString()' error?

[2018-12-29 18:19] perissology commented on #597
okay @GriffGreen , this isn't so straight forward...

donations can be in multiple tokens. How do we determine the value so we can sort w/ highest value first? Do we make the conversion at the time of the donation?

[2018-12-30 02:12] krrisis commented on #546
This one is working now indeed. Thx @perissology

[2018-12-30 02:12] #546 closed

[2018-12-30 05:36] jvluso commented on #601
I see the error on beta with the extension
I see the error on develop with the extension
I see the error on beta without the extension
I don't see the error on develop without the extension

[2018-12-30 09:01] GriffGreen opened #602 "Email Notifications for DAI Milestones still use the ETH symbol"
<img width="538" alt="screen shot 2018-12-30 at 9 09 56 am" src="https://user-images.githubusercontent.com/14945613/50545682-8a913a80-0c19-11e9-9ae8-c96c4edfd952.png">

It says ETH but the milestone is actually: https://beta.giveth.io/campaigns/5b5b38b19737b23ee71c73a6/milestones/5c24ac05bf3e293e567c358b

This is really 2 issues wrapped in one... No one uses the 3 line symbol when they talk about

[2018-12-30 15:57] Danibelle opened #603 ""undefined" error on viewing milestones"
Getting the error shown below when attempting to view [this milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5bc88f402828256ce4abd66a):

![image](https://user-images.githubusercontent.com/39466970/50548810-0478f200-0c21-11e9-8715-ef2ae58c4526.png)

![image](https://user-images.githubusercontent.com/39466970/50548820-24101a80-0c21-11e9-84e7-db719f3eaf9e.png)

[2018-12-30 19:08] lorelei1 opened #604 "Date of Donations on Milestones has a confusing UI"
When I look at a milestone before it's reached "Paid" it displays the different dates that donations were made.
<img width="725" alt="screen shot 2018-12-29 at 1 11 32 am" src="https://user-images.githubusercontent.com/38163206/50550264-b8b95d80-0c9f-11e9-8acf-c993111a7f7c.png">

But then, when it's paid out, it shows only the date that all were paid out, next to each milestone as if that was the

[2018-12-30 21:03] perissology commented on #597
okay, we calculate the usdValue at the time of donation/delegation now. The sorting is live on develop.

still need to do the pagination part

[2019-01-01 01:04] jvluso commented on #601
The issue was not on Giveth's end - it was a versioning issue with Frame. Thank you for helping me find it.

[2019-01-01 01:04] #601 closed

[2019-01-01 08:15] lorelei1 commented on #569
yep i don't see any issue anymore

[2019-01-02 15:14] perissology commented on #575
any donation to a dac is appearing in the my-delegations page

[2019-01-02 15:16] #592 closed

[2019-01-02 15:19] #554 closed

[2019-01-02 15:20] #581 closed

[2019-01-02 15:35] GriffGreen opened #605 "Donated DAI to the Gov Campaign and got a weird error"
<img width="1321" alt="screen shot 2019-01-02 at 4 30 28 pm" src="https://user-images.githubusercontent.com/14945613/50598774-10c4af80-0eac-11e9-89b1-01a977923ba0.png">

https://etherscan.io/tx/0x7830ef55a8ed977650ed4ae2f9f26acf2d740dd28c9194e14bfca38633da0765 is the donation

[2019-01-02 15:37] GriffGreen commented on #598
#605

[2019-01-02 16:00] #550 closed

[2019-01-02 16:00] #586 closed

[2019-01-02 16:01] #588 closed

[2019-01-02 16:02] #577 closed

[2019-01-02 16:02] igorline commented on #586
Was it fixed? Still can reproduce

[2019-01-02 16:07] #557 closed

[2019-01-02 17:20] #521 closed

[2019-01-02 17:20] #569 closed

[2019-01-02 17:20] #593 closed

[2019-01-02 17:20] #589 closed

[2019-01-02 18:39] perissology commented on #602
fixed in https://github.com/Giveth/feathers-giveth/commit/8dee504aaa2787427a468dd4374ce38c853c2a55

[2019-01-02 19:56] perissology commented on #596
okay, I can verify that the milestone pages (at least the "active" & "paid") are paginated.

maybe the milestone in question was missed on the page as it can be a bit hard to read.

@Danibelle

If this happens again, can you ping me and send a link to the milestone that is missing.

[2019-01-02 19:56] #596 closed

[2019-01-03 06:41] GriffGreen opened #606 "Hahahah "I'm not tellin' you" is great!"
<img width="210" alt="screen shot 2019-01-03 at 7 40 40 am" src="https://user-images.githubusercontent.com/14945613/50625854-f978d700-0f2a-11e9-8ba6-0164a784af90.png">
Love it!

[2019-01-03 06:43] #606 closed

[2019-01-03 06:44] GriffGreen commented on #606
damn it.. i thought that was a default but it was something i did for release testing :-(

[2019-01-03 07:58] GriffGreen commented on #598
Still getting the unknown error
<img width="975" alt="screen shot 2019-01-03 at 7 56 30 am" src="https://user-images.githubusercontent.com/14945613/50626284-976da100-0f2d-11e9-8e38-ddaa6da09fab.png">
https://etherscan.io/tx/0x1a9b93d9661243c5ac557fd08cabee41f96586a6093e924da8751193f771e3d9
This donation isn't showing up as being able to be delegated in L's Unicorn DAC Delegations.

Tho interesting

[2019-01-03 07:59] GriffGreen commented on #598
Added the DAI Reward because I am scared to Donate DAI on the DApp right now..... it might not work.

[2019-01-03 17:31] perissology commented on #598
that DAI donation with status == 'unknown' was due to a geth bug (https://github.com/ethereum/go-ethereum/issues/18029).

The other duplicates I'm still investigating, but can assure you that it is not due to the dai integration. A bug in the dai integration just exposed, but is not the cause of, the bug causing the duplicates to appear.

[2019-01-03 19:13] perissology commented on #598
Okay, I've determined the cause of the randomly duplicate donations. It was a race condition w/ the failedTxMonitor (due to a bug in the failedTxMonitor) where sometimes a donation would be marked as failed before the tx event was handled.

There was also an error in the config file that may have lead to this issue as well.

Still need to implement a fix for the Geth bug. I'm going to look at that

[2019-01-03 20:23] GriffGreen opened #607 "Make sure that each error message is descriptive and communicates the real issue to the user"
<img width="1304" alt="screen shot 2019-01-03 at 8 53 52 pm" src="https://user-images.githubusercontent.com/14945613/50658661-5c558700-0f9a-11e9-842f-d2d5aaae8823.png">

When i went to report it, it said:
      Description of the Error:
      Thare was a problem with the delegation transaction.

      Transaction link:
      https://rinkeby.etherscan.io/tx/undefined

Here is the transaction
https:

[2019-01-03 21:43] GriffGreen commented on #607
<img width="1118" alt="screen shot 2019-01-03 at 10 41 23 pm" src="https://user-images.githubusercontent.com/14945613/50663113-e1479d00-0fa8-11e9-917b-caac331b3d34.png">
Actually it is still showing up in my donations page

[2019-01-03 21:59] GriffGreen opened #608 "Disburse button for milestones that have been paid..."
<img width="1060" alt="screen shot 2019-01-03 at 10 51 12 pm" src="https://user-images.githubusercontent.com/14945613/50663559-549dde80-0faa-11e9-8f44-9adb2f9ab9bd.png">
<img width="1176" alt="screen shot 2019-01-03 at 10 50 57 pm" src="https://user-images.githubusercontent.com/14945613/50663560-549dde80-0faa-11e9-9a87-9e40e2f7a363.png">
<img width="1189" alt="screen shot 2019-01-03 at 10 50 44 pm

[2019-01-07 02:40] GriffGreen opened #609 "Going to my donations page and getting an error"
<img width="1288" alt="screen shot 2019-01-07 at 3 38 10 am" src="https://user-images.githubusercontent.com/14945613/50746109-d2255100-122d-11e9-87b3-0a97d4b45a85.png">

This was with account 0x839395e20bbB182fa440d08F850E6c7A8f6F0780 not sure why it wont let me view it

[2019-01-07 02:43] GriffGreen commented on #602
<img width="507" alt="screen shot 2019-01-07 at 3 42 07 am" src="https://user-images.githubusercontent.com/14945613/50746238-5a0b5b00-122e-11e9-8d94-8b5594fac13a.png">
yeah baby!

[2019-01-07 02:43] #602 closed

[2019-01-07 03:07] GriffGreen commented on #580
Do we keep track of time? If the account has donated to anything in the last 5 minutes force an approve? Its not much of a problem for a limited larger approval.. Tho it would be nice to tell them its happening and not just be sitting there.

I'm down for a check box for a limited larger approval.... Maybe 5x the donation amount, with a max of 5000 DAI as a default but allow the user to put in an

[2019-01-07 03:09] GriffGreen commented on #575
looks good to me :-D

[2019-01-07 03:09] #575 closed

[2019-01-07 03:11] GriffGreen commented on #564
Ok... so thats a bug as well... Actions need to be visible

[2019-01-07 15:18] mmohorko commented on #567
@satyavh - Can you please change the whitelisted address to this one:

0x258FbdBC8500B459a45Bf0932093C888A6676acB

I am sorry for the inconvenience.

Thank you.

[2019-01-07 16:40] perissology commented on #567
done via riot

[2019-01-07 16:40] #567 closed

[2019-01-07 17:35] Danibelle commented on #599
Not sure how to test this since there's already a donation of the full amount, so I can't resubmit the donation.

I am noticing that it has the funny currency naming of GivETH where it shows CZK conversion rate:
![image](https://user-images.githubusercontent.com/39466970/50783398-b85d2b80-1278-11e9-8bf4-7cddc9a3b873.png)

[2019-01-07 17:48] Danibelle commented on #599
ah ha.  that's my donation. so it went through and didn't know it was me.

[2019-01-07 17:48] #599 closed

[2019-01-07 18:30] perissology commented on #498
okay, I've made more notification emails for registered users.

1. If the recipient is different then the milestone manager, they will get a notification when the milestone is created
2. donors now get notifications when they make a donation
3. donation/delegation recipients now get a notification when they receive a donation
4. givers get a notification when they need to approve/reject a delegati

[2019-01-09 16:43] krrisis commented on #534
Has not worked since I first mentioned it. Don't want to again give in another of my personal mails so reopening this - it is already bad enough that my main mail address is stored on the blockchain (hope we can figure out a better notification system soon vojtech or @mroberts10 )

[2019-01-10 16:39] GriffGreen opened #610 "Campaigns are sorted somewhat randomly"
On the front page, it would be nice to sort the campaign by activity, last time a milestone was paid out or maybe last time a donation happened? Not sure what the options are...

[2019-01-10 20:55] GriffGreen commented on #475
man... i swear this happens to me 3 times a month minimum... sooooo many people do this and it is sooooooo annoying :-( what do we gotta do to finish this

[2019-01-11 11:20] jvluso opened #611 "Change the sign in process to let DAOs use the DApp"
I'd like to be able to interact with Giveth using a DAO. Supporting pre-signed messages to log in will allow a dao capable of signing those to log in and participate. I'll be working on this and using this issue to update my progress.

[2019-01-11 11:37] GriffGreen commented on #611
https://eips.ethereum.org/EIPS/eip-712

[2019-01-11 13:31] markhainesii commented on #593
@perissology I'm finding this same error starting a new campaign on feathers-giveth locally.

[2019-01-11 15:09] #598 closed

[2019-01-11 15:10] #574 closed

[2019-01-11 15:10] #603 closed

[2019-01-11 15:11] #609 closed

[2019-01-11 15:18] perissology commented on #597
donations view should be migrated to behave more like the milestones w/ a "load more" btn & a badge showing new donations since page load

[2019-01-11 15:22] GriffGreen commented on #498
#536 can be looped into this :-D

[2019-01-11 15:31] GriffGreen commented on #551
Suggested donation... 100 DAI 1 ETH

[2019-01-11 15:37] perissology commented on #607
The cause of this is most likely poor error handling in the dapp. We need to catch these, especially when they involve a tx

[2019-01-11 15:40] Danibelle opened #612 "New User: Vocdoni add to Whitelist"
New campaign forthcoming for Vocdoni requested by Matthew Carano of Swarm City for user @d3n on Riot, see request in new room Vocdoni Grant Support https://riot.im/app/#/room/!pWSwVBpSipekDjxDfV:matrix.org.

Please add the following address to 'Project Owner' whitelist:
0x47fCD86C2a8A02af00CADF8660Ca1896AA4FE238

[2019-01-11 21:28] GriffGreen opened #613 "Donation lists don't include info about the delegate only the donor"
When money comes in to a campaign or a milestone... it is often delegated.... but the display we have now is just showing the donor...

<img width="956" alt="screen shot 2019-01-11 at 10 29 56 pm" src="https://user-images.githubusercontent.com/14945613/51060590-84736480-15f0-11e9-8b7a-58e6374989c3.png">

It would be nice if the donation would show where the money came from, i would imagine a colum

[2019-01-11 21:43] perissology commented on #573
this was fixed at some point

[2019-01-11 21:43] #573 closed

[2019-01-11 21:56] GriffGreen opened #614 "The donations listed for this milestone add up to more than the total donations"
<img width="957" alt="screen shot 2019-01-11 at 10 52 28 pm" src="https://user-images.githubusercontent.com/14945613/51061586-0d3fcf80-15f4-11e9-86c9-2b7e2037fbac.png">

https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c2cee5554db93106a6a1d94

Did we get rid of the Milestone cap already!?

[2019-01-11 22:58] Danibelle opened #615 "Unable to edit Campaign"
I sent the Gmail bug report on this and opening issue here.

[RewardDAO Campaign](https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424) ownership has been transferred from Lindsay to me, but I am getting an error on editing and it fails.

![image](https://user-images.githubusercontent.com/39466970/51063765-685ccc80-15ca-11e9-8a7c-1d410c38f102.png)

     Description of the Error:
      Somethi

[2019-01-11 23:02] Danibelle opened #616 "Link from Notification email does not open the Dapp"
When I receive an email notification and click the link to take action, it recognizes my user account and goes to the correct page, but does not actually open it - I get a blank page.  The green dot never shows up and refreshing does not load it either.

![image](https://user-images.githubusercontent.com/39466970/51063902-0e103b80-15cb-11e9-8de1-3c0e9cf64e98.png)

[2019-01-11 23:08] Danibelle opened #617 "Unable to delegate committed funds for RewardDAO"
I received a notification that funds have been donated to RewardDAO campaign for delegation.  The new donation appears along with the one there before, which I also could not delegate from when I tried last week.. creating the issue now, I suspect it has to do with the campaign ownership transfer.

![image](https://user-images.githubusercontent.com/39466970/51064020-a0b0da80-15cb-11e9-8ef3-a4c2125

[2019-01-11 23:26] vojtechsimetka opened #618 "Release 2019-01-11 bugs"
This is to transparently collect all the bugs in the next 2019-01-11 release. Please follow the [release precedure](https://docs.google.com/forms/d/e/1FAIpQLSeY-9mwXUpdkiHorjDfqay0Z4aYSjn0BnvaZZ00OJ8-1EqqfQ/viewform?usp=sf_link), all tests are to be made on [release.giveth.io](release.giveth.io).

## Bugs
### Critical:

### Major:

### Minor:

## Testing guidelines
To test the tokens you will need

[2019-01-11 23:29] Danibelle opened #619 "Email Notification of Donation does not match Campaign"
Magenta received an email that says Bloom Network received a donation as shown below.  The donation does not appear in the [Campaign](https://beta.giveth.io/campaigns/5bd31756e411be3e787d0f68).

![image](https://user-images.githubusercontent.com/39466970/51064462-c50db680-15cd-11e9-8156-0de9f06209cc.png)

[2019-01-12 00:15] perissology commented on #619
that donation was for 0.0000000044. We only show 2 decimals, so it shows up as 0

[2019-01-12 00:15] #619 closed

[2019-01-12 00:17] perissology commented on #619
donations are now sorted by value, so maybe you missed it at the bottom

[2019-01-12 18:52] krrisis opened #620 "Metamask should only ask for signing on actions"
Issue:
Now when you get to beta.giveth.io you **always** get a pop up by metamask and have to sign when getting to the page you first land on (whether homepage or direct link to dac, campaign or milestone). This is unneeded and very time-wasting when you go to the DApp 10x a day.
I do **not** need to be logged in most of the time, I just want to view or copy info or copy links.

Reproduce:
Go to a

[2019-01-12 18:58] krrisis commented on #620
Extra issue, after signing in (on whatever page) and then going to My Milestones (not doing anything but just going there), it asks me to sign in again! Pretty sure that action is unnecessary as I'm not creating any transactions and I **am** already signed in?

[2019-01-13 22:53] vojtechsimetka commented on #620
@krrisis I beliefe @perissology can better answer and correct me if I'm wrong, but I you misunderstand the MetaMask messages there.

1. The connect button that pops is actually needed at the moment you arrive to the DApp. Metamask no longer exposes any information about the user to the dapps unless you connect. This means that without you granting the access with the `CONNECT` button, we can not s

[2019-01-14 14:36] perissology commented on #620
1. complain to metamask. They should be caching your approvals so you don't need to do it each time. You can also turn on privacy mode in metamask (via settings, but I wouldn't do it) and you won't get this popup

[2019-01-14 15:02] perissology commented on #612
done

[2019-01-14 15:02] #612 closed

[2019-01-14 19:44] perissology commented on #605
Should be fixed in release branch

[2019-01-15 09:59] Kisgus opened #621 "Bug when trying to disburse milestone"
We get the same error message in the Venezuela Campaign as in  https://github.com/Giveth/giveth-dapp/issues/445 when trying to "disburse" funds

**Milestone 1**

https://beta.giveth.io/campaigns/5c0e84ea06392d786b64d484/milestones/5c0e959806392d786b64d48c

**Milestone 2**

https://beta.giveth.io/campaigns/5c0e84ea06392d786b64d484/milestones/5c0e959806392d786b64d48c

[2019-01-15 12:04] MaxSemenchuk opened #622 "Funds didn't come fully"
On this payout https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c07d0768b83251b841a6a6d

Requested: 35 ETH

Incomes:
* 6.5 ETH https://etherscan.io/tx/0xa74070f53bdbc072706d1e24673adfcf91c3ccea063aff7fb36b9b0603d4bce7
* 14.1 ETH to https://etherscan.io/address/0xe69394fcf8260f3e3702166a470d89f3db3d1d9a#internaltx

Missing 10 ETH, can you help to figure this out?

[2019-01-15 13:33] MaxSemenchuk opened #623 "No transcation, no income, shows completed, not in bridge"
507 DAI to 0xB950e0E108546743Af96eB493D4FF2AbC63816dB
for https://beta.giveth.io/campaigns/5b5b38b19737b23ee71c73a6/milestones/5c35c1ef46d9c67925654096

[2019-01-15 15:02] perissology commented on #622
You're actually missing 20.839693 from that milestone (notice the donation does not say paid).

The 6.5 ETH looks like a manual transfer from griff and is not related to the dapp.

When you paid out that milestone, there was a bug #561. The recipient should see a disburse button on that milestone when he visits beta.giveth.io/my-milestones. If that button is clicked, the rest of the funds should b

[2019-01-15 15:07] MaxSemenchuk commented on #622
Hi @perissology thank for the support.

I saw 20.8 wasn't paid, but wasn't sure what is meant by committed. Should we ask them to click something?

here's what I see beta.giveth.io/my-milestones, should it be like that?
![screenshot-github com-2019 01 15-17-05-35](https://user-images.githubusercontent.com/11428528/51189027-ce599480-18e7-11e9-947a-9a5f192fbe31.png)

[2019-01-15 15:10] #623 closed

[2019-01-15 15:14] perissology commented on #622
Yes, ask him to go to my-milestones page and click "collect" button next to that milestone

[2019-01-15 16:02] perissology commented on #617
I'm looking at this today. Its the same error, but griff changed the error message.

[2019-01-15 16:13] Danibelle commented on #617
Great thank you!  This one might be related - https://github.com/Giveth/giveth-dapp/issues/615

[2019-01-16 10:15] lorelei1 opened #624 "Bug - i'm prompted to delegate a delegation that has just been made to a milestone"
After I made these delegations this week, the "My Delegations" page on the DApp as well as emails prompted me to delegate "a new donation":
<img width="870" alt="screen shot 2019-01-15 at 8 52 35 pm" src="https://user-images.githubusercontent.com/38163206/51242072-acc4df80-19b1-11e9-94da-7a53322a0d7e.png">
And it even carries me as far as this pop up when I click delegate:
<img width="991" alt="sc

[2019-01-16 13:54] GriffGreen opened #625 "The view for bright id's campaign is way off"
<img width="1330" alt="screen shot 2019-01-16 at 2 54 59 pm" src="https://user-images.githubusercontent.com/14945613/51253497-be50bc00-199e-11e9-941c-feae44e18b32.png">
https://beta.giveth.io/campaigns/5b94a71490b3c1478f06b42b probably related to #595

[2019-01-16 14:42] mroberts10 commented on #622
Are we able to close this issue?

[2019-01-16 14:54] MaxSemenchuk commented on #622
It seems that funds should come tomorrow, please let me check and i'll close or provide comments

[2019-01-17 03:42] ljg583 opened #626 "Can't update DAC"
After I created my DAC "Decentralize all the things" I went back and added some text, changed the picture and it will not save/update

(this is in release) :)

[2019-01-17 03:46] #626 closed

[2019-01-17 18:04] Danibelle opened #627 "RewardDAO campaign delegations failing"
Some worked!  Some didn't :(

Frederiks showed the delegation, he confirmed.. then, it disappeared.  I just redelegated to the milestone and received a 'success' message, but it's hanging:
https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5c3403f146d9c67925653d14

[2019-01-17 18:05] Danibelle commented on #627
This one is hung up as well:  https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5c34229746d9c67925653d4b

![image](https://user-images.githubusercontent.com/39466970/51338698-8908a480-1a58-11e9-949c-2e870ff6ac92.png)

[2019-01-17 19:05] FrederikBolding commented on #627
Happened to this one as well: https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5c35204746d9c67925654088

[2019-01-17 20:29] GriffGreen opened #628 "Can't do any actions in the dapp?"
<img width="946" alt="screen shot 2019-01-17 at 9 27 30 pm" src="https://user-images.githubusercontent.com/14945613/51346833-de67a480-1a9e-11e9-8890-9dc4d9ee852e.png">

Getting the spinning sign of death on all actions...

[2019-01-18 00:31] perissology commented on #627
okay, these should be sorted out now. There were some node issues today :(

[2019-01-18 00:31] #627 closed

[2019-01-18 00:32] perissology commented on #628
should be fixed now. There were some node issues today :(

[2019-01-18 00:32] #628 closed

[2019-01-18 10:13] Kisgus commented on #621
Thanks for looking into this @perissology, do you have any fix in mind?

[2019-01-18 14:11] perissology commented on #621
yes, it's fixed but hasn't been released yet. There were some big code changes that this fix got made on top of. So we're still testing. Hopefully within the next few days.

Unfortunately there is a max of 8 donations that can be withdrawn at a time, so you will have to "withdraw" multiple times to get all the funds.

I'm not sure if you're a dev or not. You can always run this repo locally, and s

[2019-01-18 14:31] Kisgus commented on #621
Okay thanks. Not really a dev, so I will just be waiting. Is it correctly understood once this release has been merged I will be able to disburse? Alternatively if I had the option in the UI to just disburse 8 tx at the time that could also do the trick on the short time if I could manually just disburse it a few times.

[2019-01-18 14:34] perissology commented on #621
you will only be able to disburse 8 at a time. It is a current limitation w/ the smart contracts

[2019-01-18 14:39] Kisgus commented on #621
So if that option of "disburse 8" would be in the UI that would be totally okay without contract updates.
Right now I only have the option of "disbursing" in the UI, which tries to disburse all and therefore fails.

[2019-01-18 14:44] perissology commented on #621
yep, it will only disburse max 8 & show a note that you will need to disburse again

[2019-01-18 14:47] Danibelle opened #629 "Delegations that failed still appear to count on Milestone"
Maybe this isn't a big deal and I'll learn how to trace transactions through this issue, but I had several delegations fail on the RewardDAO campaign while the node was on it's way down 1/16-17th ish.

Now these milestones say they had 2 and 3 donations made:
![image](https://user-images.githubusercontent.com/39466970/51393410-a34c8c00-1b05-11e9-954b-9a9578560080.png)

But only 1 shows up in the M

[2019-01-18 15:34] mroberts10 opened #630 "beta.giveth.io/my-milestones - DApp error - page crashes"
I get the following error message

"There has been an error in the DApp.
Details
Error message:
[number-to-bn] while converting number "2.1e+21" to BN.js instance, error: invalid number value. Value must be an integer, hex string, BN or BigNumber instance. Note, decimals are not supported.

Component stack:

    in t
    in t
    in t
    in div
    in div
    in t
    in t
    in div
    in t

[2019-01-18 17:07] GriffGreen commented on #561
Done!

[2019-01-18 17:11] perissology commented on #630
this is probably fixed in the current release branch

[2019-01-18 17:20] GriffGreen commented on #616
https://beta.giveth.io/my-delegations its not the email link.... that page isnt loading correctly

Also we should add a second issue to make notifications have smarter links

[2019-01-18 17:24] perissology commented on #610
updated at = any campaign action / donation and any related milestone action or donation

[2019-01-18 17:27] GriffGreen commented on #611
opening a chat in keybase

[2019-01-18 22:03] FrederikBolding opened #631 "Autofilling milestones"
It would be great to be able to embed milestone information in the URL, meaning that a certain link would autofill certain fields when creating a milestone.

I talked to @Danibelle about using this for RewardDAO, but it could probably be useful for other things as well.

[2019-01-18 22:04] FrederikBolding commented on #631
I might have time to look at this - I'll get back to this thread when I've looked at it a bit.

[2019-01-18 22:14] vojtechsimetka commented on #631
Talked to @FrederikBolding about this.

Basically all that needs to be done is in the src/components/views/editmilestone . You would get the parameters from URL and if this is new milestone set it to the Model in loadMilestone function. Parameters that make sense from the top of my head are title, recipient, reviewer, description, date, amount, token, fiatAmount & fiatType or amount in crypto.

[2019-01-18 23:22] FrederikBolding commented on #631
I've started work on it here: https://github.com/FrederikBolding/giveth-dapp/tree/autofilling-milestones

[2019-01-19 05:49] GriffGreen opened #633 "Can't Access my-milestones :-( big number error"
<img width="1190" alt="screen shot 2019-01-19 at 6 48 25 am" src="https://user-images.githubusercontent.com/14945613/51422836-5379cd80-1bb6-11e9-989c-2ca1e4255725.png">

[2019-01-19 05:54] GriffGreen commented on #633
this is with account 0x567355f84d44a982629D8675AB4aadBB92dbfD54 but it works with my other account

[2019-01-19 06:25] GriffGreen opened #634 "Delegations and Financial overview don't match up"
Auditing the Aragon DAC's R&D campaign and I dont know which view is correct either one of these delegations is not real
<img width="1129" alt="screen shot 2019-01-19 at 7 19 48 am" src="https://user-images.githubusercontent.com/14945613/51423125-f7657800-1bba-11e9-8ecb-02ebc9fc6313.png">

Or this overview at the bottom of the R&D Campaign is missing something
<img width="1107" alt="screen shot 20

[2019-01-19 06:36] GriffGreen commented on #634
Yeah some how that 1093.85 pledge isnt being counted in the overview... i donated 1 DAI and the overview didnt change

[2019-01-19 10:02] krrisis opened #635 "Typos & capitalization"
When editing a Milestone you get the below.
Space is missing between the words plus Milestone should be capitalized

![image](https://user-images.githubusercontent.com/6533925/51425196-22f75b00-1bd9-11e9-873f-6954a097a903.png)

All the below is about capitalization of the word 'Milestone'. Communities/DACs, Campaigns and Milestones are our key building blocks of the DApp, and to make clear to peop

[2019-01-19 10:20] krrisis opened #636 "Milestone from June just popped up here?"
Seems to be paid before, what is this?

![image](https://user-images.githubusercontent.com/6533925/51425405-19bbbd80-1bdc-11e9-9b65-ca7b1bdcd6bc.png)

In the Milestone I see this description? Which I did not put there.
If other people can just create Milestones in my name and from my account, is this - apart from being incorrect - not also quite a vulnerability?

![image](https://user-images.githu

[2019-01-19 14:08] vojtechsimetka commented on #636
Can we get the link to the milestone? There must have been an error where the cache service did not manage to match this with an existing milestone.

[2019-01-21 22:44] perissology commented on #633
fixed in 7598b3f5955105a43364dc02b9d771a088294c01

[2019-01-21 22:44] #633 closed

[2019-01-21 22:44] perissology commented on #630
related #633. fixed in 7598b3f5955105a43364dc02b9d771a088294c01

[2019-01-22 11:20] #622 closed

[2019-01-22 12:04] vojtechsimetka commented on #621
After the latest UI release the disburse button is no longer there even though there are still some donations to be disbursed.

![screen shot 2019-01-22 at 12 39 47 pm](https://user-images.githubusercontent.com/7974813/51534529-bec8d700-1e24-11e9-8449-8b7caa486b3e.png)

[2019-01-22 19:35] krrisis opened #637 "When multiple expenses in DAI = error when attaching proof"
Reproduce:

- Select 'Raising funds in DAI' as a currency,
- Hit 'add multiple expenses'
- Click 'attach proof'

At this moment: the DApp throws the below error:

There has been an error in the DApp.
Details
Error message:
this.state.conversionRate.timestamp.toFixed is not a function

Component stack:

    in t
    in n
    in form
    in Formsy
    in t
    in t
    in div
    in div
    in t

[2019-01-23 01:25] cjyabraham opened #638 "Viewing milestone causes error"
When I try to go to [my milestone](https://beta.giveth.io/campaigns/5b5b38b19737b23ee71c73a6/milestones/5c401c01d84361151fdd631a) I get [an error](https://pastebin.com/rf8Eqyyy).

[2019-01-23 09:55] lorelei1 opened #639 "Accepted milestones appear twice in My Milestones"
![screen shot 2019-01-23 at 4 39 45 pm](https://user-images.githubusercontent.com/38163206/51597332-8eb92b00-1f2d-11e9-9b48-3c4caedce570.png)
![screen shot 2019-01-23 at 4 51 24 pm](https://user-images.githubusercontent.com/38163206/51597986-266b4900-1f2f-11e9-8634-932eb63d558f.png)

After I accepted Dani and Kris's milestones, they appear anew in "My Milestones" marked as being created on the dat

[2019-01-23 10:04] lorelei1 commented on #638
Yup, also experiencing a lot of milestones buggin out. Can't find the pattern yet.
https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5c3426c146d9c67925653d4f
https://beta.giveth.io/campaigns/5c0f381f06392d786b64d4dd/milestones/5c42c38854c4dd181cdb2903
https://beta.giveth.io/campaigns/5c0f381f06392d786b64d4dd/milestones/5c4835658a6a785b61462b1f
and
https://beta.giveth.io/campaign

[2019-01-23 12:36] geleeroyale commented on #618
I think the 'Cancel' function should be only available at milestone overview - at least in my experience it is a rarely used (and quite dangerous) function.

[2019-01-23 15:16] perissology commented on #638
fixed in 2c2fe6fbe5a844f98795e37298b413b7d31e041d

[2019-01-23 15:16] #638 closed

[2019-01-23 15:21] perissology commented on #637
fixed in cb16d5057fba7b95c89761d0866d0008ba9b8856

[2019-01-23 15:21] #637 closed

[2019-01-23 16:03] perissology commented on #639
fixed in 55f3f2c9c7e04325b20d13f40164f4e72d37869b

[2019-01-23 16:03] #639 closed

[2019-01-23 16:09] GriffGreen opened #640 "Delegating from a campaign within a milestone unnecessarily warns the user about a 3 day waiting period"
<img width="760" alt="screen shot 2019-01-23 at 5 04 48 pm" src="https://user-images.githubusercontent.com/14945613/51619659-19e7f000-1f31-11e9-8b30-59b33392b555.png">

I donated from a campaign so it shouldn't pop up that warning

[2019-01-23 16:15] GriffGreen commented on #638
Nice! Can this be a hot fix?

[2019-01-23 16:18] vojtechsimetka commented on #638
@GriffGreen already is. RJ already did all the work.

[2019-01-23 16:25] GriffGreen opened #641 "A milestone has an unknown milestone manager???"
https://beta.giveth.io/campaigns/5b5b38b19737b23ee71c73a6/milestones/5c401c01d84361151fdd631a
It says chris proposed it, but when you click his name, it says he is unknown.

<img width="831" alt="screen shot 2019-01-23 at 5 20 16 pm" src="https://user-images.githubusercontent.com/14945613/51620710-3c7b0880-1f33-11e9-8694-674950e99001.png">

[2019-01-23 16:38] perissology commented on #624
Is this still an issue? I can't seem to reproduce

[2019-01-23 17:23] perissology commented on #641
fixed in 794b7218de27446a7080ffaa26922b3cba527398

[2019-01-23 17:23] #641 closed

[2019-01-23 17:52] perissology commented on #616
fixed in https://github.com/Giveth/feathers-giveth/commit/d1bc8f3bf2e7dfb051e09f803d2e6fb5138b4ade

[2019-01-23 17:53] perissology commented on #624
no longer an issue according to loie

[2019-01-23 17:53] #624 closed

[2019-01-23 19:20] geleeroyale commented on #618
**BUG** - this milestone shows `collect`, but does not follow through (I get empty tx and nothing happens, except OH-OH error)

https://beta.giveth.io/campaigns/5b5b38b19737b23ee71c73a6/milestones/5c24ac05bf3e293e567c358b

[2019-01-23 21:33] perissology commented on #634
I'm pretty sure this would have been fixed in https://github.com/Giveth/feathers-giveth/commit/db6e5eb2337561d36cc89c6a8c2b8496d7be48cb

[2019-01-23 21:33] #640 closed

[2019-01-23 21:40] #505 closed

[2019-01-23 21:42] perissology commented on #335
this is implemented

[2019-01-23 21:42] #335 closed

[2019-01-23 21:43] perissology commented on #368
looks like this is done

[2019-01-23 21:43] #368 closed

[2019-01-23 21:51] perissology commented on #394
This is a problem when you use wsiwyg editors. They convert text to html as best and it can't always be exactly the same. Closing as this won't be fixed.

[2019-01-23 21:51] #394 closed

[2019-01-23 21:55] perissology commented on #433
related #517

[2019-01-23 21:56] #434 closed

[2019-01-23 22:03] perissology commented on #454
no longer an issue

[2019-01-23 22:03] #454 closed

[2019-01-23 22:05] perissology commented on #465
pretty sure this has been fixed

[2019-01-23 22:05] #465 closed

[2019-01-23 22:05] #468 closed

[2019-01-23 22:07] #480 closed

[2019-01-23 22:08] perissology commented on #484
done

[2019-01-23 22:08] #484 closed

[2019-01-23 22:15] perissology commented on #494
as Vojtech pointed out, the milestones from before are marked as PAID. Excluding "Completed" milestones w/ 0 donations will not affect the early milestones. You're so smart Vojtech ;)

[2019-01-23 22:17] #504 closed

[2019-01-23 22:18] #509 closed

[2019-01-23 22:19] #515 closed

[2019-01-23 22:20] perissology commented on #519
I don't think this is an issue any longer

[2019-01-23 22:20] #519 closed

[2019-01-23 22:22] perissology commented on #527
should be fixed

[2019-01-23 22:22] #527 closed

[2019-01-23 22:23] vojtechsimetka commented on #475
This is fixed since #81 .

[2019-01-23 22:23] #475 closed

[2019-01-23 22:33] perissology commented on #578
There are some weird quirks w/ metamask. Ideally we would show a msg informing the user they need to sign the metamask tx. We do this for logging in. We need to do this everywhere b/c we have 0 control on if the popup will appear

[2019-01-23 22:33] perissology commented on #584
should be fixed

[2019-01-23 22:33] #584 closed

[2019-01-23 22:34] perissology commented on #510
it works

[2019-01-23 22:34] #510 closed

[2019-01-23 22:36] perissology commented on #534
not an issue for me. Maybe you clicked unsubscribe at some point? We have no way to manage that in the dapp yet

[2019-01-23 22:36] #618 closed

[2019-01-23 22:37] perissology commented on #629
this should be fixed

[2019-01-23 22:37] #629 closed

[2019-01-23 22:39] #207 closed

[2019-01-23 22:53] #182 closed

[2019-01-23 23:16] #625 closed

[2019-01-23 23:19] #398 closed

[2019-01-23 23:19] perissology commented on #595
fixed in 282e2e7e9bf7ed7e5ee5f340fe0d0a2636707398

[2019-01-23 23:19] #595 closed

[2019-01-24 11:51] krrisis opened #643 "Rejected Milestone has a cancel button?"
See below, a Milestone for which I am the reviewer (not Manager) and that I rejected, after rejection it has a cancel button?
Milestone; https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5c34113746d9c67925653d2e

![image](https://user-images.githubusercontent.com/6533925/51676332-97b20700-1fd6-11e9-9290-0aed01899edd.png)

[2019-01-24 14:38] perissology commented on #643
the manager & reviewer can cancel a milestone. When it's rejected, it is still active

[2019-01-24 14:38] #643 closed

[2019-01-24 15:21] krrisis commented on #534
Is it no issue for you on hotmail or on another service? Nope, didn't hit unsubscribe. Mails simply not arriving.

[2019-01-24 15:22] vojtechsimetka commented on #534
Nope I am also getting spammed, so are 2 other people who reached out to me about that.

[2019-01-24 15:30] vojtechsimetka commented on #636
@krrisis @perissology This could have been erased from the DB on accident. Maybe we can ask reviewer to cancel it and that would solve it?

[2019-01-24 15:36] krrisis commented on #636
Can cancel it myself as well I see? If that doesn't work I can ask kay who's the reviewer, whatever you guys want, just wanted to flag this mysterious reappearance :)

[2019-01-24 15:38] vojtechsimetka commented on #636
Oh right I forgot RJ added that functionality. I'm not sure if he had to modify the smart contracts for that. @perissology can @krrisis cancel it himself?

[2019-01-24 15:40] krrisis commented on #534
You mean that you do receive them on hotmail? And yeah, I know that helps, tried it before, but as said that is another of my mail addresses that will be written permanently & publicly on the blockchain.
If it works for other people on hotmail (if that's what you're saying) you can close and I'll create a temp fwd address.

[2019-01-24 15:43] vojtechsimetka commented on #534
None of them uses hotmail, nor do I sorry. I may test it later but to fix this could be a challenge.

[2019-01-24 17:13] bowensanders commented on #635
I might be able to tackle most of these myself if we have a comprehensive list of where they occur

[2019-01-25 15:43] GriffGreen commented on #611
error handling is probably a better solution... will request more information from Jeremy

[2019-01-25 15:45] #547 closed

[2019-01-25 15:48] #539 closed

[2019-01-25 15:58] GriffGreen commented on #258
also remember to merge the whitelist bug fix ;-D

[2019-01-25 17:31] krrisis commented on #636
reopening (sorry M :) ) until I know what I should do with this one.

[2019-01-26 09:26] GriffGreen opened #644 "Campaign donation text is wrong, it is a real donation not a pledge"
<img width="987" alt="screen shot 2019-01-26 at 10 12 11 am" src="https://user-images.githubusercontent.com/14945613/51785145-b1c52400-2153-11e9-882d-d11f64d57712.png">

This is incorrect, it should say:

`You're committing your funds to this Campaign, if you have filled out contact information in your` [Profile](https://beta.giveth.io/profile) `you will be notified about how your funds are spent.

[2019-01-26 09:50] GriffGreen opened #645 "Delegating to milestones is very difficult from the manage page"
So many milestones... i need to know what campaign they are coming from...

ideally I could click a campaign and be given the choice to donate to the campaign itself, or to an individual milestone

[2019-01-26 09:53] GriffGreen opened #646 "Weird milestones in a couple campaigns"
<img width="936" alt="screen shot 2019-01-26 at 10 28 01 am" src="https://user-images.githubusercontent.com/14945613/51785460-58abbf00-2158-11e9-9621-ede001f6a8d2.png">
<img width="969" alt="screen shot 2019-01-26 at 10 27 29 am" src="https://user-images.githubusercontent.com/14945613/51785461-58abbf00-2158-11e9-8863-6ffc579d22ac.png">
This is in the Comms campaign and in Social coding... not sure

[2019-01-26 10:06] GriffGreen opened #647 "Now that we have more DAC's lets move DAC to the top and campaigns below"
<img width="526" alt="screen shot 2019-01-26 at 11 03 08 am" src="https://user-images.githubusercontent.com/14945613/51785586-5a768200-215a-11e9-97b2-c18b337b5339.png">

PS OMG I LOVE THE MILESTONES on the front page!!!!

[2019-01-26 10:10] GriffGreen opened #648 "Was donating to some milestones and lost internet"
And it showed me great errors even without internet and it worked really well when i came back, the approve went thru and when i came back to wifi, it didnt double approve or anything it just worked perfectly and smoothly :-D

[2019-01-26 16:17] ewingrj commented on #464
fixed in giveth/feathers-giveth@70753dd22994f34ebc3e10f6d9b2beae27799476

[2019-01-26 16:17] #464 closed

[2019-01-26 22:10] #81 closed

[2019-01-27 12:34] vojtechsimetka commented on #646
This is interesting. Linked to https://github.com/Giveth/giveth-dapp/issues/636 . We should check if those are duplicates or if they started to pop up now @ewingrj

[2019-01-27 12:48] vojtechsimetka commented on #645
I am not sure I understand the issue here. The donate button is directly in the Campaign/Milestone. So it a delegate button. Can you clarify what is the tension exactly?

[2019-01-27 18:21] vojtechsimetka opened #649 "Milestones with expenses throw Big Number error"
Opening any milestone that has expenses (e.g. this [Barcelona meetup milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5b57555420b282603231ecdf)) throws Big Number error caught by the error boundary.

<img width="951" alt="screen shot 2019-01-27 at 15 20 55" src="https://user-images.githubusercontent.com/7974813/51805035-2d53cd80-2247-11e9-9354-9590c6a6dcbf.png">

[2019-01-27 19:44] vojtechsimetka opened #650 "Updating proposed milestone fails"
When updating milestone that is proposed, the action fails with incorrect exchange rate.

<img width="722" alt="screen shot 2019-01-27 at 16 43 36" src="https://user-images.githubusercontent.com/7974813/51805973-cf2ce780-2252-11e9-919f-30e9853ad9d2.png">

[2019-01-27 19:49] #649 closed

[2019-01-27 22:57] vojtechsimetka commented on #650
The milestone must still be in proposed state. Once approved, editing works.

[2019-01-27 23:11] #644 closed

[2019-01-28 13:46] ewingrj commented on #646
Yes, same a #636. I fixed a bug in feathers where the events for these milestones were not processing.  I'm not sure why these milestones were created, but they definitely exist on the blockchain as separate contracts/milestones.

I suspect a UI bug caused the campaign owner to accept a proposed milestone multiple times.

These milestones will need to be canceled.

There are 8 in total:

https://b

[2019-01-28 13:47] ewingrj commented on #636
not that hard, just cancel.

duplicate of #646

[2019-01-28 13:47] #636 closed

[2019-01-28 15:44] ewingrj commented on #650
I couldn't reproduce. Was this on develop? I did fix some other propose/reject milestone bugs in 844011927eeb1aa3e6ae5b4231f6f664cdf9eb3c

[2019-01-28 16:58] vojtechsimetka commented on #650
No this was on beta. And it was a milestone with expenses so I think that is causing the issue.

[2019-01-28 18:55] ewingrj commented on #534
okay, I've changed mail providers. Other than that, there's nothing I can do. Hopefully it works for you now.

[2019-01-28 18:55] #534 closed

[2019-01-28 19:21] ewingrj commented on #650
I'm not able to reproduce this in develop env

[2019-01-30 06:17] lorelei1 opened #653 "My delegations error - amount appears the same after delegating part of it away"
Before I started the delegations this week, i noticed kris's DAI delegation was STILL spinning from last week!

<img width="821" alt="screen shot 2019-01-30 at 6 21 07 am" src="https://user-images.githubusercontent.com/38163206/51961528-52ba2480-245d-11e9-8fae-05a741b1cc3e.png">

Then I delegated 150 to his own milestone, the spinner remained but the number changed to 450, and then it went right b

[2019-01-30 06:17] lorelei1 commented on #653
ok, by the time i finished making this issue the lanski one was sorted. but the kris one is still inaccurate.

[2019-01-31 00:40] #610 closed

[2019-01-31 16:36] ewingrj commented on #489
I just implemented milestone recipient changing. Probably would be useful to look at for this work.

https://github.com/Giveth/giveth-dapp/commit/6b2dce556dccd661bf2daa127bd74348a727c11e

Also, note that I would recommend implementing this on top of the feature/new-milestones branch. It removes the accept phase when changing the milestone reviewer.

[2019-01-31 17:01] GriffGreen commented on #645
there are too many milestones, and its sort of dangerous to just trust that you know which milestone you are looking for... i should have put in a picture...

<img width="1142" alt="screen shot 2019-01-31 at 6 00 16 pm" src="https://user-images.githubusercontent.com/14945613/52070884-22b87180-2582-11e9-95b9-e1e17c5d0343.png">

[2019-01-31 17:22] GriffGreen commented on #478
#433 is similar

[2019-02-01 14:35] mroberts10 commented on #621
Hi @Kisgus can we close this issue now?

[2019-02-01 14:42] vojtechsimetka commented on #258
Merged in by RJ.

[2019-02-01 14:42] #258 closed

[2019-02-01 14:51] vojtechsimetka commented on #650
Works in develop

https://develop.giveth.io/campaigns/5c545bd1ae70d16188cd042b/milestones/5c545ceaae70d16188cd0432

[2019-02-01 14:51] #650 closed

[2019-02-01 14:52] vojtechsimetka opened #654 "Develop Environment is broken"
Develop environment does not show any Campaigns or DACs.

<img width="1917" alt="screen shot 2019-02-01 at 11 44 30" src="https://user-images.githubusercontent.com/7974813/52129773-2c3fe900-2617-11e9-8e7b-837e928f7fa9.png">

[2019-02-01 18:48] bowensanders opened #655 "Milestones showing incorrect, large number, in profile page"
It seems there's a decimal point issue here which causes the display of payment amounts incorrectly, adding 8 places to the decimals:

![Screen Shot 2019-02-01 at 10.44.08 AM.png](https://images.zenhubusercontent.com/5b4f6d6dcce7d56699051c71/cf061004-4484-4ea3-b5a9-acb71a215c9a)

It seems to be happening on profile pages and not the actual milestone pages. It is also displaying correctly on my-mil

[2019-02-01 20:06] Kisgus commented on #621
We are now trying to disburse, seems to work, will confirm when/if funds has been successfully disbursed :)

[2019-02-03 11:16] GriffGreen opened #656 "Verify rinkeby code on blockscout, and link to blockscout for rinkeby code"
https://blockscout.com/eth/rinkeby/address/0x4922d273da510d13fadf886612572d38ef025abf/contracts

This is one of many contracts that we can't seem to verify on Rinkeby... but i would love to see verified on blockscout

Then it would be nice to change all our rinkeby links to blockscout :-D

[2019-02-03 22:06] GriffGreen opened #657 "Profile page amounts are in wei"
https://beta.giveth.io/profile/0x53516256736bEbf6b5ACd3aBA9994A064247cF9D

[2019-02-04 06:43] vojtechsimetka opened #658 "Actions in Milestone don't require authentication"
It is possible to take Milestone actions even when the user is not signed in. This throws error in UI saying there was an error and the TX did not go through. This is however not the case, the TX is made correctly but feathers is not updated correctly. Once mined and confirmed the UI is upgraded correctly.

<img width="1400" alt="screen shot 2019-02-04 at 06 41 02" src="https://user-images.githubu

[2019-02-04 06:46] vojtechsimetka opened #659 "Whitelist issue"
This milestone throws whitelist error when attempted to edit or mark as complete. https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5c41ef8754c4dd181cdb2893/edit

Interestingly the edit window loads for me but does not load for @mroberts10

**Email report:**
[code]

[2019-02-04 11:10] lorelei1 opened #660 "Max amount when creating milestone is buggy"
Pretty sure this issue has been rehashed several times before.... but I can't find it now and also the scenario is a little different:
I selected DAI in *all the places* BEFORE I ever put a number in... and it's still calculating the "Max Amount in DAI" as if it's ETH.
<img width="918" alt="screen shot 2019-02-04 at 11 54 48 am" src="https://user-images.githubusercontent.com/38163206/52204868-aa99

[2019-02-04 11:15] lorelei1 commented on #660
Oh! I figured out how to fix it!
NOT! Lol.
<img width="830" alt="screen shot 2019-02-04 at 12 13 11 pm" src="https://user-images.githubusercontent.com/38163206/52205165-783c9900-2876-11e9-8304-1cda8679f8a5.png">

1 DAI=1 ETH uhhhhhh

[2019-02-04 11:48] lorelei1 commented on #646
it's happening to me too!
<img width="1130" alt="screen shot 2019-02-04 at 12 45 10 pm" src="https://user-images.githubusercontent.com/38163206/52206633-192d5300-287b-11e9-990e-7fa6265583ff.png">

JSYK when I was creating this milestone it was quite buggy too, idk if related but I made this issue about it: https://github.com/Giveth/giveth-dapp/issues/660

[2019-02-04 15:18] #631 closed

[2019-02-04 15:23] vojtechsimetka commented on #660
Yeah this is a bug and rather dangerous one. Also encountered this issues with exchange rates and there is a fix RJ is going to merge from the Giveth.One repo - https://github.com/Giveth-One/giveth-dapp/commit/8e31c0e218f19da86c9a0bb45452cb6265e5f2db#diff-2fd7757f4dffb4f8bf4c2298f93e5048R15.

[2019-02-05 16:17] GriffGreen opened #661 "Change the "Milestone" term to something else"
Following from the UX audit, the term "milestone" was considered out of place. Maybe `Proposal`would fit better... maybe this renaming should be crowd sourced?

Created a loomio: https://www.loomio.org/p/I0O1sAT3/change-milestone-to-something-else

[2019-02-06 23:25] GriffGreen commented on #450
I wish i had a clear way to do it... but it's the blind leading the blind... can we put this on gitcoin?

[2019-02-06 23:38] gentlemandonadams opened #662 "Milestone completion email says "Ether", regardless of whether Ether or Dai is involved"
A milestone I was involved in was recently confirmed as complete.  The milestone was denominated in Dai, but when I received the email confirming that the milestone had been completed, the text of the email invited me to collect my "Ether".  Not sure if we want to go with a token-neutral wording or specify which type of token the recipient will be collecting, but either way we can't be calling Dai

[2019-02-07 10:39] GriffGreen opened #663 "Went to make a small text edit of a milestone and i get an error"
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5c41ef8754c4dd181cdb2893/edit

Either i don't have the permissions to edit this.. (I'm the campaign manager and reviewer is there a conflict there?)

Or there is a more general bug... I'm using the brave browser.

<img width="1191" alt="screen shot 2019-02-07 at 11 35 57 am" src="https://user-images.githubusercontent.com/14945613

[2019-02-07 10:41] GriffGreen opened #664 "Change `Support` to something else"
From the UX audit, the wording of support in this context is justifiably a poor choice...

I suggest we rename it to: "Create an Issue" but am open to ideas.

[2019-02-07 10:49] GriffGreen commented on #664
https://www.loomio.org/p/NmzyI3qg/changing-support-to-something-else

[2019-02-07 21:57] ewingrj commented on #520
this is fixed

[2019-02-07 21:57] #520 closed

[2019-02-07 21:59] krrisis opened #665 "Error when editing Milestone title"
When I edit the title of an existing Milestone I get the below error:

![image](https://user-images.githubusercontent.com/6533925/52445606-da71f400-2b2b-11e9-8f1f-916f59f46396.png)

This is the Milestone: https://beta.giveth.io/campaigns/5c0f381f06392d786b64d4dd/milestones/5c42fc2e54c4dd181cdb2935

Error report only holds the below

      Description of the Error:
      Something went wrong with t

[2019-02-07 22:43] ewingrj commented on #660
should be fixed in 141699d74c84d877a92c3399b940feb65a60e356

[2019-02-07 22:51] ewingrj commented on #663
duplicate of #665. Should be fixed now

[2019-02-07 22:51] #663 closed

[2019-02-07 22:54] #665 closed

[2019-02-08 15:25] ewingrj commented on #656
Contract verification is currently blocked by https://github.com/poanetwork/blockscout/issues/1349

[2019-02-08 15:32] GriffGreen commented on #450
@ewingrj will keep in the back of his mind and do research when he can

[2019-02-08 15:36] ewingrj commented on #578
We already do this when we ask a user to signin, but we should do it for all actions

[2019-02-08 15:50] #277 closed

[2019-02-08 15:50] GriffGreen commented on #277
being implemented in #517

[2019-02-08 16:06] GriffGreen commented on #564
Looks great!!!

[2019-02-08 16:06] #564 closed

[2019-02-08 16:31] GriffGreen commented on #551
AWESOME!

[2019-02-08 16:31] #551 closed

[2019-02-08 16:32] GriffGreen commented on #597
Huge fix! Thank you!

[2019-02-08 16:32] #597 closed

[2019-02-08 17:24] GriffGreen opened #666 "Add kyber network integration"
I had a conversation with someone from kyber... i need to find them and get the conversation going

[2019-02-11 18:06] lorelei1 opened #668 "Conflicting Milestone Approval msgs"
First when I clicked approve milestone (signed the metamask tx too) the DApp gave me this message:
<img width="854" alt="screen shot 2019-02-11 at 11 01 59 am" src="https://user-images.githubusercontent.com/38163206/52583412-bdb81380-2dec-11e9-8da5-d1d5e3566c27.png">

And then before I had time to fully try again, it gave me a green "Milestone Approved" banner.

[2019-02-12 02:15] gentlemandonadams opened #669 "Campaign has milestones in DAI and ETH; Donate button only gives ETH option"
I clicked the Donate button for the GRACEaid campaign (https://beta.giveth.io/campaigns/5c4794dd8a6a785b61462b0f)

Although this campaign has Milestones associated with it that are denominated in both ETH and DAI, the donate button took me to a page where I was given the option to donate in ETH but no DAI option.  Seems I should be given a choice between the two rather than just ETH.

[2019-02-12 04:38] lorelei1 opened #670 "Is there now a second Metamask tx to delegate to milestones?"
Some very fishy things are happening when delegating to Milestones. I get prompted *twice* to sign a metamask transaction.
The first time it happened I was surprised by a second metamask tx after I had already completed the process:
<img width="814" alt="screen shot 2019-02-11 at 8 23 22 pm" src="https://user-images.githubusercontent.com/38163206/52611386-955b0400-2e42-11e9-9473-1a8c249c05e0.png">

[2019-02-12 14:44] krrisis commented on #669
hey adam, are you connected to mainnet when you do this? then you should see this option!

[2019-02-12 17:12] gentlemandonadams commented on #669
You're right, I see that now

[2019-02-12 17:12] #669 closed

[2019-02-12 19:42] ewingrj opened #671 "Release 2019-02-12 bugs"
This is to transparently collect all the bugs in the next 2019-02-12 release. Please test the various milestone flows & configurations. All tests are to be made on [release.giveth.io](release.giveth.io).

## Bugs
### Critical:

### Major:

### Minor:

## Testing guidelines
To test the tokens you will need to request MiniME token from @vojtechsimetka (@vojtech:matrix.org) and add the token to your

[2019-02-12 21:52] GriffGreen commented on #671
<img width="114" alt="screen shot 2019-02-12 at 10 51 38 pm" src="https://user-images.githubusercontent.com/14945613/52670432-cdcd1180-2f18-11e9-83e5-9d49b696b306.png">
Is that true... can we send ANY token? or is it only ETH and DAI and any whitelisted token

[2019-02-12 22:09] GriffGreen commented on #671
Small cosmetic thing
<img width="323" alt="screen shot 2019-02-12 at 10 58 47 pm" src="https://user-images.githubusercontent.com/14945613/52671284-f229ed80-2f1a-11e9-9471-70ef79ca72f2.png">
unless 2 tokens have been sent to the milestone... it should say Balance... I would say... just make it say Balance and let the grammar be wrong if there 2 balances there as that is the more unlikely use case

[2019-02-12 23:09] GriffGreen commented on #645
Ran into this again...

I forgot about the random little donations that were in the Giveth DAC from Thailand repayments... So UNKNOWINGLY I delegated 4 different pledges to Bowens milestone... The UX missing here is that I dont get to choose which of the donations get sent to this milestone...

In this case, i have to redo another donation on top, cause Bowen needs the cash and i dont think i can

[2019-02-12 23:12] lorelei1 opened #672 "Bug with Committing delegations"
I already committed this delegation yesterday (with full success messages from the DApp), and then went back to my milestones page to find that it wants to be committed again...
<img width="1014" alt="screen shot 2019-02-12 at 4 09 20 pm" src="https://user-images.githubusercontent.com/38163206/52674509-0cdf7080-2ee1-11e9-90b1-6122cebf12a1.png">

[2019-02-12 23:14] GriffGreen commented on #645
Maybe if in this screen:
<img width="700" alt="screen shot 2019-02-13 at 12 12 20 am" src="https://user-images.githubusercontent.com/14945613/52674511-1c33dd80-2f24-11e9-9611-7ce73b99b63e.png">
It could have a "Choose which donations to send here" option... or even just check boxes next to the list of options or something :-D

[2019-02-13 13:31] GriffGreen opened #673 "Etherscan Links should always open in a new tab"
<img width="924" alt="screen shot 2019-02-13 at 2 27 29 pm" src="https://user-images.githubusercontent.com/14945613/52714996-9d7a8700-2f9b-11e9-904f-1fa4469c9961.png">

Clicked the address in D's profile and the etherscan opened inthe same tab taking me off the site... all etherscan links should go to a new tab

[2019-02-13 14:34] ewingrj commented on #671
yes and no. The UI only supports the whitelisted tokens, as well as the bridge. But there are no token restrictions in the lp or milestone contracts

[2019-02-13 21:14] lorelei1 commented on #660
Well I'm happy to find the issue #646 part of my problem is fixed... but I've still got this DAI conversion bug going on in this milestone.
<img width="915" alt="screen shot 2019-02-13 at 2 08 37 pm" src="https://user-images.githubusercontent.com/38163206/52744307-918dc580-2f99-11e9-8021-17d463238b48.png">

[2019-02-13 21:16] lorelei1 commented on #660
@ewingrj idk if the fix you are talking about is just in the new release, or is in beta... can you help me understand if I just need to remake this milestone all together? I'll probs do that if I don't hear back from you, it's not a big deal to do.

[2019-02-13 22:54] mroberts10 commented on #489
@gitcoinbot open issue - can you help us find another person for this issue

[2019-02-13 23:13] lorelei1 commented on #660
ack! which one do I donate to? I'm guessing this double is related to the same bug because I had to create this milestone in eth because DAI conversion was broken in the way described above. And now that @krrisis decided to fund this milestone thru the Unicorn DAC, I need to know where to delegate the donation!
<img width="965" alt="screen shot 2019-02-13 at 4 08 12 pm" src="https://user-images.gi

[2019-02-14 14:43] ewingrj commented on #660
You're going to have to cancel & re-create that milestone. The ui is displaying what the contract shows

[2019-02-14 14:58] ewingrj commented on #660
regarding the duplicate milestones...

It looks like it was created 2x. Here are the corresponding txs. Notice the data is exactly the same.

https://rinkeby.etherscan.io/tx/0x45d9f470dce277b131821a3f7dac6eeeae5ca9cb62905f74b056725b0ae4a617
https://rinkeby.etherscan.io/tx/0xdba949aea81662e57f72ba803d0e0c9ef3c34cedb5a02fc37d879380e034dfc4

and milestones:
https://beta.giveth.io/campaigns/5b3789513a

[2019-02-14 18:36] lorelei1 commented on #673
griff means they should open in a new tab, not a new window. change title bro! @GriffGreen

[2019-02-14 18:39] GriffGreen commented on #607
So this issue is more about improving the error handling

[2019-02-14 18:44] krrisis commented on #660
Nope, nothing strange that I recall.. I did notice it afterward that there were two and that it looked the same as what I had in #636

[2019-02-14 18:45] GriffGreen commented on #673
Thank you @lorelei1

Also... I have been noticing this is an issue everywhere in the dapp

might be a good gitcoin issue

[2019-02-14 18:46] GriffGreen commented on #645
Ok so the comments above actually need to be in a different issue

[2019-02-14 20:14] GriffGreen opened #674 "When using the delegation button on the milestone, you dont get to choose which donations are sent"
I thought i made an issue for this before... not sure where it went... but i ran into it again

I forgot about the random little donations that were in the Giveth DAC from Thailand repayments... So UNKNOWINGLY I delegated 4 different pledges to Bowens milestone... The UX missing here is that I dont get to choose which of the donations get sent to this milestone...

In this case, i have to redo ano

[2019-02-15 04:03] mroberts10 commented on #297
Hey Vojtech, has this issue been sorted? Was there some sort of web3 update?

[2019-02-15 19:02] lorelei1 opened #675 "this donation has been pending for a month"
I don't know why this is happening... I don't think @krrisis ever even got prompted to commit this donation after i delegated it for him...
<img width="841" alt="screen shot 2019-02-15 at 12 01 03 pm" src="https://user-images.githubusercontent.com/38163206/52878278-7944b480-3119-11e9-8efd-3b4265567ec3.png">

[2019-02-15 19:02] lorelei1 commented on #675
the spinner's still spinning

[2019-02-16 07:01] #630 closed

[2019-02-16 07:02] #558 closed

[2019-02-16 07:04] GriffGreen opened #676 "Donating with mycrypto was a feature... what happened?"
now you have to use metamask... what happened to the previous option? is it not worth having in the dapp?

[2019-02-16 07:04] #634 closed

[2019-02-16 07:05] GriffGreen commented on #634
not sure how to check, but i'll give you the benefit of the doubt

[2019-02-16 07:06] GriffGreen commented on #614
trusting....

[2019-02-16 07:06] #614 closed

[2019-02-16 07:08] GriffGreen commented on #616
trust

[2019-02-16 07:08] #616 closed

[2019-02-16 07:09] #605 closed

[2019-02-16 07:09] GriffGreen commented on #418
thx

[2019-02-16 07:09] #418 closed

[2019-02-16 07:15] #594 closed

[2019-02-16 07:15] GriffGreen commented on #608
trust

[2019-02-16 07:16] #608 closed

[2019-02-16 07:17] #560 closed

[2019-02-16 07:19] GriffGreen commented on #568
trust

[2019-02-16 07:19] #568 closed

[2019-02-16 22:10] mroberts10 commented on #297
Kay can you remove the funds

[2019-02-16 22:13] mroberts10 commented on #98
@geleeroyale  can we pay this out.

[2019-02-16 22:15] #263 closed

[2019-02-16 22:48] mroberts10 commented on #668
Great opportunity to improve our error handling... Would be a solid way to learn how the dapp works for a new dev

[2019-02-16 23:08] mroberts10 commented on #660
@lorelei1 can you cancel the milestone. The bug has been fixed but previous milestone have to be cancelled.

[2019-02-16 23:09] #659 closed

[2019-02-16 23:17] geleeroyale commented on #98
To @vojtechsimetka I assume? Sure!

Please follow this procedure:

1 - register on openbounty.status.im to link your github account to a metamask account (think you did that)
2 - sumbit another (possibly empty PR?) with ONLY the following comment: `fixes #[this issue number]` (fill in the issue number and no square brackets)
3 - Ping @geleeroyale, to accept the PR and initiate payout

[2019-02-16 23:18] bowensanders opened #677 "Unable to change my name in Profile"
When changing my name, or URL, the save profile button remains greyed out and clicking does not work.

<img width="228" alt="screen shot 2019-02-16 at 4 16 52 pm" src="https://user-images.githubusercontent.com/27023908/52906314-6a87fb80-3206-11e9-9b05-6f8b2e4ebeeb.png">

[2019-02-16 23:21] geleeroyale commented on #297
Someone has to claim them - do it @mroberts10 =)

Please follow this procedure:

1 - register on openbounty.status.im to link your github account to a metamask account
2 - sumbit an empty PR with the following comment: fixes #[your issue number] (without the square brackets)
3 - Ping @geleeroyale, to accept the PR

[2019-02-17 01:37] eswarasai commented on #522
What's the proposed solution here? Let me know what exactly is needed to be done so that I can give it a try. Thanks!

[2019-02-17 17:13] krisc opened #678 "Broken link in readme"
The link at the top of the readme seems to be broken. Maybe it should just go to https://giveth.io ?

[2019-02-17 17:14] krisc commented on #678
Sorry, not in the readme, but at the top of this page https://github.com/Giveth/giveth-dapp

[2019-02-17 19:51] vojtechsimetka commented on #522
@eswarasai two options I guess:

1. Push them to the feathers service (our backend)
2. Store them in local browser storage

I am personally more interested in option 2 but option 1 is easy and more consistent with what we already do.

[2019-02-17 20:00] eswarasai commented on #522
@vojtechsimetka -- Thanks for getting back to me with the possible options. It definitely makes sense to go with option 1 rather than relying on the `localStorage` as the cache can be cleared and loss of data can happen at any point of time.

I'd love to work on this but since @charlie4biz has already applied to work on this, I'll let him take this forward. In case there's any additional help need

[2019-02-18 01:22] Danibelle opened #679 "Right click Milestones to open in new tab"
Unicorn DAC has me scanning the campaigns for milestones that meet funding prioritization criteria, and having to 'go back' to the full list every time I select one to review is a real pain as the lists get longer.

From the main page it would be AWESOME to right click on a DAC, Campaign, or Milestone and open several in new tabs.

[2019-02-18 01:26] Danibelle opened #680 "Eth Amount in this Milestone does not match Exchange Rate"
https://giveth.github.io/xchange-rates/?v=873.78640777&t=1546279200&l=ETH&r=USD

 873 ETH is 900 USD?  Something does not look right on  [this milestone:](https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5c114ac34a43c73a7ca14108)

[2019-02-18 15:19] Danibelle opened #681 "Milestone Canceled, Now What?"
Andreas has canceled this [milestone] as the creator: (https://beta.giveth.io/campaigns/5bd7ad6cdb72b92a41002fc5/milestones/5bd8f88ddb72b92a41002ffe)

Dani has canceled the [campaign](https://beta.giveth.io/campaigns/5bd7ad6cdb72b92a41002fc5)

Dani had previously donated an ETH to the milestone directly, which shows in My Donations:
![image](https://user-images.githubusercontent.com/39466970/52960

[2019-02-18 17:47] Danibelle opened #682 "Transparent Traffic Analytics for Campaigns"
A lot of energy has been going into the communications for our beta campaigns, and we'd like to analyze how that is working out.

DataFund is requesting to view traffic analytics for their campaign landing page, including where the traffic is coming from and the responses to social media posts as well as medium articles and their own blogs.  They will be running some promotional campaigns soon and

[2019-02-18 18:25] Danibelle commented on #682
@geleeroyale I hear you may be able to help with this one?

[2019-02-20 01:17] gentlemandonadams opened #683 "Milestone page doesn't alert user to switch metamask settings from mainnet to rinkeby"
With metamask set to mainnet instead of rinkeby, I attempted to mark a Milestone complete from the Milestone page itself (https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c12c07538756672b224ebd9).

When I tried to click the "mark complete" button, nothing happened (i.e. I wasn't prompted to change my settings in metamask to point to the rinkeby network.)

I experienced a simil

[2019-02-20 01:29] lorelei1 commented on #675
this one too https://beta.giveth.io/campaigns/5c0f381f06392d786b64d4dd/milestones/5c45c89c54c4dd181cdb2a6b

[2019-02-20 15:02] iamonuwa commented on #489
@mroberts10 I'll work on it and get it done now.

[2019-02-20 15:05] Danibelle commented on #675
Here's how it looks in My Donations - errors when I attempt to commit:
![image](https://user-images.githubusercontent.com/39466970/53101066-0c556400-34f7-11e9-8846-9ab5c762212f.png)

[2019-02-22 09:54] mmohorko opened #685 "The "Collect" button does not work."
The button doesn't work and we can't collect the money from the closed milestone. Please help. Tnx.

[2019-02-22 15:32] vojtechsimetka commented on #678
fixed

[2019-02-22 15:32] #678 closed

[2019-02-22 15:35] vojtechsimetka commented on #680
@GriffGreen cancel

[2019-02-22 15:39] GriffGreen commented on #680
it was canceled...?

[2019-02-22 15:42] GriffGreen commented on #683
@gentlemandonadams !!! Thank you for making this issue!!! What browser are you using? We can't recreate this issue.

[2019-02-22 15:44] #682 closed

[2019-02-22 15:45] GriffGreen commented on #685
https://beta.giveth.io/campaigns/5c34c70746d9c6792565407e/milestones/5c34c99946d9c67925654081

[2019-02-22 15:46] vojtechsimetka commented on #680
No you should cancel it and recreate

[2019-02-22 15:48] mroberts10 commented on #685
@ewingrj can you take a look at this?

[2019-02-22 15:49] mroberts10 commented on #685
@mmohorko are you on mainnet or rinkeby?

[2019-02-22 15:49] GriffGreen commented on #685
The same account is able to collect and disburse

[2019-02-22 15:52] GriffGreen commented on #680
it looks like it was canceled on my side:
<img width="601" alt="screen shot 2019-02-22 at 4 52 09 pm" src="https://user-images.githubusercontent.com/14945613/53253748-3e66f180-36c2-11e9-998b-3edffe3f4aea.png">

[2019-02-22 16:29] vojtechsimetka commented on #680
You are right

[2019-02-22 16:29] #680 closed

[2019-02-22 16:47] Danibelle opened #686 "CryptoXmas Milestone status hanging in 'My Milestones'"
Looks like there's a bug in completing this [milestone](https://beta.giveth.io/campaigns/5c0e84ea06392d786b64d484/milestones/5c0e959806392d786b64d48c), I am the reviewer:

![image](https://user-images.githubusercontent.com/39466970/53257162-76a50a80-3697-11e9-896f-43d99e031742.png)

[2019-02-22 17:52] e18r commented on #522
Hi, thank you for approving me to work on this! Please let me know if I need to do anything else to disable the abandonment warning. Cheers!

[2019-02-22 19:33] gentlemandonadams commented on #683
Chrome on Mac (OS Mojave)

[2019-02-24 19:29] Danibelle commented on #681
Cancelled all Andreas' previous campaigns (they've been recreated as milestones under a single GRACEaid Campaign now.  Here's how they still show up in My Campaigns (I am the Reviewer):
![image](https://user-images.githubusercontent.com/39466970/53304170-68462280-3840-11e9-8985-b27c32488d90.png)

I'd like to be walked through and learn how to check up on these donations and escort them through the

[2019-02-24 20:42] GriffGreen opened #687 "Weird donation hanging... accounting off in milestone?"
<img width="880" alt="screen shot 2019-02-24 at 9 40 21 pm" src="https://user-images.githubusercontent.com/14945613/53305052-dc062080-387c-11e9-8959-fbf84e0db93a.png">
Not sure about the accounting for this milestone... something happened where both kay and I sent money to this milestone? But his is hanging? Maybe extra money went into the milestone?

https://beta.giveth.io/campaigns/5b37e5caa239a

[2019-02-24 21:06] geleeroyale commented on #687
What happened was that Griff and I were donating at the same time (within seconds of each other) to this milestone. It might pay off to watch what happens down the line. My last action was to request a refund.

[2019-02-24 22:04] vojtechsimetka opened #688 "Vojtech's Handover"
I would like to slowly handover my responsibilities on the DApp to the remaining Giveth community. @GriffGreen suggested I create issue about it. Here is a list of things I have access to that I no longer wish to maintain and the latest I am willing to continue with the role:

- [x] Giveth DApp Overflow multisig (end of Feb) 0x16fda2fcc887dd7ac65c46be144473067cff8654
- [x] Giveth DApp EscapeHatch

[2019-02-24 23:52] krrisis commented on #390
I think this one still needs to be figured out, right? It's an annoying one but maybe this is another one to put on gitcoin --> someone should calculate how much the eth was off and how much should be reimbursed to the different people

[2019-02-25 02:48] GriffGreen commented on #522
@e18r !! That sounds awesome! i'm glad you are going for the local storage option. Go with the plan and alert us here if you get stuck on anything!

The only thing thats scary to me is saving every minute... I assume that its a low bandwidth thing, but if its not ideally it doesnt run in the background sucking people's data... I don't really know what i'm talking about tho, and it sounds like some

[2019-02-25 07:32] vojtechsimetka commented on #390
@krrisis here it is. There may be some small errors but this was shared before. I am not going to do anything about this anymore mostly because the difference is for the most affected less than 30 USD https://docs.google.com/spreadsheets/d/11fdhiv0_KhjsEujwzntvXecVr9i_Sj3EVMBQXrJUQ78/edit?usp=sharing

[2019-02-25 11:37] e18r commented on #522
Nice! Thanks. Since it's a local operation, there is no bandwidth involved. Only processor and memory, which, of course, are scarce resources and need to be managed accordingly. But this operation will only take place *if* there are new changes, which I think makes things manageable. As soon as I'll be working on this, I'll have better insights, so I'll keep you informed.

[2019-02-25 11:50] mmohorko commented on #685
I tried Rinkeby and the button worked now. We can close this issue.  Thank you for your help.

[2019-02-25 19:57] GriffGreen commented on #591
Showing another user how to do it now :-(

[2019-02-25 20:43] GriffGreen commented on #591
https://rinkeby.etherscan.io/tx/0x63c47cc37a91f80be103b5ea1ea367b1af4bba23aaea0935b2229027d3487e8d#decodetab

Thats how i did it the first time...

here are the instructions i'm giving to someone else:

go here:
https://rinkeby.etherscan.io/address/0xff9cd5140e79377feb23f6dfaf1f8b558c0fe621#writeContract

Click "Connect with metamask"
<img width="655" alt="screen shot 2019-02-25 at 9 36 13 pm" src

[2019-02-25 21:49] geleeroyale commented on #688
Thank you @vojtechsimetka for initiating this. I wanted to talk about permissions a while ago with you and never got around to do it, so I am very excited that you handle the handoff in this professional manner.

There is some stuff you can take off the list immediately, as I have the same permissions and can handle it for you - that is the general administration of  Netlify, Github, DNS, cloud VP

[2019-02-25 23:01] vojtechsimetka commented on #688
Thanks @geleeroyale . I am happy to stay on the Netlify, Github and Feathers until May should there be any urgent issues. But I do not want to be on the multisigs as that brings much greater liability for me.

[2019-02-26 02:33] GriffGreen commented on #526
Might be easiest if we have a quick call to explain the user flow here :-D If you are familiar with matrix, i bet this will be easy.

[2019-02-26 02:36] GriffGreen commented on #604
@ewingrj has ideas on this one hopefully you can lay them down asap so the bounty hunter can attack ;-)

[2019-02-26 02:47] GriffGreen commented on #645
I'm happy to do a quick call to explain what we need here.

[2019-02-26 02:48] GriffGreen commented on #489
@iamonuwa is there something we need to do? :-D?

[2019-02-26 02:49] GriffGreen commented on #494
This should be a really easy win

[2019-02-26 16:52] krrisis commented on #534
It did not but now I created a mail forwarder address, so now I finally get them. thx!

[2019-02-26 18:28] GriffGreen commented on #489
@iamonuwa just so you know, we made things easier... @ewingrj might have something to add

[2019-02-26 18:31] vojtechsimetka commented on #98
@geleeroyale no it should go to @cbrenn or @emilcecarlisa

[2019-02-26 18:32] ewingrj commented on #489
note, I edited the description a bit to reflect the current contracts

[2019-02-26 18:48] GriffGreen commented on #342
@eswarasai At one point this was working... we should be able to add a column.... @ewingrj will make a comment

[2019-02-26 18:54] GriffGreen commented on #607
any time there is a call to feathers, the error needs to be wrapped... or something... eliminating the need for signing in will help maybe... i dont know ... just quick notes

[2019-02-26 18:55] ewingrj commented on #342
note: the backend should have all the confirmation info already attached to entity

props:

`requiredConfirmations: 6`
`confirmations: 6`

[2019-02-26 18:56] GriffGreen commented on #563
this is a soft ball

[2019-02-26 18:57] vojtechsimetka commented on #563
It is very likely there is `this.setState({isLoading: false})` missing when the tx is rejected.

[2019-02-26 18:58] GriffGreen commented on #580
ok so you can queue up 2 transactions in metamask... thats really the answer! instadapp.io

[2019-02-26 19:07] #685 closed

[2019-02-26 19:09] GriffGreen commented on #677
this is a one off and we can leave this for if it becomes an issue for someone else

[2019-02-26 19:32] emilcecarlisa commented on #98
@geleeroyale, can we split between @cbrenn and me? We worked on it together.

[2019-02-26 19:40] ewingrj commented on #604
The issue is that pledges are aggregated in the contracts & we want to display them w/o aggregation in the ui.

What happens right now is a payout happens and a single PAID donation is created in feathers, with the payout date and a reference to the original donations that were paid. Instead of creating this aggregated donation in feathers, we probably need to create 1 PAID donation for each donat

[2019-02-26 23:20] GriffGreen commented on #54
This is easy to do for ETH but for tokens it might be a challenge... its about the pop up that happens when people click the donate button. It shows the balance in two places...
<img width="969" alt="screen shot 2019-02-27 at 12 18 44 am" src="https://user-images.githubusercontent.com/14945613/53453761-55d90e00-3a25-11e9-8721-33c6edab141c.png">
Here:
<img width="97" alt="screen shot 2019-02-27 at

[2019-02-26 23:25] GriffGreen commented on #536
This should be an easy one for bounties :-D

[2019-02-27 01:14] GriffGreen commented on #688
i think i found another multisig on rinkeby... 0xc3b2128ca330871037d35fdc5f7b05e195aac5ce i can't really see who is on it

[2019-02-27 06:39] eswarasai commented on #342
@ewingrj -- Okay. I think there's a little confusion here on the intended behaviour of the existing code. Below is the behaviour that I've seen. Let me know what exactly needs to be changed and where.

1) Made a donation for `DAC Rocky Mountain National Commons`
2) In the list of `My Donations`, I was able to see the pending state of the transactions
3) A column for `confirmations` is displayed as

[2019-02-27 14:28] MorganGR opened #690 "Issue in BETA when deleting Milestone Proof"
In the current BETA version when trying to delete a Milestone Proof the button is enabled (big X) and clickable but when clicking and Saving (Updating) the Milestone Proof the line is not removed.
![milestoneproofenabledx](https://user-images.githubusercontent.com/34093087/53497398-f79b4200-3a9b-11e9-9ea2-654015a6c32c.PNG)
![milestoneproofremoved](https://user-images.githubusercontent.com/34093087

[2019-02-27 17:03] krrisis commented on #675
Could we possibly prioritize this issue @ewingrj @mroberts10 ?
I urgently need some funds to be able to pay my bills and the Unicorn DAC is already a delay in itself, the fact that funds have been 'hanging' for a weeks makes it more difficult/stressful. Thanks so much for your help.

Milestones that currently have funds stuck that I have and for which Loie & Dani cannot commit:

https://beta.givet

[2019-02-27 17:33] ewingrj commented on #675
this is fixed now. @Danibelle do you still have the above issue?

[2019-02-27 17:33] #675 closed

[2019-02-27 17:56] ewingrj commented on #690
has this milestone already been created?

[2019-02-27 18:14] MorganGR commented on #690
Yes!

[2019-02-27 18:38] krrisis commented on #675
Indeed fixed, thx RJ!

[2019-02-27 18:49] ewingrj commented on #342
Correct, the confirmations are only added once the tx has been mined. So for pending tx, we can just say 0 confirmations. The confirmations should be updated on the backend, but the data in the ui may not be reactive, so the ui only doesn't reflect the intermediary values.

I don't see the point of showing the column if there are no pending txs. I think keeping the current behavior would be best

[2019-02-27 18:51] ewingrj commented on #690
okay, so the bug here is that the "X" is visible. Once a milestone is created, you should not be able to remove a "proof" b/c the proofs are used to calculate the maxAmount of the milestone.

thanks for reporting

[2019-02-27 18:57] ewingrj commented on #687
it looks like this got sorted out. the milestone looks correct now.

@geleeroyale fyi, when you request a refund, the tokens end up in your wallet on rinkeby and the ui doesn't support that right now. #591. You'll need to manually call lp or bridge contract to donate/withdraw

[2019-02-27 18:57] #687 closed

[2019-02-27 20:20] lsaether commented on #526
Hey @GriffGreen can you check out my PR and let me know if the button displayed on the Community / DAC page satisfies the two bottom requirements of the proposal. Or, if a different a user flow is required, what would it look like?

What I've implemented is a `roomId` field on each community / DAC object which is a Matrix room. The Matrix room is generated at creation of the comm/DAC or on next ed

[2019-02-27 20:22] lsaether commented on #526
Oh, and I was having trouble actually testing that it works for creating campaigns since the `Select a reviewer` drop down had no options and is required to submit. How do I fix it?

[2019-02-27 21:03] GriffGreen commented on #526
the picture looks great! I tried deploying a dac in your version but it got stuck on me :-P

<img width="875" alt="screen shot 2019-02-27 at 9 54 45 pm" src="https://user-images.githubusercontent.com/14945613/53522316-63040480-3ada-11e9-9b16-e133f85a720f.png">

As far as reviewers in campaigns... it looks like it works...
<img width="837" alt="screen shot 2019-02-27 at 9 51 14 pm" src="https://use

[2019-02-27 22:00] lsaether commented on #526
Hm. weird maybe something with the configuration I was running. will create a dummy matrix account for an access token and add it as the default token, it expected one as an environment variable and thats why it got stuck.

will tweak a bit more

[2019-02-28 00:20] ewingrj commented on #686
this was caused by https://github.com/Giveth/feathers-giveth/issues/105.

this milestone should be fixed now, but not the main issue

[2019-02-28 00:20] #686 closed

[2019-02-28 00:27] ewingrj commented on #681
this donation should show up as refundable now. I think it will also show up on the delegations page as well

[2019-02-28 00:27] #681 closed

[2019-02-28 00:40] ewingrj commented on #670
I couldn't reproduce this locally

[2019-02-28 00:45] ewingrj commented on #526
@lsaether regarding reviewer list:

theres a bug where a profile needs to be created 1st. Just create a profile (name only is fine) for one of the ganache accounts before creating a campaign/milestone

[2019-02-28 00:56] debragail commented on #297
I believe this is a known issue with node that I ran into with @status-open-bounty last year.

[2019-02-28 01:09] GriffGreen opened #692 "small bug, new users need to create profile before reviewer list will show when making a campaign"
not really an issue for the beta, more for testing environment and new contributors... see how it came to light in issue https://github.com/Giveth/giveth-dapp/issues/526 specifically https://github.com/Giveth/giveth-dapp/issues/526#issuecomment-468090144

[2019-02-28 03:04] JoshuaDuChene opened #693 "Giveth DApp Feedback - adding goals, campaigns beneath DACs, listing needs other than money"
Hi peeps! This is my first time using Github to add an issue, so I apologize if I'm doing this wrong.

First, I'm super stoked for the new version! I just played with it for wayyy too long, and I really like it. I made a new DAHC (Decentralized Altruistic Hugging Community) with two campaigns, the MPH (Mass Proliferation of Hugs) and the GAHGAH DApp (Give A Hug, Get A Hug), including a milestone b

[2019-02-28 10:23] eswarasai commented on #342
@ewingrj -- Understood. So the issue here is data in the UI not being reactive and I need to ensure that the `feathersClient` is propagating the intermediary values to the UI. Please do confirm. Thanks!

[2019-02-28 12:21] geleeroyale commented on #98
Well - Please follow my instructions - the openbounty system is very picky about bounties and will not register some merges. Right now I can not access openbounty due to a bug - I hope it goes back online soon. As for splitting the bounty, this is not possible from the system, but you can just claim it with one account and send half to another account when you get it.

**Instructions:**
1 - regist

[2019-02-28 12:47] geleeroyale commented on #591
Thank you @GriffGreen for these step by step instructions. I need to rescue some DAI - not ETH from the contract. I tried to do it like you wrote here, but I get **execution reverted**.

This is how it looks for me before sending - I try to liberate `25.89590400 DAI`

![image](https://user-images.githubusercontent.com/317685/53567392-62fa1800-3b5f-11e9-9bf0-d56c690ef88f.png)

[2019-02-28 13:01] krrisis commented on #513
Okay, so finally receiving mails again and having this same issue, so reopening.
The issue only appears in the **office outlook mail agent** (office 365, latest version), I don't know why an entirely different url is showed when sent to different clients but maybe worth to figure out as many people use Outlook?

Links under the main button ('Manage your Milestones') in all mail - **when clicked fr

[2019-02-28 13:21] Danibelle commented on #671
feedback from Joshua in this [issue #693](https://github.com/Giveth/giveth-dapp/issues/693) he created.

[2019-02-28 13:43] ewingrj commented on #342
yes, and confirm that all views in the op show the confirmations for pending txs

[2019-02-28 13:48] ewingrj commented on #591
note: recipient should be where you want the funds to be withdrawn to. It will take 2-3 days for the funds to end up in your wallet, not 5 mins due to the security delays on the bridge.

For DAI use `0xb5afaed1ae9b0485a859023e1372c100b11e98ab` as the `sideToken` address

[2019-02-28 23:36] krrisis opened #694 "Error on disbursing Milestone"
Getting the feared 'oh no' error, our BSOD on disbursing [this Milestone](https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5c5df9709f1aab32c2690baa)

This is the one to which @Danibelle could not commit which @ewingrj fixed and now suddenly her committed amount in there is double, which has pushed my Milestone 350 DAI over the amount. Pretty sure this is the thing causing the e

[2019-03-01 00:39] lorelei1 opened #695 "My Milestones page should be ordered by most recent ones requiring attention"
When there's a milestone I'm interacting with (on page 3 of my milestones) that passes to a new stage of action needed, it stays on page 3. Why???
It should be bumped to the top of page one so that I can see quickly that I need to act.
<img width="940" alt="screen shot 2019-02-27 at 10 51 47 am" src="https://user-images.githubusercontent.com/38163206/53608348-3e119f00-3b77-11e9-9125-a4ebdb16f05d.p

[2019-03-01 12:32] wliyongfeng commented on #494
@gitcoinbot FYI, I'm checking Giveth's wiki and code. Maybe I'll submit a WIP PR in this weekend.

[2019-03-01 18:17] GriffGreen commented on #645
Hey @anshumanv What is your schedule for some of these issues :-D?

[2019-03-01 18:22] GriffGreen commented on #658
grey out the buttons when they wont work.....

[2019-03-01 18:23] GriffGreen commented on #658
its already implemented in my my_milestones

[2019-03-01 18:25] ewingrj commented on #672
I couldn't reproduce this, and unfortunately it's probably too late for me to look at this specific case (lmk if this is still an issue).

[2019-03-01 18:25] #672 closed

[2019-03-01 18:30] GriffGreen commented on #450
dependent on #478

[2019-03-01 18:31] GriffGreen commented on #668
Will be solved by #607

[2019-03-01 18:33] GriffGreen commented on #670
Wait for it to happen again....

[2019-03-01 18:41] ewingrj opened #696 "race condition exists with exchange rates"
see #690. The conversion rates are incorrect and I'm pretty sure this milestone was created after the latest fix

[2019-03-01 18:45] GriffGreen commented on #695
Sort by "updated at"

[2019-03-01 18:47] lorelei1 commented on #660
Ok I canceled the ETH one (i already remade a dai one a bit ago) but FYI it seems to have fixed itself when RJ did the fix... it was actually raising the correct amount of ETH after all that.

[2019-03-01 18:47] GriffGreen commented on #611
will be fixed with #607

[2019-03-01 18:49] GriffGreen commented on #692
only a problem with the development environment...

[2019-03-01 18:50] bowensanders commented on #662
The idea I discussed with RJ at ETHDenver about this was to have it say "ETH" or "DAI" - or in a circumstance that it is mixed-token, just leave off the moniker so it just says "Time to collect.

[2019-03-01 18:54] bowensanders commented on #662
Problems can be addressed here: https://github.com/Giveth/feathers-giveth/blob/develop/src/utils/dappMailer.js

[2019-03-01 18:59] GriffGreen commented on #489
@iamonuwa Are you still on this?

[2019-03-01 19:00] GriffGreen commented on #494
hahaha gitcoin bot is confused :-P

[2019-03-01 19:04] ewingrj commented on #694
should be resolved

[2019-03-01 20:08] krrisis commented on #694
thx for the quick solution RJ

[2019-03-01 20:16] anshumanv commented on #645
Hey @GriffGreen struggling with the local setup now, will fix it soon. Can I know what exactly do we need here, in points if possible? Thanks! 😄

[2019-03-01 21:39] bowensanders commented on #662
Could we consider changing "Ether" to "Funds" in order to simplify the fix and make the changes that would show ETH / DAI / Other as a feature request?

[2019-03-01 21:45] gentlemandonadams commented on #662
I like "funds"!  Just my 2 wei

[2019-03-01 22:02] #696 closed

[2019-03-01 22:04] lorelei1 commented on #670
yeah i haven't experienced this again after that day that I made the issue.

[2019-03-01 22:09] lorelei1 commented on #660
and yeah as far as closing this issue... i myself don't make that many milestones so I don't have the greatest perspective on if the bug is happening still. but everybody seems to be asking me a lot about this one haha. so my two cents is i don't have proof that it's not fixed... so close it? 😝

[2019-03-01 22:45] #660 closed

[2019-03-02 17:35] RichardZhu123 commented on #475
Work in Progress - Didn't receive notification from GitCoin that the request had been approved and the my started bounties page is blank for me in GitCoin. Sorry about that!

[2019-03-02 20:05] webjunkie01 opened #699 "Can't Create Profile On Forked Repo"
Hi guys,

I'm using metamask with an account connected to RinkedBy Test to sign in. But when I try to create my profile it says there's have been a problem creating the profile.

![image](https://user-images.githubusercontent.com/193131/53686979-8e663980-3cfc-11e9-8d3b-437e48d8b21f.png)

Here's my .env

  PORT=3010
  NODE_PATH=src/
  REACT_APP_FEATHERJS_CONNECTION_URL=wss://feathers.develop.giveth

[2019-03-04 11:05] geleeroyale commented on #591
Thank you with the correct token address - it seems like it worked. Can confirm after delay period!

[2019-03-04 14:06] ewingrj commented on #475
there is nothing to work on. it's already fixed. not sure why gitcoinbot commented here. sorry about that

[2019-03-04 22:38] ewingrj opened #700 "entity counters of incorrect for PAID milestones"
https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c1e3d376c76245cd3f97d88

It looks like it is counting the Committed, Paying, and Paid donations

[2019-03-05 06:02] JoshuaDuChene opened #701 "Lionsmane issue: Requesting funds in DAI results in no response upon clicking "Propose Milestone""
I just proposed a milestone on the new Lionsmane update: https://beta.giveth.io/campaigns/5bc0a9a5089683199bce566a/milestones/5c7e0d0d32b73a520a0cb632

When I selected to receive funds in DAI and clicked the "Propose Milestone" button, nothing happened whatsoever, as though I hadn't clicked anything. I tried reloading the page, logging out and back into Metamask, and restarting the browser with th

[2019-03-05 13:58] vojtechsimetka opened #702 "Can't accept proposed milestone"
The new milestone contract does not allow me to accept proposed milestone. There is no obvious error.

https://www.dropbox.com/s/533fh96nsbft81w/Screen%20Recording%202019-03-05%20at%2014.55.12.mov?dl=0

[2019-03-05 14:02] ewingrj commented on #701
hmm, what browser?

I'm not able to reproduce this. [Here](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c7da6cf32b73a520a0cb61a) is a proposed milestone in DAI.

I was also able to propose a milestone with a cap w/o issue.

Did the popup asking if you wanted to propose appear? Did the button say "saving..."?

If you can reproduce this, can you open the devtools console & p

[2019-03-05 14:55] #702 closed

[2019-03-05 14:56] #700 closed

[2019-03-05 15:42] Danibelle opened #703 "Campaign Manager Editing of Proposed Milestone doesn't work"
I have the option to edit a proposed milestone when reviewing:
![image](https://user-images.githubusercontent.com/39466970/53817302-22b9e180-3f33-11e9-8009-7c75a2adf119.png)

Made a minor change to include proposer's name in Milestone Title, then when I click the Update Milestone button, nothing happens.
![image](https://user-images.githubusercontent.com/39466970/53817380-4e3ccc00-3f33-11e9-8cd0-1

[2019-03-05 16:01] Joshfairhead commented on #703
I can confirm the same issue occurs on the proposers side also.

[2019-03-05 16:08] Joshfairhead opened #704 "Lionsmane: Video upload of a .mov 18mb in size hangs indefinitely"
Upload just hangs forever I think (I did not test it that long, just a couple of mins) but in the same time I uploaded to youtube so canceled the file and used the link for my video instead.

[2019-03-05 17:02] #703 closed

[2019-03-05 17:03] ewingrj commented on #703
It should be fixed in a few mins after the deploy finishes

[2019-03-05 17:22] #671 closed

[2019-03-05 20:07] vojtechsimetka opened #705 "Campaign Manager becomes the Milestone Manager when accepting Proposed Milestone"
As a Campaign Manager I have accepted a Milestone that was proposed to my Campaign. When I did that I have received email that my proposed Milestone (that is clearly not mine) has been accepted by the Manager.

Upon closer inspection I have realised that now those milestones are displayed as if I was the one who proposed them.

Milestones:
<img width="1357" alt="screen shot 2019-03-05 at 23 37 13"

[2019-03-05 21:15] vojtechsimetka opened #706 "Changing tokens does funky stuff with exchange rates"
1. If during the process of creating milestone with items user switches the base token, exchange rates don't recalculate for the items.
2. If the token is changed to "Accept donations in all tokens" the output looks

Demonstration of 1: In the screenshot below it was changed from DAI to ETH
<img width="967" alt="screen shot 2019-03-05 at 21 24 32" src="https://user-images.githubusercontent.com/797

[2019-03-05 23:16] #705 closed

[2019-03-05 23:18] ewingrj commented on #706
I've addressed the 2nd point.

The first point existed before the latest release (probably since initial token implementation) and still needs to be addressed

[2019-03-05 23:18] ewingrj commented on #706
thanks for the bug reports ;)

[2019-03-06 00:52] JoshuaDuChene commented on #701
Hi RJ!

I just tried to repro using the exact same parameters, same computer,
browser, wallet, body text & images, reviewer, amount, etc. as before, and
now it's working fine with DAI and ETH both.

But yeah, I was in Chrome on Windows, all synced up with Metamask and
signed into my Giveth account. I tried all sorts of refreshes, logging out
and back in, restarting the browser, basically all the f

[2019-03-06 11:34] #701 closed

[2019-03-07 16:17] lorelei1 opened #709 "Can't view my delegations"
Darn :/
<img width="837" alt="screen shot 2019-03-07 at 5 11 47 pm" src="https://user-images.githubusercontent.com/38163206/53971216-bdb1e780-40fc-11e9-9fed-35bec7563fde.png">

Despite saying that, it does load my DACs, campaigns, and milestones. It's only delegations that has a problem.

[2019-03-07 16:19] lorelei1 commented on #709
maybe same thing going on as in #590 ?

[2019-03-07 19:25] ewingrj commented on #709
okay, should be resolve ned

[2019-03-07 19:25] #709 closed

[2019-03-08 18:09] mroberts10 commented on #704
@Joshfairhead Can you try this again to see if this is reoccurring or a one-off?

[2019-03-08 20:24] GriffGreen commented on #645
@anshumanv I'm not sure if there are points persay... but maybe i can describe the problem and the  desired design again and i can hope it will make sense!

The problem:
Right now there are just too many options in this drop down and its confusing cause you dont know what campaigns each milestone listed is in... you only get the title... so you might think you are delegating to a milestone in the

[2019-03-08 22:36] kelsien opened #710 "Feature request - search tool bar"
Search via key word at top of page for a community/milestone

[2019-03-08 22:38] kelsien commented on #586
This is also an issue in Brave browser, which has native Metamask support.

You can an error code when you click in to a campaign

[2019-03-08 22:39] kelsien opened #711 "Typo in 'Create Profile'"
'Permission' (not as per below) on create profile prompt

Please note that all the information entered will be stored on a publicly accessible permanent storage like blockchain. We are not able to erase or alter any of the information. Do not input anything that you do not have permision to share or you are not comfortable with being forever accessible

[2019-03-08 22:54] kelsien opened #712 "Request feature: provide image specs when proposing new campaign"
Would be great to know and make dapp look better to know what size the image should be

[2019-03-09 14:12] lorelei1 commented on #712
Nice good point. I've gotten used to looking for images I know are a good size, and i've forgotten how adappted i am to this DApp! It should be clearer for first timers.

[2019-03-10 21:58] krrisis opened #713 "Metamask transactions currently get stuck in the DApp"
at least when I want to commit donations.
the metamask 'wheel' keeps on turning:

![image](https://user-images.githubusercontent.com/6533925/54092049-c9fda500-4387-11e9-87e7-fd41920f3dec.png)

Only way to unblock it, is to switch from mainnet to rinkeby again, then I get the below message:

![image](https://user-images.githubusercontent.com/6533925/54092066-faddda00-4387-11e9-8733-a90fdc37cb31.png

[2019-03-10 22:08] krrisis opened #714 "DApp gives wrong creator name"
[This Milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c7eccfc27ae4211c836be03)  says it has been created by Vojtech at the top, but it actually has only been accepted by Vojtech, pretty sure it is owned and has been created by @Danibelle , so it shows this wrongly at the top.
Linked to the fact that this is a Milestone that has no reviewer?

![image](https://user-i

[2019-03-11 15:19] ewingrj commented on #714
#705

[2019-03-11 15:19] #714 closed

[2019-03-11 18:42] Joshfairhead opened #715 "When editing a milestone the Dapp crashes"
As per Michaels response to issue #704 I went to edit my milestone. However the Dapp crashes on clicking the edit button. Error is thrown, email report offered (I hit submit), then the screen goes to the green loading dot on blank background and hangs.

[2019-03-11 18:50] Joshfairhead commented on #704
The same file fails to upload, or preview.
I'm guessing its to do with the video codec. .mov is a container for other
formats, so perhaps the Dapp either doesnt like the containerised format or
h.264
Trying with a different .mp4 I get the same behaviour. Its also h.264
encoded but this time not containerised.
ᐧ

[2019-03-12 15:00] Danibelle opened #716 "Milestone hanging at "Needs Review" status"
[Loie's RewardDAO Milestone](https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5c82c77e4f696063caa2bdef) appears to be stuck:

![image](https://user-images.githubusercontent.com/39466970/54210483-f6174400-44b5-11e9-8e6f-f874bb531400.png)

[2019-03-13 01:47] GriffGreen opened #717 "amount donated has larger amount than it should"
<img width="916" alt="Screen Shot 2019-03-13 at 2 46 11 AM" src="https://user-images.githubusercontent.com/14945613/54247732-55b73300-453a-11e9-8cec-a77341d72c44.png">

https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c4cdde898ca9c454f897a67

[2019-03-13 13:59] Pol-Lanski opened #719 "[Milestone Upgrades] Paid and funded milestone shows "0 donated""
As per image below:
<img width="1128" alt="Capture d’écran 2019-03-13 à 20 50 56" src="https://user-images.githubusercontent.com/19168735/54284534-b85c0d80-45d2-11e9-986e-e4e9f91b7f6a.png">

[2019-03-13 20:20] Danibelle opened #720 "Whitelist Jorge for Castro Limon Campaign on Beta"
Jorge needs to get the Fundación Castro Limón campaign created today. He has completed the Beta Users Form, response can be seen [here](https://docs.google.com/spreadsheets/d/1n-J7u41W_HP3Uqg4foGLGX4a0C-Yz1HuhIlhLsId5lM/edit?usp=forms_web_b#gid=391373504).

This means we need him Whitelisted as a Project Owner, the Eth address provided is:  0x06aDCE1Ea3b2d7B839349f1381e1965AE08D44DC

Jorge Montiel

[2019-03-13 21:24] vojtechsimetka commented on #720
@Danibelle as I understand this is time sensitive I have already added Jorge Montiel to the whitelist. However, Jorge has all the instructions and I asked him to try it.

[2019-03-13 21:24] #720 closed

[2019-03-13 22:25] GriffGreen opened #721 "When a milestone is canceled the donor gets the funds returned to them as a Delegate"
This is very counter intuitive... most donors dont even realize this screen exists.... i'm not sure what the solution should be, but this is a problem...

And its not only when a milestone is cnaceled... but basically anytime a donation doesnt go to the place it was intended (like if a milestone is over donated to) the funds appear here.

<img width="1170" alt="Screen Shot 2019-03-13 at 11 23 33 P

[2019-03-14 18:40] anshumanv commented on #604
Hi, I'm traveling so I'll get back on this in a few days, thanks!

[2019-03-15 10:12] GriffGreen commented on #604
Cool! @anshumanv if you want to join our dapp meetings they happen on Friday at 6pm Barcelona time at https://meet.jit.si/giveth-dapp it's a great time to check in and get answers

[2019-03-15 10:16] GriffGreen commented on #489
@gitcoinbot I think we need a new person to tackle this

[2019-03-15 17:18] mroberts10 commented on #719
@Pol-Lanski have you had any similar issues since posting this bug?

[2019-03-15 17:26] mroberts10 commented on #715
@Joshfairhead can you try to cancel that milestone and re-try it again?

[2019-03-15 17:29] GriffGreen commented on #713
@krrisis did it actually work when you switched the network, or can you not commit the delegation at all?

[2019-03-15 17:31] #635 closed

[2019-03-15 17:31] #673 closed

[2019-03-15 17:45] GriffGreen commented on #342
Hey @eswarasai if you have any issues or are stuck on something feel free to join the riot chat and ask there: https://riot.im/app/#/room/!pJNSuPMvcrDttmJFvV:matrix.org?via=matrix.org&via=giveth.io&via=status.im

And you are also invited to our DApp meetings which happen at 6 pm Barcelona time every Friday ;-D

[2019-03-15 17:47] GriffGreen commented on #489
Hey @iamonuwa  if you have any issues or are stuck on something feel free to join the riot chat and ask there: https://riot.im/app/#/room/!pJNSuPMvcrDttmJFvV:matrix.org?via=matrix.org&via=giveth.io&via=status.im

And you are also invited to our DApp meetings which happen at 6 pm Barcelona time every Friday at https://meet.jit.si/giveth-dapp ;-D

[2019-03-15 17:55] GriffGreen commented on #98
only issue here is that money is locked

[2019-03-15 18:13] Joshfairhead commented on #715
I'm sorry, its now gone (disbursed RewardDAO). I can try on a new milestone
if preferable?

---
Mobile: +44 (0) 7412090234
Calendar of my non-liquid commitments
<https://calendar.google.com/calendar/embed?src=joshafairhead%40gmail.com&ctz=Europe%2FLondon>
Calendar of my liquid arrangements
<https://calendar.google.com/calendar/embed?src=mef94j8i5evn7f89p76bsql89s%40group.calendar.google.com&ctz=Eu

[2019-03-15 19:15] krrisis commented on #713
sorry hould have closed this before - it worked again the next day. Switching networks etc did not help, it just unblocked metamask being stuck. Don't know if it was a metamask or a temporary network issue but committing worked next day, so will close for now.

[2019-03-15 19:15] #713 closed

[2019-03-15 20:52] vojtechsimetka commented on #712
Aspect ratio of 16:9

[2019-03-16 16:13] krrisis commented on #494
This fix is not released yet, right? Just to be sure, as it still exists in the live version.

[2019-03-16 19:02] krrisis commented on #715
Just had the same. Editing Milestone throws the following error:

![image](https://user-images.githubusercontent.com/6533925/54480240-5267c400-4826-11e9-8a92-e5d9a7d9b5f5.png)

error happened in [this Milestone](https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5c8d46c1c7ed727e1add1ad1)

[2019-03-16 19:50] vojtechsimetka opened #722 "Some formatting does not work in Milestone status updates and pictures are distorted"
In [this milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c4cdde898ca9c454f897a67), I have put quote (the middle paragraph) but the status update does not show it. Also the picture is rather distorted.

<img width="632" alt="Screen Shot 2019-03-16 at 20 48 39" src="https://user-images.githubusercontent.com/7974813/54480788-16842d00-482d-11e9-89cd-efd1b688172a.png">

[2019-03-18 06:16] wliyongfeng commented on #494
@krrisis  The pull request (#697) is still under review, not merged. It seems no one is responsible for reviewing the pr.

[2019-03-18 22:43] lorelei1 opened #723 "Either Scroll or Character Limit Needed... UX request"
When adding expenses/receipts to a milestone, there appears to be no limit to the description, so I type out a wordy one :) It said "This is a regular self delegation milestone, i'm just testing the expenses function" or something like that. And then when the milestone is published, it cuts off halfway and there's no way to see the full description... either need to impose a character limit on tha

[2019-03-20 18:45] ElMejorge commented on #717
The reason for this is a discrepancy between the amount shown in the donations table (Which is called amount in the code) and the amount that is summed to get the donation total (Which is called remainingAmount in the code), looking at the console these two values are different on the first donation: 558.9 vs 587.5399. The reason for this discrepancy I don't yet know, I'm still looking into it and

[2019-03-21 21:17] e18r commented on #522
Thanks!!

[2019-03-22 17:01] anshumanv commented on #604
Hi, I'll not be a blocker to this and unassign for now, I'll get back in a while.

[2019-03-22 17:09] #522 closed

[2019-03-22 17:10] #711 closed

[2019-03-22 17:10] GriffGreen commented on #522
Scott paid @e18r out quickly! Thx @e18r I would love to get you working on more issues! We can do it on giveth instead of gitcoin ;-)

[2019-03-22 17:13] GriffGreen commented on #716
able to repeat.. How did you replicate it @ElMejorge ??? Its a feathers issue... @ewingrj can you assist George??

[2019-03-22 17:33] GriffGreen commented on #662
@Danibelle what happens when its multiple tokens? :-D

[2019-03-22 17:34] lorelei1 opened #725 "Pagination for My Delegations!"
2 Things, Would be great to have:
- all delegations shown on "my delegations," including committed ones (right now it appears to be only proposed ones
- pagination to see all these historical delegations

@ElMejorge Thank you for working on this stuff!!!

[2019-03-22 17:40] GriffGreen commented on #658
Ask RJ about this... because there is a desire for DAOs to use frame and not have to sign in... to be able to skip sign in process and still push buttons ;-)

[2019-03-22 17:42] GriffGreen commented on #613
RJ said it was listed in feathers somehwhere

[2019-03-22 17:42] ElMejorge commented on #613
@ewingrj Do you know if this value is being returned from the Feathers Server?

[2019-03-22 17:44] GriffGreen commented on #494
@ElMejorge is responsible for reviewing it

[2019-03-22 17:50] GriffGreen commented on #722
would make for a good gitcoin issue

[2019-03-22 17:52] GriffGreen commented on #712
So we just need that text explicit in the milestone.... but isnt ther actually 2 different aspect ratios to worry about... the header of the milestone AND the tile view?

[2019-03-22 17:58] GriffGreen opened #726 "Organize our gitcoin bounty flow!"
Where are we at with all these things! We need to have a better flow here! and it should maybe just be a gitcoin/contributor thing... cause hopefully we can use giveth to fund these!

[2019-03-22 18:01] GriffGreen opened #727 "Make a milestone for Payment!"
Its been a month man!!! we need some milestones! Make a few of them ! maybe thru april or may?

[2019-03-22 21:25] lorelei1 opened #728 "False Alarm Error Message Pops Up!"
I think this has happened to me before... but I don't remember the issue. The DApp tells me first that the delegation failed, but at the same time Metamask is prompting me for a successful transaction

<img width="1243" alt="Screen Shot 2019-03-22 at 11 20 17 PM" src="https://user-images.githubusercontent.com/38163206/54853756-64030d00-4cf9-11e9-9ed0-5359e44d1592.png">

and then it confirms succes

[2019-03-22 22:33] lorelei1 opened #729 "Trap changes the delegation amount!"
This is really bad - like dangerous - UX! When you fill in the amount first in the pop up window to make a delegation, then fill in the which milestone field after, it reverts your amount back to the total possible, NOT the amount you just typed in.
It's super easy to go unnoticed so I think this needs attention. I can see many users failing at this step and feeling almost tricked :/
u can see me

[2019-03-24 10:21] GriffGreen opened #730 "Get rid of the waiting for donations in tokens"
It would be pretty easy to reduce the pain of donating tokens by allowing the user to submit both txs at once.

I would suggest we just have a session where we revise the donation design, allowing the user to

1. unlock (better term than approve) just the amount that they need for this donation (default)

2. Flip a switch that says something along the lines of "unlock 10x the amount of this donati

[2019-03-24 11:33] GriffGreen opened #731 "Allow users to not sign into the DApp so that Aragon DAOs can access the DApp with Frame"
This is an alternative option to #611 which @ewingrj has convinced me is a better solution... there will need to be an extra button that allows the user to not sign in here:

<img width="766" alt="Screen Shot 2019-03-24 at 12 24 18 PM" src="https://user-images.githubusercontent.com/14945613/54878727-f823c000-4e30-11e9-824c-913193b702c9.png">

Maybe @ewingrj can further specify? also will there be

[2019-03-24 11:54] GriffGreen commented on #717
another example https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5c3c9ede46d9c67925654794

[2019-03-24 11:57] GriffGreen commented on #494
an example of one that should not show up any more: https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c094af0d663227e436371ca

[2019-03-24 13:43] GriffGreen opened #732 "[Milestone Upgrades] Milestone created but then unable to be viewed... but able to be edited!?!?!?"
There are a few bugs here... I will video the issues

1. is the fact that i cancel the tx and then the milestone is inaccessible... :-( here are the broken milestone links:

https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c976f17150a830a701e15d8
^^^First one that was made, i canceled it.

https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c977700150a830a701

[2019-03-24 14:58] GriffGreen commented on #732
Ok this is a bug for RJ... because it is actually because of the specific path i chose.

To reproduce:
1. Be the Campaign manager
2.

<img width="677" alt="Screen Shot 2019-03-24 at 3 56 02 PM" src="https://user-images.githubusercontent.com/14945613/54881183-9d4c9180-4e4d-11e9-9001-5283637e7210.png">

[2019-03-24 15:59] GriffGreen commented on #732
the edit webpage works... but can't submit edits....
<img width="1200" alt="Screen Shot 2019-03-24 at 4 57 51 PM" src="https://user-images.githubusercontent.com/14945613/54882010-1fd94f00-4e56-11e9-804f-b63c8104c87d.png">

[2019-03-24 16:46] GriffGreen commented on #732
Bug seems present in other campaigns too: https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5c97b42e150a830a701e15ff

[2019-03-24 16:48] GriffGreen commented on #732
but it works in develop!?!?!? https://develop.giveth.io/campaigns/5c979871b670ef31461c180f/milestones/5c979967b670ef31461c1812

[2019-03-24 19:50] nanspro commented on #645
@GriffGreen  the issue looks simple, i guess you want to change the ui by breaking it into two levels where on selecting one option from dropdown unlocks the milestones for that level in form of another dropdown.
The tricky part of the issue is it's setup :) , it's pretty confusing so i'll ask on riot about how to setup it from scratch and after that i'll apply through gitcoin.

[2019-03-24 20:09] GriffGreen commented on #732
but not in Decentral:
and it gave some other weird error... it created 2 proposed milestones and an auto accepted one as expected (link to that one below) https://beta.giveth.io/campaigns/5b3d94ba329bc64ae74d1421/milestones/5c97b42e150a830a701e15ff

[2019-03-24 21:05] GriffGreen commented on #732
It works if i add a recipient :-D

https://beta.giveth.io/campaigns/5b51bdbdf8ba4732631989f5/milestones/5c97f058150a830a701e160b

[2019-03-25 12:16] GriffGreen opened #733 "When adding a picture the cropping box waits for a second action to pop up"
the picture viewer only pops up after that user makes a second action (or input)... it should pop up right away.
https://youtu.be/-01T9SGg4uQ

[2019-03-25 15:43] lorelei1 opened #734 "Chrome is rejecting the DApp"
I can't get a single DApp page to load while in google chrome (which is where my address I use to interact with the DApp is stored). I need to get on to be able to delegate for the Unicorn DAC and make time sensitive milestones!
Please halp!!
Have already cleared cache and cookies further back than when it quit working, no luck.

[2019-03-25 17:09] krrisis commented on #620
Thanks for the extensive explanation for this one. I understand that some of the issues are on metamask's side, but can we not by default have a 'sign in' button at the top right and not have any request happening before you ask? Anyone who comes to the DApp for any reason **always** gets a sign in pop up the second they land on **any** page and this really is not too user-friendly.
Go for example

[2019-03-25 18:02] krrisis commented on #734
What is the message you are getting exactly Loie? Then it's easier for them to help out, possibly a screenshot? DApp works perfectly on my side right now.

[2019-03-25 20:28] #695 closed

[2019-03-25 20:30] ElMejorge commented on #494
I reviewed the PR and everything worked fine, even tested against the example Griff sent. I did the merge already so It will be added on the next release.

[2019-03-26 13:32] wliyongfeng commented on #604
Hi, can I take over this issue?

[2019-03-26 20:20] krrisis commented on #475
@gitcoinbot could you plz close this? thank you!

[2019-03-27 00:28] xiaods commented on #645
any update?

[2019-03-28 15:45] ewingrj commented on #716
fixed in giveth/feathers-giveth@8f988d57a80238d04f9e6744eee5a7e2dbe6e0ed

[2019-03-28 15:45] #716 closed

[2019-03-28 15:47] ewingrj commented on #732
okay, I fixed the display bug.

can you check if the edit bug is still an issue?

[2019-03-28 15:49] ewingrj commented on #613
each donation has a `giverAddress` field which was the original giver.

There is also the `parentDonations` field which you can use to build the donation path. You would need to write some code in feathers to handle this

[2019-03-28 18:50] ElMejorge commented on #604
@wliyongfeng Of course, go ahead. Do you need any clarification on it?

[2019-03-29 13:35] GriffGreen opened #735 "Refactor Donation Flow to have Infinite approve"
Ok to aggregate a few comments from:
https://docs.google.com/document/d/1gmtcmUaowGux8AIFjRRYDM8uT4kYZoymr0KJjk4Ed_w/edit?usp=sharing
and other experiences since this issue was made... i have a few suggestions:

Unlock Donations: The "Let's Try" pop up can be removed if we make a better flow for approve and donate... We should offer the infinite approve option and the approve just this amount opti

[2019-03-29 14:41] wliyongfeng commented on #604
@ElMejorge I'll check the detail first. Could you approve me on the gitcoin?

[2019-03-29 16:30] #726 closed

[2019-03-29 17:01] GriffGreen commented on #734
@lorelei1 solved this... can you post the solution?

[2019-03-29 17:11] GriffGreen commented on #717
solution almost ready to merge

[2019-03-29 17:16] Danibelle opened #736 "Collecting on a multi-token Milestone"
so i hit Collect on this [Milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c7eccfc27ae4211c836be03), it has both Eth and Dai in it!

I *did* get an OH NO error when I hit the button.  Then, I received a [transaction confirmation](https://rinkeby.etherscan.io/tx/0x1011672751b7cee96b0c9dac0d8f3379a3f2b12bfdacf5d9a00db98d8cad550d).

Can we track this through please, st

[2019-03-29 17:16] GriffGreen commented on #658
relies on 731 to be finished

[2019-03-29 17:19] GriffGreen commented on #478
We NEED this! So bad!
@ewingrj  what do you think? able to work on it?

[2019-03-29 17:23] GriffGreen commented on #604
@wliyongfeng i dont see that you have applied?

[2019-03-29 17:37] GriffGreen commented on #735
this is for 5 days of review and then we need to make separate issues

[2019-03-29 17:43] GriffGreen commented on #730
follows #735

[2019-03-29 17:49] GriffGreen commented on #728
#607 should solve this

[2019-03-29 17:50] GriffGreen commented on #725
I thought we already had this....

[2019-03-29 17:51] GriffGreen commented on #725
check to see if its actually an issue

[2019-03-29 17:53] GriffGreen commented on #723
35 dai bounty... to post this :-D

[2019-03-29 18:23] wliyongfeng commented on #604
@GriffGreen Sure I applied. Please click [this](https://github.com/Giveth/giveth-dapp/issues/604#issuecomment-467436817).

[2019-03-29 22:55] krrisis commented on #715
@mroberts10 I see you added the tag 'backlog' but also have this on a New Milestone which I wanted to complete today. Again the message '(intermediate value).update is not a function'.
This is this [new Milestone](https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5c8d265bc7ed727e1add1a7a)

[2019-03-30 12:58] xiaods commented on #645
working on it now.

[2019-03-30 16:53] Danibelle opened #737 "Error on Milestone editing"
![image.png](https://images.zenhubusercontent.com/5b588051b2890d2788b3d5de/13b6d919-3192-4d96-b105-6355506551ca)

Editing this [Milestone](https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5c9cd92c150a830a701e16f6/) to add more notes and links.. I've tried a few ways and keep getting this error.

Yesterday it actually duplicated the Milestone then had no text at all in the dupli

[2019-03-31 09:47] xiaods commented on #645
hi team, i have already setup the environment done, but the project not give me initial 5 ANT token on Ganache chain, i am contract on team. waiting team response. thanks .

[2019-03-31 12:56] xiaods commented on #645
@GriffGreen i have already evaluate the process, but found some exceptions, could you please give more suggestion.

proposal:
Make the drop down have 2 levels. The first level being the Campaign and then when you select a campaign, you get to select the milestones in that selected campaign PLUS an option to delegate directly to the campaign itself.

problem:
but currently the campaign and mileston

[2019-04-01 16:22] krrisis commented on #715
Referring to issue #737 - @ElMejorge is this something you could help with? thx!

[2019-04-02 13:30] wliyongfeng commented on #604
@ElMejorge  @ewingrj I checked the code, tracked the [withdraw](https://github.com/Giveth/giveth-dapp/blob/develop/src/services/MilestoneService.js#L929) function, but currently I can not find the code to set the milestone donation `PAID`.
Could you give some clarification about the code and the donation status update process?

[2019-04-02 15:36] Danibelle opened #739 "My Campaigns page - reorder list"
The one Campaign I actually own is waaaay at the bottom of the list, below aaalll the Campaigns that I've onboarded and thusly for which I am Reviewer.. AND, even below cancelled Campaigns which I'd rather not see at all, really, maybe on a separate page but at least, move those to the very bottom.

I shrank the screen to fit current view into one screenshot:
![image](https://user-images.githubuse

[2019-04-02 15:53] Danibelle opened #740 "Disable 'Autoplay' on videos recorded into Milestones"
See [Josh Fairhead's RewardDAO Feb Milestone](https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5c8a9c47c7ed727e1add198f) as example (and to check out his mad skillz in the juggling department).

It's rather disconcerting to open the Milestone and have the video begin playing automatically.. can this setting be disabled so I can click play when I'm ready to hear it?

[2019-04-05 14:50] Danibelle commented on #736
Huge thanks and kudos to @bowensanders for tracking this through the bridge and manually addressing all the transactions this week!

Two transactions were created, one for each asset and the milestone completed successfully.  Creating a separate issue regarding the In Progress status and confusing UI that results from a Milestone with no cap being "completed" / "collected".

[2019-04-05 14:50] #736 closed

[2019-04-05 19:54] Danibelle commented on #740
Another example [here](https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5ca59eacdd7b2c0bf14ed74f)

I think we did this already on the Wall of Fame - now that we are loading the videos directly to the Milestone the same change is needed in the DApp.

[2019-04-05 19:59] Danibelle commented on #737
This issue is preventing Milestones that have been rejected because they need edits to be revised and completed - which means it's affecting our ability to pay out in a timely manner..  [Lanski's Milestone in the RewardDAO Campaign](https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5ca59eacdd7b2c0bf14ed74f) is one example, and I believe Kris is impacted as well.

Please prioriti

[2019-04-05 20:54] Danibelle opened #741 "[Milestone Upgrades] Need a way for No-Cap Milestones to be marked complete and paid"
With the new Milestone functionality to disable the 'cap', there are some strange things happening with 'completing' the Milestones.

In particular, the RewardDAO Campaign now allows Milestones to be created before the value of points dished is known.  Once the month ends, funds are delegated and collected, the Milestones remain with "In Progress" status - there is no way to fully complete and cha

[2019-04-05 21:00] gil-air-may commented on #679
Hello
New contributor here 😃 Can I work on this one ?

[2019-04-06 13:15] xiaods commented on #645
@gitcoinbot  i am working on it. block on some reviewer not review and give next process.

[2019-04-07 14:51] krrisis commented on #715
Further updating (as still open) - I see that with older Milestones, like [this one](https://beta.giveth.io/campaigns/5c0f381f06392d786b64d4dd/milestones/5c5e01319f1aab32c2690bcc) this issue does not exist - these ones I can just edit, both title & text.

[2019-04-07 14:52] krrisis commented on #737
Yup indeed, thx Dani. Kept updating my findings in issue #715

[2019-04-07 14:55] krrisis commented on #719
Just wanted to create this one too but good to see that it already exists. This is still the case, all paid Milestones say that 0 has been donated to them.

![image](https://user-images.githubusercontent.com/6533925/55685398-fa6c3b00-5955-11e9-950d-a2075f1205be.png)

[2019-04-08 16:12] geleeroyale opened #743 "Update dependencies for the DApp"
We get a fat "notification banner" saying we should update our dependencies for **react-dom**. While at it, it would be great to update all our dependencies.

[2019-04-08 16:16] #734 closed

[2019-04-08 16:20] GriffGreen commented on #740
30 DAI Bounty?

[2019-04-08 16:39] GriffGreen commented on #735
#580  is looped into this

[2019-04-08 16:40] mroberts10 commented on #735
Estimate 2 days fulltime work.

[2019-04-08 16:41] GriffGreen opened #744 "Add ZAR (South African Rand) to the list of Currencies"
Afrikaburn needs this currency :-D

[2019-04-08 16:49] GriffGreen commented on #690
Simple UI fix just remove the x from being displayed

[2019-04-08 16:52] GriffGreen commented on #699
@webjunkie01 can you come to our chat and tell us whats up... we dont really understand this issue.

[2019-04-08 16:52] mroberts10 commented on #699
Can you join our riot chat. We would love to discuss this more there with you.

[2019-04-08 17:33] bowensanders commented on #734
The solution that I gave to Loie:

Check your DNS settings and make sure that you have Google's DNS servers set up (especially if you are in an internet-censored area, or you have any issues reaching sites you think you should be able to)

Google's DNS Servers are: 8.8.8.8 & 8.8.4.4
On OSX it can be found in System Preferences > Network > WiFi Settings > DNS

[2019-04-08 17:39] krrisis commented on #734
Or you can use the chrome/brave extension 'Windscribe', a free VPN with almost unrestricted data, and avoids you to have to go via google.

[2019-04-08 17:42] gil-air-may commented on #555
Interesting... I tried to test this locally, but I was not able to reproduce the behavior.

For reference:

![issue#555](https://user-images.githubusercontent.com/34509679/55744728-f864b380-5a0b-11e9-8e8f-869628e6cec7.gif)

[2019-04-08 17:52] bowensanders commented on #734
This is just google's DNS servers though. They've always been censorship-free AFAIK - which you can see even painted on walls in warzones and protest areas - i've seen it on twitter during demonstrations and internet lockdowns... I'm sure there are other censorship resistant DNS solutions, but I know that this one works and you don't have to VPN to use it (but you can if you want)

[2019-04-10 12:38] GriffGreen opened #745 "[Milestone Upgrade issue"

[2019-04-10 12:38] GriffGreen opened #746 "[Milestone Upgrade] Need to be able to continue raising funds after withdraw"
https://beta.giveth.io/campaigns/5c9e0a5add7b2c0bf14ed18d/milestones/5ca47926dd7b2c0bf14ed5d1

This milestone was paid out but it needs to be able continue to accept donations to reach the cap... right now i can't donate to it.

[2019-04-11 03:04] ewingrj commented on #604
it's done in feathers https://github.com/Giveth/feathers-giveth/blob/develop/src/blockchain/pledges.js#L491

[2019-04-11 15:05] xiaods commented on #645
@gitcoinbot yes, blocking on no response from develop team.

[2019-04-11 18:45] gil-air-may commented on #723
Another option is to have a button inside the description cell that displays a pop-up modal with the full description. What do you think?

[2019-04-12 18:20] #563 closed

[2019-04-12 18:20] ElMejorge commented on #563
This got solved sometime before me but the issue was not closed.

[2019-04-13 02:45] wliyongfeng commented on #604
@ewingrj Thanks, I'll check it.

[2019-04-13 15:17] wliyongfeng commented on #604
Hi @ewingrj , I'm not quite understand your comment [here](https://github.com/Giveth/giveth-dapp/issues/604#issuecomment-467583058). Can I know your username in Riot chat room? So I can chat with you directly.

[2019-04-14 14:30] xiaods commented on #645
@gitcoinbot team is feedback, i will continue work on it.

[2019-04-15 10:00] #679 closed

[2019-04-15 10:18] #712 closed

[2019-04-15 10:19] #743 closed

[2019-04-15 16:51] GriffGreen opened #748 "3 metamask txs to donate?"
I am trying to fund the DApp Campaign and I had a weird Approve 0 tx precede the normal 2 txs.... https://etherscan.io/tx/0xb71806dc2ce7b28bff6a2c992179bc0d837c659890a6d5d7a7d460f2d7a3a1e9

<img width="1238" alt="Screen Shot 2019-04-15 at 6 17 50 PM" src="https://user-images.githubusercontent.com/14945613/56150409-23707980-5faf-11e9-8929-3fa3c77ed410.png">
<img width="1234" alt="Screen Shot 2019-0

[2019-04-15 17:28] GriffGreen commented on #704
error message would be nice....
#607 might consider this

[2019-04-15 17:29] #745 closed

[2019-04-15 17:38] GriffGreen commented on #489
oooooo! https://gitcoin.co/issue/Giveth/giveth-dapp/489/1401

It looks like @toya999 is on the case! Message us if you have any issues Toya! Also we have dapp meetings every Monday at 7pm Barcelona time at https://meet.jit.si/giveth-dapp if you want to join ;-)

Much love!

[2019-04-15 17:40] GriffGreen commented on #526
Not much action here... @lsaether Please! Message us if you have any issues! Also we have dapp meetings every Monday at 7pm Barcelona time at https://meet.jit.si/giveth-dapp if you want to join ;-)

Much love!

[2019-04-16 09:30] GriffGreen commented on #741
ok so in summary we want a milestone marked complete button for milestones with no cap so that the Campaign can close that request... and it doesnt show in progress forever

In a dream world, we would have that button pop up after the first time the milestone is paid out, and the milestone manager, **Campaign Manager**, and Recipient would all have the ability to push it.

If marked complete, and

[2019-04-16 17:38] bowensanders opened #749 "Bridge Monitor is Broken"
<img width="1420" alt="Screen Shot 2019-04-16 at 10 35 41 AM" src="https://user-images.githubusercontent.com/27023908/56231472-6aa04e00-6033-11e9-90c7-47f3679a91b2.png">
The bridge monitor dashboard is unable to pull data from the bridge monitor.

According to @vojtechsimetka :
<img width="486" alt="Screen Shot 2019-04-16 at 10 37 36 AM" src="https://user-images.githubusercontent.com/27023908/5623

[2019-04-17 01:07] ElMejorge commented on #749
@bowensanders The feathers server for the bridge service was down for some reason in the server. Fixed this by restarting it and it seems to be pulling data now. Please double check the data to see if it's all right or something else needs to be done

[2019-04-17 06:05] wliyongfeng commented on #604
Currently I haven't found the reason. I'll stop the work in case blocking the process.

[2019-04-18 00:22] bowensanders commented on #749
I just checked it again, the problem where it is showing old data is still an issue, even though the server restarted. It's saying the newest tx is 498 when it is actually 529 (checked the contract manually via etherscan)

So the original problem still exists, even though the feathers service is working, it doesn't have current data.

[2019-04-18 14:10] ewingrj commented on #748
not a bug. You already have an approval, but it's not enough. You can't just up an approval (contract restriction b/c there is a race condition here that opens up a vulnerability). You need to first set to 0, then up it, then donate

[2019-04-18 15:59] ewingrj commented on #746
Giveth/feathers-giveth@5684a194957b5f85f3f687f9b392f3ae2fcb1e42

[2019-04-18 17:43] ewingrj commented on #741
Hmm, so this isn't really possible w/o modifying the contracts & redeploying the milestone contracts. This is also not in the original spec laid out for the contract changes, so to me this is more of a feature request for the next set of contract changes/deployment.

The only possibility w/o modifying the contracts is to restrict this action to the milestone manager only. Then we can just store th

[2019-04-18 17:53] ewingrj commented on #741
Also, this would only be applicable if a milestone does not have a reviewer. Otherwise it would allow bypassing the review process.

[2019-04-18 20:30] #749 closed

[2019-04-19 04:59] GriffGreen commented on #741
Is it possible for this specific milestone type (no cap & no reviewer) to not transfer the Milestone manager to the person proposing the milestone and instead leave the campaign manager as the the milestone manager... this might give the desired functionality...

Then at least they could control what is seen in their campaign as options to donate to.

Its definitely a big bug tho if a milestone ca

[2019-04-20 14:37] lorelei1 opened #750 "Upload image doesn't work sometimes in Milestone body"
Sometimes I have to redo the image upload 2, 3, 4 times... now it's just not doing it for me at all :(
This is when I click on the image upload button in the action menu above the milestone text field.
Other images in this same milestone uploaded fine, it seems to be kinda random when this happens.

[2019-04-20 15:54] lorelei1 commented on #750
Aww, and then it's very unmotivating to create attractive milestones when the images get squished and warped.

[2019-04-20 17:06] lorelei1 commented on #734
@bowensanders can you help me to remember exactly what we did to correct this? cuz your solution worked for me... it would be nice to document it here maybe even with screen shots for good resources in the future!

[2019-04-20 17:46] lorelei1 opened #751 "Amount donated to milestone is greater than sum of donations listed..."
This is confusing...
<img width="915" alt="Screen Shot 2019-04-20 at 7 44 11 PM" src="https://user-images.githubusercontent.com/38163206/56460563-ca388980-63a4-11e9-9491-6f7a3e6f8771.png">
I'm guessing it's maybe because it was over donated to and one of the donations was returned maybe? And it's just not showing the returned one? But either way, what's being shown to the user at this stage is ver

[2019-04-20 22:18] lorelei1 opened #752 "Line item receipts bug when changing the currency raised"
When I put in an itemized receipt, and then change the currency i'm raising, the conversion lags behind and gives incorrect numbers. I took a screen recording cuz it's easier to explain that way!
https://youtu.be/OEecvSccBys

[2019-04-22 17:10] GriffGreen opened #753 "DApp Meeting Notes April 22, 2019"
https://docs.google.com/document/d/1TRKdrSzUmTJm_PX3fIJtpkZgt2JoRBWOdMfMh4qWipI/edit#

[2019-04-22 17:31] GriffGreen commented on #750
what are the images?
can you add them here?

[2019-04-22 17:35] GriffGreen commented on #750
https://beta.giveth.io/campaigns/5c0f381f06392d786b64d4dd/milestones/5cbb3774cf48770f67ee82d9

[2019-04-24 00:13] michaelsena opened #754 "Integrate 3Box Profiles into the Giveth Application"
# Add 3Box Profiles to Giveth

## Bounty Overview

The Giveth dapp is open source and deployed in beta on the Rinkeby network. Profiles already exist in the app, but the experience is not ideal. It costs 0.01 Rinkeby ETH to get started. Instead we would like to leverage the 3Box decentralized user data network for hosting the profiles. This bounty is all about making profiles on Giveth better, fas

[2019-04-25 22:24] GriffGreen commented on #585
Exactly... Aragon beat us to it...
<img width="1204" alt="Screen Shot 2019-04-26 at 12 22 15 AM" src="https://user-images.githubusercontent.com/14945613/56772234-a1a3fb80-67b9-11e9-96b4-06cd5143dc2d.png">

[2019-04-28 19:17] michaelsena commented on #754
Hey @santteegt, just checking in to see how this is coming and to see if you had any questions. Let me know how it's going and happy to help on anything!

[2019-04-29 06:05] santteegt commented on #754
Hi @michaelsena,

Sorry for the late reply. I've started digging into the code today. I hope to be sending a PR in the next couple of days. In case I find any issues I'll surely reach you :)

[2019-04-30 21:05] krrisis commented on #737
Hey @mroberts10 or @ElMejorge , so this was changed to in progress 15 days ago, do you think this will get fixed? If not I can see if I can cancel this Milestone and ask the Unicorn DAC to re-fund a new Milestone. An said, I cannot complete this Milestone (and pay myself) if I cannot edit in a description of the tasks I did that week. Thanks for an update!

[2019-05-02 17:53] krrisis commented on #737
Update, I cannot ask people to re-fund this Milestone, because I see it's not only this one.

Same issue with these Milestones, cannot edit, so cannot pay myself for all these outstanding - funded - Milestones.

https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5c8d46c1c7ed727e1add1ad1
https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5c9ea4bfdd7b2c0bf14ed206

[2019-05-02 18:02] krrisis commented on #737
Update - also newly created Milestones (today) are impossible to edit, one example: https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5ccb2b43cf48770f67ee8704

[2019-05-03 15:28] xiaods commented on #645
waiting owner review.

[2019-05-03 17:02] michaelsena commented on #754
Hey @santteegt just checking in here before the weekend, how are you making out on this? Any questions? Feel free to jump into https://chat.3box.io if you want to talk about anything.

[2019-05-03 18:38] Joshfairhead commented on #704
So I tried uploading a .mov for April RewardDAO today. This is the screen shot after several hours of "uploading" in the background. It would be cool to have a progress bar so that we can see if the file makes it to the Dapp, or to somewhat more usefully deduce where faults lie... if the file is not valid, if its hitting the servers, if its just a failure to start the upload etc. - the three " ...

[2019-05-03 18:58] Joshfairhead commented on #704
Also I converted the video to .mp4 with same results over 10min.

.h264 as a non recognised codec perhaps?

[2019-05-06 04:48] santteegt commented on #754
Hi @michaelsena,

Thanks. I've been asking a couple questions on your discord channel. Also, your latest [post](https://medium.com/3box/3box-builders-series-how-to-integrate-with-profiles-34078af41c47) was very useful. However, during the weekend I also started to get an issue on Giveth `develop` backend so I had to deploy a local server for development. Right now I'm about to test Giveth features

[2019-05-06 07:58] MorganGR commented on #478
Since this issue is still open, keep in mind that graceaid.eth is now registered!

[2019-05-06 08:53] MorganGR commented on #690
@mroberts10 do you know if anyone will look at this? (minor UI fix)

[2019-05-06 13:06] ewingrj commented on #741
Okay, this this now live. Campaign Manager & Milestone owner can archive an uncapped milestone.

FYI, archiving a milestone as the campaign manager is not reactive and the milestone will only change status after the tx is mined.

[2019-05-06 13:08] ewingrj commented on #746
this is now live

[2019-05-06 14:00] Danibelle opened #755 "Release.giveth.io is down"
We have some new users ready to practice making Campaigns and Milestones - however the sandbox appears to be closed for cleaning:

![image](https://user-images.githubusercontent.com/39466970/57230164-5372d180-6fdd-11e9-9ca9-2daca570a922.png)

@ElMejorge was having a look at it late last week.

[2019-05-06 14:34] Danibelle opened #756 "RewardDAO Spreadsheet Isn't Populating, Again..."
Throughout the month (and especially right now) I need to use this [spreadsheet ](https://docs.google.com/spreadsheets/d/1KQEjMKXx9tKHiDqn6tj5iRIwdSwqa6_HrM5N-AXBBSs/edit?usp=sharing)to approve and process Milestones for the [RewardDAO ](https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424)Campaign.

It often gets locked up - it's designed to go check - somewhere - and retrieve or update data

[2019-05-06 17:30] nadirlaskar commented on #740
@GriffGreen I think, I found the problem the milestone's description is stored in as iframe element
`<iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://ipfs.giveth.io/ipfs/xxxxxxxxxxx"></iframe><p><br /></p>"`

Which can be solved the converting the back-end code to return in as video tag
`<video controls="" autoplay="" name="media"><source src=${$(this.state.milestone.de

[2019-05-06 22:10] michaelsena commented on #754
Great to hear @santteegt, we're excited to see the outcome here! What's your handle on our Discord? Happy to continue answering questions in there, just wasn't aware you were already there 😄

[2019-05-07 05:10] santteegt commented on #754
Hi @michaelsena,

My handle is `Santiago#0325`

[2019-05-07 12:35] markoprljic commented on #620
Thanks for clarification Vojtek, and thanks Kris for writing the explanation of the issue. I hear you all and I would like to see even a temporary solution with a clear sign-in button (that Kris proposed) and ask for connecting MM only then.

Additionally we can go brag about caching to MM team by submitting a request?

[2019-05-07 13:18] alirezapaslar opened #758 "EtherBank Campaign Request"
Kindly accept my humble request to create a campaign for EtherBank on beta.giveth.io

EtherBank used to have milestones on Social Coding campaign. Here is a [link](https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c43158054c4dd181cdb2939). Here's [another](https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c18f6616c76245cd3f97b5b).
There are other milestones

[2019-05-07 13:23] Danibelle commented on #758
I will get you Whitelisted today @alirezapaslar , thank you!

[2019-05-07 14:11] Danibelle commented on #758
OK - it appears I have completed this successfully - I reloaded beta.giveth.io and it didn't crash, AND, I checked feathers.beta.giveth/whitelist and see you there:

![image](https://user-images.githubusercontent.com/39466970/57306146-ee37e280-70a7-11e9-9f56-8f1189fdd9cb.png)

@alirezapaslar , please go to the Dapp and see if the "Start a Campaign" button appears at top for you now (and works)!

[2019-05-07 14:14] alirezapaslar commented on #758
It appears!
Let's check if it works!

[2019-05-07 14:18] alirezapaslar commented on #758
It does!

[2019-05-07 14:18] #758 closed

[2019-05-07 21:44] Danibelle commented on #741
Gorgeous Solution!

Completed Milestones can now be archived:
![image](https://user-images.githubusercontent.com/39466970/57335135-55c15280-70e7-11e9-9336-07eae9b9e2b8.png)

[2019-05-07 21:44] #741 closed

[2019-05-08 01:46] vojtechsimetka commented on #620
The sign-in button sounds like good idea and potentially great UX improvement. (To be tested if ppl prefer to click on sign-in button rather than being immediately prompted. Probably yes)

Before going to metamask with PR “fixing” the UX, I would like you to understand why there is this connect prompt. In crypto people generally value privacy. Many don’t use Facebook, have disabled cookies and use

[2019-05-08 20:02] zzyyxxww commented on #604
Can I give this a try?

[2019-05-09 12:23] GriffGreen commented on #740
@nadirlaskar Ok you are approved!

[2019-05-11 15:41] lorelei1 commented on #694
I think this bug has reinstated

[2019-05-11 15:45] lorelei1 commented on #694
This milestone https://beta.giveth.io/campaigns/5c9e0a5add7b2c0bf14ed18d/milestones/5cd696e4362bdb014ef149d7
and this milestone
https://beta.giveth.io/campaigns/5c9e0a5add7b2c0bf14ed18d/milestones/5cbf9e54cf48770f67ee85d6
are behaving exactly as kris described above! We can't disburse.

[2019-05-12 19:21] nadirlaskar commented on #740
@GriffGreen I have submitted a PR with changes

[2019-05-12 19:39] nadirlaskar commented on #740
I have submitted a PR with changes, I will submit work in Gitcoin as soon as I have some ETH for gas price.

[2019-05-13 11:31] GriffGreen commented on #694
also similar but different than #751

[2019-05-13 12:45] krrisis opened #759 "typo before metamask/matamask login ;-)"
Typo here as flagged by @Pol-Lanski - didn't see this before either, maybe recent?

![image](https://user-images.githubusercontent.com/6533925/57622380-c22bce00-758d-11e9-9304-f32ce7e955b2.png)

[2019-05-13 17:07] arbreton commented on #737
@krrisis do you know if there's any common thread between these milestones? Since it doesn't seem to happen to every milestone

[2019-05-13 17:10] arbreton commented on #694
@ewingrj Could you tell us what happened with this bug last time?

[2019-05-13 17:13] arbreton commented on #704
This isn't working with any video now

[2019-05-13 17:20] arbreton commented on #755
Same issue happening with develop.giveth.io

[2019-05-13 17:20] GriffGreen opened #760 "Review RJ's [Milestone Upgrades] so we can pay him out!"
There are a lot of milestones, for sure #746 and others :-D

[2019-05-13 17:21] GriffGreen commented on #760
#741 #719

[2019-05-13 17:44] markoprljic opened #761 "Cannot access the dApp when having multiple wallets (Chrome extensions) installed"
Giveth dApp does not recognize the Dapper Wallet Chrome extension.

I had Dapper wallet Chrome extensions installed which seemed to be automatically set up as a default wallet upon installation if such settings even exist.
https://www.meetdapper.com

When trying to access the beta.giveth.io I'm being informed that Metamask should be installed (popup with download links for Metamask) although I alr

[2019-05-13 19:15] ElMejorge commented on #694
@lorelei1 So as far as I could gather, the second donation for 177 DAI is a bug with MongoDB that created two records for one donation. I deleted one of them in this milestone https://beta.giveth.io/campaigns/5c9e0a5add7b2c0bf14ed18d/milestones/5cd696e4362bdb014ef149d7 to see if this enables you to disburse the milestone. Could you try it again? If it works I'll do the same for the other ones, if

[2019-05-13 19:58] krrisis commented on #737
I have no idea - it could be linked to specific moments when they are created? I know it's an issue we've had before and @perissology knew what was up then, it could be the same thing. It's in any case a crucial one, I think I now have about 1,5 months of pay locked in uneditable Milestones that I cannot complete.

[2019-05-13 23:29] Joshfairhead commented on #704
Uh oh spaghetti codes!

On Mon, 13 May 2019, 18:13 Andre Breton, <notifications@github.com> wrote:

[2019-05-14 06:49] santteegt commented on #754
Hi @michaelsena,

Here's my WIP 85df85843cc8cfaa2fab173226b3910d29b5804d on `giveth-dapp` and its backend https://github.com/santteegt/feathers-giveth/commit/4f1d3e0e9cffe08f38b3cbb990f232115e1b6315. I still need to fix a couple of bugs during user authentication and update some views so they use user's 3box public data

[2019-05-14 14:58] geleeroyale opened #762 "Weird milestone behaviour after hitting "disburse""
One of my milestones was ready for payout (it got overdfunded actually). The whole flow worked great until I hit "disburse" - then the milestone changed in overview to **0 DAI donated** (see screenshot)
![image](https://user-images.githubusercontent.com/317685/57708137-2079af00-7669-11e9-9091-062bb1b31286.png)

The bridge monitor shows it as normal, so I guess it will be paid out as requested. Lan

[2019-05-14 15:29] GriffGreen commented on #759
figured i'd make a PR to see how long it takes to be merged.... https://github.com/Giveth/giveth-dapp/pull/763/commits/c190bc6fbd02b185a34710af24d031f12d167ec7

[2019-05-14 15:29] #759 closed

[2019-05-14 15:30] GriffGreen commented on #756
fixed by replacing the formulas with manual entries

[2019-05-14 15:30] #756 closed

[2019-05-14 15:32] GriffGreen commented on #762
I think this is a bug from the milestone upgrades?

[2019-05-14 17:39] arbreton commented on #704
After investigating this issue it seems to be that it works now only on beta.giveth.io, the other environments return an error on IPFS 405 'Method not allowed' due to the lack of CORS configurations.

Video uploading only works with videos under 15MB otherwise IPFS returns 413 ' Payload Too Large', Already modified the code so when the call fails shows an error popup.

[2019-05-14 21:08] Jeff-Emmett opened #764 "Milestone edit error and DAI entry error"
For some reason when I entered my milestone (https://beta.giveth.io/campaigns/5c9e0a5add7b2c0bf14ed18d/milestones/5cd54e19362bdb014ef14917), the amount of DAI I entered did not register.  As far as I am aware, I filled out the form appropriately.

Now, when I am trying to edit my milestone, it is throwing the following error:
There has been an error in the DApp.
Details - Error message:
Cannot rea

[2019-05-15 00:32] arbreton commented on #755
Release should be working fine now, develop.giveth.io is still down ATM, working on it

[2019-05-15 01:24] arbreton opened #765 "When clicking on --- Select a token --- while creating a new milestone or editing one is an instant crash"
<img width="759" alt="Screen Shot 2019-05-14 at 6 15 47 PM" src="https://user-images.githubusercontent.com/12836187/57742250-44db8880-7675-11e9-9a3e-5e91c4929712.png">
<img width="753" alt="Screen Shot 2019-05-14 at 6 12 21 PM" src="https://user-images.githubusercontent.com/12836187/57742252-47d67900-7675-11e9-80ad-c5d64b2daf0c.png">

Already applied a fix on my branch, already solved

[2019-05-15 09:11] GriffGreen opened #766 "Fixing Travis Integration so contributors stop wasting their time"
https://github.com/Giveth/giveth-dapp/pull/757#issuecomment-489735406
This is an issue... we have travis doing checks but the checks fail... we need to better maintain this. We are wasting every contributors time when this check fails :-(

[2019-05-15 13:53] ewingrj commented on #694
@ElMejorge has the quick fix.

But a true fix would be to determine why a duplicate pledge was created. I looked into it a bit, and I think is has to do with some donations being created with `amount === 0` in feathers. They are never "mined" and then the event is re-emitted in feathers `failedTxMonitor`.

I suspect that [this check](https://github.com/Giveth/giveth-dapp/blob/develop/src/services/

[2019-05-15 14:30] ewingrj commented on #762
I don't think this was from the milestone upgrades, but should be resolved now:

40cc37e and giveth/feathers-giveth@d23c669

[2019-05-15 14:46] ewingrj commented on #764
not sure about the dai part, but you should be able to edit now

[2019-05-15 14:53] krrisis commented on #737
pinging @ewingrj bcs I'm about to max out all my credit cards and this is not OK.

[2019-05-15 18:32] #645 closed

[2019-05-15 18:54] GriffGreen opened #767 "at 729 am i received 6 notifications that milestones i made 2 weeks ago were rejected"
not sure what happene
<img width="919" alt="Screen Shot 2019-05-15 at 6 06 37 PM" src="https://user-images.githubusercontent.com/14945613/57801198-7fb3ee00-7753-11e9-8f95-89232a37edd7.png">
d here...

[2019-05-15 19:08] nadirlaskar commented on #766
It seems there is some problem with eslint check in the  build [process](https://travis-ci.org/Giveth/giveth-dapp/builds/528971192?utm_source=github_status&utm_medium=notification)

[code]

Some components are having inconsistent spaces i believe, which is failing the eslint check

[2019-05-15 21:28] ElMejorge commented on #645
Sorry for the late response but the PR is fine and fixes the problem. Thank you for your contribution

[2019-05-16 04:46] santteegt commented on #754
Hi @michaelsena,

I just commit more WIP here f0ae7f260f59b546e8f478935eea634573f26bab. I've almost covered all bounty requirements. Now I'm figuring out how to remove the existing web3 transaction during user registration

[2019-05-16 08:28] geleeroyale commented on #762
Looks like expected now! Thanks!

[2019-05-16 11:55] Jeff-Emmett commented on #764
Thanks!  Got that sorted.

On Wed, May 15, 2019 at 4:46 PM RJ Ewing <notifications@github.com> wrote:

[2019-05-16 13:23] michaelsena commented on #754
Great, looking forward to the result @santteegt! Let me know when you're finished so we can have a complete review.

[2019-05-16 21:57] arbreton commented on #694
@ewingrj It makes sense the mentioned above i'll try to move the check outside the if statement, additionally i'll try to make a check implementation if the TxHash and the amount is already in the milestone prevent it from duplicating the donation.

@lorelei1 We applied a quick fix to https://beta.giveth.io/campaigns/5c9e0a5add7b2c0bf14ed18d/milestones/5cbf9e54cf48770f67ee85d6 disbursing should be

[2019-05-17 15:26] krrisis commented on #737
ok thx a gazillion @ewingrj . This is FIXED. Before closing prob best that you check what got changed here @arbreton - or maybe RJ can clarify, so you guys know what to do if this happens again (we've had this a few times). thx!!

[2019-05-17 16:24] GriffGreen commented on #746
hmmmm so for the old milestone... https://beta.giveth.io/campaigns/5c9e0a5add7b2c0bf14ed18d/milestones/5ca47926dd7b2c0bf14ed5d1 i guess i cancel it?

Nm I'll just make a note in it and leave it be.

[2019-05-17 16:27] GriffGreen commented on #746
damn! I can't edit it....!

[2019-05-17 17:59] mroberts10 commented on #737
The error in milestone editing appears to have returned or is intermittent.  @ElMejorge  can you edit your own milestone? https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5cd9538f362bdb014ef14d16

[2019-05-18 10:52] lorelei1 opened #768 "Missing Edit button for Campaign Reviewers"
There should be an edit button in the campaign page for me:
<img width="1144" alt="Screen Shot 2019-05-18 at 12 50 20 PM" src="https://user-images.githubusercontent.com/38163206/57968498-a5b3db00-796b-11e9-870c-b97f7b1aa451.png">

https://beta.giveth.io/campaigns/5cdf39aee4ee5d18e7bada0c

But its missing?

[2019-05-18 11:18] lorelei1 opened #769 "Everytime i paste when making a campaign i get scorlled to the top of the window"
i hit ctrl-v and then i scroll out of view from where i was pasting... its pretty lame!

[2019-05-18 12:16] GriffGreen opened #770 "Inline Content Pictures Look Like Shit"
there is no better way to say it, its embarrassing... the auto formatting of pictures that are put inserted into the text box of campaigns DACs and milestones is broken...

I would post links as examples... but look at ANY milestone, if the pic isnt landscape 1100x750 (or something close to that) it just looks SOOOO BAD!

Try making a milestone and putting a wide picture in...

The ideal would be

[2019-05-18 14:06] lorelei1 opened #771 "links should preview the dapp"
When u paste a link to a milestone or campaign, it doesn't give you any visual preview of that page in the DApp!
<img width="691" alt="Screen Shot 2019-05-18 at 4 04 12 PM" src="https://user-images.githubusercontent.com/38163206/57970839-cdfd0300-7986-11e9-8f80-209c9c64eeee.png">

[2019-05-18 15:57] GriffGreen commented on #766
@nadirlaskar how much would you charge us to fix this?

[2019-05-18 20:20] GriffGreen opened #772 "Transaction is pending on the dapp but confirmed everywhere else"
Feathers isn't picking up this 480 donation?
https://etherscan.io/tx/0xbf2e4035ae9cc389385a2ab0b23b7530ad8dfe28a581a35c6d8a132f446e91e3

https://beta.giveth.io/campaigns/5cdf39aee4ee5d18e7bada0c

Oh it's stuck in the UI as waiting for confirmation even though it's confirmed on the network

That has been happening on localhost as well
Something must have changed in feathers or the bridge
The TX was

[2019-05-19 01:20] nadirlaskar commented on #766
There are 45 files having lint issue in the repo right now, some files are fixable with eslint --fix, others require manual changes.

Some files are using label without `htmlFor` attribute, fix requires updating the property where possible or replace with `<span className="label"></span>`

Also some update is required in `eslint` & `eslint:fix` script in `package.json`

All changes are possible to

[2019-05-19 11:19] GriffGreen commented on #772
Rinkeby tx:
https://rinkeby.etherscan.io/tx/0x2ab44b9517aec0609f2f3ba5b368cbbc2791c5b40b3117e35d6e2d3f89130f65

[2019-05-19 13:23] GriffGreen commented on #772
From Vojtech:
OK I manually edited the TX in DB. I CAN NOT GUARANTEE IT WILL WORK CORRECTLY so it would be best if the donations would be reprocessed. There is some 5 donations/delegations that are stuck on pending, all should be addressed.

[2019-05-19 19:46] michaelsena commented on #754
Hey @santteegt, just checking in here. How are the final cleanups going? Figure out how to remove the existing web3 tx during registration?

[2019-05-20 04:48] santteegt commented on #754
Hi @michaelsena,

I've just created a couple of PR with my work for you to review them. I've finally removed the existing web3 tx, but it causes that users don't get a `giverId` assigned. Nevertheless, I've manually tested  user/community/campaign/donations functionality and the dApp seems to work fine. It would be great to test my changes on giveth `develop` environment but it isn't available at

[2019-05-20 13:09] geleeroyale commented on #762
Unfortunately there is one minor issue left. The milestone payment worked flawlessly, but the UI did not move the milestone to "Paid" - it stays in the overview with his max amount donated and a status of "completed".

![image](https://user-images.githubusercontent.com/317685/58023906-45f73480-7b11-11e9-861a-cdf45c3d06da.png)

[2019-05-20 13:17] ewingrj commented on #762
this is for the original milestone or a new one? If the orig, then it's because of the previous bug, but shouldn't happen for new milestones. I can manually fix the original

[2019-05-20 13:19] ewingrj commented on #746
regarding editing... does it fail when you try and save or before?

[2019-05-20 15:15] nadirlaskar commented on #766
I have opened a pull request with a fix, check it out @GriffGreen

[2019-05-20 16:28] GriffGreen commented on #766
NICE! Whats your address? we are making a milestone for you in the dapp ;-D

[2019-05-20 16:47] nadirlaskar commented on #766
This will be my meta mask address `0x039dACca4a447E140d8B29F0652cd844Ea827D1a`

[2019-05-20 16:59] nadirlaskar commented on #766
@GriffGreen  Yay! Thanks :)
@ElMejorge  I am available for any clarifications on pull request.

[2019-05-20 17:12] GriffGreen commented on #740
still testing it... will be done this week

[2019-05-20 17:14] arbreton commented on #737
@ewingrj Could you explain exactly what's happening in these milestones? How did you fix the issue?

[2019-05-20 17:19] ewingrj commented on #737
idk, I never looked into this.

There was another issue where the ui was calling an undefined value & throwing an error that I fixed. Not sure if this is the same thing or not. It looks like it is failing when they try to save, instead of when the milestone loads (like the other issue I fixed)

[2019-05-20 17:31] mroberts10 commented on #690
I will be taking a look at this one now. @MorganGR

[2019-05-20 17:32] GriffGreen commented on #772
Update! I sent a donation and it fixed the counter

[2019-05-20 17:33] GriffGreen commented on #771
yeah we need a thumbnail for DACs, campaigns and milestones... i think this could be a github bounty

[2019-05-20 17:37] GriffGreen commented on #770
404 has a bunch of milestones that are examples

[2019-05-20 17:45] #764 closed

[2019-05-20 17:48] GriffGreen commented on #761
Improve the error message

[2019-05-20 17:50] GriffGreen commented on #761
also... are we only allowing users to use metamask?

[2019-05-20 17:52] michaelsena commented on #754
Hey @santteegt i just tried to build and run your PR, but it kept complaining in the console that it could not connect to FeatherJS

[2019-05-20 17:55] santteegt commented on #754
Hi @michaelsena,

You need to deploy their [feathers backend](https://github.com/Giveth/feathers-giveth) locally, and set `REACT_APP_ENVIRONMENT=localhost` on the `.env` file

[2019-05-21 10:06] lorelei1 opened #775 "We need to add a page that says "oops page not found" - Milestone is infinitely loading"
https://beta.giveth.io/campaigns/5c0f381f06392d786b64d4dd/milestones/5cd9c5a3e4ee5d18e7bad87d
This milestone of @Danibelle 's has been stuck in perma load not showing anything every time i've tried to open it in the past 24 hours so i can't delegate to it.

[2019-05-21 14:44] michaelsena commented on #754
cc @oed ^ how to get the build working locally

[2019-05-21 16:10] sepu85 commented on #478
just passing here to create (more ?) awareness about the need of this feature to be deployed!!

I would like to create a payment from an smart contract (e.g an Aragon DAO finance app) directly to a milestone, so there's no passing through the UI here.

let's take [this milestone](https://beta.giveth.io/campaigns/5cdc668be4ee5d18e7bad987/milestones/5cdde2b5e4ee5d18e7bad99d) as an example. When look

[2019-05-22 10:57] GriffGreen commented on #735
As a donor I want to create a message when i donate and see it on the Campaign page

[2019-05-22 14:05] GriffGreen opened #777 "Donations are taking forever to become completed?"
related to #772

Its been happening in https://beta.giveth.io/campaigns/5cdf39aee4ee5d18e7bada0c a lot...

<img width="1202" alt="Screen Shot 2019-05-22 at 1 00 33 PM" src="https://user-images.githubusercontent.com/14945613/58169720-be84ff00-7c91-11e9-987b-b4f831df9be1.png">

I tested it in a different older campaign with ETH and it is also happening under that scenario: https://beta.giveth.io/cam

[2019-05-22 14:06] GriffGreen commented on #777
actually the ETH one eventually confirmed

[2019-05-22 23:53] Danibelle opened #778 "error uploading new profile picture"
The profile image on my tertiary account linked to Giveth seems to have been changed?

So I attempted to change it myself and received this error:

![image](https://user-images.githubusercontent.com/39466970/58216021-32d79680-7cc2-11e9-9b19-8fe66df4068a.png)

Upon proceeding further I discovered that @lorelei1 also has a white asterisk on a purple background.. there seems to be a new theme...

![i

[2019-05-22 23:57] Danibelle commented on #778
@bowensanders account for Social Coding also impacted:

![image](https://user-images.githubusercontent.com/39466970/58216212-26a00900-7cc3-11e9-84a5-b52fcddef7c3.png)

But not everyone.. @krrisis has not been asterisked.

![image](https://user-images.githubusercontent.com/39466970/58216265-7b438400-7cc3-11e9-8c20-1a9f8ae24365.png)

[2019-05-23 02:24] arbreton commented on #777
I have checked this situation with @ElMejorge the transaction was already mined and commited but just didn't updated in the MongoDB, we added the txHash, and changed the status to "Commited" and the mined variable to true as a temporal solution, i will investigate further why it wasn't updated correctly

Here it should be corrected:
https://beta.giveth.io/campaigns/5cdf39aee4ee5d18e7bada0c

[2019-05-23 05:48] arbreton commented on #777
It seems to be that there was a problem authenticating the user and even though we wasn't signed in, the Dapp let the user donate, so when the transaction came through feathers it failed fetching the profile which is the exact same thing that happens sometimes on localhost, I will keep diving into what is causing the authentication problems

enge = P5RpPia1EfCKVmmDORGO
feathers-beta-out.log:2019-0

[2019-05-23 09:07] lorelei1 commented on #778
Yeah I actually tried to change mine as well as soon as I got asterisked - and got the same error as Dani! Just didn't have the energy to make it an issue, I'm happy to see you're on top of it Dani!

[2019-05-23 10:49] Danibelle commented on #778
Update: This appears to be user specific..  Bowen could see his own icon, and my icon simultaneous to me getting the error and asterisks..

[2019-05-23 17:05] oed commented on #754
Hey @GriffGreen can you help us getting this reviewed? Had a look at setting up the feathers backend locally, but seems like a lot of work to get it up and running, and figured you or someone on the giveth team have it set up already. So if someone could have a look to see if this change makes sense that would be cool 🙌
If it could be deployed to the `develop` environment that @santteegt mentioned

[2019-05-23 20:50] arbreton commented on #778
Investigating more in depth it seems that there is a problem with the certificate here: **https://ipfs.giveth.io/ipfs/ net::ERR_CERT_DATE_INVALID**, which seems to be causing the issue with all IPFS content, i will take a look on this.

[2019-05-24 00:26] arbreton commented on #778
UPDATE:

We have fixed this problem temporarily, IPFS server on beta has a certificate error, me and @ElMejorge  created a temporal solution, we replaced the IPFS gateway that is causing problems with a temporal HTTPS server gateway, now all the media should be working on beta, as soon as we fix the certificate we would revert back the original IPFS Gateway.

[2019-05-24 17:22] santteegt commented on #754
Hi guys,

Giveth develop environment is back online. I'll be testing and fixing some reported bugs this weekend. I'll be updating the PR ASAP

[2019-05-27 00:24] santteegt commented on #754
I just updated my PR https://github.com/Giveth/giveth-dapp/pull/774#issuecomment-496043456

[2019-05-27 12:38] krrisis commented on #778
Unfortunately this is still causing errors right now: if you check the Campaign overview you will see that most are also missing their pictures (so not the people but the Campaigns).

When I created my Milestone ([this one](https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5cebd990ce626b5cebe408bb)) I received the below error, I let it open, signed the transaction and then click

[2019-05-27 13:10] markoprljic commented on #735
I was just checking the Donation flow and I couldn't reproduce this step from your google doc: "Another pop up will come up, click “Let’s Try” and then you will have to confirm 2 txs, one tx to approve the 290 DAI withdraw and one tx to execute the withdraw."

Does that mean that this has been fixed?

I just noticed missing the text field for the message.

[2019-05-27 13:15] markoprljic commented on #466
Things I'd suggest here (on Donation popup):

1. remove slider
2. add link below the input field "Available funds: [amount]. **Select all**" (selecting all will auto populate the input field with all available funds)
3. Show predefined ETH (or DAI or other depending on selected) amounts to select (1, 2, 5, 10) or enter custom amount

[2019-05-27 15:03] ElMejorge commented on #778
Yeah, the temporary solution is still not 100% stable since the gateway process on the other server is dropped sometimes. I restarted it so that it works again but I still have to set up a new gateway on a Giveth server with proper process management.

[2019-05-27 16:29] GriffGreen commented on #771
or a great issue for a new dev :-D

[2019-05-27 16:30] GriffGreen commented on #744
so does Sweat :-D

[2019-05-27 16:38] GriffGreen opened #779 "We dont have a process for merging PRs"
This is a huge one... we dont have anyone looking over PRs and trying to merge... We need a process for that... PR's should be before sprint backlog IMO...

[2019-05-29 12:37] #755 closed

[2019-05-30 06:06] markoprljic opened #781 "Cannot create a new Milestone"
Getting error: milestone validation failed: date: Path `date` is required.

[2019-05-30 06:10] markoprljic opened #782 "Show Draft Milestones under Manage > My Milestones"
When creating a milestone it is automatically saved as Draft, it is visible from the UI (a button appears next to the Propose Milestone button). However, that draft milestone is nowhere saved or accessible afterward. In my account under My Milestones, there should be a section to show "Drafts" showing all draft milestones, including a CTA to Edit/Delete.

[2019-05-30 11:14] #740 closed

[2019-05-30 11:14] #765 closed

[2019-05-30 20:33] #723 closed

[2019-05-31 14:30] GriffGreen opened #788 "Update notification link to send you to the milestone"
Now that the Milestones have actions inside them, let's link to the individual milestone instead of linking to ~/my-milestones in general

Honestly I'm not sure if i want this feature or not... so lets put it in the icebox

[2019-05-31 17:36] #778 closed

[2019-05-31 17:37] #768 closed

[2019-05-31 17:38] #729 closed

[2019-05-31 18:58] #781 closed

[2019-05-31 18:59] markoprljic commented on #781
Cleared cache and disabled milestone fundraising cap, solved the problem. Thanks to @arbreton who helped with this.

[2019-06-02 10:02] #772 closed

[2019-06-02 14:32] markoprljic opened #793 "Mobile accessible pages (Campaigns, Milestones and general information pages)"
Giveth dApp should be accessible on mobile or any other device.

**Problem**
A lot of times Campaigns and  Milestones are shared on social media to collect donations but that information cannot be seen if coming from a mobile device.

Basic information about:

- Communities
- Campaigns
- Milestones
- Other informative pages

should be accessible by default on any device.

Only in case of interacti

[2019-06-03 00:19] santteegt commented on #754
Hi,

I've been testing the dApp functionality due to a reported bug on user's permission however, it seems that it wasn't introduced by my PR https://github.com/Giveth/giveth-dapp/pull/774#issuecomment-498077401. I've just updated my PR to workaround this issue

[2019-06-03 08:34] arbreton commented on #793
Hello @markoprljic,

Could it be related to https://github.com/Giveth/giveth-dapp/issues/771 ?

[2019-06-03 09:11] Danibelle opened #795 "Conflicting messages on Milestone Create & Edit"
I got this error message both when I created the Milestone and when I edited it:

![image](https://user-images.githubusercontent.com/39466970/58790072-3cf86f80-85b5-11e9-8e63-a65703a1b3a3.png)

The videos appear in the Milestone while I'm in edit version, but then when I view it, they are not there.

@arbreton this is like the one we looked at yesterday, where the video does not show/play unless y

[2019-06-03 09:39] Danibelle opened #796 "Uploading a video file to Milestone Fails"
Creating a Milestone with a video uploaded from file is not working - if this would work, all the other issues with linking an external video will no longer be an issue!

![image](https://user-images.githubusercontent.com/39466970/58792328-96629d80-85b9-11e9-9457-c9d5208be7a8.png)

![image](https://user-images.githubusercontent.com/39466970/58792279-77fca200-85b9-11e9-9c7f-d41662661e63.png)

[2019-06-03 16:07] #717 closed

[2019-06-03 17:24] #766 closed

[2019-06-03 17:26] #694 closed

[2019-06-03 17:30] #737 closed

[2019-06-03 17:36] #770 closed

[2019-06-03 17:52] arbreton commented on #796
related to IPFS issues

[2019-06-03 17:54] nadirlaskar commented on #766
@GriffGreen Is this issue closed ?

[2019-06-03 17:56] nadirlaskar commented on #766
@GriffGreen
The issue looks closed, when can I expect the bounty?

[2019-06-03 19:18] arbreton opened #797 "Videos that were posted from the wall of fame or youtube don't work anymore"
Autoplay bugfix actually affected the videos posted before because they were posted in an incorrect embed format

[2019-06-03 19:34] #797 closed

[2019-06-03 21:54] arbreton opened #799 "Some youtube videos not working on milestones"

[2019-06-04 10:41] arbreton opened #801 "Campaigns on mobile not working without wallet browser"
An error has ocurred on the Dapp.

[2019-06-04 16:13] mroberts10 commented on #653
Colleagues in Ukraine taking a look at this one.

[2019-06-04 16:14] mroberts10 commented on #607
Colleagues in Ukraine looking into this issue

[2019-06-04 16:16] mroberts10 commented on #769
Colleagues in Nepal to look at this issue

[2019-06-04 16:17] mroberts10 commented on #430
Colleagues in Nepal to look at this issue.

[2019-06-04 17:20] arbreton opened #803 "Campaign images have bad aspect ratio"

[2019-06-04 19:43] arbreton opened #805 "Video files from a link not showing on edit milestone component"

[2019-06-04 19:44] #801 closed

[2019-06-04 19:44] #799 closed

[2019-06-04 19:44] #803 closed

[2019-06-04 21:12] sepu85 opened #808 "error after donating DAI on a DAC"
After doing a DAI donation on the Giveth DAC, the below error showd up, the donated ammount was discounted from my wallet, and it doesn't appear on the DAC Donations dashboard

These are the transactions exectuted from my side:
https://etherscan.io/tx/0x3c4b0f4e98703624a273b42fe9ea9a3cacc31130d66fa0a369c6cbcc93a44e8c
https://etherscan.io/tx/0x3d8f47d5cc637a7e57ef50671cae46f8af5b9d29d5abaad8a3110fe

[2019-06-04 22:45] sepu85 opened #809 "Donations on lab should be ordered by time."
referrence to #808 for improving UX when donating.

Donations should be ordered by time. Let's the last donations appear the first.

[2019-06-04 22:45] #808 closed

[2019-06-05 16:30] lorelei1 opened #810 "milestone failed to upload to ipfs"
<img width="968" alt="Screen Shot 2019-06-05 at 6 28 54 PM" src="https://user-images.githubusercontent.com/38163206/58973279-dabf8a80-87bf-11e9-936f-de8979fa0aee.png">
did it really tho? i've been having this error pop up a lot, sometimes when it's true sometimes not.

[2019-06-06 09:33] lorelei1 opened #811 "Security alert from github"
what is this?
<img width="660" alt="Screen Shot 2019-06-06 at 11 33 02 AM" src="https://user-images.githubusercontent.com/38163206/59022898-ef972f00-884e-11e9-88e0-fd2de0263c92.png">

[2019-06-06 10:14] mroberts10 opened #812 "Need a process to ensure all packages in the stack for the DAPP are current and that we are monitor security issues, and new releases related to the stack"

[2019-06-06 10:16] mroberts10 opened #813 "Need to document all DAPP server processes and related create onboarding processes for new devs"

[2019-06-06 12:47] arbreton commented on #811
Confirming, this is actually not a bug, It's an old dependency on another repository not being used that is now vulnerable, not related to the Dapp.

[2019-06-06 12:53] arbreton commented on #811
@ewingrj , would you have permission to this repo?

[2019-06-06 17:44] GriffGreen opened #814 "Reward travis issue #766 get this guys address and put it in the dapp"
This is the milestone!
https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5ce2d8182bb8c0257c7b83c5

[2019-06-06 17:48] GriffGreen commented on #766
:-D! Sorry for the delay! I'll get @mroberts10 to make this happen asap

[2019-06-06 17:48] GriffGreen commented on #766
https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5ce2d8182bb8c0257c7b83c5

[2019-06-07 09:21] nadirlaskar commented on #766
Thanks, that will be great! :-)

[2019-06-07 09:34] nadirlaskar commented on #766
I see there is no recipient for the milestone,
[this](https://github.com/Giveth/giveth-dapp/issues/766#issuecomment-494065941) is my eth address.

[2019-06-08 11:10] lorelei1 commented on #810
some more examples of this... this time it is clear there was no actual error, as i keep getting the success markers.
<img width="979" alt="Screen Shot 2019-06-08 at 1 08 09 PM" src="https://user-images.githubusercontent.com/38163206/59146462-b4336680-89ee-11e9-8abf-6c9177e726ea.png">
<img width="1440" alt="Screen Shot 2019-06-08 at 1 08 19 PM" src="https://user-images.githubusercontent.com/381632

[2019-06-08 12:12] #811 closed

[2019-06-08 12:15] arbreton commented on #814
@GriffGreen, this pull request is already into the dapp, does that solves this issue?

[2019-06-08 13:17] lorelei1 opened #815 "User flow for uncapped milestones"
So @Danibelle  and I are discovering some derps in the user experience of being a maker of an uncapped milestone.
Dani had to mark [this milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5cdca616e4ee5d18e7bad98b) complete in order to withdraw any money from it. Before, we were exploring this with her [first uncapped milestone](https://beta.giveth.io/campaigns/5b39d45e

[2019-06-08 14:40] lorelei1 commented on #815
@markoprljic

[2019-06-08 16:04] arbreton commented on #704
@Danibelle, @lorelei1, @mroberts10, @GriffGreen, Milestone editing, the display of images, videos, and the uploads should be working fine now,

I have managed to increase the max file size limit to 100MB

[2019-06-08 16:05] #704 closed

[2019-06-08 16:05] arbreton commented on #777
Gets solved with  #607

[2019-06-08 16:05] #777 closed

[2019-06-08 16:07] #805 closed

[2019-06-08 21:36] GriffGreen commented on #815
These are different types of milestones

One has a reviewer and the other doesnt...

1. If this completion is accepted, will she be able to keep receiving funds for it after that?

I doubt it. it will be marked complete.

2. If the milestone completion is rejected - will it become delegatable again after that?

Hell yeah ;-)

Is there any way for Dani to withdraw multiple different times like desc

[2019-06-09 00:12] arbreton commented on #814
https://github.com/Giveth/giveth-dapp/issues/773

0x039dACca4a447E140d8B29F0652cd844Ea827D1a

[2019-06-09 00:12] #814 closed

[2019-06-09 09:48] arbreton commented on #447
@bowensanders is this still open or can we close it?

[2019-06-10 05:54] mroberts10 opened #818 "'ADD' Milestone not working"
'ADD' Milestone not working, but I think its only for campaign managers.  When I use the same account go to something I'm not a campaign manager it will say 'PROPOSE' milestone and it works fine.
<img width="549" alt="Screen Shot 2019-06-10 at 1 53 47 AM" src="https://user-images.githubusercontent.com/4000911/59175206-a67efd80-8b22-11e9-9112-a41595ac0051.png">
<img width="708" alt="Screen Shot 201

[2019-06-10 09:27] Joshfairhead opened #819 "Stuck milestones"
So I hit disperse on these a little while back (at least a week) and when checking in on progress I found this screen which seems to be a failure of some sort:
![Screenshot 2019-06-06 at 16.58.05.png](https://images.zenhubusercontent.com/5c362fe2b7d8a251f243bee6/890a3b3f-e6d1-4218-ba9d-b72e6a56ae49)

After some investigation a note is that it's potentially due to the first milestone which has rece

[2019-06-10 13:45] arbreton commented on #719
It's showing now the correct amount or the link the milestone

[2019-06-10 13:45] #719 closed

[2019-06-10 13:47] arbreton commented on #746
Milestone now are only are set to paid status when fullyDunded

[2019-06-10 13:47] #746 closed

[2019-06-10 13:48] arbreton commented on #760
All RJs solutions are working fine.

@ewingrj, is anything missing from the list?

[2019-06-10 14:14] lorelei1 opened #822 "'Saved milestone' gets in the way of making diff milestones in diff campaigns"
User confusion! I think there's been issues abt this before, but...
There should be a tab for "Milestone Drafts" or something in My Milestones where you can access several different drafts at any time. I might be drafting a milestone for Comms and then need to draft one for a charity project completely unrelated.

Problem: Right now, I can only really "save" one milestone at a time: if I'm working

[2019-06-10 15:33] krrisis opened #823 "error when donating to the dapp"
Following the steps to donate to the art car as described by @Danibelle / @GriffGreen , I got the below error after the first transaction in [this Milestone](https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7)

I still had to do the second transaction and luckily this did pop up in my metamask (not as a pop-up but I saw the '1' and signed this one too.

![image](https://user-images.githubus

[2019-06-10 16:54] arbreton commented on #822
Solution needs to be ability to create multiple drafts that would be based by campaign

[2019-06-10 17:20] mroberts10 commented on #690
Amin to take a look at this.

[2019-06-10 17:28] GriffGreen commented on #646
@bowensanders and many other campaign managers need to close these issues

https://beta.giveth.io/campaigns/5b3789513a65c31e4e4e8328/milestones/5c3f7a934af9e97812c97496
https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c3f7e094af9e97812c97f2a
https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c3f7ebb4af9e97812c981c0
https://beta.giveth.io/campaigns/5b51bdbdf8

[2019-06-10 17:28] #751 closed

[2019-06-10 17:29] #662 closed

[2019-06-10 17:32] GriffGreen commented on #818
some thing specific to dapp campaign

[2019-06-10 17:45] bowensanders commented on #646
I was unable to cancel the two milestones for Social Coding - but i did mark them complete with 0 donations stating that they were faulty / dead. The cancel button greyed out and I couldn't select it.

I cannot do anything about Quazia's aragon milestones.

Please let me know if I need to do anything further!

-b

---- On Mon, 10 Jun 2019 10:28:26 -0700 Griff Green <mailto:notifications@github.com

[2019-06-10 17:47] Danibelle opened #824 ""Milestone Proposed" Email to Campaign Manager"
Here's what it says:
![image](https://user-images.githubusercontent.com/39466970/59215271-72d1c100-8b7e-11e9-9dca-eadf00becdd8.png)

Not only does the variable for what's being requested need to be corrected so it displays the selected data, but we can do better with our words too..  Suggestion below!

Instead of:
A milestone Adding account to whishlist for NaN ANY_TOKEN has been proposed for your

[2019-06-10 17:59] lorelei1 opened #825 "Milestones don't load in campaign pages"
This problem has been going on for a long time. When you load a campaign's page, it shows no milestones. It takes several refreshes often to get any to appear.

[2019-06-10 18:10] Danibelle opened #826 ""Delegated Donation" Take Action Email needs grammatical correction"
**Please change** "You're donation" to "Your donation"
![image](https://user-images.githubusercontent.com/39466970/59216081-7bc39200-8b80-11e9-9f74-b2a9f734f0d4.png)

Also in the text below the image, where it says:
The dac Unicorn DAC has proposed a delegation of
250 DAI
from your donation to dac Unicorn DAC.

Please put the letters DAC in ALL CAPS (every time, every where ;) )

**side note** we

[2019-06-10 18:11] bowensanders opened #827 "Donation made to Campaign not showing up"
I made a donation of 50 dai to this campaign:
https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7

and it's not showing in the campaign from either the donator (0xB83b50335cF37DfbDf0f8Ca0E8717a536cc4b8ff) or the giver I donated under (0xac446dD360716ACef4E930612dCb1f652A98d750) as i made the donation in the address of the Security Guard:

the relevant etherscan links are here, and it shows u

[2019-06-10 18:14] Danibelle opened #828 ""Time to Review" Campaign Owner Email text edits"
Please capitalize the words Milestone, Campaign, and Milestone Owner everywhere they appear.
![image](https://user-images.githubusercontent.com/39466970/59216675-b24ddc80-8b81-11e9-8657-3140bdaf42e0.png)

[2019-06-11 11:55] aminlatifi commented on #690
OK.

[2019-06-11 12:46] krrisis opened #829 "Send reviewer feedback to mail address"
After a Milestone has been reviewed (rejected or returned) it would be good to get a mail with the added feedback. Now you only see that feedback if you actually go back into the Milestone, otherwise you never see the written feedback you received.

[2019-06-11 12:58] GriffGreen commented on #478
a couple background links https://github.com/Giveth/giveth-bridge/issues/9
https://github.com/ethereum/solidity/issues/526

[2019-06-11 17:30] markoprljic opened #830 "Create new Labels for Github issues"
@mroberts10 I figured we're missing some labels and I want to organize tickets better. I would kindly ask that you create the following labels:

- research
- UX
- UI
- usability
- design

I would remove the "UX design" label in favor of just "UX"

Thanks.

[2019-06-11 18:15] markoprljic opened #831 "Create Giveth Dashboard"
I was thinking about having a central place (a dashboard) for all Giveth resources, communication channels, files, docs, repos etc. to serve as an entry point from where anyone can easily go and find where/what needed.
A friend of mine created one such dashboard for his company and open sourced it, I forked https://github.com/markoprljic/snt.dashboard

It serves the following:
1. easy onboard new

[2019-06-11 18:47] #830 closed

[2019-06-11 21:29] bowensanders commented on #447
This has not been addressed as I never got as far as tracking it down at all. I may need to excuse myseld from fixing this one if someone else wants to tackle it before I get the chance - I remember RJ / Vojtech telling me where the problem would be. I do want to say now that the bridge monitor dashboard links identities to the addresses of payment recipients, it should be a lot easier since that

[2019-06-12 12:02] krrisis commented on #831
tbh I think the wiki serves (and should serve) exactly this purpose. if docs or links are missing there we can just add them there. Creating another tool or repo just spreads out the info over more places.

[2019-06-12 18:16] Danibelle commented on #815
This will be great in the onboarding document. This can be assigned to me.

[2019-06-13 15:39] GriffGreen commented on #766
Sorry about that delay! its up now tho! https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5ce2d8182bb8c0257c7b83c5

[2019-06-13 15:43] GriffGreen commented on #766
I sent a little extra eth to you to make up for the delay (That DAI could have been on Compound making interest!)
https://etherscan.io/tx/0xec91ea58a4151575c99009989b5c44b6a1015c41c0d9af76a75eacba294ec5b6

[2019-06-13 15:46] lorelei1 opened #832 "delegation has been confirmed msg comes WAY EARLY"
I'm delegating and before i even click confirm on the metamask tx, the DApp gives me a green banner saying my delegation has been confirmed. This is so inaccurate and very confusing! The person has *not* actually been paid - it's just sitting in metamask limbo yet the dapp is telling me it's all good and done already.
If I wasn't a very experienced user who's job it is to notice this stuff, this w

[2019-06-13 19:23] nadirlaskar commented on #766
@GriffGreen looks like the [amount](https://rinkeby.etherscan.io/tx/0xbab7d8199056b73249bccbf3e25129ed4dc303b6629c5bcc76c1ee78cf0a995b) is sent to Rinkeby Test Network, Isn't it suppose to be sent to main-net.

[2019-06-13 19:24] lorelei1 commented on #832
made a screenshare to demo this
https://youtu.be/EIaVyv-333c

[2019-06-13 19:28] krrisis opened #833 "Completed Milestones stay in active overview"
Seems this only happens with the Milestones without a cap?

![image](https://user-images.githubusercontent.com/6533925/59461628-1b537f80-8e22-11e9-926b-925fdd6217f8.png)