[2019-06-13 19:31] krrisis commented on #494
Reopening this bcs they never actually disappeared, as you can see below:

![image](https://user-images.githubusercontent.com/6533925/59461833-9321aa00-8e22-11e9-8687-76efdec4a7c5.png)

[2019-06-13 21:23] arbreton commented on #819
Reviewing the donations on this milestones they successfully made it to the bridge but they don't appear on the bridge according to @bowensanders, what would be the next steps on this? @ewingrj , @mroberts10

[2019-06-13 21:50] arbreton commented on #795
This should be solved now tweaking internal configurations on the ipfs server

[2019-06-13 21:50] #795 closed

[2019-06-13 21:52] arbreton commented on #607
This is greatly improved now with this commit https://github.com/Giveth/giveth-dapp/commit/c5c791e7e7c26f3802fc04a233c85b72d2718c70, but this should be an ongoing revision and text making for specific scenarios

[2019-06-13 21:57] arbreton commented on #818
This was discussed that the campaign owner was changed manually, this could have something to do with this problem, pending to check DB record integrity.

[2019-06-13 22:00] arbreton commented on #748
Can this be closed or is there something that can be done related to this behavior?

[2019-06-13 22:05] arbreton commented on #769
Have been trying to replicate this error, just some probing questions needed @lorelei1,
is this happening on Google Chrome / Windows combo?
is this on the create campaign screen pasting on the description field (anywhere maybe?) ?

Already tried creating a campaign on mac os and pasting but doesn't seem to be happening anymore

[2019-06-13 22:09] arbreton commented on #823
Hello @krrisis is this the first time this has happened to you,
I sense that this might be an uncommon bug hard to catch since doesn't seem to replicate easily, i will get more in depth in the donation process to follow the path in where this problem can be caused, if anyone can reproduce this error, please comment below

[2019-06-14 22:29] bowensanders commented on #819
<img width="501" alt="Screen Shot 2019-06-14 at 3 27 36 PM" src="https://user-images.githubusercontent.com/27023908/59542108-2d343180-8eb9-11e9-93fe-44b9b806a272.png">

Is it possibly related to the fact that in this example there is no recipient address??

[2019-06-14 22:30] bowensanders commented on #819
That was from THIS milestone: https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5cc5ef48cf48770f67ee86b4

[2019-06-14 23:49] Joshfairhead commented on #819
Damn, quite possibly some idiocy my end there (tho I feel like I filled
that in) but the problem remains due to an AWOL edit button... (i.e. non
existent)!

[2019-06-15 00:16] bowensanders commented on #819
I believe that it is missing because you are not the reviewer and or the milestone has been accepted as complete

---- On Fri, 14 Jun 2019 16:49:56 -0700 notifications@github.com wrote ----

Damn, quite possibly some idiocy my end there (tho I feel like I filled
that in) but the problem remains due to an AWOL edit button... (i.e. non
existent)!

—
You are receiving this because you were mentioned.

[2019-06-15 06:45] arbreton commented on #819
I think i can apply a quick fix temporarily for the funds to go through, also when the funds are still not paid the milestone should not go to completed, i will need to check on that seems to be a UI problem

[2019-06-15 07:15] arbreton commented on #819
I will just need your wallet address @Joshfairhead thank you!

[2019-06-15 07:42] arbreton commented on #819
@Joshfairhead, Everything should be ok now Josh, please set recipient address before marking complete everything should be good to go.

I'm also uploading a fix which would prevent users to mark complete without setting a recipient address first.

[2019-06-15 10:21] Joshfairhead commented on #819
Cheers Andre, unfortunately its still not working for me!

The UI has reverted to normal, however clicking edit throws the error
screen which stops me from editing the recipient address.

This is the address I'd use FYI :)
0xf89AD13EfF9d9d1cd5768dFf658C68A8108D38C5

Cheers!
ᐧ

[2019-06-15 10:29] Joshfairhead commented on #819
However I did find the big green "set recipient" button which allowed me to
input the address.

Clicking "Mark complete" however throws an error now instead. It pops up
the window asking for a note, I add the note but then it fails. I have
tried this from "My Milestones" and from the milestone directly in several
ways.
ᐧ

[2019-06-15 11:21] Danibelle opened #834 "Status Messaging repeats for next actor with previous comment"
When I leave a comment as Campaign Manager to accept the proposed Milestone, the comment is then repeated as if it's from the Milestone Creator.. you can see here I provided detailed comment upon accepting the Milestone..  for some reason it shows my same comment under Josh's name for  Request Review:
![image](https://user-images.githubusercontent.com/39466970/59550887-18b37000-8f71-11e9-8c0f-5260

[2019-06-15 18:48] arbreton commented on #819
@Joshfairhead you should be able to collect now on your milestones tab, please confirm thank you! have a nice weekend

[2019-06-15 19:21] Joshfairhead commented on #819
---
Mobile: +44 (0) 7412090234
JoshAFairhead.com <http://www.JoshAFairhead.com>
Ask the Loomio!?
<https://www.loomio.org/join/group/2dzzxELw5H6STeR55EMp2F79/>

ᐧ

On Sat, 15 Jun 2019 at 19:48, Andre Breton <notifications@github.com> wrote:

[2019-06-15 19:29] Joshfairhead commented on #819
Nice,

So looking at https://bridge.beta.giveth.io/ it seems that we are golden.
Thanks Andre, you da man!
ᐧ

[2019-06-15 22:46] geleeroyale commented on #831
I still would like to see how the deployed dashboard looks. Do you have a link to the deployed version @markoprljic ?

[2019-06-17 15:12] lorelei1 opened #835 "mark complete not triggering any real transaction"
made a screenshare
https://youtu.be/Vq4FRAjRK-8

[2019-06-17 15:52] lorelei1 opened #836 "Adding a photo of a receipt ruins the scroll function"
I uploaded a pic of a receipt on a milestone and as soon as the picture is there, I can no longer see all the fields of the receipt/item box to be filled in. I wanted to fill in the name of this receipt after uploading the pic (cuz i don't know what to name it until i see the receipt) but now I can't see the name field, i can't scroll up to it, and i seemingly can't scroll at all. it's cutting off

[2019-06-17 16:23] lorelei1 opened #837 "Changing currency raised after adding receipts makes wrong conversion"
made a screenshare
https://youtu.be/ysq53jGbRaw

[2019-06-17 16:50] #760 closed

[2019-06-17 17:06] GriffGreen commented on #819
Adding fix to make it so you can't mark it complete

[2019-06-17 17:07] GriffGreen commented on #823
I also couldn't replicate it....

[2019-06-17 17:10] GriffGreen commented on #658
relates to #731

[2019-06-17 17:11] mroberts10 commented on #658
Related to #731 needs a button like not now.

[2019-06-17 17:14] GriffGreen commented on #731
@arbreton lets have a deep dive convo on this topic!

[2019-06-17 17:16] #748 closed

[2019-06-17 17:16] Danibelle commented on #748
This is in the SmartContract and designed to prevent frontrunning attacks.  Annoying but necessary.

[2019-06-17 17:17] GriffGreen commented on #748
This is because of the race condition for approvals... a well known issue with the ERC20 standard

[2019-06-17 17:18] mroberts10 commented on #769
need a lot of text to reproduce the bug

[2019-06-17 17:20] GriffGreen commented on #653
It might just be a lag of a few hours...

[2019-06-17 17:22] GriffGreen commented on #653
It might not be an issue any more

[2019-06-17 17:25] mroberts10 commented on #793
Need to setup an external server. What we can do is setup a separate link.

[2019-06-17 17:26] mroberts10 commented on #793
@markoprljic are you still experiencing this issue?

[2019-06-17 17:27] GriffGreen commented on #771
This takes lots of extra work... :( sadly being decentralized with IPFS and adding a preview for twitter is not easy... we might have to add some centralizing features to make that work

[2019-06-17 17:28] GriffGreen commented on #793
probably should be closed

[2019-06-17 17:28] #796 closed

[2019-06-17 17:28] #750 closed

[2019-06-17 17:30] GriffGreen commented on #761
@markoprljic does the giveth dapp not work with Dapper?

[2019-06-17 17:32] mroberts10 commented on #733
Could be solves as the IPFS issues have been addressed - need to check

[2019-06-17 17:33] #715 closed

[2019-06-17 17:35] #692 closed

[2019-06-17 17:37] GriffGreen commented on #692
This is hard to communicate tot he dev that they need to make a profile

[2019-06-17 17:37] #699 closed

[2019-06-17 17:39] GriffGreen commented on #752
related to #706

[2019-06-17 17:39] Danibelle commented on #752
related to 706, plus a new one today 837

[2019-06-17 17:39] GriffGreen commented on #752
#752

[2019-06-17 17:40] GriffGreen commented on #752
#837

[2019-06-17 17:40] GriffGreen commented on #752
apparently this is a common issue!

[2019-06-17 17:42] GriffGreen commented on #837
very nice screen share :-D

[2019-06-17 17:43] GriffGreen commented on #836
Scroll issue... weird bug

[2019-06-17 17:44] mroberts10 commented on #836
Could assign to nepalis

[2019-06-17 17:46] mroberts10 commented on #835
likely a cache issue - something is stuck - could be hard to replicate.  - Griff reset metamask - gets rids of all the transactions but speeds up metamask (signed into different account and signed back)

[2019-06-17 17:46] GriffGreen commented on #835
might be an issue from reseting metamask @lorelei1 can you try again?

[2019-06-17 17:47] GriffGreen commented on #834
could be a special case... ? Was @arbreton doing something that would make this happen?

[2019-06-17 17:48] GriffGreen commented on #834
strange behavior... very likely to not be an issue

[2019-06-17 17:48] #834 closed

[2019-06-17 17:51] GriffGreen commented on #827
may have been related to ethereum congestion... but there was also an issue with anon users donating

[2019-06-17 17:51] #827 closed

[2019-06-17 17:51] GriffGreen commented on #825
its just really slow usually right? I guess we just need to paginate the Milestones

[2019-06-17 17:52] mroberts10 commented on #825
There is no pagination, so is the campaign has lots of milestone then it can take a long time.

[2019-06-17 17:54] #810 closed

[2019-06-17 17:54] GriffGreen commented on #833
oh this is for the "Archive" work around that @ewingrj made... we need to move archive'd milestones to a different tab

[2019-06-17 17:56] GriffGreen commented on #829
Yeah cool! I would love to see the email stuff get tackled... there are a lot of improvements that could happen there

[2019-06-18 00:44] arbreton commented on #823
After some investigation seems to be that the cause could have been an intermittent connection to the web3 api, this was during the airdrop day, i will a apply preventive fixes in case this happens again

[2019-06-18 03:13] arbreton opened #839 "Security vulnerability assessment on all repos"
Some dependencies the org repos might be vulnerable to certain attacks and needs to be reviewed

[2019-06-18 05:41] GriffGreen opened #841 "Difficult to find ReceiverIDs in the DApp"
If you want to donate via the smart contracts it is difficult to do without the receiverID... I usually back it out by donating via the UI and then checking the data on the transaction, it would be great if the ID was just listed somewhere hidden on the page... maybe in the bottom corner or something... :-D

[2019-06-18 07:06] GriffGreen opened #842 "if donating from outside the dapp using DonateAndCreateGiver, name is reset to "anonymous giver""
I was testing how things would work for Willie in the dapproom channel if he called DonateAndCreateGiver multiple times... and some thing weird happened... my profile went from:
<img width="732" alt="Screen Shot 2019-06-18 at 8 34 23 AM" src="https://user-images.githubusercontent.com/14945613/59659319-40d7e480-91a6-11e9-935b-23b8bf52fe87.png">

to

<img width="1052" alt="Screen Shot 2019-06-18 at

[2019-06-18 07:16] arbreton commented on #842
Interesting, totally agree, this function should only be called once already stated on the riot chat, the correct function after that should be the donate function passing both ids, I suggested a possible solution on riot on how to retrieve the ids from events so it doesn't call function when an Id exists, should be pretty straight forward depending on the needs, any questions that they may have h

[2019-06-18 12:57] krrisis commented on #823
Great! Yeah it might have been linked to that. Can't replicate it myself in the sense that I normally don't donate to giveth except for this one time :) So I think you can close this one. thx!

[2019-06-18 14:06] krrisis commented on #833
before these just moved to 'paid' which makes sense to me. Now they stay here, even when paid. as said, only seems to be with the ones that have no cap.

It is prob bcs you can have multiple payouts when no cap, which I think is a feature we can/should drop, only recently heard that is even possible. I think we should drop it because it causes exactly this issue -> if you can have multiple rounds

[2019-06-18 15:53] ceresstation commented on #604
@zzyyxxww definitely, if you're able to solve it consider the bounty assigned to you :)

[2019-06-18 17:25] mroberts10 commented on #422
Assign to Nepali.

[2019-06-18 17:37] #466 closed

[2019-06-18 17:57] #648 closed

[2019-06-18 18:09] #753 closed

[2019-06-18 18:10] mroberts10 commented on #762
needs to manually updated for the old milestone.

[2019-06-18 18:11] #762 closed

[2019-06-18 18:12] #767 closed

[2019-06-18 18:14] #779 closed

[2019-06-18 18:17] #812 closed

[2019-06-18 18:22] #813 closed

[2019-06-18 18:25] ElMejorge commented on #822
Issue related to #782

[2019-06-18 18:27] mroberts10 commented on #824
Assign to Nepalis

[2019-06-18 18:27] mroberts10 commented on #826
Nepalis

[2019-06-18 18:27] mroberts10 commented on #828
nepalis

[2019-06-18 22:42] #823 closed

[2019-06-19 00:35] arbreton commented on #841
@GriffGreen I gathered the data around this, should be an easy modification i have this as a result, just wanted to check if the margins, font size and colors are ok, i see this more like an easter rather an important display i think it looks good it's small on the bottom right corner, it will be available in all milestones, campaigns and DAC accross de Dapp

<img width="966" alt="Screen Shot 2019

[2019-06-19 05:43] #819 closed

[2019-06-19 05:46] arbreton commented on #731
@GriffGreen totally, i'm right now adding a button and i will be testing how feathers behaves with those changes, if there is additional info we can definitely jump on a call

[2019-06-20 06:38] GriffGreen opened #844 "Every dev that tries to run the dapp locally comes across the same switching networks issue"
i would say 5 out of 6 devs that try to run our dapp locally get hung up on the same thing, it usually goes like:

"Hi all, I'm trying to run giveth dapp locally, and I'm getting the following message
"It looks like your Web3 Provider is connected to the wrong network. Please connect to the Foreign Ganache network."
metamask has localhost:8545 selected
not exactly sure how to deal with this..."

H

[2019-06-20 15:56] GriffGreen commented on #449
I would love to see this feature to follow what we do with DAC's where, when a DAC delgates to a Campaign, that Campaign shows up under the DAC... it would be cool to add that functionality for milestones and campaigns.

so when you delegate on the milestone, the drop down could allow you to use any campaign you manage.

when the milestone shows up under a campaign, it should clearly denote that i

[2019-06-20 16:45] mroberts10 opened #845 "Create an option to donate to Giveth when they donate to a cause"
We talked about this at the retreat.  It would be great to allow people to make a small percentage of their donation to Giveth.

[2019-06-20 16:46] mroberts10 opened #846 "Have the multi-sig address more widely available for donations"
Make this address easily available to help people donate to Giveth.

[2019-06-20 16:52] mroberts10 commented on #846
If for example its not possible to donate to the DAPP via a campaign or via mobile - you can have it send you an email for when you are back to your desktop.

[2019-06-20 17:11] GriffGreen commented on #433
This is solved in #517

[2019-06-20 17:11] #433 closed

[2019-06-20 17:20] markoprljic commented on #846
Mobile-specific:

1. The page is mobile ready (responsive)
2. no Metamask call that blocks the page to load
3. Click "Donate" button
4. Inform user that web3 is not available on mobile (requires MM), can proceed with a donation but anonymously (show multisig address, option to copy address, can we deeplink for installed wallets and open the app from a link?)
5. Allow user to send the donation link

[2019-06-20 19:33] arbreton commented on #844
Totally agree, personally i have faced difficulties as-well setting up the local environment for the first time, kudos to @ElMejorge for rocket starting me there, otherwise it might have taken me a lot more time to figure that out

An important point is that on the feathers readme https://github.com/Giveth/feathers-giveth/blob/develop/README.md is missing this important information!, that you actu

[2019-06-20 20:13] GriffGreen opened #847 "default screen when there is no web3 provider makes it look like donating ETH is the only option"
Twice this week we ran into this...

<img width="501" alt="Screen Shot 2019-06-20 at 10 11 22 PM" src="https://user-images.githubusercontent.com/14945613/59878424-895ef000-93a8-11e9-9469-afd03a1ed7ac.png">

because of this:
<img width="901" alt="Screen Shot 2019-06-20 at 10 11 30 PM" src="https://user-images.githubusercontent.com/14945613/59878434-8fed6780-93a8-11e9-9504-887d7f800112.png">

[2019-06-21 08:54] markoprljic opened #848 "Mobile transactions with WalletConnect"
Related to this issue https://github.com/Giveth/giveth-dapp/issues/846

Can we something with walletconnect? https://walletconnect.org/

I reached out to @pedrouid to find out about technical constraints and here's what he said:

In iOS we have to target a specfic app so the workaround we found was to list supported wallets and their respective deep links. Another thing is the redirects we only te

[2019-06-21 11:14] pedrouid commented on #848
If you have Rainbow or Metamask on iOS you can test the demo integration that we did in NYC Blockchain Week.

Rainbow - https://testflight.apple.com/join/so3BxWGV
Metamask - https://mobile.metamask.io/

![Jun-21-2019 13-13-57](https://user-images.githubusercontent.com/10136079/59918950-77239700-9426-11e9-8af8-79a4749e5ce2.gif)

The demo link is here: https://deep-linking--walletconnect-example.net

[2019-06-21 11:38] markoprljic opened #849 "Add button "Create new Campaign""
When you go to Campaigns and have an empty state page, add button to Create new campaign.
![Image 2019-06-21 at 1.35.23 PM.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/736f7dda-fd20-46a9-9895-98c3f0277623)

Additionally, when there are campaigns listed but the same button TOP RIGHT above the campaigns list.

[2019-06-21 11:41] markoprljic opened #850 "Add a button to "Create your Community""
Communities empty state page, add button to Create your Community.

![Image 2019-06-21 at 1.39.40 PM.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/faa94f87-ee6e-4d63-8b9b-ed74434cb0f3)

[2019-06-21 13:04] pedrouid commented on #848
A very timely tweet about Gnosis Safe doing deep linking with WalletConnect on Android.

https://twitter.com/StefanDGeorge/status/1142052306453745665

Maybe @rmeissner could be of help on this matter

[2019-06-21 19:28] Danibelle commented on #849
You must be whitelisted for these buttons to appear for you in Beta.

[2019-06-21 19:29] Danibelle commented on #850
This is necessary functionality in Beta.  You must be Whitelisted in order to create Communities and Campaigns.

[2019-06-21 19:31] Danibelle opened #851 "Ctrl+A in Milestone Text Box highlights all of everything"
Copying Milestone text would be a lot nicer if I could just Ctrl+A from within the text box without it highlighting the entire page!

[2019-06-22 08:51] markoprljic commented on #815
I just accidentally found this issue, because I'm not getting notifications when someone mentions me, this is weird and a constant problem I'm having. Off topic: How can I fix this and get notified?

For this issue... I need to wrap my head around it but at a glance reading Griff's suggestion to categorize "Things" looks like a good approach. On the other hand, introducing more options means more

[2019-06-22 09:06] markoprljic commented on #754
@michaelsena Where can I find a complete list of user profile metadata that comes from 3Box? Additionally, it would be nice if you have some stats on each metadata availability i.e. from all users what's the % of profile pictures users have associated with their 3Box profile. (lower priority and not mandatory but nice to have)

Thanks!

[2019-06-22 09:15] markoprljic commented on #793
Yes and no. We want to make all campaign and milestones pages mobile accessible, meaning user can open the page without being blocked by metamask.
It is more related to this issue https://github.com/Giveth/giveth-dapp/issues/620

[2019-06-22 09:18] markoprljic commented on #793
Nope, I don't think it should. Unless of course, it's not feasible to do at this point. I believe that devs should estimate the effort and we can then decide whether it goes in this dapp version or wait fo 2.0.

[2019-06-22 09:22] markoprljic commented on #332
Tell me more about badges please? What kind of badges / labels are you thinking to have here?

[2019-06-22 09:36] markoprljic commented on #710
I think that search functionality is less of a priority compared to other issues reported by users. At this stage of the product development, most users already know where their campaigns are and we're not having a huge number of campaigns and dapp traffic to validate search function at this moment (compared to prioritized issues I mentioned).

Not saying search is not needed, and it is a must hav

[2019-06-22 09:40] markoprljic commented on #332
I don't see a major technical implementation issue here, but a lot of direct benefit to users. I'm voting to bump this up and implement it. @krrisis @vojtechsimetka
I'd just like to discuss possible labels/badges OR just tabs under My Milestones.

[2019-06-22 09:41] arbreton commented on #793
Hello @markoprljic

I think the dapp is already fully accessible to campaigns, dacs and milestones on mobile without metamask are you still experiencing this on your phone?

[2019-06-22 09:57] markoprljic opened #852 "Content outline for new Giveth website"
Create a draft content outline for new Giveth website (pulling in from Medium articles and Wiki)
Use this doc https://docs.google.com/document/d/1fRyMMUIyfZxsXZmMz82n4kdzSFW9

[2019-06-22 11:34] markoprljic commented on #793
Ahhh, it works now.
I couldn't access the pages when following a link from Twitter. I guess this issue can be closed now.

[2019-06-22 11:44] markoprljic commented on #848
@pedrouid Thank you for this! The Gnosis integration looks great, I wonder if we can do the same.
This issue requires an estimate from devs on the LOE. We'll be discussing this on our next call.

[2019-06-22 19:42] Danibelle commented on #815
per chat with @markoprljic we're gonna work on 'decomplexifying' the Milestone Creation process.

Err, make a simple document with a graphic decision flow for creating a Milestone based on type.

And templates.  That automate the process for frequent use cases.

[2019-06-23 21:26] arbreton commented on #793
This got fixed at #802

[2019-06-23 21:26] #793 closed

[2019-06-24 05:48] arbreton opened #853 "Milestone drafts not being validated by campaign"
Milestone drafts on any campaign show everywhere you create a milestone, if you create another milestone on another campaign it should not show you a draft from another milestone in a different campaign

[2019-06-24 05:49] arbreton commented on #822
Being improved partially on #853

[2019-06-24 17:29] GriffGreen commented on #690
Might be fixed when andre was working on drafts... to be checked

[2019-06-24 17:33] GriffGreen commented on #771
prerender.io this would be a centralized solution... it will charge us, it hasn't been tested yet, but it could work and its only like $5 a month...

Webcrawlers don't render javascript, they just grab the metadata from clients that are running on the serverside... we run on the clientside so they can't do that....

[2019-06-24 17:37] GriffGreen commented on #447
needs to be done with the bridge... doesnt look that hard.... maybe Bowen and Andre/Jorge can work on this

[2019-06-24 17:39] GriffGreen commented on #728
this is in the delegations page

[2019-06-24 17:42] GriffGreen commented on #825
medium difficulty task....

[2019-06-24 17:44] GriffGreen commented on #844
add some content to the readme, and at the end of the installation we can add some instructions as well to the dev... that would give them context

[2019-06-24 17:45] GriffGreen commented on #845
Yeah!

[2019-06-24 19:44] #849 closed

[2019-06-24 19:45] #850 closed

[2019-06-25 13:31] MorganGR opened #856 "Milestone does not disburse"
The below milestone is producing the following error.
![ClickDisburseMessage](https://user-images.githubusercontent.com/34093087/60102605-ee726700-9755-11e9-99bf-3fcdd4300596.PNG)
![ClickYesWithdrawalMessage](https://user-images.githubusercontent.com/34093087/60102606-ef0afd80-9755-11e9-85ff-3db7b38d5a1f.PNG)

Milestone:
https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5ca542f7

[2019-06-25 14:22] Danibelle opened #857 "My Donations frequently errors loading"
Often getting this error when I go to 'My Donations' page:

![image](https://user-images.githubusercontent.com/39466970/60106047-79da0100-9732-11e9-9e7e-0fb16bdc5adb.png)

![image](https://user-images.githubusercontent.com/39466970/60106088-91b18500-9732-11e9-9c3c-1c2b06ff045c.png)

Signature Request comes up when I'm already signed in - I reloaded, signed, My Donations came up this time, but it's

[2019-06-25 21:42] arbreton opened #858 "Feathers package-lock and security updates"

[2019-06-26 00:22] #858 closed

[2019-06-26 17:13] lorelei1 opened #860 ""Reject" should be "Reject Completion""
<img width="911" alt="Screen Shot 2019-06-26 at 10 12 05 AM" src="https://user-images.githubusercontent.com/38163206/60200419-ecaeaf00-97fa-11e9-9ab0-3d785edbe0d7.png">
It's too vague when i go to the milestone and it gives me the option to reject it - that makes me think i would be denying this person's work on the milestone overall, when in actuality the action of rejecting the milestone means t

[2019-06-26 17:18] lorelei1 opened #861 "Reject Completion won't work"
<img width="841" alt="Screen Shot 2019-06-26 at 10 14 24 AM" src="https://user-images.githubusercontent.com/38163206/60200792-aad23880-97fb-11e9-89ec-8c70eff380e6.png">
Tried again and again, refreshed, tried again, still this.

[2019-06-26 21:35] lorelei1 commented on #861
weeeeird - @Danibelle says it worked anyways despite always showing this message!

[2019-06-27 00:18] arbreton commented on #690
Fixed in 859

[2019-06-27 00:39] #841 closed

[2019-06-27 00:40] #837 closed

[2019-06-27 00:40] #853 closed

[2019-06-27 00:40] #752 closed

[2019-06-27 00:40] #706 closed

[2019-06-27 01:26] arbreton commented on #861
This is very weird @lorelei1, ill see if i can check into this onebefore we prioritize on monday, seems to be a problem with cache, try deleting the cache of the browser see if it helps

Couldn't replicate it yet, seems ok now

[2019-06-27 01:43] arbreton opened #862 "Not descriptive error when trying to edit a milestone and not whitelisted"
<img width="1439" alt="Screen Shot 2019-06-26 at 6 42 44 PM" src="https://user-images.githubusercontent.com/12836187/60226964-4dada580-9842-11e9-9156-e161886e1f7c.png">

[2019-06-27 11:22] aminlatifi commented on #690
I checked out master branch, and test again. The bug still exists.
I recorded a video to show that.
[simplescreenrecorder-2019-06-27_15.48.51.zip](https://github.com/Giveth/giveth-dapp/files/3334357/simplescreenrecorder-2019-06-27_15.48.51.zip)

[2019-06-27 14:40] arbreton commented on #690
I couldn’t reproduce the error anymore, the problem was that when you deleted proof when editing it didn’t get deleted, now it deletes fine

[2019-06-27 14:45] arbreton commented on #690
If it still needs the “X” to be removed when it has been already created that should be an easy modification

Assigned to Amin

[2019-06-27 20:33] zzyyxxww commented on #342
is this still open for work?

[2019-07-02 06:19] #690 closed

[2019-07-02 15:22] GriffGreen opened #864 "Delegating from within a Milestone froze and didnt work"
<img width="1197" alt="Screen Shot 2019-07-02 at 5 20 11 PM" src="https://user-images.githubusercontent.com/14945613/60524902-b89d2780-9ced-11e9-9d75-61132006e41f.png">

It weird, i didnt get an error notification either... it just froze.

I was trying to delegate from the Commons Stack Prelaunch Campaign to Jeff's milestone https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d15

[2019-07-02 17:10] GriffGreen commented on #342
@zzyyxxww YEAH! it is! if you have any issues or are stuck on something feel free to join the riot chat and ask there: https://riot.im/app/#/room/!pJNSuPMvcrDttmJFvV:matrix.org?via=matrix.org&via=giveth.io&via=status.im

And you are also invited to our DApp meetings which happen at 7 pm Barcelona time every Monday at https://meet.jit.si/giveth-dapp ;-D

[2019-07-02 17:16] GriffGreen commented on #611
Almost done, should be fixed by #658

[2019-07-02 17:20] GriffGreen commented on #668
very weird bug... we need more details is it still an issue? probably but i don't think we can do it.

[2019-07-02 17:26] arbreton commented on #769
Assigned to Amin

[2019-07-02 17:28] GriffGreen commented on #728
I think we should check if Lorelei is still running into this

[2019-07-02 17:33] GriffGreen opened #865 "Create a Giveth DAC donation option for every proposed milestone"
This is a larger research project, but in every milestone we need to have an optional % that can donated to Giveth.

We need this so that we can be regenerative for our own consulting work, we might also eventually set the default to 3% or something so we can be regnerative

[2019-07-02 17:35] arbreton commented on #342
are you working on this one @zzyyxxww ?

[2019-07-02 17:37] GriffGreen commented on #342
the story is that the various views are missing the confirmations that some of the views have

[2019-07-02 17:38] GriffGreen commented on #478
Working on it!!

[2019-07-02 17:42] GriffGreen commented on #585
Defining the data is the hard part.... maybe there is a user who would want to help us figure it out?

[2019-07-02 17:44] arbreton commented on #860
Assigned to Amin

[2019-07-02 17:47] arbreton commented on #844
Troubleshooting for metamask and deploying feathers aswell.

[2019-07-02 17:50] GriffGreen commented on #865
donation should be made in the name of the milestone manager

[2019-07-02 17:53] lorelei1 opened #866 "Uncapped milestones no longer say "This milestone is collecting funds in ETH""
On regular, capped milestones its really easy to see if a milestone is raising in DAI or ETH. Now, when i try to delegate to [Marko's redesign milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5cf1791f8182665680873f7d), it takes some detective work to find out its only accepting ETH. I had to go thru the process of delegating and not being able to pull up the mileston

[2019-07-02 17:53] GriffGreen commented on #845
the pop up page saying thank you for donating could come up with a donate button for the Giveth DAC :-D and a nice message that says "Please donate to Giveth!"

[2019-07-02 21:18] FrederikBolding commented on #585
Yeah, I agree. When we know which data to export, the rest is probably quite simple.

[2019-07-03 00:13] arbreton opened #867 "Memory leaks on CampaignProvider, DACProvider and MilestoneProvider"
The Dapp tries to set the state before mounting the component, correctly handling async calls and state setting should fix this warnings

[2019-07-03 00:14] arbreton opened #868 "Error on default props being undefined on connection failures"
Setting default values for required values should fix this errors on the dapp

[2019-07-04 00:51] arbreton commented on #856
Hello @MorganGR, for some reason someone archived the milestone, it should be working fine now, can you try to disburse again? keep me posted!

[2019-07-04 00:59] arbreton opened #870 "We have a limitation on the DApp of using metamask for all things rinkeby"
I thought about "Connect Wallet" or "Enable Wallet" but open to suggestions!

[2019-07-05 22:14] GriffGreen opened #871 "Tried withdrawing and collecting... but the transaction fails"
<img width="1216" alt="Screen Shot 2019-07-06 at 12 13 08 AM" src="https://user-images.githubusercontent.com/14945613/60747049-f49cea80-9f82-11e9-9a9a-40325967cef8.png">

https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7/milestones/5d1ba874bd45530e23ad86ed

[2019-07-05 22:19] GriffGreen opened #872 "Error messages should link to https://github.com/Giveth/giveth-dapp/issues/new"
Let's get more issues, and faster customer service!

We are about to have a pretty big beta test with Burning man and a lot of people will end up getting milestones sent to them... if we add a link to https://github.com/Giveth/giveth-dapp/issues/new in every error message, we will drastically reduce the barrier to finding out what is broken!

[2019-07-05 22:23] GriffGreen commented on #871
never mind... it looks like it did work... but it sent me an error... i must have signed the metamask tx without thinking... so now i guess the issue is why it wasn't obvious that i had already clicked withdraw

[2019-07-05 22:28] GriffGreen opened #873 "donations are combined once they are paid out"
<img width="663" alt="Screen Shot 2019-07-06 at 12 19 01 AM" src="https://user-images.githubusercontent.com/14945613/60747266-5c076a00-9f84-11e9-8338-2d4420430453.png">

Funny thing... i'm pretty sure there is another issue that Lorelei made a while ago about how the donations update at the bottom of a milestone... it aggregates the multiple donations i sent there and combined them to one, changin

[2019-07-05 22:29] GriffGreen opened #874 "There should be a status update once a payment happens"
<img width="663" alt="Screen Shot 2019-07-06 at 12 19 01 AM" src="https://user-images.githubusercontent.com/14945613/60747372-03849c80-9f85-11e9-9229-e48a5753ad5d.png">
I withdrew some funds and I would expect some way to express this on the screen... i status entry might be a good way to do it...?

[2019-07-05 22:38] arbreton commented on #872
I just saw this, i think it would be great!!!, this is definitely needed and so useful!

[2019-07-05 22:39] arbreton commented on #871
I agree, whenever an action is done there should be a UI feedback like graying out the buttons or a loading and if it fails it should also popup like on most cases, we can definetely look into this

[2019-07-05 22:50] arbreton commented on #873
This is so strange, i haven't seen that problem before, is that happening on beta right now @GriffGreen ?, would you be able to share the milestone?, thank you!

[2019-07-05 22:51] arbreton commented on #874
This milestone seems to have an odd problem, the status updates i'm pretty sure they should show up, must be something to do with data corruption but we need to identify what exactly happened, i can check on this with the milestone id, thank you!

[2019-07-05 23:19] arbreton commented on #866
I agree there should be an indicator on uncapped milestones for this to keep consistency!, how the indicator from capped milestones look like @lorelei1?, thank you!

[2019-07-06 21:03] GriffGreen commented on #865
Related to #449

[2019-07-06 23:14] GriffGreen opened #876 "Amin's milestone doubled up in my my milestone tab..."
Similar to #639, i have this same milestone twice... its weird that they both say in progress...
<img width="1185" alt="Screen Shot 2019-07-07 at 1 04 49 AM" src="https://user-images.githubusercontent.com/14945613/60761933-cd621e00-a053-11e9-8244-3f78cbd9d236.png">

This one is the real one... I think!?!?!

https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5d1af6c4bd45530e23ad85

[2019-07-06 23:31] arbreton commented on #876
Definitely something happened, seems to be a milestone duplication situation, i think we had those cases before, could have been feathers, i will investigate which milestone is the impostor milestone here and apply a quick fix, but we need to investigate further why this happened in the first place

[2019-07-06 23:49] arbreton commented on #876
So comparing this two milestones 5d1ccb0dbd45530e23ad876e and 5d1af6c4bd45530e23ad8546, the impostor milestone is definetely **5d1ccb0dbd45530e23ad876e** this is missing 2 fields which are **prevStatus** and **message** which is why the other milestone shows the status update, seems to be that the approval of the milestone went through twice for some reason,

5d1ccb0dbd45530e23ad876e which is faul

[2019-07-06 23:50] arbreton commented on #876
Short answer the correct milestone is https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5d1af6c4bd45530e23ad8546
@GriffGreen

[2019-07-06 23:56] arbreton opened #877 "Accepting a proposed milestone sometimes creates a duplicate"
Has happened once at #876, might investigation of the needed steps to replicate, probably something related with the process on updating the status of milestones on feathers

[2019-07-06 23:56] arbreton commented on #876
Removed the duplicate for a quick fix and opened #877

[2019-07-06 23:56] #876 closed

[2019-07-07 01:58] GriffGreen commented on #876
Amazing! thx!

[2019-07-07 10:14] #860 closed

[2019-07-07 16:47] aminlatifi commented on #769
The issue relates to [a bug](https://github.com/quilljs/quill/issues/2027) issued in react-quill project.
Nevertheless, there is [a fix](https://github.com/quilljs/quill/issues/2027#issuecomment-486513119) for this but it flickers on paste.

[2019-07-08 03:28] arbreton opened #879 "Memory leaks on EditMilestone"
When trying to setState on an async task and the component is not there anymore causes unexpected behavior can happen, needs a prevention system

[2019-07-08 06:03] #862 closed

[2019-07-08 06:57] #769 closed

[2019-07-08 07:04] arbreton opened #881 "Pasting and scrolling on quill improvements"
A fix to #769 has been made but still we should be able to track cursor position as suggested on the thread to keep the user focused on what he is writing at all times and prevent him from scrolling wherever he is pasting

The quill box on edit milestone / campaign or DAC doesn't limits it's size and grows infinitely, that could be limited and it could help to this scenario

[2019-07-08 17:10] arbreton commented on #856
(Archiving should not prevent users from collecting money)

[2019-07-08 17:14] mroberts10 commented on #856
The milestone has been moved out of the archive so, so MorganGR can be paid, however, the larger issue that milestones with fund in it that have not be paid, you should be still be able to archive the milestones however, the individual should still be able to be paid.

[2019-07-08 17:15] GriffGreen opened #883 "When a milestone is archived the status update doesnt show anything"
In general, we could be more verbose/prolific about status updates in general, but this is just one that we missed updating... related to

https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5ca542f7dd7b2c0bf14ed740

and #856

[2019-07-08 17:21] mroberts10 commented on #771
Andre to create test template of prerender.io for a test on the DAPP repo.

[2019-07-08 17:22] GriffGreen opened #884 "when people click disburse or collect the status becomes "paid" even tho it should be pending"
People actually don't get paid when they click the button, the payment is still pending the security guard's process on mainnet... so the payment from the user's perspective is Pending (72 hour check)... it should switch to paid when it actually leaves the bridge and goes to the user's wallet!

[2019-07-08 17:27] mroberts10 commented on #866
Need some indicator that says something 'like only raising ETH'

[2019-07-08 17:31] mroberts10 commented on #871
Solution could be catch those error messsages from metamask and handling them through the DAPP.

[2019-07-08 17:36] mroberts10 commented on #866
So add some text into the detail section that says what types of currency are accepted for donations.

[2019-07-08 17:38] GriffGreen commented on #866
<img width="492" alt="Screen Shot 2019-07-08 at 7 37 55 PM" src="https://user-images.githubusercontent.com/14945613/60830634-ec79c080-a1b7-11e9-8366-dab2099889af.png">

[2019-07-08 17:47] GriffGreen commented on #884
this is sort of related to #604 we could have a total overhaul of this donations section.

[2019-07-08 17:48] GriffGreen commented on #873
related to #604

[2019-07-08 17:50] mroberts10 commented on #874
Recipient actions don't show up such as paid outs. This should be added to the status updates.

[2019-07-08 17:52] GriffGreen commented on #873
we could have a total overhaul of this donations section.

[2019-07-08 17:52] arbreton commented on #874
*also archived status changes

[2019-07-08 17:53] GriffGreen commented on #604
related to #873

[2019-07-08 17:55] mroberts10 commented on #877
Might be related to internet connectivity.

[2019-07-08 18:01] GriffGreen commented on #861
had trouble replicating...

[2019-07-08 18:17] GriffGreen commented on #866
I think the easiest way to do this is to just modify the "Amount Donated" text.

The amount of crypto that has been donated to this Milestone
This milestone accepts [only DAI, only ETH, DAI or ETH].

We should also have some sort of code that stops us from having to deal with changing this when we add more currencies.

[2019-07-08 18:30] GriffGreen commented on #866
analyzing this i also noticed that we could place this info in the cards in the front
<img width="768" alt="Screen Shot 2019-07-08 at 8 09 21 PM" src="https://user-images.githubusercontent.com/14945613/60833667-0c60b280-a1bf-11e9-8d0c-aee5e05d6751.png">

If there is no cap, the card could say in the middle "Accepting DAI" "Accepting ETH" or "Accepting ETH & DAI"

[2019-07-08 18:33] GriffGreen commented on #872
This should probably be some sort of button or something on the error message that inspires people to click it and fill out a github issue.

[2019-07-08 18:34] GriffGreen commented on #881
Nice!

[2019-07-08 19:06] GriffGreen commented on #866
Ok!!! I found what Lorelei was talking about! THIS IS WHAT WILL SOLVE THE ISSUE.

<img width="1204" alt="Screen Shot 2019-07-08 at 9 03 35 PM" src="https://user-images.githubusercontent.com/14945613/60835632-edb0ea80-a1c3-11e9-8ce5-7940ef5c1244.png">

She wants us to have, a line at the top where it says

"Amount requested: 4.38165366 ETH" for capped milestones...

she wants uncapped milestones to

[2019-07-08 21:34] GriffGreen commented on #846
yep! I would love that to be the default for donating to Giveth if on a browser with no web3... and maybe we should ask people for their addresses, we can do that for everyone... but i think the intention behind this issue is a little more simple than that... we just need to plaster the donation address all over the site and the Giveth DAC donation button could be all over the place too :-D

We ju

[2019-07-08 22:04] markoprljic commented on #846
Actually, yes, the simpler the better. I misunderstood the issue, I see it referring to donating to Giveth, not user created DAC or a campaign. In that case a button to donate should be on the site anyway, but still there's the scenario of donating via mobile.

[2019-07-09 06:36] arbreton opened #885 "Feathers breaking due to undefined value on fundAccountIfLow"

[2019-07-09 06:48] #885 closed

[2019-07-09 07:09] arbreton commented on #885
<img width="928" alt="Screen Shot 2019-07-08 at 11 57 06 PM" src="https://user-images.githubusercontent.com/12836187/60866660-ca933480-a1dd-11e9-835d-dc56cef74429.png">
<img width="930" alt="Screen Shot 2019-07-09 at 12 09 04 AM" src="https://user-images.githubusercontent.com/12836187/60866661-cb2bcb00-a1dd-11e9-9601-7b0dc4ee9e13.png">

for future references

[2019-07-09 20:00] GriffGreen opened #886 "When someone proposes their first milestone we should have a tutorial pop up"
see what upstand.io does when the you try to make your first proposal.... they have a beautiful walkthru that on boards you... we need to cut options and add this... i think this is a giveth 2.0 issue... but worth noting

[2019-07-10 05:42] #879 closed

[2019-07-10 05:42] #867 closed

[2019-07-10 05:43] #868 closed

[2019-07-10 05:43] #658 closed

[2019-07-10 05:43] #857 closed

[2019-07-10 05:43] #620 closed

[2019-07-10 05:43] #611 closed

[2019-07-10 05:43] #731 closed

[2019-07-10 17:57] GriffGreen commented on #864
still running into this
<img width="1275" alt="Screen Shot 2019-07-10 at 7 55 48 PM" src="https://user-images.githubusercontent.com/14945613/60992475-dfdaa100-a34c-11e9-91bd-8e0d40ae0d9d.png">

[2019-07-10 20:02] arbreton commented on #864
This should be a good hotfix!, im checking on it right now

[2019-07-11 00:17] arbreton commented on #864
Should be working now @GriffGreen, keep me posted

[2019-07-11 13:59] aminlatifi commented on #871
After trying several times, I couldn't reproduce the error. I just get error popup of DApp as it should be.
@GriffGreen I did collect transaction two times. Just ignored Metamask dialog after first hitting Withdraw button, did withdraw again and confirm two queue Metamask transactions. Is it the correct scenario?

[2019-07-11 15:16] GriffGreen opened #889 "The defaults for the delegation amount and slider max is wrong in the my delegations page"
<img width="1002" alt="Screen Shot 2019-07-11 at 5 11 12 PM" src="https://user-images.githubusercontent.com/14945613/61062723-022cf700-a3ff-11e9-9c52-056b4eb5d21a.png">

It just started at 0 and I don't know the total amount the milestone is asking, even tho it is a capped milestone... the expected amount would be the milestone cap

ALSO

It is giving me the option of delegating more than the cap!

[2019-07-11 17:31] GriffGreen commented on #865
It would be really cool to make the giveth dapp donation basically a drop down so you could change which campaign it goes to... or maybe it only goes to DACs?

[2019-07-11 17:36] GriffGreen commented on #865
@Danibelle

[2019-07-11 22:57] Danibelle opened #890 "Delegation hangs when using button in Milestone Header"
This might be related to [Issue 674](https://github.com/Giveth/giveth-dapp/issues/674) ..

Delegating from RewardDAO, it hangs when I use the Delegate button in Milestone Header for this [Milestone of Frederik's](https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5d279eeb67f1fe662d8ceeb2).  I hit close, refreshed my connections and tried again, same hanging.

Went to My Delegatio

[2019-07-12 00:13] arbreton opened #891 "Milestone conversation proof items not showing up"
Attachment proof items are not showing up on milestones

[2019-07-12 03:51] GriffGreen opened #893 "Probably the same big number error, can't delegate within the milestone"
<img width="1261" alt="Screen Shot 2019-07-12 at 5 49 21 AM" src="https://user-images.githubusercontent.com/14945613/61101101-e9592b80-a468-11e9-9634-4de76d4b7bb2.png">

You can also see that it seems like i can donate more than 100 too.. the slider's max should only go to 100

[2019-07-12 14:40] markoprljic commented on #872
What if a user doesn't have a Github account?

[2019-07-12 17:06] aminlatifi commented on #872
I tried the scenario be similar to VSCode report issue process. On that case (and ours too), user need to create account to report issue.

[2019-07-12 19:28] arbreton commented on #872
@markoprljic That is a good observation there, it would not be convenient for a user to create a github account if he is not a developer just to report an issue.

In that case maybe we need to decide if all the buttons are necessary in the report section since it feels a little cluttered, and considering reporting issues on github will only be used by developers, is all the buttons here ok?

<img

[2019-07-12 20:31] arbreton commented on #893
Yes it seems that the whole implementation of DelegateMultipleButton has some issues, for some reason the number is on BigNumber instance already but only accepting strings, this only happens when you don't touch the slider, seems to be working if you select an amount with the slider
Uploading corrected version now

[2019-07-12 20:34] #891 closed

[2019-07-12 20:36] arbreton commented on #890
Hello @Danibelle, could it be related to #864?, uploading a hot fix now to beta, it corrects this problems

[2019-07-13 12:18] markoprljic commented on #872
How critical is for us that the report goes straight to Github? How much would this option be used if we allow for that?
The current popup with all these options is confusing and redundant.
Can we automatically capture that moment and save it in our Error Log, do we have that?
Devs could run through the log, filter by most occurred and prioritize that way.

I suggest the following format of the er

[2019-07-15 17:16] Danibelle opened #898 "Milestone shows Paid but no donation or delegation?"
See this Milestone: https://beta.giveth.io/campaigns/5b3d9746329bc64ae74d1424/milestones/5d09e5beaad0322f5aeea0e1

Super weird?
![image](https://user-images.githubusercontent.com/39466970/61235087-415a9100-a6fa-11e9-87d5-817019de6cba.png)

[2019-07-15 17:46] Danibelle commented on #833
![image](https://user-images.githubusercontent.com/39466970/61236831-96000b00-a6fe-11e9-8091-653be80a8a92.png)

[2019-07-15 17:49] arbreton commented on #833
If the milestone is completed it should have an Archive button

[2019-07-15 17:54] GriffGreen commented on #864
<img width="1216" alt="Screen Shot 2019-07-15 at 7 53 23 PM" src="https://user-images.githubusercontent.com/14945613/61237243-58b96e80-a73a-11e9-95b1-cf320cd49bf4.png">
<img width="1260" alt="Screen Shot 2019-07-15 at 7 48 48 PM" src="https://user-images.githubusercontent.com/14945613/61237244-58b96e80-a73a-11e9-94e4-78c08af56286.png">
<img width="1245" alt="Screen Shot 2019-07-15 at 7 48 19 PM" s

[2019-07-15 17:55] GriffGreen commented on #864
it worked one time tho... then it wouldnt even work for 10 dai

[2019-07-15 21:11] Danibelle opened #899 "Error on Committing from My Donations"
Proposed Donations are just spinning  -- Commit and Reject buttons show up but error on choosing to Commit:

![image](https://user-images.githubusercontent.com/39466970/61249532-1896c380-a71b-11e9-82a0-cb0c44ef503e.png)

[2019-07-15 21:37] GriffGreen commented on #621
This is still an issue it seems
https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7/milestones/5d1ba874bd45530e23ad86ed
In this milestone there is a bunch of small donations
<img width="1290" alt="Screen Shot 2019-07-15 at 11 23 10 PM" src="https://user-images.githubusercontent.com/14945613/61250288-a09abe80-a757-11e9-85aa-dbde0f897922.png">
We need a more robust way to deal with lots of sma

[2019-07-15 22:06] arbreton commented on #621
Reading through this issue now

[2019-07-15 22:15] arbreton commented on #899
Is this still happening @Danibelle ?

[2019-07-15 22:57] arbreton commented on #864
This is very strange, line 280 at DelegateMultipleButton.jsx is not synced with the newest codebase @GriffGreen, what happens is since the Dapp is running on clientside, most likely you still have an older version of the dapp on your browser stored.

Please clean cache and close your browser to totally refresh the codebase it should be working perfectly now 👍

[2019-07-15 22:59] arbreton commented on #864
Hold on you are right, newest code is not released on netlify, checking on that right now

[2019-07-15 23:07] arbreton commented on #864
I found the problem!, cache got stuck on netlify,  the hot-fix got stuck on deployment 3 days ago! </3, newest version of the dapp is LIVE now!

https://beta.giveth.io/,

Keep me posted @GriffGreen

[2019-07-16 03:48] arbreton commented on #898
Was this milestone already received by @aminlatifi @Danibelle?, it seems to be that the archive feature is not working correctly, it is marked as archived, but no donations or anything

[2019-07-16 03:49] #889 closed

[2019-07-16 03:49] #890 closed

[2019-07-16 03:49] #893 closed

[2019-07-16 05:59] aminlatifi commented on #898
No, it isn't. Actually, I have paid for June last time instead of May. I will be paid for May this month :-). @Danibelle know more details.

[2019-07-16 21:40] arbreton commented on #898
So this milestone should be active/still ongoing right @aminlatifi, @Danibelle?

[2019-07-17 00:59] #866 closed

[2019-07-17 20:11] #872 closed

[2019-07-18 07:18] aminlatifi commented on #871
@GriffGreen  I am still trying to reproduce the situation. Dapp is running in `develop` mode.
I captured my screen to show what was the scenario.
Please note donation record amount is shown 0.0000000000 Eth in some points. Maybe it's a bug!
[simplescreenrecorder-2019-07-18_11.38.17.zip](https://github.com/Giveth/giveth-dapp/files/3405223/simplescreenrecorder-2019-07-18_11.38.17.zip)

[2019-07-18 11:13] GriffGreen commented on #871
oh man i'm sorry... i reopened an old issue cause i think i know the problem...

[2019-07-18 11:15] GriffGreen commented on #621
@aminlatifi this is related to #871

[2019-07-18 11:17] GriffGreen commented on #871
^^^^ This is the issue... its cause there are too many small donations 🤦‍♂

[2019-07-18 21:20] Danibelle opened #903 "Donation not appearing in Art Car Campaign"
Jeffrey got his 50 DAI and donated to the [Art Car Campaign ](https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7)on 7/17..  but the donation does not seem to be appearing in the Donation list..  Can you take a look at this transaction and see where it went wrong?  0xdc40f2c28e800c51ef78d992c20fa2e67fefddfd8e2675614c78425aef3a0898

![Jeff Art Car](https://user-images.githubusercontent.com/39

[2019-07-19 20:36] arbreton opened #904 "rinkeby.giveth.io server down"
rinkeby.giveth.io server was down, websocket interaction and donating not working properly,

[2019-07-19 20:37] arbreton commented on #904
Due to disk space limitation, service got shutdown, restarted service, server is back up

[2019-07-19 20:38] arbreton commented on #903
Hello @Danibelle, i see that Jeffrey only approved but he didn't donated the DAI at the end, there needs to be 2 transactions when donating DAI

This was most likely due to the problem with the server at #904 the Donate transaction didn't came through, so he still has the DAI on his account, he just needs to try to donate again now

[2019-07-21 08:21] GriffGreen commented on #478
@dapplion @arbreton and @aminlatifi are looking into integrating it now :-D

[2019-07-21 21:57] GriffGreen opened #905 "Sign up page asks for 16:9 but really wants 1:1"
<img width="399" alt="Screen Shot 2019-07-21 at 11 55 42 PM" src="https://user-images.githubusercontent.com/14945613/61597622-18169500-ac13-11e9-8c2e-d2e3c4b32516.png">

[2019-07-22 17:22] GriffGreen commented on #904
Still not working, :-(

[2019-07-22 17:25] GriffGreen commented on #447
This is soooo coool! Its getting closer, :-D @bowensanders can you schedule a time with @arbreton

[2019-07-22 17:31] GriffGreen commented on #865
WOWOWOWOWOW! We have a starting option!

We are adding a feature that redirects the funds, so we need to do some solid reviews...

[2019-07-22 17:49] GriffGreen commented on #513
Doesnt work in outlook :-(

[2019-07-22 17:56] GriffGreen opened #906 "Make the default donation DAI for all campaigns"
<img width="1069" alt="Screen Shot 2019-07-22 at 7 55 56 PM" src="https://user-images.githubusercontent.com/14945613/61653519-cb869480-acba-11e9-9c27-603c2d0778de.png">

[2019-07-23 02:03] arbreton commented on #904
Seems to be an intermittent issue, we will review this situation on a meeting with @geleeroyale, @ElMejorge, and @bowensanders to status alerts software and to investigate further

[2019-07-23 02:04] arbreton commented on #904
@23/07/19 11AM PST

[2019-07-23 17:34] GriffGreen commented on #871
https://rinkeby.etherscan.io/tx/0x31008943b5575c004d8e095aa3e509026c62514970c62c87d5f42101b1d69105
boom baby

[2019-07-23 17:37] GriffGreen commented on #871
I was able to get one batch out... but when trying to do the second batch it got too big again...

<img width="1344" alt="Screen Shot 2019-07-23 at 7 35 36 PM" src="https://user-images.githubusercontent.com/14945613/61733935-2aaedc80-ad81-11e9-9bb7-da601fecf5d0.png">

But wow, great message!!! :-D
<img width="593" alt="Screen Shot 2019-07-23 at 7 35 21 PM" src="https://user-images.githubuserconten

[2019-07-23 17:37] arbreton commented on #871
Reduced the total pledgeLimit to 8, that seems to be a safe area, it worked! that's awesome!

[2019-07-23 17:38] arbreton commented on #871
Actually RJ already implemented but at some point it got increased to 18, and there is still some work to be done on the calculation of each one due this gas problems

[2019-07-23 17:43] GriffGreen commented on #871
i think we might need to turn it down to 7

[2019-07-23 17:48] arbreton commented on #871
I will hotfix that change!, sounds like a solution

[2019-07-23 18:49] Danibelle opened #909 "UI Glitch that reverts DAI selection to ETH"
On three different instances of creating a Milestone where DAI is selected in 'raising funds in; field, t then amount is entered below and DAI selected again..

Upon saving the Milestone it reverts back to ETH.

![image](https://user-images.githubusercontent.com/39466970/61738757-9fb5ee00-ad50-11e9-9790-2ccfe3d65d9e.png)

[2019-07-24 18:52] GriffGreen commented on #904
https://beta.giveth.io/profile still not sending Rinkeby ETH :-(

[2019-07-24 20:48] arbreton commented on #904
@GriffGreen i tested it just now! it's working, it takes some time tho!

What i did is i created a new metamask account, got into profile, sign the transaction, 0.1 eth came after 1 minute

Affected accounts that didn't received 0.1 eth sadly they remain affected

[2019-07-25 21:53] Danibelle opened #912 "Donation Stuck on DECENTRAL Campaign"
https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33

![image](https://user-images.githubusercontent.com/39466970/61911205-5c987e00-aefc-11e9-8149-a7409eabb136.png)

[Etherscan Tx Hash](https://etherscan.io/tx/0x15aa5e37043e3d0cdc95f1edb120add7afa24eb455b7ed10684056dc6860e4a3) shows Fail

Kevin Chu - There is one completed 800DAI Transaction from him already in the Campaign, these two have th

[2019-07-26 19:21] GriffGreen opened #913 "Cannot Donate to campaign?!? Allowance needs to be set to 0 before donating"
Trying to send 1000 dai to
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e
<img width="571" alt="Screen Shot 2019-07-26 at 9 20 00 PM" src="https://user-images.githubusercontent.com/14945613/61976175-5634ff80-afeb-11e9-9059-0827103655c5.png">
<img width="1146" alt="Screen Shot 2019-07-26 at 9 19 39 PM" src="https://user-images.githubusercontent.com/14945613/61976177-5634ff80-afeb-11e9-86

[2019-07-26 19:28] GriffGreen commented on #904
ok cool... so really new accounts, accounts that have never been seen work... old accounts that have been seen before but sent their ETH away don't... this is an acceptable issue ;-D

[2019-07-26 19:28] #904 closed

[2019-07-26 23:21] arbreton commented on #913
There seems to be a bigger problem with the allowance that needs to be investigated !

[2019-07-27 04:51] arbreton commented on #912
I investigated this one Dani, There seemed to have a transaction failure but actually this one succeeded, it seems that in the end 2 transactions were made, the other conflicted with the database causing an infinite loop, but the funds were received ok

https://etherscan.io/tx/0x4fc0b183162666aa1f223a1afb1ff46df526b7955c115642f5d796fd8349d859

we need to try to find a way to reproduce so we can in

[2019-07-27 04:53] arbreton commented on #912
Did he made 2 donations of 800? or just 1?

[2019-07-27 17:53] GriffGreen commented on #913
yep not as big of an issue as i thought

[2019-07-27 18:07] GriffGreen opened #914 "Editing a milestone... when is it possible and when not?"
There are some complications when it comes to different milestone types and how they integrate into editing..

https://beta.giveth.io/campaigns/5d2602a167f1fe662d8cee2a/milestones/5d3c2fb49182643880364551/edit

This milestone has an issue... when the Campaign Manager (my 0x5... account) tries to edit it, it can't save the edits

<img width="1421" alt="Screen Shot 2019-07-27 at 8 03 25 PM" src="htt

[2019-07-27 18:09] GriffGreen commented on #914
i'm cancelling the milestone and remaking it... so this is not an urgent issue... but the edit workflow would be good to work out

[2019-07-29 17:19] arbreton commented on #898
This milestone needs to be inprogress still

[2019-07-29 17:20] arbreton commented on #898
switch june and may amounts

[2019-07-29 17:21] GriffGreen opened #916 "Remove functionality for a Campaign Manager to Transfer Ownership"
As time passes there are leadership shifts that have to happen!

Campaigns should be able to change who holds the keys... this should also happen with DAC's as well

[2019-07-29 17:22] arbreton commented on #825
medium low priority less than making transfering campaign ownership

[2019-07-29 17:25] arbreton commented on #873
keep the original date and original pledges

[2019-07-29 17:26] arbreton commented on #873
prioritize #604

[2019-07-29 17:28] GriffGreen commented on #873
#604 is the real winner to solve this issue

[2019-07-29 17:38] GriffGreen commented on #871
<img width="1324" alt="Screen Shot 2019-07-29 at 7 33 43 PM" src="https://user-images.githubusercontent.com/14945613/62069197-039c5300-b238-11e9-9665-0e891a1efb7c.png">
I wonder if there is a way to check what is going on when this is being dispersed....

[2019-07-29 17:38] GriffGreen commented on #871
#621 is the real issue here

[2019-07-29 17:41] arbreton commented on #871
second time withdrwaing

[2019-07-29 17:42] arbreton commented on #871
it shows error

[2019-07-29 17:44] GriffGreen commented on #478
https://github.com/dapplion/giveth-funds-forwarder

[2019-07-29 17:46] arbreton commented on #478
Generate funds forwarder, person send money to an address, created funds forwarder sends money to the bridge

[2019-07-29 17:53] GriffGreen commented on #585
only for campaign's
We need to be able to produce a report that show's every financial transaction that happens inside a campaign and every milestone within that campaign

[2019-07-29 17:54] arbreton commented on #585
Report regeneration for campaigns, donate directly to a milestone needs to be tracked on the campaign, shows every transaction that happened inside the campaign (collect (disburse), donate, delegate, cancelation of milestones)

[2019-07-29 17:58] arbreton commented on #833
The archive button actually transforms the milestone to the paid section *

[2019-07-29 17:58] GriffGreen commented on #833
when a milestone without a reviewer can be collected multiple times... this is an issue

[2019-07-29 18:25] Danibelle opened #917 "Milestones not showing correctly in DECENTRAL Campaign"
we have a [Milestone](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d3646511038ff0d20b0b5c5) (No Reviewer), it appears in My Milestones for me as Campaign Owner, and for the Milestone Proposer/Recipient - but it is not showing in the Campaign itself.  It appears to have been marked complete before the delegation transactions completed - sooo, the delegations didn't go throu

[2019-07-29 19:50] arbreton commented on #877
Happened to @bowensanders aswell today

[2019-07-29 19:51] #909 closed

[2019-07-29 20:26] GriffGreen opened #918 "Make a shopping cart for donations"
This was rafa's idea actually :-D

If you want to make multiple donations... maybe we should pile them together :-D

[2019-07-29 21:06] arbreton commented on #917
Fixed now! https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33, just needs some donations before accepting completion again it should be good to go

[2019-07-29 21:06] #917 closed

[2019-07-30 08:53] lorelei1 opened #919 "To be tested: the co ownership doesnt always work on the front end ?"
I think the duties of a campaign owner should be able to be split between two addresses that can sign in. Because of the constant nature of needing to stay engaged (for milestone approvals, allocating funds, etc) things are always missed for days when it's just one person, but if it could be covered by shifts I think it would benefit many people's use cases for campaigns.

[2019-07-30 13:32] Danibelle opened #920 "Milestone Stuck on Needs Review - no reviewer?"
Delegated funds yesterday to this [Milestone](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d3f3e8a9182643880364635)., Kirch marked complete and it's just spinning in "Needs Review" status?

![image](https://user-images.githubusercontent.com/39466970/62133482-78a57200-b2a4-11e9-8141-5daeb449e7d6.png)

[2019-07-30 16:13] Danibelle commented on #912
it does look like 2!  I've emailed a request for details..

[2019-07-30 20:41] Jeff-Emmett opened #921 "Paying multiple line items in DAI gives error that ETH amount is incorrect"
Issue type: **Error**
Something went wrong with the Milestone creation. Is your wallet unlocked?

**TransactionLink:**
undefinedtx/undefined => {
  "name": "Forbidden",
  "message": "Total amount in ether is incorrect",
  "code": 403,
  "className": "forbidden",
  "errors": {}
}

[2019-07-30 23:21] arbreton commented on #921
Hello @Jeff-Emmett, would you have the milestone link? thank you!

[2019-07-31 20:32] Danibelle commented on #912
He made two, because the first one errored and he couldn't cancel it.  So just made a second one which was successful.

[2019-07-31 20:46] Danibelle opened #922 "Unable to Mark Complete - OH NO Error"
This is the [Milestone](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d3f3e8a9182643880364635)

I asked Kyle (Kirch) to hit the 'Report by Email' button to send you a bug report

[2019-07-31 20:46] macguyvar opened #923 "Trying to "mark complete" to my milestone after it was funded"
Issue type: **Error**
Something went wrong with the transaction.

**TransactionLink:**
https://rinkeby.etherscan.io/tx/undefined => {}

[2019-08-01 03:50] arbreton commented on #923
Thank you for reporting @macguyvar , can you try again? it should be working now!

[2019-08-01 03:51] arbreton commented on #922
It should be working now! #923

[2019-08-01 05:03] arbreton commented on #920
It should be working now!, there was a critical error on feathers, related to #922 , #923

[2019-08-01 05:09] arbreton commented on #919
I totally agree!, would be great to have some help on those tasks!

[2019-08-01 05:11] arbreton commented on #918
That would be an interesting concept!, definitely a whole new experience, why donate once when you can spread a full basket among the various goals!

[2019-08-01 08:30] aminlatifi commented on #342
I am working on this and UI updates # confirmations for MyDacs, MyCampaigns and MyMilestones. For supporting MyDelegations feathers service should be changed. Feathres add # confirmations by a hook which uses foreign network txHash to obtain # confirmations.
Working on MyDelegations...

[2019-08-01 08:35] Jeff-Emmett commented on #921
Unfortunately I do not, I am waiting on the milestone to be accepted by
Griff before I can access the link - it is at the moment invisible to me.
Will keep trying!

On Wed, Jul 31, 2019 at 1:21 AM Andre Breton <notifications@github.com>
wrote:

[2019-08-01 15:45] macguyvar commented on #923
still getting the error message

[2019-08-01 21:32] arbreton commented on #923
Is there any chance you can screenshot the developer console on your browser?, have you tried clearing cache? please keep me posted!

[2019-08-01 21:36] macguyvar commented on #923
cleared cache still not working.
![Capture](https://user-images.githubusercontent.com/34863064/62329064-a8ea3d80-b469-11e9-839b-16af19752d9a.JPG)
![Capture1](https://user-images.githubusercontent.com/34863064/62329077-b43d6900-b469-11e9-95ee-bdd5a41eb844.JPG)

[2019-08-01 21:36] macguyvar commented on #923
is it because im on the rinkeby test network?

[2019-08-01 21:43] arbreton commented on #923
That should be the correct network for marking complete a milestone, are you on google chrome or chrominium variant @macguyvar ?
if so try this and mark complete you should see the console like this one
<img width="580" alt="Screen Shot 2019-08-01 at 2 40 51 PM" src="https://user-images.githubusercontent.com/12836187/62329390-9de3dd00-b46a-11e9-920b-1e1752d9cf6b.png">
<img width="1438" alt="Screen

[2019-08-01 21:43] arbreton commented on #923
There should be an error on the console when marking complete

[2019-08-01 21:49] macguyvar commented on #923
![Capture](https://user-images.githubusercontent.com/34863064/62329705-82c59d00-b46b-11e9-9289-dd3bfd15e531.JPG)

[2019-08-01 21:49] macguyvar commented on #923
something about gas requirements

[2019-08-01 21:54] arbreton commented on #923
Thank you very much @macguyvar!, seems related, let me investigate further, i will get back to you asap

[2019-08-01 22:11] arbreton commented on #923
There is something wrong with the gas calculator at this point, this might be due to the high activity on ETH right-now,

I'm still investigating but in the meantime if you can try in Metamask before making the transaction click on the **gas cost**,

Under the gas limit input **700 000 max** limit, that should be a safe gas limit, right now for some reason is calculating 7 million

[2019-08-01 22:12] macguyvar commented on #923
Where do I adjust the gas cost? When I mark complete the error message comes up. There is no interaction with meta mask before I get the error.

[2019-08-01 22:22] arbreton commented on #923
I see, I will need to do the necessary adjustments asap

[2019-08-01 23:10] arbreton commented on #923
@macguyvar, after in depth investigation what happened was that the transaction for requestReview went through successfully!

But yesterday with the faucet problem actually caused to take your milestone out of sync,

Now it's synced with the chain, and it's ready for @Danibelle to review!

[2019-08-02 15:56] GriffGreen commented on #478
1.Someone needs to trigger the generation of the fund forwarder from the campaign page... so the address is known.
2. Anyone can send money to that address
3. When the Campaign page is loaded, the balance of the FF address must be shown (For DAI and ETH)
4. If there are funds anyone on that page should be able to send the funds to the campaign (call the function in the FF that forwards the funds t

[2019-08-02 19:11] GriffGreen opened #925 "We need to also track how much has been paid out"
<img width="562" alt="Screen Shot 2019-08-02 at 9 11 05 PM" src="https://user-images.githubusercontent.com/14945613/62393314-1e3d3780-b56a-11e9-89d6-4ba17ef503bf.png">

https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d3715e21038ff0d20b0b67e

i collected the money already... but its hard to tell.

[2019-08-04 03:49] Danibelle opened #926 "Error Canceling Milestone"
Issue type: **Error**
Something went wrong with the transaction.

**TransactionLink:**
https://rinkeby.etherscan.io/tx/undefined => {}

From 'My Milestones' I hit the Cancel button on[ this duplicate Milestone](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d3646511038ff0d20b0b5c5) (the correct one has been funded and disbursed, yay!). (I'm the Campaign Manager - NOT the Mil

[2019-08-04 16:10] aminlatifi opened #927 "Showing one milestone twice on campaign page"
I made a milestone, I am both owner and reviewer!
This milestone (capped 00) is shown twice in Campaign page.

![image](https://user-images.githubusercontent.com/5684607/62426269-c7fdff00-b6f7-11e9-86d2-ca9d9e7968f4.png)

[2019-08-04 23:02] arbreton opened #928 "Critical bug in feathers, unsanitized address causes the server to crash completely"
An undefined address made it to feathers causing the server to crash leaving it inoperable reported on July 29th 2019

[2019-08-04 23:02] #928 closed

[2019-08-04 23:56] #864 closed

[2019-08-05 17:20] GriffGreen commented on #621
this still doesnt work.... we need to do some sort of individual hack for https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7/milestones/5d1ba874bd45530e23ad86ed

[2019-08-05 17:24] GriffGreen opened #931 "Make a giveth milestone for 478"
:-D Send it to Griff in Riot and he will submit the milestone :-D

[2019-08-05 17:30] GriffGreen commented on #921
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d40ac85efd9e46550e5ad42

I rejected this... cause there was this error

[2019-08-05 17:36] GriffGreen opened #932 "Proposed milestone links are hidden from user"
In #921 Jeff had trouble finding the link to his milestone that he just proposed... that should be front and center for the proposer... maybe there should be a pop up telling him the link and explaining that the milestone needs to be approved by the campaign manager

[2019-08-05 17:44] GriffGreen commented on #919
:-D THIS IS AWESOME!

[2019-08-05 17:46] GriffGreen commented on #906
I think making DAI the default all the way thru makes sense.... DAI is used 90% of the time

[2019-08-05 17:59] arbreton commented on #921
Coming from a draft seem to doesn't update the token on items

[2019-08-05 18:01] GriffGreen opened #933 "Zooming in on the picture breaks"
jeff showed us during the dapp if you zoom in on the picture it breaks our proposed milestone

[2019-08-05 23:04] #922 closed

[2019-08-05 23:04] #923 closed

[2019-08-05 23:08] #920 closed

[2019-08-06 12:24] aminlatifi commented on #833
Finally got it, it happens when an uncapped milestone with donations and without recipient is archived.
![image](https://user-images.githubusercontent.com/5684607/62539611-e46e7880-b86a-11e9-8b96-80aad7cb6151.png)

[2019-08-06 12:35] aminlatifi commented on #833
@arbreton It think in line bellow, `gte` should be change by `gt`
https://github.com/Giveth/giveth-dapp/blob/e98dee88767e59457d1120160490085dc0e40959/src/components/ArchiveMilestoneButton.jsx#L18
As is here:
https://github.com/Giveth/giveth-dapp/blob/e98dee88767e59457d1120160490085dc0e40959/src/models/Milestone.js#L318-L322

[2019-08-06 17:00] Danibelle opened #934 "Whitelisted Reviewer - Profile not connecting to Address"
I added two addresses to the Whitelist for Milestone Reviewer.  Jeff Emmett's worked great, he's in there with hs email and name and avatar..
but Coach B is just showing address only at the bottom: 0x580e2BD60625F146bC32C75A63DBe0f61810CCda

![image](https://user-images.githubusercontent.com/39466970/62559975-51691a80-b839-11e9-89d5-9bf548dad519.png)

[2019-08-06 17:34] Danibelle opened #935 "Disable 3% to Campaign keeps reverting to Enabled on Milestone Proposal"
I disabled the 3% then entered the amount in DAI - when Milestone is proposed it reverts back and takes the 3% anyways!

![image](https://user-images.githubusercontent.com/39466970/62562144-7065ad80-b835-11e9-87e0-f63d238ade8e.png)

![image](https://user-images.githubusercontent.com/39466970/62562162-7a87ac00-b835-11e9-944b-be282d3f5a5c.png)

![image](https://user-images.githubusercontent.com/3946

[2019-08-07 06:23] arbreton commented on #935
It is now fixed on beta!

[2019-08-07 06:23] #935 closed

[2019-08-07 06:23] aminlatifi commented on #833
The other case is when user (Giveth0 here) is reviewer and recipient is not collected yet. It happens for both capped and uncapped milestones.
![image](https://user-images.githubusercontent.com/5684607/62599462-9062a300-b901-11e9-98b1-c84b722d967b.png)

[2019-08-07 06:25] arbreton commented on #935
Rinkeby server might be down due to an update it should come back on asap, we are working on it

[2019-08-07 06:44] arbreton commented on #833
Yes exactly, those are the cases, basically any uncapped milestone if you are the receiver you will have an infinite active milestone and there is no way to remove it from there.

There is already and archive button / functionality implemented but is not working correctly it actually breaks things sometimes, what needs to happen is just mark milestones as archived and put the on the paid tab or ev

[2019-08-07 06:45] arbreton commented on #833
It makes sense!, there is various inconsistencies the cleaner the code the better if it doesn't break anything that should be the way to go

[2019-08-07 07:58] aminlatifi commented on #833
So, I think we should find those milestone which are archived and user has nothing to do with them (Collect, Disburse, or etc.), and place them on "Paid" or maybe "Archived" tab. If you agree, I prefer "Paid" tab since it seems the payments will paid to recipient at last and it cannot be cancelled!

[2019-08-07 08:11] aminlatifi commented on #833
Also there is no "Set Recipient" button for completed milestone with no recipient. It should be added too.

[2019-08-07 08:36] aminlatifi commented on #833
If it's against rules, we should prevent empty recipient at the creation or marking complete time.

[2019-08-07 08:52] aminlatifi commented on #833
In case of capped milestone with reviewer, user cannot "Mark Complete" a milestone without recipient. It's similar to uncapped case. So we should prevent archiving when no recipient is set for milestone.

[2019-08-07 13:13] aminlatifi commented on #833
Consider this uncapped milestone:
**Roles:**
_User0: Milestone Reviewer
User1: Campaign Owner and Recipient
User2: Milestone Owner_

**Scenario Steps:**
1. User2 creates milestone
2. User2 (or anyone) does donation to milestone
3. User2 archive the milestone

After above steps, just disburse/collect button is available for User2/User1.
The problem is reviewer (User0) paid no role and clicking disb

[2019-08-07 23:14] arbreton commented on #621
I applied a fix that should allow collecting at 5 per transaction, it should work now! please keep me posted @GriffGreen

[2019-08-08 01:07] mroberts10 opened #937 "DAPP - Change of Campaign Ownership isn't working"
I tried to change the campaign owner from myself to Andre and Dani, but when I select Andre in the drop down it immediately crashes.  Before I select Andre it appears to be working fine.

<img width="1254" alt="Screen Shot 2019-08-07 at 9 08 36 PM" src="https://user-images.githubusercontent.com/4000911/62667878-b61a9700-b957-11e9-9de3-aab8c7374bb0.png">

![Screen Shot 2019-08-07 at 8.57.11 PM.png]

[2019-08-08 03:57] Danibelle opened #938 "Eternally Pending Transactions on the Art Car Campaign"
Four Donations at the bottom of this [Campaign](https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7):

![image](https://user-images.githubusercontent.com/39466970/62674035-79e63700-b955-11e9-89a1-fd83b9731e4d.png)

[2019-08-08 04:01] mroberts10 commented on #937
I tried clearing the cache and restarting the browser and still no luck.

[2019-08-08 04:15] arbreton commented on #937
Let me take a look at this situation Michael! , i will get back asap

[2019-08-08 05:18] arbreton commented on #938
It is fixed !

[2019-08-08 05:18] #938 closed

[2019-08-08 05:41] arbreton commented on #934
It is fixed!

[2019-08-08 05:41] #934 closed

[2019-08-08 08:18] arbreton commented on #937
It should be fixed Michael!, now on beta

[2019-08-08 08:18] #937 closed

[2019-08-09 20:32] Danibelle commented on #934
Hey @arbreton - Coach B still does not appear in the Reviewer list, and when I look in Feathers his address is at bottom like this:

![image](https://user-images.githubusercontent.com/39466970/62807424-2c2f1300-baaa-11e9-8876-789e452d2580.png)

[2019-08-10 03:47] macguyvar opened #941 "trying to cancel a milestone"
Issue type: **Error**
Something went wrong with the transaction.

**TransactionLink:**
https://rinkeby.etherscan.io/tx/undefined => {}

[2019-08-10 04:50] Danibelle opened #942 "Cannot cancel a Milestone"
[This milestone](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d3646511038ff0d20b0b5c5) needs to be cancelled - I've tried from various points but it just wont go away!

![image](https://user-images.githubusercontent.com/39466970/62817685-b057b980-baef-11e9-9dd7-4d9859b1af34.png)

[2019-08-10 17:41] GriffGreen commented on #871
https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7/milestones/5d1ba874bd45530e23ad86ed

Still doesnt work
:-(
What's the new direction? can we hack it?

[2019-08-10 17:41] GriffGreen commented on #871
#621 is the issue

[2019-08-10 18:09] arbreton commented on #942
Hello @Danibelle,
If you try Ctrl + Shift + J on your browser do you see any errors?,

keep me posted thank you!

[2019-08-11 04:34] arbreton opened #943 "Rework for donations in case of any issues w/ the rinkeby network"
Updating the process of donations to avoid any problems with the bridging of donations due to rinkeby network unavailability of any form

[2019-08-12 15:16] krrisis opened #944 "scope creep - donating to a dac"
Why are we adding new functionalities to the dapp when there are so many things to be solved?
Do we not risk to cause to create errors during a stage that we decided to call the maintenance mode of the dapp?
If this is really necessary to have at this point - plz fix the typo 'proyects' -> 'projects'

![image](https://user-images.githubusercontent.com/6533925/62876277-e336c300-bd24-11e9-9a38-5e54a

[2019-08-12 15:53] krrisis opened #945 "Impossible to create a Milestone that accepts donations in all tokens"
When I propose a Milestone right now that accepts donations in all tokens, I can hit the 'propose Milestone' button ad infinitum but nothing happens.

Have changed it to 'eth only' in order to make this Milestone. See screenrecording below.
Milestone where this happened is [this one](https://beta.giveth.io/campaigns/5cdc668be4ee5d18e7bad987/milestones/5d51873a7d4ad11d4adb5f94)

Recording of attemp

[2019-08-12 17:21] krrisis commented on #944
Would be good to not have this on by default or making it possible to change this when editing your Milestone (which is what I meant with scope creep, making this editable is more work for you). Ofc I succeeded in missing to disable this when creating my own Milestone, so will now cancel my Milestone and hope funds will flow back to my Campaign.

![image](https://user-images.githubusercontent.com/

[2019-08-12 17:44] arbreton commented on #944
@krrisis!, we will hotfix the typo,

The edit milestone it's a known issue, it's actually disabled!, but in the edit page will always show on

If you don't see this while viewing your milestone:
<img width="1439" alt="Screen Shot 2019-08-12 at 10 42 57 AM" src="https://user-images.githubusercontent.com/12836187/62885583-14e06780-bcee-11e9-8d7c-c265bd7fd816.png">

You don't have to worry, you are n

[2019-08-12 18:28] krrisis commented on #945
Had the same issue with [this Milestone](https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d51af287d4ad11d4adb5fe9) - really wanted to have that one in eth & dai but made it in dai anyways bcs same problem as mentioned above. Hit the button and nothing happens.

[2019-08-13 05:59] lorelei1 opened #946 "Incorrect "amount donated" listed on milestone"
i could see how this might say 600 (amt paid), or 900 (total donated), or 300 (amt committed not yet paid out)... but there's really no way it makes sense that it's 750.
<img width="875" alt="Screen Shot 2019-08-12 at 10 54 58 PM" src="https://user-images.githubusercontent.com/38163206/62918475-91a62c80-bd54-11e9-82ef-fabda3adfc63.png">
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/mil

[2019-08-13 08:03] lorelei1 opened #947 "pagination on my delegations"
i just found out that other people have this... i have *never* had pagination on "my delegations" - i spend a lot of time there as Unicorn DAC delegator so believe me I know!
is this a bug?

[2019-08-13 08:24] lorelei1 opened #948 "slider max broken"
i slide the slider all the way to the max available of that donation to delegate it away and then some rounding shit must happen because i'm left with .0035 DAI when THE WHOLE POINT WAS TO EMPTY THAT DONATION TO ZERO

<img width="945" alt="Screen Shot 2019-08-13 at 1 22 01 AM" src="https://user-images.githubusercontent.com/38163206/62926171-ccb25b00-bd68-11e9-8959-9cabb66ad80c.png">

[2019-08-13 13:43] aminlatifi opened #949 "SaveMilestoneDraft error on creating Uncapped Milestone on Develop branch"
I cannot create an uncapped milestone on develop. It seems modifications on 9d08d7850eef021c4019cf43108fa4b85380733e is the cause.
![image](https://user-images.githubusercontent.com/5684607/62946334-bc948d00-bdf5-11e9-9406-0004ead906c8.png)

[2019-08-13 15:02] krrisis opened #951 "Error on completing a Milestone"
When I hit the 'complete' Milestone on [this one](https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d51833d7d4ad11d4adb5f7c) I got the metamask transaction but at the same time immediately an error message.

So I first signed the transaction (bcs I know that when that one goes through most of the times we're good anyways).
After signing and clicking away the error the 'complete

[2019-08-13 18:51] arbreton commented on #942
@Danibelle, please try to Reject the completion and then try to cancel see if that helps with the Smart contract, keep me posted

[2019-08-13 18:59] arbreton commented on #945
Definitely a bug, there is a great phrase from a chinese proverb saying "when you try to bend something that doesn't bend it breaks", working with delicate pieces, we are knowing our limits in terms of fast paced bug fixing (continuous integration), we will need to be way more precise taking a little bit more time on implementation due to this kind of situations, we will try to prolong the develop

[2019-08-13 19:26] krrisis commented on #945
A dev working on Giveth DApp issues quoting chinese proverbs in his github responses shows that it is a dev who's in the right place, he's working for Giveth.

[2019-08-13 19:35] arbreton commented on #946
This is a very strange case!, after analyzing what seem to happened is the following:

-450 donated
-150 donated
-rinkeby went down
-150 (on the dapp) was donate but failed!, but the counter on the database increased!
-150 donated (outside the dapp) success but not logged on the database at that time
-rinkeby went backup

I applied a fix for this specific case, also we are working in a long term s

[2019-08-13 19:47] lorelei1 opened #952 "dani's delegation is un-delegateable"
Tried it several times - yesterday and today! I always get this message after putting in the amount, milestone name, and clicking delegate.
<img width="819" alt="Screen Shot 2019-08-13 at 12 45 11 PM" src="https://user-images.githubusercontent.com/38163206/62972196-58a79f80-bdc8-11e9-8aaa-372aba455306.png">
It's the delegation of 470.283456055238132458 to the Unicorn DAC in Dani's name.

[2019-08-13 19:57] lorelei1 opened #953 "3% to a DAC needs some language clean up"
"DAC to delegate *" should be "DAC to donate to"

<img width="465" alt="Screen Shot 2019-08-13 at 12 55 44 PM" src="https://user-images.githubusercontent.com/38163206/62972818-c0121f00-bdc9-11e9-8065-db755903e478.png">

[2019-08-13 19:59] lorelei1 commented on #953
also, this is SO CUTE, but should probably change *projects
<img width="522" alt="Screen Shot 2019-08-13 at 12 58 26 PM" src="https://user-images.githubusercontent.com/38163206/62973026-2434e300-bdca-11e9-8189-d9783cb2b2db.png">

[2019-08-13 20:17] arbreton commented on #951
Definitely something happening there!, we would do some in depth testing on this scenarios maybe replicating the common stack and burning man campaigns on develop.giveth.io to be working with lots of data see what happens

Loved the GIF animation @krrisis!, it's so useful ! +1
It's just so clean in the same thread
Will investigate asap

[2019-08-13 20:18] lorelei1 opened #954 "can't make a milestone"
nothing happens when i click propose, or even save draft.
don't know why
i'm signed into my reg dapp account on rinkeby

[2019-08-13 20:20] arbreton commented on #953
Completely agree! definitely the idea was to test and review this implementation, those changes will improve readability for sure

Definitely fixing the typo, thank your that @lorelei1! will hotfix asap

[2019-08-14 00:05] #953 closed

[2019-08-14 00:06] #949 closed

[2019-08-15 14:29] aminlatifi commented on #604
I have implemented this:
![image](https://user-images.githubusercontent.com/5684607/63101678-c7cef080-bf8e-11e9-8d00-8139aadf95fe.png)

[2019-08-15 18:35] lorelei1 opened #957 "can't commit donation"
<img width="1002" alt="Screen Shot 2019-08-15 at 11 34 34 AM" src="https://user-images.githubusercontent.com/38163206/63117478-c4b50f80-bf50-11e9-8d58-d802f1e1ab05.png">

[2019-08-15 18:40] lorelei1 commented on #957
ooh weird... the plot thickens. Now 2 donations are marked as committed even though I KNOW they aren't - each of my tries were met with error code and no metamask prompt, and griff hasn't even been on the dapp in the past 10 minutes since i made the delegation in his name...
<img width="638" alt="Screen Shot 2019-08-15 at 11 38 01 AM" src="https://user-images.githubusercontent.com/38163206/6311780

[2019-08-16 05:49] arbreton commented on #945
Still working on a longterm solution

[2019-08-17 06:17] arbreton commented on #952
Is this still happening @lorelei1? I don’t think there could be an easy fix for this one, if you press Command + Option + J you see an error?

[2019-08-19 22:29] #833 closed

[2019-08-20 07:41] aminlatifi opened #958 "Error on creation milestone with no DAC"
Running on Localhost, I have no DAC at the beginning. On create milestone page I get this error:
![image.png](https://images.zenhubusercontent.com/5d111377d6bc17028a43c827/4e42ae48-c7da-4a8d-a055-2cf46e5354a2)

[2019-08-20 09:00] aminlatifi commented on #927
Working on it.

[2019-08-20 09:11] aminlatifi opened #960 "Range Slider does not work well for small values"
Max donation is 0.0001 ETH. In this case range slider is somehow useless and misleading.
![image](https://user-images.githubusercontent.com/5684607/63334226-3675ca80-c350-11e9-9ec5-35cbcd5e75f3.png)

or this:

![image](https://user-images.githubusercontent.com/5684607/63334198-1f36dd00-c350-11e9-8b09-133b3761d323.png)

[2019-08-20 10:46] aminlatifi commented on #927
I couldn't reproduce this state again! This condition may happened due to inconsistent state of database (Mongo) during tests.

[2019-08-20 10:46] #927 closed

[2019-08-20 11:04] aminlatifi opened #961 "Archive button for capped milestons"
Current implementation of Archive functionality is just for Capped milestones.
Below shows a milestone with 0.0002 eth max donation which has marked as complete with just 0.0001 eth donation. This milestone stays in Active tab forever even after collect/disburse.

![image.png](https://images.zenhubusercontent.com/5d111377d6bc17028a43c827/a535cbe7-65fc-4404-98ac-95ca9286830d)

[2019-08-20 22:23] arbreton commented on #883
Could this be related to what you have worked on @aminlatifi?, is it fixed?

[2019-08-20 22:36] arbreton opened #962 "Implement Portis as a provider to use the Dapp"
https://docs.portis.io/#/quick-start

[2019-08-20 22:37] #931 closed

[2019-08-20 22:46] arbreton commented on #898
@aminlatifi, @Danibelle, the milestone is in progress and is uncapped

[2019-08-20 22:46] #898 closed

[2019-08-20 22:46] #861 closed

[2019-08-20 22:50] arbreton commented on #688
is this still a wip? @geleeroyale, @bowensanders?, can we close this one?,

[2019-08-20 22:51] #390 closed

[2019-08-21 05:54] aminlatifi commented on #874
Working on it.

[2019-08-21 05:58] aminlatifi commented on #883
@arbreton I have not worked on Status Update. I am working on #874 now, it's related to Status Update. After I will come to this one.

[2019-08-22 21:58] #958 closed

[2019-08-27 09:52] vojtechsimetka commented on #688
It can be closed. I am still paying the DB and will do this month but I will ask @GriffGreen or someone else to take over.

[2019-08-28 02:15] arbreton opened #965 "Check #956 implementation colors"
#956 implementation has darker colors, we could check to leave them white to keep consistency

[2019-08-28 04:34] aminlatifi commented on #965
The preview of current state can be seen in this milestone Donations section.

[2019-08-28 05:16] aminlatifi commented on #965
Double clicking on collapse icon makes some inconsistency in UI. Maybe changing Icon by css (not react state) would be a solution. It's better if this this bug be fixed when working on this issue and not create another one.

[2019-08-28 16:17] JulietEA opened #968 "Error on Propose Milestone"
When I click the "propose milestone" button on a campaign I receive an error message:
![Screen Shot 2019-08-27 at 3 27 13 PM](https://user-images.githubusercontent.com/54636748/63873475-4b241500-c985-11e9-958d-cf3e1a172119.png)

[2019-08-29 01:38] Jeff-Emmett opened #970 ""Oh no! You are not whitelisted" error"
Trying to edit my milestone:  https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d486d5be2b294308843fd4f

And getting an error when clicking the edit button.  Hoping to add in my final receipts and finalize this milestone!

[2019-08-29 03:59] arbreton commented on #970
Let me take a look Jeff!

[2019-08-29 04:28] arbreton commented on #970
Can you please try again @Jeff-Emmett ?

[2019-08-29 13:39] Jeff-Emmett commented on #970
Still getting the same error:

Error message:

Minified React error #185; visit
https://reactjs.org/docs/error-decoder.html?invariant=185 for the full
message or use the non-minified dev environment for full errors and
additional helpful warnings.

On Thu, Aug 29, 2019 at 12:28 AM Andre Breton <notifications@github.com>
wrote:

[2019-08-29 22:09] arbreton commented on #970
There seems to be another issue, this is a recent problem just happened today, for some reason is not happening in develop is just happening on beta.giveth.io !, im investigating further this situation , will report asap

[2019-08-29 22:10] arbreton commented on #968
Investigating more in depth this situation

[2019-08-29 22:10] arbreton commented on #945
Investigating more in depth this situation

[2019-08-29 23:23] arbreton commented on #970
I confirmed now on beta.giveth.io is fixed now, please keep me posted @Jeff-Emmett

[2019-08-29 23:23] #970 closed

[2019-08-29 23:23] arbreton commented on #945
Confirmed now fully working on beta.giveth.io

[2019-08-29 23:23] #945 closed

[2019-08-29 23:24] arbreton commented on #968
Confirmed now fully working on beta.giveth.io

[2019-08-29 23:24] #968 closed

[2019-09-03 17:53] lorelei1 commented on #604
Amin's drop down looks like a cool solution! I dig everything except the
time stamp next to date (tmi). Too bad the attention was lost :/

On Mon, Sep 2, 2019 at 9:15 AM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-09-04 05:02] #954 closed

[2019-09-04 09:43] aminlatifi commented on #604
@lorelei1 Timestamp was not shown before implementing this feature. I just added it during my test. If you like timestamp it can be added again.

[2019-09-04 20:25] arbreton opened #973 "Delegations various situations needs fixing"
There is various inconsistencies on the data and how this functionality works, what needs to be done is a **complete overhau**l of this module and start from the core.

![image](https://user-images.githubusercontent.com/12836187/64284611-d6b21e80-cf0e-11e9-931e-4e961b49fd54.png)

The refund functionality refunded the funds to the user but did not updated the status, also when you are trying to can

[2019-09-05 06:01] arbreton opened #974 "Loading times are extremely high on the dapp"
Loading times shouldn't be as high specially on the main page

[2019-09-05 13:47] aminlatifi commented on #874
Functionality like this is implemented
![Screenshot from 2019-09-04 17-48-18](https://user-images.githubusercontent.com/5684607/64347547-5e7c5380-d009-11e9-8954-7438740e8deb.png)

[2019-09-05 19:00] #874 closed

[2019-09-05 19:11] #883 closed

[2019-09-09 17:20] Danibelle opened #976 "Retry on Cancelling Stuck Milestone (Issue 942)"
This is for: https://github.com/Giveth/giveth-dapp/issues/942

Issue type: **Error**
Something went wrong with the transaction.

**TransactionLink:**
https://rinkeby.etherscan.io/tx/undefined => {
  "code": -32000,
  "message": "gas required exceeds allowance (7000000) or always failing transaction"
}

[2019-09-09 17:53] lorelei1 commented on #952
still behaves the same for me

[2019-09-09 17:54] GriffGreen opened #977 "Amin's milestone has a donation in limbo"
https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5d1af6c4bd45530e23ad8546

[2019-09-09 17:57] lorelei1 commented on #952
<img width="1365" alt="Screen Shot 2019-09-09 at 10 56 29 AM" src="https://user-images.githubusercontent.com/38163206/64554565-87923200-d2f0-11e9-9e7c-498d4a7756c0.png">

[2019-09-09 18:01] GriffGreen opened #978 "Canceling the discofish milestone"
There is a lot of crossing our fingers that this will work... i took some screen shots to record the data... putting it here just in case there is a problem...

<img width="839" alt="Screen Shot 2019-09-09 at 10 40 49 AM" src="https://user-images.githubusercontent.com/14945613/64554898-1d2dc180-d2f1-11e9-914c-44dc8108343d.png">
<img width="882" alt="Screen Shot 2019-09-09 at 10 40 35 AM" src="http

[2019-09-09 19:41] arbreton commented on #977
It seems to be that the homeTx didn't went through and failed, that could have cause this behavior, it should not be showing pending th, i will take a look further into this
https://etherscan.io/tx/0x28c8698412f1d39b5b5d796ed3a0a2816e4d9cec6cb2fd2ff921c1af8eb827f6

[2019-09-09 19:53] Danibelle opened #979 "Back Button from Profile View (anyones) goes to 'Edit My Profile'"
When I click on any users link to view their profile from anywhere
![image](https://user-images.githubusercontent.com/39466970/64561970-b4e6dc00-d300-11e9-8f52-a7e717363bf9.png)
Then hit back
![image](https://user-images.githubusercontent.com/39466970/64561997-ca5c0600-d300-11e9-9fd8-dd0ff7815ea1.png)
I end up here
![image](https://user-images.githubusercontent.com/39466970/64562053-f37c9680-d300-

[2019-09-10 02:35] Danibelle opened #980 "Milestone is Paid - Why Can't I Archive it?"
How do I make this Milestone go to Paid/Completed and out of my Active view?  I would expect an Archive button on this one: https://beta.giveth.io/campaigns/5d1cfe6bbd45530e23ad87d0/milestones/5d5184157d4ad11d4adb5f81

![image](https://user-images.githubusercontent.com/39466970/64576299-cd6ceb80-d32c-11e9-87da-250df340d13d.png)

[2019-09-10 02:39] Danibelle opened #981 "Delegating from a specific contribution - amounts don't match"
This is me testing some fringe scenarios..

I delegated the full amount available using the slider from Samir's donation to the DECENTRAL Campaign, and the Milestone accepted only the exact amount requested, but the donated amount shows that full amount.. I expect that the difference should be returned and shown as available to be delegated?

![image](https://user-images.githubusercontent.com/3946

[2019-09-10 04:01] Danibelle opened #982 "Did Images Stop Working for Milestone Headers?"
I selected a picture but it never popped up for me to crop/select area..

![image](https://user-images.githubusercontent.com/39466970/64583082-99052980-d344-11e9-8f8d-a54de6700fc2.png)

Now that I look at the DECENTRAL Campaign, none of the recent Milestones have a custom image - how boring! They all have the Giveth G.

![image](https://user-images.githubusercontent.com/39466970/64583192-f8633980-

[2019-09-10 04:28] arbreton commented on #727
Is not collected yet! https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5d0766fcce482b421eebd1c7

[2019-09-10 04:28] arbreton commented on #727
We went through the process together

[2019-09-10 04:28] #727 closed

[2019-09-10 05:30] arbreton commented on #982
Thank you for identifying this Dani!, we refactored the whole class on milestones and indeed pictures were not working properly, i released a hotfix on beta, it should working now !

[2019-09-10 05:30] #982 closed

[2019-09-10 08:34] aminlatifi commented on #980
Archive functionality has been just for uncapped milestones till now. Probably archiving should be implemented for capped one too.
Related to: https://github.com/Giveth/giveth-dapp/issues/961

[2019-09-10 19:59] #865 closed

[2019-09-10 20:00] arbreton commented on #919
To be worked, UI for co-owners display on the campaign

[2019-09-10 20:00] arbreton commented on #916
To be worked, contract direct interaction instead of manual

[2019-09-10 20:02] arbreton commented on #844
To be worked, text helpers on console script running

[2019-09-10 20:02] arbreton commented on #771
Working for campaigns, to be worked DACs and milestones

[2019-09-10 20:03] arbreton commented on #688
Thank you @vojtechsimetka, will move this issue to the closed section

[2019-09-10 20:03] #688 closed

[2019-09-10 20:05] arbreton commented on #946
Stability of Rinkeby faucet prioritization and to be worked data sync refactor

[2019-09-10 20:14] arbreton commented on #646
All milestones closed

[2019-09-10 20:14] #646 closed

[2019-09-10 20:14] #905 closed

[2019-09-12 07:49] aminlatifi opened #985 "Disburse/Collect status update shows just one of payments"
When milestone payment consists of donation of multiple giver or tokens, multiple PAID donation is created behind the scene. So, one status update should be added per PAID donation.
Currently is not as expected and just the first status update (conversation technically) is accepted by feather.

![image](https://user-images.githubusercontent.com/5684607/64764571-92023500-d557-11e9-9816-e9cc374446d3

[2019-09-13 07:48] aminlatifi opened #986 "Not found page capability for DACs and campaign"
URLs `/dacs/<id>` and `/campaign/<id>` does not support not found. Entering random id for these two shows inappropriate pages.
![image](https://user-images.githubusercontent.com/5684607/64845865-7878f000-d620-11e9-9c93-c4ffe2ff842a.png)

![image](https://user-images.githubusercontent.com/5684607/64845881-829aee80-d620-11e9-93a2-a8e77f454174.png)

[2019-09-14 06:47] jurek1oo commented on #555
Hi there,
I had a look at changing accounts on local network, when trying to donate to a milestone. I can not reproduce error, as the value of the available funds on the accounts change on the page. According to the actual value of the account in the Metamask. Has that issue been resolved?

[2019-09-14 06:50] jurek1oo commented on #555
pics of two different accounts:
![image](https://user-images.githubusercontent.com/3112638/64904594-61a4cd00-d6f6-11e9-9d8e-6dce67a74ff3.png)
![donateMile-Doe3-$100-2019-09-14 13-39-00](https://user-images.githubusercontent.com/3112638/64904598-7da86e80-d6f6-11e9-8b40-5098ca3f1c03.png)

[2019-09-15 18:50] lorelei1 opened #987 "Multiple expenses errors out"
After i add the photo and all details, then click "add" or "upload" or whatever it says, it completely errors out and i can't even see my milestone i was creating anymore. just redirects me to a blank error page

[2019-09-16 07:20] jurek1oo commented on #536
Interesting issue to look at. How do I go on from here, to start working on the "Add a feature for subscribing to updates for campaigns #536" issue?

[2019-09-16 08:13] arbreton commented on #977
Delegated funds from DAPP campaign to fund milestone

[2019-09-16 08:13] #977 closed

[2019-09-18 11:13] aminlatifi commented on #613
What I have implemented till now. I like to know other guys' idea.
![image](https://user-images.githubusercontent.com/5684607/65143677-d5aee000-da2a-11e9-94de-3254a0447b65.png)

[2019-09-18 17:57] aminlatifi commented on #613
I have implemented this till now.
![image](https://user-images.githubusercontent.com/5684607/65173149-7caf6e00-da63-11e9-847a-b408c6e78005.png)

[2019-09-18 18:03] aminlatifi commented on #613
![image](https://user-images.githubusercontent.com/5684607/65173559-4b836d80-da64-11e9-9365-df188744798e.png)

[2019-09-19 04:12] arbreton commented on #613
Looks amazing amin!!, excited to see this one implemented! 👍 !

[2019-09-19 18:55] GriffGreen opened #990 "No addresses that start with a letter can be co-owners of a campaign?!?!?!"
Loie's name isnt there, and no one who's address startes with 0xa 0xb 0xc 0xd 0xe 0xf are listed either...
<img width="823" alt="Screen Shot 2019-09-19 at 11 53 24 AM" src="https://user-images.githubusercontent.com/14945613/65272655-52e25f80-dad4-11e9-9baf-8ae274254749.png">

[2019-09-20 06:08] GriffGreen commented on #536
Well I think @arbreton is the best person to talk to on this... but in general its the same as most open source github projects... you fork the code and begin hacking away ;-D!

I made this issue so i can give some background...

We have an email notification system that is triggered every time a donor's donation is moved and a few other action focused notifications for Campaign Managers, Reviewer

[2019-09-20 06:27] lorelei1 opened #991 "toggle buttons on milestones are very slow"
The "Give 3 percent to a DAC" toggle and the "Disable Reviewer" toggle both take a looooong time to register that you have clicked them... we're talking over a minute

[2019-09-20 07:04] arbreton commented on #991
This is a known issue @lorelei1!, actually they seem to stop responding due to conflicting cache, try deleting your browser cookies and they should be working properly again, investigating the root cause

[2019-09-20 07:16] arbreton commented on #990
This is very strange!, found the root cause seems to be on the users query from all across the app there is a default limit to 25 and now we have over 25 campaignOwners on the whitelist, i just updated it to 100, all names should show up now, pushing commit now

[2019-09-20 08:03] #990 closed

[2019-09-20 15:59] arbreton commented on #986
Great observation @aminlatifi!, would be awesome to add a proper 404 landing page

[2019-09-20 16:00] arbreton commented on #979
Would definitely look into this one @Danibelle!

[2019-09-20 16:02] arbreton commented on #942
It should be canceled now @Danibelle !

[2019-09-20 16:02] #942 closed

[2019-09-20 16:02] arbreton commented on #976
Solved @ #942

[2019-09-20 16:02] #976 closed

[2019-09-20 16:03] arbreton commented on #981
It seems that it let you delegate more than it should have allowed @Danibelle ?

[2019-09-20 16:05] #965 closed

[2019-09-20 16:07] arbreton opened #994 "Donations on campaigns should be grouped by donator!"
Right now names repeat multiple times making it spammy and difficult to find transparency, i think with @aminlatifi solution for the donations trace and the plus sign, we can show all the users donations on that campaign and make it more cleaner
<img width="1066" alt="Screen Shot 2019-09-08 at 1 59 25 AM" src="https://user-images.githubusercontent.com/12836187/65341724-45f76600-dbd1-11e9-86fc-3d29

[2019-09-20 23:08] lorelei1 opened #995 "Old bug! Still goin"
If you don't click which currency you're raising funds in before inputting the amount - the conversion gets stuck and you end up with something nonsensical like this:
<img width="820" alt="Screen Shot 2019-09-20 at 4 06 43 PM" src="https://user-images.githubusercontent.com/38163206/65363449-ded1b580-dbc0-11e9-9d94-f3708e18d78f.png">
Raising 3500 DAI, aka 16 DAI ... 🤦‍♀️

[2019-09-21 00:13] lorelei1 commented on #991
it fixed it temporarily... but it got slow again pretty soon! after one or 2 more milestones

[2019-09-21 11:26] jurek1oo commented on #536
Hi Griff,

Thanks for the replay. I know you are on the holiday now, so I keep it
brief. Can you give me a name of one bit of code (eg. EditMilestone.jsx )
which is currently sending out an email notification? I will have more
questions, once you are back on line. Take it easy and replay when you are
back...

Have a good holiday, and power off you laptop;)

Regards,

Jurek Kurianski
jurek@inventio

[2019-09-21 12:00] arbreton commented on #536
Hello @jurek1oo ,

That piece of code is actually not in the giveth dapp, is on the feathers-giveth repository, that functionality is handled by a hook on a milestone patch service, when the status is changed from inProgress to Paid, thats when it triggers the send email action, look into the milestone service hooks you will find that action

Best,
Andre

<sub>Sent with <a href="http://githawk.com

[2019-09-21 12:02] arbreton commented on #536
Basically this is the frontend code only, the backend is handled by the feathers-giveth repository
https://github.com/Giveth/feathers-giveth

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-22 17:00] krrisis opened #996 "Milestone 'overfilled' although capped"
Feathers has sent the same amount multiple times to [this Milestone](https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d829497ad3696263686cc6d), and only needed to send it once as you can see below. (more context under this) :

![image](https://user-images.githubusercontent.com/6533925/65391485-116ae200-dd6a-11e9-94c6-9fc8a420e6e5.png)

Got donated kinda endlessly as you can se

[2019-09-22 17:11] krrisis commented on #494
hey @arbreton you added a commit but this is still open (and these empty Milestones are still there on my side) - any news here?

[2019-09-23 20:23] arbreton commented on #996
@krrisis i have never seen anything like this before, how this happened?!, it's super strange indeed, i will check in depth how this happened exactly !, even though this gets repeated, it's an error on feathers but the txHash is the same so at the time of collecting only 1 donation will count, for now i fixed the milestone

[2019-09-23 20:26] arbreton commented on #995
I see the problem now @lorelei1 !, will fix it, what seem to be happening is compatibility when correctly selecting the currency to update all the fields, since we refactored completely this class very recently this situations might be arising and we need to correct them asap

[2019-09-23 21:36] krrisis commented on #996
hey andre, thx for this. No idea how this happened, griff only filled the Milestone once.
So in the Milestone I still see the wrong total amount donated, do you mean that you fixed it in the backend? Just want to make sure I can disburse it after review or if I should wait.

[2019-09-23 21:40] arbreton commented on #996
Sorry for that @krrisis, i removed the duplicates on the donations, the total amount was missing, now it should be all corrected back to normal!, will replicate, thank you alot for this insight

[2019-09-23 23:30] GriffGreen opened #997 "have to scroll down to see data"
https://beta.giveth.io/profile/0x191c484F2b93Ac9841d200cBcFDa447EA491272A

Lots of empty space to scroll thru here....

[2019-09-24 10:00] aminlatifi commented on #613
@GriffGreen has a great idea of showing each parent donation share of donation amount. Like this: `09/15/2019 0.001 ETH donated to Campaign 10 (.0005 ETH delegated to this milestone)`
Currently we cannot deduce this information with simple trace of data. So we need another collection in mongo to keep track of share. This collection can contain a good snapshot of donation events. @arbreton  once sh

[2019-09-24 11:14] aminlatifi commented on #613
I decided to close this issue because feature is implemented. I create another issue to address donation share in history.

[2019-09-24 11:30] aminlatifi opened #999 "Show share of each delegated donation on milestone donation"
Donation history does not show which share of each delegated donation is spend on a milestone donation.
In bellow picture, the two specified donation devote 0.0005 ETH to the above donation.
![image](https://user-images.githubusercontent.com/5684607/65507690-4e0a1b00-dedb-11e9-969f-fc4756d6a19b.png)
Such info needs an additional collection to be added to DB (mongo) in order to hold record of donat

[2019-09-24 11:36] #613 closed

[2019-09-24 14:51] aminlatifi commented on #847
@GriffGreen I feel it would be rational if when donation is not possible, only show warning/hint messages. Like these:
![image](https://user-images.githubusercontent.com/5684607/65522595-db5b6880-def7-11e9-9252-377a9647f991.png)

and

![image](https://user-images.githubusercontent.com/5684607/65522642-ed3d0b80-def7-11e9-90c7-3a99280184ba.png)

@GriffGreen  If you agree, please let me know to commi

[2019-09-24 15:46] lorelei1 opened #1000 ""donating 3% to a DAC" display is weird"
It's esthetically confusing that theres a sentence in between "Delegating 3% to:" and the DAC i've chosen... the subject should always go directly after the colon. maybe just move the explainer "This milestone is contributing to this DAC on every donation." to below "Giveth DAC"  - or take it away? Not sure the explainer does that much here... it could be a hover over pop up too
![Screen Shot 2019

[2019-09-25 06:35] lorelei1 opened #1001 "milestone rewrites mid-creation"
while i'm in the middle of creating a milestone for May, it rewrites all of a sudden with all the data of my milestone for October that i made recently. all data that i was working on is lost, and no it isn't saved with the save milestone function. wtf! this has happened to me at least 3 or 4 times now.

[2019-09-25 06:38] aminlatifi opened #1002 "Donation slider shows wrong amount as max value"
Donation slider max value should consider `Max amount to raise` and `Amount donated` of capped milestones. Below shows and example of a capped milestone:

**Max amount to raise:** 0.00010000 ETH
**Amount donated:** 0.00005000 ETH

Slider behavior on donation:

![image](https://user-images.githubusercontent.com/5684607/65575057-c88a7780-df7b-11e9-84c3-ddca8e9dc8e3.png)

![image](https://user-images

[2019-09-25 07:24] aminlatifi commented on #980
@Danibelle @GriffGreen do you have any idea how should it be. I mean archive functionality for capped milestones. Here are some points:
* Should user be able to donate to an archived capped milestone?
* Can user cancel archived capped milestone?

[2019-09-25 16:04] aminlatifi commented on #960
I changed range component value from eth to wei and it's ok now.
More validation and coordination with number input is required.

[2019-09-25 19:16] lorelei1 opened #1003 "expense milestone won't propose"
Issue type: **Error**
Something went wrong with the Milestone creation. Is your wallet unlocked?

**TransactionLink:**
undefinedtx/undefined => {
  "name": "Forbidden",
  "message": "Total amount in ether is incorrect",
  "code": 403,
  "className": "forbidden",
  "errors": {}
}

The error message says "Total amount in ether is incorrect" - but the milestone isn't accepting ether its accepting dai

[2019-09-26 00:06] krrisis opened #1004 "Donations not showing under profiles"
Seen this forever, finally logging it.
Under a profile, you see what amounts have been sent to that person, but amount in 'donations' and 'donated' columns in this list remains zero.
So, for example [here](https://beta.giveth.io/profile/0x0f278383E746344d613b1980008C2ACfB8070A70) and see screenshot below

![image](https://user-images.githubusercontent.com/6533925/65648344-3a0d0900-e002-11e9-8d30-f

[2019-09-27 14:02] GriffGreen commented on #996
Hey @arbreton is this also affecting the available delegations for the campaign? I am surprised we ran out of money in the Campaign already.

[2019-09-27 14:07] GriffGreen opened #1005 "30k Dai Missing from Commons Stack Campaign"
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e

probably related to #996 When i do the math on milestones filled... It seems like we are missing about 30k Dai worth of donations...

[2019-09-27 17:47] GriffGreen commented on #1000
OMG! The 1000'th issue!!!
COOL!

[2019-09-27 20:18] GriffGreen commented on #604
YAY!

[2019-09-27 20:18] GriffGreen commented on #960
:-D thx Amin!

[2019-09-27 20:33] GriffGreen commented on #980
Dani's goal here is to clear her own my milestones page..

Should user be able to donate to an archived capped milestone?

1. Not thru the UI, the  milestone should be marked "completed" and all the buttons should go away.

Can user cancel archived capped milestone?

2. The Milestone Manager and Campaign Manager should be able to archive a capped milestone... but man the list of buttons is getting

[2019-09-27 20:35] GriffGreen opened #1006 "Archive should be renamed"
My best word is "End Funding" but its not good enough! Either way, in #980 we are extending the Archive functionality to capped milestones (with no reviewer) and it should probably have a better name

[2019-09-27 20:39] GriffGreen commented on #585
I finally finished working on the CSV!

https://docs.google.com/spreadsheets/d/1QECQfXulcLXg-fGQzl2UjtrHNHOK36V1m-w0guzgMy8/edit?usp=sharing

See the different tabs

The dream is that this CSV would record a log of every action that happened in the Campaign... Every milestone donation, every edit of text of a milestone description, every change of owner...

Ok but thats the dream.

To start let's

[2019-09-27 20:53] GriffGreen commented on #847
OH FUCK YEAH!

[2019-09-27 20:53] GriffGreen commented on #847
THAT IS GREAT!

[2019-09-27 20:54] GriffGreen commented on #613
thx amin!

[2019-09-27 20:55] GriffGreen commented on #999
:-D

[2019-09-29 17:59] lorelei1 opened #1007 "Jordi's Profile picture is weird AND his donation is listed twice"
https://beta.giveth.io/profile/0x1DBA1131000664b884A1Ba238464159892252D3a

2 issues in 1 :-D

[2019-09-30 07:34] GriffGreen opened #1008 "Donated column says 0 after paid out"
https://beta.giveth.io/profile/0x9073B943c749b85E83390c18cd45Df85dCd2E9Cc

<img width="905" alt="Screen Shot 2019-09-30 at 12 33 01 AM" src="https://user-images.githubusercontent.com/14945613/65858047-f247f380-e319-11e9-85c8-760e9c94345c.png">
Should say the amount that was paid... probably referencing the wrong data

[2019-09-30 12:37] #960 closed

[2019-09-30 14:40] aminlatifi commented on #960
This approach makes some problem when using tokens! I went another way.
But it would be better if it can be handled by wei or other number which represent finest fraction of a token.

[2019-09-30 16:24] #847 closed

[2019-09-30 17:32] GriffGreen opened #1013 "Bowen's 150 is stuck"
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5d3640d51038ff0d20b0b5c3

[2019-09-30 17:37] GriffGreen opened #1014 "Give Amin read access to MongoDB"
:-D

[2019-09-30 17:45] GriffGreen commented on #1003
"ether" in this error message should be replaced with a variable that changes based on the currency that was chosen

[2019-09-30 19:10] aminlatifi commented on #948
Maybe this issue be solved after https://github.com/Giveth/giveth-dapp/pull/1012 be merged.

[2019-10-01 03:12] #1014 closed

[2019-10-01 03:20] arbreton commented on #1013
@bowensanders can you please try again? thank you!

[2019-10-01 03:33] bowensanders commented on #1013
Thank you for the fix!!

[2019-10-01 07:02] GriffGreen opened #1015 "Make Build scripts accessible to contributors"
An awesome new Contributor, @Jurek-brisbane:matrix.org on Riot put in a lot of work to write well documented scripts of the build process... here is a dump of that data... I'm not sure where it should go.

[givethBuildStartScripts_2019-09-29.zip](https://github.com/Giveth/giveth-dapp/files/3674808/givethBuildStartScripts_2019-09-29.zip)

[2019-10-01 07:07] GriffGreen opened #1016 "Can't connect hardware wallet?"
jurek-brisbane
More info. I have read instructions again I attempted to sign into https://beta.giveth.io/. no luck. I can see my Metamask ledger account ok. When I am ask to to sign, the text is proper ASCII this time, however I still get error:   "The security key does not look familiar..." images attached.
![MetamaskSigninError2](https://user-images.githubusercontent.com/14945613/65941187-4963cc

[2019-10-01 08:45] vdo opened #1017 "Error trying to donate"
I got an error trying to donate to the campaign:
https://beta.giveth.io/campaigns/5d0849c3aad0322f5aeea058/milestones/5d8bf413ad3696263686d181

The donate button gets stuck, and I cannot sign the transaction on metamask.

This is on Chrome browser.

The console log:
[code]

[2019-10-01 13:31] krrisis commented on #1017
@arbreton could you possibly prioritize this one and see if it's a known issue or if there's an easy fix? we have two people who want to donate to giveth right now and they can't..

[2019-10-01 16:32] GriffGreen commented on #1015
https://youtu.be/rzLhxxAz73k Jurek even made a video about it!

[2019-10-01 19:28] arbreton commented on #1017
Uploading a hotfix now!

[2019-10-01 20:50] #1017 closed

[2019-10-01 21:55] arbreton commented on #1013
150 need to be re delegated since it got reverted due to the bug, i think @lorelei1 should be able to redelegate the funs from the Unicorn DAC

[2019-10-01 22:15] arbreton commented on #1007
2 in 1 is great!
looking into it right now, i found the root cause of the donations, now uploaded a commit

about the profile picture Jordi needs to re upload the picture, there was a mistake on the upload text, specifying that it needed a 16:9 picture while it really needs 1:1, he needs to reupload 1:1

[2019-10-01 22:39] arbreton commented on #1005
@GriffGreen funds were reverted !, working on a longterm fix!

[2019-10-02 07:47] aminlatifi commented on #980
@Danibelle the problem is the milestone is not fully funded and some fraction is remained. By recent fixes to donation slice you would donate remained.

[2019-10-02 20:19] #980 closed

[2019-10-02 21:48] arbreton commented on #1005
@GriffGreen , @ewingrj , need to check on the smart contract if a donations has balance left, is there a way to do that? just a way to verify if a pledge has been used before to completely ensure that the funds are available to use

[2019-10-03 01:30] arbreton commented on #1015
Updated feathers README to reflect changes! https://github.com/Giveth/feathers-giveth/blob/develop/README.md

[2019-10-03 01:31] #1015 closed

[2019-10-03 01:33] arbreton commented on #1015
Also in the dapp repo https://github.com/Giveth/giveth-dapp/blob/develop/README.md

[2019-10-03 10:47] #961 closed

[2019-10-03 14:44] aminlatifi commented on #921
In dapp code items amounts are converted from wei to eth, fixed to 18 digit fraction one by one, then are summed up to obtain and store maxAmount. When it wants to send maxAmount to feather, dapp converts it to wei.
I guess these conversions and limited precision of fraction amounts is a candidate of cause.
I asked @arbreton to give me database record.

[2019-10-03 19:47] ewingrj commented on #1005
yes, you can call `lp.pledges(id)` or something like that

[2019-10-03 20:04] arbreton commented on #1001
That is way too strange, not good!, will look into this one @lorelei1 , to replicate is it needed to stay the data for a long time?

[2019-10-03 20:28] arbreton commented on #1003
seems that the token selected wasn't correctly loaded into the proof items, will look into it

[2019-10-03 20:39] arbreton commented on #921
Milestone debug info here

[milestoneraw.log](https://github.com/Giveth/giveth-dapp/files/3687988/milestoneraw.log)

[2019-10-03 20:42] arbreton commented on #1004
Identified the problem, seems to happen only on profile section, data should show up, will look into it

[2019-10-03 20:43] arbreton commented on #1006
I saw some "Completed" somewhere on the dapp sometimes, or "Finished" could be good wording for this i think!

[2019-10-03 20:46] arbreton commented on #1008
Problem identified! will look into it, seems already noted by @krrisis https://github.com/Giveth/giveth-dapp/issues/1004

[2019-10-03 20:48] arbreton commented on #1016
Currently hardware wallets haven't been tested to the full extent, only supporting Metamask or in browser wallet atm

[2019-10-03 20:49] arbreton commented on #981
could be related to #1002

[2019-10-03 21:23] arbreton commented on #978
Looks like it's all good! https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7, there are funds on that campaign that were used for that purpose i think

[2019-10-03 21:23] arbreton commented on #978
@GriffGreen

[2019-10-03 21:24] arbreton commented on #985
A new feature needs to be implemented for this to be fixed @aminlatifi ?

[2019-10-04 15:16] aminlatifi commented on #985
No it doesn't need any feature I believe. Logically this should work.

[2019-10-04 15:19] aminlatifi commented on #985
We need to debug and search around. Maybe a technical issue causes this and not our code.

[2019-10-06 02:14] arbreton commented on #1005
Trying to interact with the contract directly @ewingrj but the function getPledge is not returning any values i think maybe the input id is wrong or something.

Trying on this LP contract, is this where the pledges should be stored?
https://rinkeby.etherscan.io/address/0x2f3c81fa2b0e171a135c128142dbf877213c5071#readContract

[2019-10-07 13:45] ewingrj commented on #1005
nope, you can't use etherscan. Need to use something that allows you to enter the abi & contract address directly. https://www.mycrypto.com/contracts/interact

That's the base contract, which controls the logic, but not where the data is stored. That is all stored in the proxy contract. You need to call that method on the proxy contract. The address you need is found in the config file of the give

[2019-10-07 17:01] aminlatifi commented on #921
After trying various scenarios still unsuccessful in recreating the error. @Jeff-Emmett Would you please describe more your scenario? When was the error happened? e.g. Creating Milestone, Donating or withdrawing? any more information would be helpful.

[2019-10-07 17:56] arbreton commented on #957
@lorelei1 are all the delegetions OK now?

[2019-10-07 17:58] #944 closed

[2019-10-07 17:59] arbreton commented on #926
@Danibelle did the milestone got canceled?

[2019-10-07 18:22] geleeroyale opened #1021 "Remove "sign a message" functions from various places"
Wanted to post this earlier - sorry for that.

There are at least two instances in the DApp where we ask the user to "sign a message":
- create a new profile
- access "my milestones" overview

This function is:
1. a bit annoying for users that are already signed in, as they have to repeatedly sign a message which hurts UX flow.
2. Giving an error when used with an Aragon agent account from frame.s

[2019-10-08 04:46] arbreton commented on #1005
@ewingrj Tried with my crypto before, i tried it again today, this is the proxy contract that i'm using https://rinkeby.etherscan.io/address/0x8eb047585abed935a73ba4b9525213f126a0c979

What i did is used the ABI from this contract https://rinkeby.etherscan.io/address/0x2f3c81fa2b0e171a135c128142dbf877213c5071, on the proxy using my crypto, trying to getPledge, but is returning nothing

Is there so

[2019-10-08 14:38] aminlatifi commented on #948
@lorelei1 Is problem still exists?

[2019-10-08 19:49] ewingrj commented on #1005
works for me w/ the pledgeId you have in a screenshot above. did you change the network to rinkeby? mycrypto defaults to mainnet

[2019-10-09 00:28] arbreton commented on #1005
That was it!, thank you alot @ewingrj i identified the pledges mismatching on the mongoDB from the contract, updated accordingly all the funds on the common stack should be updated now @GriffGreen, is there any milestones that got conflicted during this period that may invalid donations?

[2019-10-09 05:37] aminlatifi commented on #1002
It was fixed by previous commits.

[2019-10-09 05:37] #1002 closed

[2019-10-09 06:38] #997 closed

[2019-10-10 03:11] #1004 closed

[2019-10-10 03:11] #1008 closed

[2019-10-10 05:10] arbreton commented on #1005
So i updated the records on the donations but the Syncing process seems to be turning back the donations!, i think the donations are wrongfully assigned to this milestone https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d8be3baad3696263686d152, this is where the problem started, it had 90+ repeated donations, so the same donations 90 times, and that subtracted the funs on the

[2019-10-10 17:19] jamespfarrell commented on #1015
These scripts are based on Jurek's but for zshell with osx plugin

In order to get this working on zshell you need to [activate the osx plugin](https://github.com/robbyrussell/oh-my-zsh/tree/master/plugins/osx):

In newer version of MacOS, you may need to [change some security settings](https://gist.github.com/jamespfarrell/6bf20ccd2ffa1821a0108b1559a87c21)
[giveth-build-run.zip](https://github.co

[2019-10-10 22:40] jamespfarrell commented on #906
@arbreton - this seems to have been opened a while ago, and remember from the last call you are working on a couple of bigger issues. Would you like me to take this off your hands?

[2019-10-10 22:44] arbreton commented on #906
@jamespfarrell, exactly as you said currently focused on another issue, feel free to do that, would be amazing!

[2019-10-11 00:06] jamespfarrell commented on #906
@arbreton I don't seem to be able to assign this issue to myself.

[2019-10-11 23:13] arbreton commented on #1005
This are the 2 pledges that still have money in it and when updated on Mongo they get reverted to 0 for some reason

**4587
5491**

was looking at the owner and it's 1402 which is correct, it's very strange

[2019-10-12 06:35] plur9 opened #1027 "Critical error! Direct donations don't work for milestones that donate 3% to a DAC"
we can't get donations for our Fairdrive campaign. This is what we got forwarded from our donors.

*********

Issue type: **Error**
Something went wrong with your donation.

**TransactionLink:**
https://etherscan.io/tx/undefined => {
  "code": -32000,
  "message": "gas required exceeds allowance (9967525) or always failing transaction"
}

[2019-10-12 07:37] GriffGreen commented on #1027
https://www.youtube.com/watch?v=6b2TNJp2zxs

It approves and sends dai to only the giveth dac... the desired behavior would be

1 approve for enough to cover both donations.
1 tx to fund the milestone
1 tx to fund the DAC

[2019-10-14 17:26] arbreton commented on #948
Testing on new release

[2019-10-14 17:27] #921 closed

[2019-10-14 17:28] arbreton opened #1028 "Milestone proof items are not loading from draft"

[2019-10-14 17:31] arbreton commented on #877
Need atomic transactions, need a prevention system for duplicates on low connectivity

[2019-10-14 17:32] arbreton commented on #899
Just checking is it still happening?

[2019-10-14 17:34] arbreton commented on #912
Need atomic transaction system

[2019-10-14 17:35] arbreton opened #1029 "Atomic transactions for feathers for preventing duplicates and pending items"

[2019-10-14 17:38] arbreton commented on #981
Testing on new release

[2019-10-15 10:18] aminlatifi commented on #1000
@lorelei1 Explain texts are regularly below title for all item on milestone details. If I move the explain text, it would not be consistent with its other siblings. However I changed the explain text to have consistent grammar with other items. I hope it is more user friendly now.

![image](https://user-images.githubusercontent.com/5684607/66823045-4544bc00-ef52-11e9-8394-c4fb05374e6d.png)

[2019-10-15 11:50] aminlatifi opened #1031 ""Use My Address" does not work after once manually edited"
![Use My Address problem 2019-10-15 15_13_51](https://user-images.githubusercontent.com/5684607/66828825-db7edf00-ef5e-11e9-9f14-f64d6f1c3bc0.gif)

[2019-10-15 12:12] #957 closed

[2019-10-15 15:06] aminlatifi commented on #932
Toast shows link to proposed milestone now.
<img width="1267" alt="Screen Shot 2019-10-15 at 18 20 55" src="https://user-images.githubusercontent.com/5684607/66844108-9d8fb400-ef7a-11e9-8445-e76820f7ede7.png">

[2019-10-15 20:59] arbreton commented on #932
Thats so awesome @aminlatifi !, a great way to fix this issue

[2019-10-15 20:59] #932 closed

[2019-10-15 21:04] arbreton commented on #1000
I think the best way to solve this is issue is to see if we can work on a hover feature just like mentioned, i'm thinking on a little "i" symbol with a circle right beside each element , if someone wants to read more info, that will be the way to go, what do you think about something like that @aminlatifi ?

[2019-10-15 21:05] #979 closed

[2019-10-16 20:15] aminlatifi commented on #1000
@arbreton Sounds good 👍
In this case we should change it for all items keep consistency in design.
I changed all detail label like this
<img width="619" alt="Screen Shot 2019-10-16 at 23 36 56" src="https://user-images.githubusercontent.com/5684607/66955342-ffc9e100-f06e-11e9-862a-9288f4638841.png">

[2019-10-16 22:49] #1000 closed

[2019-10-17 00:01] arbreton commented on #1013
Bumping, bowen's milestone still needs a reprocessing of the delegation

[2019-10-17 02:35] GriffGreen opened #1034 "Trying to edit a milestone doesn't work"
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d7fd9dfad3696263686cc1b/edit

Don can't even get to that screen... I can (as the campaign manager), but when i go to edit the text it fails:
<img width="1091" alt="Screen Shot 2019-10-17 at 9 34 06 AM" src="https://user-images.githubusercontent.com/14945613/66973164-52cc8400-f0c1-11e9-939a-48ceadf75642.png">

My wallet is unlock

[2019-10-17 12:23] aminlatifi commented on #825
In campaign page, milestone grid component replaced by native html-css alternative. I also changed milestone and donation fetch batch size to moderate sizes (They where 50 for both, I changed to milestone:12 and donations:5).
I feel these numbers are good enough and user can load more if needed.

[2019-10-17 12:43] aminlatifi opened #1036 "No pagination on Campaigns and DACs components"
Both Campaigns and DACs components just load entire result from database and don't support pagination.
It slows homepage rendering time and make it heavy loaded specially on develop.giveth.io
The worse is feathers/db query is limited by default to 100 first result, and there would be problem when we have more than 100 items.

[2019-10-17 19:49] arbreton commented on #1034
Seems to be this allowance problems are on the rise, and we still haven't found a root cause why allowance is a problem or why it is not interacting correctly with the contract

[2019-10-18 08:22] krrisis opened #1037 "Mail notifications no longer arriving"
We just noticed mail notifications for the DApp no longer work... :/
@griffgreen filled a number of Milestones but neither @Jeff-Emmett or I received any notification of this.

[2019-10-20 08:20] GriffGreen opened #1038 "UX, campaign manager should be able to choose the default options for milestones"
title says it all... this is not a priority

[2019-10-20 11:02] aminlatifi commented on #933
@Jeff-Emmett Can you tell here more about details? How does it happen?
On which OS, Browser and how do you zoom?
I cannot reproduce it on my own. I used chrome and firefox on Mac. Zooming by trackpad gesture or control+scroll does not reproduce problem!

[2019-10-20 11:55] aminlatifi opened #1039 "Save milestone item proof images in IPFS"
Item proof images are saved as base64 on mongodb, unlike other images saved on IPFS.
This causes large data to be filled in db which is not necessary.
Also, clicking on item proof images on UI does not open the images on new tab. This UI issue will be solved by saving images on IPFS.

[2019-10-21 04:43] GriffGreen opened #1040 "I was warned about doing multiple transactions but the message implied i should do 1"
<img width="632" alt="Screen Shot 2019-10-21 at 11 40 23 AM" src="https://user-images.githubusercontent.com/14945613/67177206-b32c3000-f3f7-11e9-976e-c8e0ca41008f.png">

https://beta.giveth.io/campaigns/5d2602a167f1fe662d8cee2a/milestones/5da93898d25d7f4a295e3d47

I think the limit is still set to 5 but it should go back to 7... I wouldnt change the text in the warning... i would change the limit

[2019-10-21 04:46] GriffGreen opened #1041 "The amount it says i collected when collecting multiple donations is wrong"
https://beta.giveth.io/campaigns/5d2602a167f1fe662d8cee2a/milestones/5da93898d25d7f4a295e3d47

Following #1040 there was another smaller bug...

<img width="909" alt="Screen Shot 2019-10-21 at 11 44 27 AM" src="https://user-images.githubusercontent.com/14945613/67177333-511ffa80-f3f8-11e9-8a1c-58e2e97b2240.png">
I collected about 7000 DAI but its only showing that i collected Samir's donation

[2019-10-21 04:59] GriffGreen commented on #1040
https://rinkeby.etherscan.io/token/0xb5afaed1ae9b0485a859023e1372c100b11e98ab?a=0xac2f5d48b32d033cafc7c6423a2134ae482ef4e2

Interesting... when collecting multiple pledges, the milestone fills up with GivDAI and then sits there, then the final tx sends burns all the GivDAI to create one payout tx... the front end doesnt reflect this very well.... see #1041

[2019-10-21 17:43] GriffGreen commented on #1041
looks like this issue is duplicated in #985

[2019-10-22 11:05] mimafogeus2 commented on #962
Is there any design effort/implementation to support multiple providers?

[2019-10-25 18:59] aminlatifi commented on #1005
After dealing with the issue, reading code to find the cause and modifying DB to cope here are my achievements.
We have tried to  sync DB with blockchain pledges and after each try, donations are drained from db records! I did tried syncing again and filled donation on DB. I found where donations are going:
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d5a5795420f06212039fd

[2019-10-25 19:19] aminlatifi commented on #1005
This issue was a good excuse to talk about one of important shortage of feather. We don't have enough logging of events occurred and request reaching to feather. This prevents us from debugging issues occurring in real deployment.

[2019-10-25 20:56] aminlatifi commented on #1005
In order to prevent such issues, maybe we should prevent processing of transmit events which are duplicate. It seems tuple of txHash and parent fields is enough to detect duplicate transmit.

[2019-10-25 20:58] aminlatifi commented on #1005
@arbreton Me and you should resync donation records in database with amounts in pledge.

[2019-10-29 20:58] arbreton commented on #1005
Resyncing but still donations get reset everytime they are delegated again for some reason, i think a temporal fix could be resyncing every time donations get delegated

[2019-10-29 22:56] aminlatifi commented on #1005
@arbreton did it happen again? I have no access to dapp right now.
If yes, let's debug immediately. I am ready to start. Maybe we should implement feather internal events right now.

[2019-10-30 08:58] aminlatifi commented on #1005
I started to add transactional changes feature to feather by this issue: https://github.com/Giveth/feathers-giveth/issues/134
@arbreton I don't have permission on https://github.com/Giveth/feathers-giveth please assign me to this issue.

[2019-10-30 21:03] #825 closed

[2019-10-30 21:07] arbreton commented on #1027
Seems to be milestone specific, is not happening on other milestones

[2019-11-01 00:05] arbreton commented on #1037
Seems that the mailer service was down / stuck / crashed, restarted the service it should be working now!

[2019-11-01 11:28] aminlatifi commented on #1005
They went here https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d829497ad3696263686cc6d
![image](https://user-images.githubusercontent.com/5684607/68021906-eacc8f00-fcb7-11e9-9d19-7b1674c67594.png)

[2019-11-01 21:44] arbreton commented on #1005
Exactly!, i think we need to find the record that is responsible for instructing the delegating this funds to here

[2019-11-04 04:47] aminlatifi commented on #1005
I believe they are some `Transmit` type event records which are processing multiple time. Two examples are these two:
[code]
And
[code]
Notice updatedAt timestamps are so close while the have been created much earlier. Currently, they are still reprocessing, see this: https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d55cfe0ded7183fafb04956

[2019-11-04 04:51] aminlatifi commented on #1005
We have updated web3 module (which was so dated) and modified feathers to prevent processing `Transmit` events if they produce repetitive records. I hope they resolve issue after they are deployed.

[2019-11-04 04:59] arbreton commented on #1005
Yes looks like the same issue, we should update records in here aswell, not sure if this issue was reported, perfect!, will test and review PR hopefully we can erradicate this problem

[2019-11-04 09:43] aminlatifi commented on #839
I tried to upgrade mongodb and mongoose on feather, but it's not compatible with feathersjs packages. I think upgrade them together.

[2019-11-04 09:50] aminlatifi commented on #839
Most of critical and high vulnerabilities are for obsolete packages used in our smart contract related packages (lpp-campaign, liquidpledging, etc.). Specially bridge repo is one of them which needs to its package be upgraded. @arbreton Do you have any idea about running bridge locally to test bridge repo? I tried once but I couldn't.

[2019-11-04 10:08] aminlatifi commented on #1029
It needs transaction capability of mongodb. Mongoose (the library is used to connect to mongodb) needs to be upgraded. It related to #839 . Upgrading mongoose breaks some functionalities and it seems we need to upgrade feathersjs libraries too.

[2019-11-04 17:30] GriffGreen commented on #1005
ok i delegated some!

[2019-11-04 17:32] GriffGreen commented on #906
This is sooooo exciting @jamespfarrell !!! :-D

[2019-11-04 18:44] GriffGreen opened #1045 "Delegation slider is giving me the option to delegate more than the milestone will take"
<img width="1124" alt="Screen Shot 2019-11-05 at 12 41 08 AM" src="https://user-images.githubusercontent.com/14945613/68143890-ff817f00-ff64-11e9-9603-01ec6e649453.png">
I would expect the the slider would be limited to the max amount that can be donated to the milestone

[2019-11-09 09:35] aminlatifi commented on #1005
@arbreton Have you deployed the feather version with double transmit processing prevention on beta server? If yes, please let me know to resync donations of the campaign.

[2019-11-09 18:56] GriffGreen opened #1048 "bridge service is missing double donations"
https://github.com/Giveth/giveth-bridge/issues/10

^^^ made the issue here

[2019-11-10 06:36] GriffGreen commented on #1048
it might be an issue with catching Dai donations in general

[2019-11-10 09:02] aminlatifi commented on #951
![image](https://user-images.githubusercontent.com/5684607/68541535-e5f19480-03b5-11ea-8c59-fd53d10323cf.png)
As you seen error returned from smart contract is empty! so, there would be a problem either in the smart contract, or web3. We will be lucky if the work we done on upgrading web3 driver from beta version solve this issue.

[2019-11-10 11:16] aminlatifi commented on #906
This issue should be closed?

[2019-11-10 11:17] aminlatifi commented on #948
@arbreton can we close this issue?

[2019-11-10 11:26] aminlatifi commented on #941
It may be related to #951

[2019-11-11 21:26] #985 closed

[2019-11-11 21:26] #1041 closed

[2019-11-11 22:49] arbreton opened #1050 "Milestones on mobile are missing responsive behavoir"
Milestone under a campaign should resize when the screen size is too small so it changes from 3 per row to 2 per row and finally 1 per row, right now this shouldn't happen
<img width="442" alt="Capture d’écran 2019-11-11 à 2 45 45 PM" src="https://user-images.githubusercontent.com/12836187/68627346-62f23c00-0492-11ea-806b-4fa2b73752f9.png">

[2019-11-12 16:49] Danibelle opened #1052 "Error delegating in DECENTRAL Campaign"
Issue type: **Error**
There was a problem with the delegation transaction.

**TransactionLink:**
https://rinkeby.etherscan.io/tx/undefined

Delegating the full amount of what remains from Natalia's donation to David's Milestone and it's stuck, throws error then when I go back into her donation it says it's 'delegating' --

![image](https://user-images.githubusercontent.com/39466970/68691885-1feba3

[2019-11-14 17:25] arbreton commented on #1052
Good morning @Danibelle, I think i may know what the problem could be

What would be the donation that you are trying to delegate and from what donor is it so i can look it up? thank you

[2019-11-18 08:02] #1040 closed

[2019-11-18 12:02] aminlatifi opened #1057 "Draft functionality redesign"
Current implementation of Draft functionality is not clear and not working properly, at least for Milestone view.
It saves temporary values in  browser memory to load latter, but `Save Draft` button is not working as expected.
I imagine a `Draft` functionality which is integrated with feather/mongo, and works cross browser.

[2019-11-18 14:52] GriffGreen opened #1058 "Giveth 2.0 Unicef Grant Overview"
WOOOO HOOOOO!

We made it to the next step! We have 1 week to fill out a grant application to get 100k to fund Alibre to build Giveth 2.0 and include a last mile solution in Mexico :-D

The pilot project would be with Castro Limon. https://fundacioncastrolimon.org/

http://alibre.giveth.io/ links to our blog post from March talking about this

We have this tight youtube video that got us past the

[2019-11-18 15:18] mroberts10 commented on #1058
Congrats!! and wow great video!  So professional.  Can we share this video?  I see that its on youtube.

[2019-11-18 16:09] GriffGreen commented on #1058
@mroberts10 absolutely!

[2019-11-18 17:26] GriffGreen commented on #1058
Ask Sergio for master files
Add revenue streams to video

[2019-11-18 17:38] GriffGreen opened #1059 "Transition to MCD and rDAI :-D"
There are a lot of steps here... but it probably doesn't need to be thought about for a couple weeks... if we wait till December it will be really easy, as any transition bugs will be worked out.

[2019-11-18 17:51] GriffGreen commented on #952
there seems to be a process that moves the pledges in the database but its no syncing with the smart contracts properly so when there is low connectivity, it will deplete the pledge on the smart contract ...

We need to actually look at the pledge... the pledge is probably wrong...

[2019-11-18 19:42] gentlemandonadams opened #1060 "Can't edit milestone"
I tried to update a milestone I'd created (https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d89082aad3696263686d08d) to reflect the amount of hours I'd worked during the time period covered by that milestone, but when I clicked the edit button, I received the following error message:

"Oh no!
You are not whitelisted"

[2019-11-19 00:52] arbreton commented on #1060
@gentlemandonadams sorry for the inconvinience, can you try again now? seems to be a bug related to project owners

[2019-11-22 05:05] bowensanders opened #1061 "Sort dated items from newest to oldest (re: donation lists, etc)"
It should be somewhat trivial to fix this by adding a date sort to the feathers queries, but the way that donations are displayed (and perhaps other items) there does not appear to be any order to them that makes sense.

Sorting them from newest to oldest (or the reverse) would make the donations lists easier to go through..

[2019-11-25 12:31] #1050 closed

[2019-11-26 17:49] arbreton opened #1066 "Donations table not showing all donations/ order is wrong"
Giveth DAC seem to now showing all donations  / order is wrong

Adding filters will improve sorting

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-26 22:14] bowensanders commented on #1021
[Notes I promised to add from today's DAPP meeting about Frame functionality]

- Frame currently does not allow for the ability to use the Aragon Agent addresses on more than one network at once, the address is only operational on the network that the associated Aragon DAO is located, and that Agent address is linked. Because of this, the Giveth DAPP in it's current form is only able to be control

[2019-11-27 14:01] lorelei1 opened #1067 "Urgent feature request! Notify users that only SAI works, no longer DAI"
We discovered today that the Giveth DApp no longer accepts Dai donations! Of course, because Dai is no longer Dai. If it can slip by us, then it certainly can confuse our donors. Let's put a temporary banner or something saying that if you're having problems with your donation, it's likely because only Sai can be donated, and maybe a link to how to change your Dai into Sai.

[2019-11-27 20:22] #995 closed

[2019-11-28 03:43] Danibelle opened #1068 "Milestone Disburse did not happen, erroring out!"
Turns out this [Milestone ](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5dcae0a777aad529434f4d6b) didn't go through - the Disburse button still shows but when I (or David, recipient) hit it, we get the error:
![image](https://user-images.githubusercontent.com/39466970/69775196-0d8e7e00-1166-11ea-994c-bbbe2b124f38.png)

Now it's showing up on the bridge and I'm wondering if

[2019-11-28 18:52] GriffGreen commented on #1067
WOW! Quick work! still an issue tho:
<img width="409" alt="Screen Shot 2019-11-29 at 1 50 17 AM" src="https://user-images.githubusercontent.com/14945613/69827625-bf9f7600-124a-11ea-8bf7-a167ccfbbf8f.png">
<img width="240" alt="Screen Shot 2019-11-29 at 1 50 03 AM" src="https://user-images.githubusercontent.com/14945613/69827626-bf9f7600-124a-11ea-8c70-906b40f4b67e.png">

No SAI option in the conve

[2019-11-29 03:41] arbreton commented on #1067
Right now the renaming to SAI is reflected 👍 , now investigating naming on past records and New DAI support

[2019-11-29 03:44] arbreton commented on #1068
I see the record on the bridge aswell!, does the disburse button still showing you mention @Danibelle ?

[2019-11-29 12:59] lorelei1 commented on #1067
this helps for milestone creators, but for someone donating it doesn't help their confusion. I still think we need a banner message saying generally "DAI not working? It's because Giveth still runs on Single Collateral Dai (now SAI) and your DAI may be a different token!" or something to that effect

[2019-11-29 14:02] lorelei1 opened #1069 "Milestone not able to propose"
I tried putting this in as an expense line item at first, got the same error code and thought it was because the expenses feature was broken. So I put a screenshot of the receipt in the body of the milestone and tried again but it's the same error.
<img width="1440" alt="Screen Shot 2019-11-29 at 8 59 39 PM" src="https://user-images.githubusercontent.com/38163206/69873606-63d8f980-12eb-11ea-9125-4

[2019-12-01 10:53] aminlatifi commented on #1021
I know how important is to make frame works with Giveth. But more important is Giveth security. Users authenticate to Giveth by signing a message currently, and removing this authentication is so dangerous. **One can easily fool the dApp with any web3 address without having its private keys**!!!!

Let's take a look at two scenarios. Of course public key of each users is publicly available and atta

[2019-12-01 11:27] bowensanders commented on #1021
First off, thank you for all your diligence. I agree that security is Paramount and we need to be circumspect about any decision on this area.
Second, we have to look at the way that most people would be identifying their address to the app (which, by January, needs to be addressed additionally because of new upgrades to metamask and the API) would be metamask. It won't inject web3 anymore.
I don'

[2019-12-01 14:59] aminlatifi commented on #1021
Thanks @bowensanders for immediate prompt. I would go ahead and remove signature, but would not push the code to develop branches yet.
It will create separate branches on both feather and dapp for this matter to test more after implemented.
However, I like to clear it more my concern by this scenario: Attacker can write a script which query feather to get all proposed milestones. Then for each rec

[2019-12-01 19:59] aminlatifi commented on #1021
I changed code a little to use user public key to authenticate instead of a signed message. Apparently corresponding dialogs are removed too.
Changed code can be found here
**dapp:** https://github.com/Giveth/giveth-dapp/tree/remove_sign_message
**feather:** https://github.com/aminlatifi/feathers-giveth/tree/remove_sign_message
These two should run together to work. It's just for test and code is

[2019-12-01 21:15] arbreton commented on #1021
Hello @aminlatifi ,

I would definitely agree that the writes to Mongo should be protected aswell,
I remember we definitely commented about this, i think the solution is to create an alternative authentication system

There is a pull request on feathers about sign in messages automatic, its an EIP, maybe this could be our solution

we can definitely comment more tomorrow on the meeting

<sub>Sent

[2019-12-01 21:37] GriffGreen commented on #1021
Great discussion here. I like the different authentication solution. I do hope the requests to the user is minimized as much as possible.... I am excited to see what this new authentication is all about... would it just be a cookie type solution? Or is this a blockchain solution....

If we need the sign message thing for a few actions (like proposing/rejecting a milestone) thats not the end of the

[2019-12-01 22:03] arbreton commented on #1021
Definitely would be an automatic very hard to crack solution, best case scenario the user doesn’t have any popups or needs to do extra steps, is just behind the scenes

I would agree if we end up concluding that sign in for some reason is needed there we can definitely move it on user click and not a popup to improve the UX

The answer is yes, we just need to connect to the dapp to read the user a

[2019-12-02 06:19] aminlatifi commented on #1021
Thanks for your response
In order to change authentication approach, the link below introduced different approaches and when and how they can be applied.
https://blog.wetrust.io/designing-user-account-systems-in-ethereum-apps-f824fe625412
Any way we use signing a message so far, but will limit it to when it necessary.

[2019-12-02 17:43] #1058 closed

[2019-12-02 17:45] GriffGreen commented on #1005
we have to do this one more time

[2019-12-03 07:13] aminlatifi opened #1071 "Edit milestone doesn't load milestone"
Changes applied in pull request https://github.com/Giveth/giveth-dapp/pull/1055 didn't consider edit milestone properly.
@arbreton Please don't make a release before this issue is fixed

[2019-12-03 09:05] lorelei1 opened #1072 "Eth denomination in notification email is confusing"
The e-9 at the end of the number looks super weird, why is it there?
<img width="472" alt="Screen Shot 2019-12-03 at 4 01 47 PM" src="https://user-images.githubusercontent.com/38163206/70036054-941fe100-15e6-11ea-8f64-678153de7c49.png">

[2019-12-03 11:02] GriffGreen commented on #1067
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d55cfe0ded7183fafb04956 funny one

[2019-12-03 11:08] aminlatifi commented on #1067
It's related to 30K missing!

[2019-12-04 05:24] GriffGreen commented on #1067
yeah and the 30k missing is still labeled DAI where as the real donation is DAI!

[2019-12-04 05:25] GriffGreen commented on #1072
because i sent a very small donation to you... sorry for not mentioning

[2019-12-04 07:11] lorelei1 opened #1073 "text error in milestone update"
Lose the "and"
<img width="349" alt="Screen Shot 2019-12-03 at 6 13 19 PM" src="https://user-images.githubusercontent.com/38163206/70046436-a3a82580-15f8-11ea-8703-2a1c9f4022b3.png">

[2019-12-04 07:19] lorelei1 commented on #996
I'm encountering this issue again with Adam's milestone: https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d55cfe0ded7183fafb04956
<img width="682" alt="Screen Shot 2019-12-04 at 2 14 58 PM" src="https://user-images.githubusercontent.com/38163206/70121309-e6bdd380-16a0-11ea-9561-ea9d9fd9293c.png">

[2019-12-04 08:21] lorelei1 opened #1074 "Milestone status says "Paid" when really it's archived"
This milestone is an example: https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5da86a3dd25d7f4a295e3cc4
It says 0 donated, yet the status says it's paid out. Very confusing. After some digging, i found out the milestone was actually archived. The milestone status should say "Archived"
<img width="343" alt="Screen Shot 2019-12-04 at 3 19 17 PM" src="https://user-images.githubuse

[2019-12-04 18:49] gentlemandonadams commented on #1060
Noting now that you (arbreton) DID fix this the same day I reported it.  Unfortunately, I'm having the exact same problem now

[2019-12-04 19:01] gentlemandonadams commented on #1060
I did just notice that I was able to edit a milestone that I'd submitted but which had not yet been accepted (adding this detail in case it helps the troubleshooting process...)

[2019-12-05 07:47] GriffGreen opened #1075 "Hack this morning didnt work? 8300 SAI in limbo?"
You gave me access to that locked Sai... but then weirdness occurred... we should try again

No collect button for jeff? maybe the donations didnt work?
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5dad62efd25d7f4a295e3eef

[2019-12-05 07:51] GriffGreen commented on #1075
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5daef7bb0fbace4ce8d30ef7

and

https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5db1bb900fbace4ce8d30fd5

too

[2019-12-05 19:20] arbreton commented on #1075
The bug got corrected

[2019-12-05 19:47] arbreton commented on #1067
We are working on big migrations script required for functionality to properly work also we might need to do some smart contract function calling

We are still collecting insight

[2019-12-05 19:58] arbreton commented on #1059
Totally agree! already investigating on this, comments also on https://github.com/Giveth/giveth-dapp/issues/1067

[2019-12-05 20:56] aminlatifi commented on #1071
I had to remove Draft functionality. Because it was broken and made the code complicated and hard for debugging.

[2019-12-06 17:48] GriffGreen opened #1078 "Can't Donate if the Allowance is non-zero, need to fix the 3 transaction scheme"
<img width="1041" alt="Screen Shot 2019-12-07 at 12 46 30 AM" src="https://user-images.githubusercontent.com/14945613/70343965-2516e680-188b-11ea-9e92-9d0227b10e85.png">
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e
Trying to donate SAI but can only select DAI and it errors out
<img width="1251" alt="Screen Shot 2019-12-07 at 12 48 24 AM" src="https://user-images.githubusercontent.com/

[2019-12-06 19:28] arbreton commented on #1078
Seems to be working now, just tested it

[2019-12-06 19:28] arbreton commented on #1078
If it still not working, browser cache or metamask reset might be needed

[2019-12-06 20:01] #1071 closed

[2019-12-07 20:29] arbreton opened #1079 "Migration DB DAI to SAI"
Migration for DB records on DAI to SAI for makerdao updates

[2019-12-08 07:35] #1031 closed

[2019-12-08 07:35] #991 closed

[2019-12-11 00:42] vojtechsimetka opened #1080 "Make sure milestone statuses are updated correctly for capped and uncapped milestones"
Some of my recently funded milestones (thank you for that!!!) are stuck in strange states. Some have status completed even though they are paid, others in status paying etc. It is a huge mess.

<img width="1910" alt="Screenshot 2019-12-10 at 21 34 02" src="https://user-images.githubusercontent.com/7974813/70581394-db354580-1b95-11ea-9339-c3a9e0ed4efe.png">
<img width="1222" alt="Screenshot 2019-12

[2019-12-11 12:43] aminlatifi opened #1082 "Compatibility with Metamask Q1 2020 Changes"
Metamask inpage provider will change Q1 2020 and Dapp should be ready for.
These changes are reported [here](https://medium.com/metamask/breaking-changes-to-the-metamask-inpage-provider-b4dde069dd0a).

[2019-12-12 13:54] mmohorko opened #1083 "Delegate funds doesn't work"
I am trying to delegate funds from the FDS DAC to the Swarm Ops campaign -> milestone 1 but I can't do this. I tried 2 options:

1. At the campaign page, I selected "Delegate funds here" and choose DAI. The pop-up window refreshes but it doesn't work. See the screenshot. I can't do anything.
![Screenshot 2019-12-12 at 14 36 23](https://user-images.githubusercontent.com/45455085/70717549-ddf77e00-1

[2019-12-12 14:09] GriffGreen commented on #1078
Cool for sure we need to fix the text too tho!

[2019-12-12 14:47] GriffGreen commented on #1078
WOW!! SO FUCKING WEIRD!

Just my 0x83939 "Santa" address doesn't work for DAI... i can use other addresses without issue :-P

It doesn't work for me... reset metamask, cleared browser cache... even tried a private window
<img width="1298" alt="Screen Shot 2019-12-12 at 9 21 37 PM" src="https://user-images.githubusercontent.com/14945613/70721840-e10f6000-1d28-11ea-8cae-c2f19f551831.png">

Here is t

[2019-12-12 15:19] Danibelle opened #1084 "Error on Collect from Partially Funded Milestone (no reviewer)"
Testing some standard functionalities and found an error on 'Collect' from this [Milestone](https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5dabb2f9d25d7f4a295e3dd5):

![image](https://user-images.githubusercontent.com/39466970/70724413-91994780-1cc8-11ea-81a6-1827775c0158.png)

Press Collect:
![image](https://user-images.githubusercontent.com/39466970/70724476-ab3a8f00-1cc8-1

[2019-12-12 16:37] Danibelle commented on #1052
Whoops just getting back and realizing I don't have much time left to work with you @arbreton !

Here is the user id of the donation, the one we're working with is to [DECENTRAL](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33): https://beta.giveth.io/profile/0x5f2d0eC2483FfAF6496393115A26099F44d38681

[2019-12-12 18:38] arbreton commented on #1084
Hello @Danibelle , i will need to take a look at your browser console, seems to be an specific case

Here are the steps
<img width="756" alt="Screen Shot 2019-12-12 at 10 36 55 AM" src="https://user-images.githubusercontent.com/12836187/70739370-8267c900-1ccb-11ea-8e23-44782371d788.png">

Keep me posted!

[2019-12-15 08:34] aminlatifi commented on #1082
To make the code compatible with changes, we should use [new API](https://github.com/MetaMask/metamask-docs/blob/new-provider/03_API_Reference/01_Ethereum_Provider.md#new-api) which will be available On December 16, 2019. The function specifically we depends on is `send` which will be replace by update.
@bowensanders I tried to make code compatible but it seems we should wait till new api is relea

[2019-12-15 08:43] aminlatifi commented on #1082
@bowensanders @GriffGreen Is there any other wallet to support except metamask? I am afraid updates regarding this issue stops other wallet from working with dapp.

[2019-12-15 09:11] GriffGreen commented on #1080
@vojtechsimetka were they not paid out?

[2019-12-15 09:14] GriffGreen opened #1087 "Feed back from a contributor"
My 2 cents:

1. Users can have errors on browser, and no one knows unless they tell you and send you error screen capture. Users usually give up on the application, in such a situation.

2. Application has to change rapidly, as the situation demands. Without some king of testing system, you can not cope with rapid change. You guys write new code faster than you can test - MS approach.

3. User int

[2019-12-15 09:30] aminlatifi opened #1088 "Draft Functionality"
The previous draft functionality at EditMilestone view was broken and hard to maintainable after extensive refactoring applied to this view. It also just saved draft somewhere in browser global.

We need to design and implement new draft feature which can be used even when user changes it's browser or clears the browser cache.

[2019-12-15 16:30] aminlatifi opened #1089 "Normalizing token entity"
In current implementation token entity is saved entirely every place across the objects (donation, milestone, ....)
This implementation makes hard to rename a token symbol when needed, specially for the case of DAI/SAI migration.

In new implementation just token address should be saved every where needed and token specification should be stored only once in separate db collection. To design colle

[2019-12-15 21:56] vojtechsimetka commented on #1080
In the end I think I was. Not quite sure if everything though but I will check it this week.

[2019-12-15 21:56] vojtechsimetka commented on #1080
it still however shows wrongly in the dapp

[2019-12-15 22:04] GriffGreen opened #1090 "slider max is randomly wrong"
Probably related to #948 too but I was allowed to donate more than i had in the account...

<img width="1133" alt="Screen Shot 2019-12-15 at 10 58 59 PM" src="https://user-images.githubusercontent.com/14945613/70870025-f84f8700-1f8e-11ea-806f-19af5cfce850.png">

[2019-12-15 22:28] GriffGreen opened #1091 "Can't collect an old milestone with new delegations"
For both https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5bb2758fae4f6e3373e4faee
and
https://beta.giveth.io/campaigns/5b37e5caa239ac21b383d4dd/milestones/5bb26f5cae4f6e3373e4fae5
 Can't mark it complete?

[2019-12-16 08:16] aminlatifi commented on #1091
@GriffGreen Their status are changed to completed manually.

[2019-12-16 16:29] #1090 closed

[2019-12-16 18:21] #1060 closed

[2019-12-17 08:45] aminlatifi commented on #1091
I tested both with changing recipientAddress with mine temporarily. For both `Mark Complete` button appeared.
@GriffGreen Do you use account which is set as recipient? Because you should be recipient or milestone owner to see the button.

[2019-12-17 09:57] GriffGreen commented on #1078
ok i figured it out... there is something wrong with the 3 transaction game.. I have an allowance of 900 which isnt enough to make the donation....

<img width="607" alt="Screen Shot 2019-12-16 at 10 40 29 PM" src="https://user-images.githubusercontent.com/14945613/70945313-34e5b600-2055-11ea-9c88-4eb033e945ef.png">

The expected behavior was that it would make me do 3 txs, the first would send my

[2019-12-17 21:09] #1045 closed

[2019-12-18 08:52] aminlatifi commented on #1083
Regarding 1 approach are you sure at the time of trying FDS DAC had non zero balance of DAI? If its balance of DAI is zero, the window you were seeing was what should be

Approach 2 is normal, because donator (here santa) should confirm you delegation. So its status `proposed delegation` is correct and it waits for santa to confirm.

At the last try you aimed to delegate from an `ETH` delegation.

[2019-12-18 10:01] mmohorko commented on #1083
1. No the balance was not zero.
<img width="517" alt="Screenshot 2019-12-18 at 10 55 15" src="https://user-images.githubusercontent.com/45455085/71076101-6fe70700-2185-11ea-856a-317c4778abfd.png">

2. I am not sure that I understand why "Santa" needs to confirm that delegation? Isn't that the money he donated to the DAC? Did Santa get a notification that he needs to confirm something?

3. Ok I see

[2019-12-18 10:19] aminlatifi commented on #1083
1.  Yes it has positive balance of DAI now. I meant at the time of trying it may had zero balance.
2. When user donated to dac, he should confirm when it's delegated. Donating to dac has different procedure than donating to campaign or milestone.

[2019-12-18 10:52] #1083 closed

[2019-12-19 21:20] gentlemandonadams commented on #1084
I'm experiencing the same issue with this milestone https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d7fd9dfad3696263686cc1b

[2019-12-21 09:13] GriffGreen commented on #1091
thats weird... yeah it works now... maybe i was just tired before... wish i had a screen shot here to prove i wasnt crazy :-D

[2019-12-21 09:13] #1091 closed

[2019-12-22 07:56] aminlatifi opened #1093 "Old cached data problem"
Cached data (views specifically) in user browser makes problem when views are changed by new versions. A good example is `Edit Milestone` view is not responsive after `Draft` functionality is removed.
In this case either user should clear its cache manually, or we approach that programmatically.

[2019-12-22 15:26] #1093 closed

[2019-12-23 06:08] aminlatifi commented on #1028
Draft functionality is removed and this problem is not an issue any more

[2019-12-23 06:08] #1028 closed

[2019-12-23 17:12] GriffGreen commented on #1084
Lorelei might be as well

[2019-12-23 17:29] GriffGreen commented on #1082
nope

[2019-12-24 11:25] aminlatifi opened #1095 "Double checking rates in edit milestone when token is changed"
Changing milestone token in edit milestone makes two get rates request. This is unnecessary and may cause problem when conversion rate record does not exists yet in db.

[2019-12-24 11:53] #1095 closed

[2019-12-30 17:11] Danibelle commented on #1084
Hi @arbreton - here is a screenshot of the console with error:

![image](https://user-images.githubusercontent.com/39466970/71592221-6ce10480-2afd-11ea-94f2-33d799462905.png)

[2019-12-31 00:59] Danibelle commented on #1084
![image](https://user-images.githubusercontent.com/39466970/71606452-e51bea00-2b3e-11ea-95ee-2215dfd967ce.png)

[2019-12-31 17:49] GriffGreen opened #1099 "Add fibonacci difficulty to Zenhub as a label"
1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233

[2019-12-31 17:55] GriffGreen commented on #1021
We couldnt remove signing txs completely, but we did refactor its use

[2019-12-31 17:55] #1021 closed

[2019-12-31 17:55] GriffGreen opened #1100 "Dapp meeting 12-31-19"
https://docs.google.com/document/d/13M9TwrVhZj-E0gx4s0QvLb135fYM4PiNxPws3-ZdaFY/edit?usp=sharing

[2019-12-31 21:36] arbreton commented on #1100
<3

[2020-01-02 00:44] Danibelle commented on #1084
Still errors, sorry!   Here's how it looks now:
![image](https://user-images.githubusercontent.com/39466970/71647718-e5e08780-2cc8-11ea-9dd2-0bc7ccbb02ef.png)

[2020-01-06 04:59] GriffGreen opened #1102 "It said it was unable to update the amount in feathers after delegating 5 eth to a milestone"
I was delegating 5 eth to a milestone and it said it couldnt update the amounts correctly... this was for the ETH on Commons Stack Iteration 0

Issue type: **Error**
Unable to update the donation in feathers

**Name:**
Timeout of 30000ms exceeded calling donations::create

**LineNumber:**
undefined

**FileName:**
undefined
<details><summary>Stack</summary>

Error: Timeout of 30000ms exceeded calli

[2020-01-06 08:02] aminlatifi commented on #1102
@griff Does the milestone get the donation?
Can you share milestone link here? I found one with 5 eth capacity, but I am not sure it is the one you delegated to.

[2020-01-06 08:32] Troublor opened #1103 "Giveth-dapp seems to assume that transactions are guaranteed to be executed"
Transactions on Ethereum are not guaranteed to be executed and included in block from my perspective. However, when investigating source code of giveth-dapp, I find some evidence that it seems to assume transactions are guaranteed to be executed. One example is [here](https://github.com/Giveth/giveth-dapp/blob/37f3316b84606b020b507d60de25ab893ca090da/src/services/DonationService.jsx#L591) when try

[2020-01-06 09:47] aminlatifi commented on #1102
That was the one :)
Hopefully it seems everything is OK on blockchain and bridge.

[2020-01-06 09:50] aminlatifi commented on #1103
Yes, it's just depend on transaction hash which is not a guarantee of a confirmed transaction. We are working on a db/blockchain conflict resolve resolution.

[2020-01-06 09:59] Troublor commented on #1103
@aminlatifi I would like to also mention that even after the transaction is mined, it can still be "cancelled or reverted" due to re-org. I checked the source code in feathers-giveth, it seems like feathers-giveth only handles removed events on Ethereum by removing it from db. But it does not consider to undo the possible actions taken after the corresponding transactions on dapp side. This also m

[2020-01-06 10:11] aminlatifi commented on #1103
Thank you.
Having two backend and syncing them is a hard task. Feather process transfer events too and keeps event pending till required confirmation blocks are mined.
Syncing two backend (db and blockchain) is declicate and complex job, and we hope is solved soon.

[2020-01-06 16:40] aminlatifi opened #1105 "Changing token in delegate window hides all inputs and button"
In delegate window changing token causes problem like this!

![image](https://user-images.githubusercontent.com/5684607/71832585-84e9f280-30c0-11ea-9232-2c40bda4241a.png)

[2020-01-06 18:02] krrisis commented on #1034
I currently cannot my Milestone either.

I hit 'edit' (works), put in the correct text (works), but when I want to hit 'Update Milestone' (which is green, not greyed out!) nothing happens.

I have this issue for [this Milestone](https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5df00afa71e84069aad0a228) and I hope it can be fixed urgently bcs I need to get to these funds.. Thank

[2020-01-07 00:50] Danibelle commented on #1084
Sadly still no.
![image](https://user-images.githubusercontent.com/39466970/71859669-bca36b00-30bd-11ea-8248-de59164e23bc.png)

[2020-01-07 09:18] aminlatifi commented on #1034
https://github.com/Giveth/giveth-dapp/blob/f04d827813787ac386832cca6c69b72c72a761c3/src/services/MilestoneService.js#L401-L403

@arbreton This condition doesn't allow to patch milestone after updating! This is reached when milestone status is not proposed or rejected like the milestone mentioned here. I don't know why we save milestones in IPFS? do you know?
However removing the condition could so

[2020-01-07 17:37] GriffGreen commented on #1078
there is something wrong in the formation of this transaction

[2020-01-07 17:39] #1099 closed

[2020-01-07 17:41] GriffGreen opened #1107 "Re add DRAFT functionality to the DApp"
Low priority... but we had to remove this functionality when it broke.... we should add it back in, but we should save draft on mongo instead of on browser

[2020-01-07 17:57] arbreton opened #1108 "Syncing script / data integrity"
A syncing script for ensuring data integrity with the blockchain as a more reliable layer will be written into feathers

[2020-01-08 03:26] arbreton commented on #1034
We can definitely replace this condition and see if it gets fixed

[2020-01-08 03:27] arbreton commented on #1034
Told me you had checked this one a little, assigning the issue to you @aminlatifi

[2020-01-08 12:17] aminlatifi commented on #1108
Corresponding issue is created in feathers repo: https://github.com/Giveth/feathers-giveth/issues/146

[2020-01-08 12:17] #1108 closed

[2020-01-08 12:33] #1079 closed

[2020-01-08 14:29] krrisis commented on #1034
hey @aminlatifi could you let me know how much time you think this issue will take? If this takes a few days I prefer remaking my Milestone and cancelling this one, because I need to pay my bills.. :/ thanks!

[2020-01-08 19:10] aminlatifi commented on #1034
@krrisis I applied a hotfix, it would solve editing issue.

[2020-01-09 12:04] krrisis commented on #1034
hey amin, great news.. is that hotfix already live? If so it unfortunately did not fix the issue...
Below you can find the error that pops up in the console when I hit that button.
What I do see now in the Milestone (after reading that error) is that the currency for some reason says 'AUD'. Could that be part of the issue?

CONSOLE message:

main.b57be8a8.js:1 Uncaught TypeError: The type of conve

[2020-01-09 13:10] aminlatifi commented on #1034
@krrisis I merged changes to master branch, so I hope it be applied automatically. If not, we should wait until @arbreton develop new version.
I myself is not whitelisted to test similar scenario on beta. But I could do in my local version and it worked.

[2020-01-10 20:51] Jeff-Emmett opened #1111 "Odd things going on in my milestones"
Hey guys,

Just thought I'd report some oddball things in my milestones view.

![image](https://user-images.githubusercontent.com/46964190/72185384-adbfff80-33c0-11ea-9f9b-b8d78d1554d1.png)

I believe the first milestone "Fall Asia Milestones" has been paid out already, not sure why it's still there: https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d856399ad3696263686cd7c

Thi

[2020-01-11 10:09] aminlatifi commented on #1111
All the milestones data are synced with blockchain. Thanks for reporting. We are working on an automated syncing procedure.
About the fourth milestone, it has already collected.

[2020-01-11 10:09] #1111 closed

[2020-01-13 12:33] krrisis commented on #1034
I didn't comment back bcs I wanted to see if @arbreton could confirm but nope.. it's indeed not yet working. Will see if griff could fill a new Milestone, because I'm getting refused bank cards again..

[2020-01-13 13:25] aminlatifi commented on #1034
I am waiting till @arbreton add me to whitelist to test and debug on beta. I can edit milestone successfully on localhost, so I need to test on beta to find and fix the bug.

[2020-01-13 15:05] GriffGreen opened #1112 "Dapp Meeting Notes Jan 13 2020"
https://docs.google.com/document/d/13M9TwrVhZj-E0gx4s0QvLb135fYM4PiNxPws3-ZdaFY/edit?usp=sharing

[2020-01-14 03:19] GriffGreen opened #1113 "Dai needs to be added to the list of currencies to denominate a milestone"
<img width="754" alt="Screen Shot 2020-01-14 at 4 16 17 AM" src="https://user-images.githubusercontent.com/14945613/72311431-edb70900-3684-11ea-941c-c276f775a7dd.png">
1 Dai = 1 Sai = 1 USD for Giveth... so it should be pretty easy.

[2020-01-14 12:12] krrisis commented on #1068
Because I think this is the same issue, I will add my experience here. The disburse issue indeed first stays and gives an error the second time you press it. After about an hour the transactions appear on the bridge. Once they are there the disburse button disappears in the dapp.
They however still show up as 'in progress' as you can see below.

![image](https://user-images.githubusercontent.com/6

[2020-01-16 09:54] mmohorko opened #1114 "Fairdrive campaign - not working"
If you click the Fairdive campaign (https://beta.giveth.io/campaigns/5d9466be0be6c23fee64fbda) it doesn't open the campaign landing page but gets redirected back to the Giveth homepage.

This does not happen if I am logged in with MetaMasc. Then it works normally.

Can you please check what is going on?  Thanks!

[2020-01-16 14:34] lorelei1 commented on #1114
I made a video showing this and posted it in riot

[2020-01-18 12:10] aminlatifi commented on #1114
The problem is related to CreateDonationAddressButton component added for fund forwarder capability. I commented out that part of code since fund forwarder is not 100% working feather yet.
@ascariandrea Please don't forget to fix this bug before releasing fund forwarder.

[2020-01-27 14:52] mmohorko commented on #1114
Thanks. It works now.

[2020-01-27 14:52] #1114 closed

[2020-01-27 17:09] #1113 closed

[2020-01-27 17:12] arbreton opened #1118 "Remove the edit button whenever it can't be edited"
Check permissions on the Edit button for milestones
When the milestone is funded shouldn't show up
Partial funding will hide edit button

Campaign Owner can edit and milestone owner

[2020-01-27 17:18] GriffGreen opened #1119 "In the fund forwarder we need to move the sign in request to the button click"
Sign in call needs to be changed, the sign in should be only on the button click!

Right now the call happens at the page refresh

[2020-01-27 17:27] GriffGreen opened #1120 "Testing the edit milestone refactor"
Changing tokens during editing… does that cause any issues?
There is a link that sets the wallet address as the reciever
Fucking around in general with the the create milestone and edit milestone screens and permissions

[2020-01-28 01:12] GriffGreen commented on #1078
The plot thickens!!! Are the behaviors just switched?

This is the behavior i see

If Allowance = 0, then do 2 transactions
If Allowance > amount donating, then do 3 transactions
If Allowance = amount donating, then do 1 transaction
If Allowance < amount donating, then break

WHAT IT SHOULD BE:

If Allowance = 0, then do 2 transactions
If Allowance > amount donating, then do 1 transaction
If Allow

[2020-02-01 16:19] GriffGreen opened #1121 "Update donation counter to be accurate"
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d5a5795420f06212039fdb5

i didnt donate 500k to this milestone i promise

[2020-02-03 08:35] aminlatifi commented on #1121
This [user](https://beta.giveth.io/profile/0x567355f84d44a982629d8675ab4aadbb92dbfd54) (which is registered with your name) has delegated your donation to  `Commons Stack - Iteration 0` to this milestone.
This is the transaction [link](https://rinkeby.etherscan.io/tx/0xd8753fe1a6217e1b7040c571f26a5becbfb7ba41fadb337c4eb241e0c61dd8c4)

[2020-02-03 15:08] krrisis commented on #1034
ok, so just FYI, cancelled the above Milestone, so our (limited) funds can flow back to the Campaign. Could still not edit though.

[2020-02-03 15:36] krrisis opened #1124 "Able to cancel a Milestone that is already paid"
I cancelled [this Milestone](https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5df00afa71e84069aad0a228) that I could not edit and that was filled (see issue #1034 )
As I still saw that Milestone in active later on I cancelled this one too, unfortunately this was NOT an active Milestone, this was an already PAID Milestone, that for some reason showed up under active.
So this is

[2020-02-03 17:10] GriffGreen opened #1125 "How much money is in the Commons Stack Campaign?"
This is a real issue for me.. :-( I don't understand how much money we have in our campaign, so its hard to do the budget... can you guys help!! :-D

[2020-02-03 17:55] GriffGreen opened #1126 "SAI is listed as DAI in the Fund Forwarder and DAI doesnt show up"
2 small issues in the new feature

I donated 2 sai and 2 dai and .03 ETH but forwarder only showed 2 DAI and .03 ETH... so i forwarded the ETH to see if it was only displaying 2 rows... but it wasnt.. it was missing one of the tokens

So then i donated 1 DAI and .5 SAI so the total should show 3 DAI and 2.5 SAI but instead it shows:
<img width="1064" alt="Screen Shot 2020-02-03 at 11 54 49 AM" src

[2020-02-03 21:58] GriffGreen opened #1127 "We need to display the View donation address button"
uh oh

I created a Donation Address for One of Fair Data Society's Campaigns (1750):
https://beta.giveth.io/campaigns/5d5e73f9ee8dd87908fcd27d

in this tx
https://etherscan.io/tx/0xb5f1438d8f793c97d3ac405720a03eb9347eb885672179ea97be6e28b30cb38a

and a FF was created!

https://etherscan.io/address/0x1462eabb9bddc9d4a28cb06c391bd86925b717ca#readContract

I waited 15 minutes but its still showing me

[2020-02-04 17:53] GriffGreen opened #1128 "Remove the CSV button from the front end"
It only tracks donations... but it stopped tracking them after December

[2020-02-04 17:57] GriffGreen commented on #1080
old ones would need to be manually corrected

[2020-02-04 18:00] GriffGreen commented on #1128
the last donation shown on the Commons stack CSV is on Thu Nov 21... but we had one on Nov 27th and several after that all of which are skipped

[2020-02-04 22:22] arbreton commented on #1127
I investigated this issue, seems to be that only the campaign owner can modify the campaign properties including the FF address, Create Donation Address should be hidden for everyone else

[2020-02-05 13:33] aminlatifi commented on #1125
I can write an script to calculate by projectId.
But updating database is useless because after each donating it will be recalculated by values of donation entities in mongo which are not synced!

[2020-02-05 14:19] aminlatifi commented on #1125
However, I wrote [this script](https://github.com/Giveth/feathers-giveth/blob/develop/scripts/utils/getDonationCounter.js) which gather information from blockchain and tells you how much money is in the project. For example the project id for common stack is 1402.
[code]
Notice set the correct value for node url in config/default.json

[2020-02-06 07:59] Troublor opened #1130 "Deploy Giveth on Private Blockchain"
Is it possible to run and deploy Giveth dapp on private blockchain? Are there any guidelines showing how to do this?

[2020-02-06 20:13] aminlatifi commented on #1130
Yes, you should run feathers server too.
Giveth has a test environment using two private test networks. Do this steps

1. Start ipfs server
2. Start test networks by `npm run start:network` command in feathers server
3. Start feathers server by `npm start`
4. Start dapp by command `npm start`
5. You should have metamask on your browser. Add localhost:8546 network to it, it's foreign network. Home

[2020-02-09 18:28] GriffGreen opened #1131 "Integrate ENS to fundforwarder"
VERY LOW PRIORITY Good for a bounty maybe...? I own campaign.eth so it would be cool to let the campaign manager choose a subdomain like givethdapp.campaign.eth

[2020-02-10 17:53] GriffGreen opened #1132 "Stop Feathers from looping over stuck events"
from #1080, Andre has a theory that the events are getting skipped cause it keeps reprocessing notMined events :-(

[2020-02-10 17:56] GriffGreen commented on #1132
When a donation minded flag is false, some times the tx hash value isn't right...

[2020-02-10 18:00] GriffGreen opened #1133 "Watch the speed up issue with metamask"

[2020-02-11 17:14] gentlemandonadams commented on #1084
Just got the error message on this milestone https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d55cfe0ded7183fafb04956

[2020-02-11 21:04] aminlatifi commented on #1084
This milestone should have been collected. The frontend problem will be fixed, however it is cleaned now.

[2020-02-11 21:11] gentlemandonadams commented on #1084
Just tried it and it worked, thanks!

[2020-02-11 21:15] aminlatifi commented on #1084
You collected again?

[2020-02-11 21:16] gentlemandonadams commented on #1084
@

You mean I already collected it?  Or I should be able to collect it now?  I just tried again and wasn't able (pretty sure I never successfully collected this milestone)

[2020-02-11 21:17] GriffGreen opened #1134 "Adam can't collect on this milestone"
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5d55cfe0ded7183fafb04956

What is the story with it?

[2020-02-11 21:21] aminlatifi commented on #1084
Showing error on frontend does not necessary mean that collect action is not done on blockchain side!
The original cause of seeing error message is that data is not synced with blockchain and we are working on that.

[2020-02-12 08:33] aminlatifi commented on #1134
The money is moved to Paid pledge and as far as I know he should has collected.

[2020-02-12 14:43] aminlatifi opened #1135 "Cannot create campaign"
Trying to create campaign in localhost setup this error is generated and campaign is not created
[code]

[2020-02-18 18:42] krrisis commented on #1068
same error with this one - could we fix this? it's linked to the fact that the wrong amount was delegated (double) cc @Danibelle https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5e4c2a3911b6b12e5cfbad78

[2020-02-18 18:43] krrisis commented on #996
and we're having this again in this one cc @Danibelle

https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5e4c2a3911b6b12e5cfbad78

[2020-02-20 07:17] aminlatifi commented on #1005
The footprints are cleaned by this https://github.com/Giveth/feathers-giveth/issues/146#issuecomment-588651227

[2020-02-20 07:17] aminlatifi commented on #1005
@arbreton @GriffGreen I guess we can close this

[2020-02-21 19:06] lorelei1 opened #1138 "Wrapping gone bad in Milestone description"
As u can see the text wrapping is cutting off mid-word and making weird gaps
<img width="860" alt="Screen Shot 2020-02-21 at 11 04 21 AM" src="https://user-images.githubusercontent.com/38163206/75063632-27580c80-549a-11ea-959a-ffc7b6467848.png">

[2020-02-21 19:07] GriffGreen commented on #1121
Donation counter is not correct
Everytime a donation occurs it updates the donation counter
Because the donation wasn't correct, we need to re calculate these amounts
How much exists inside

[2020-02-21 19:54] GriffGreen commented on #1133
complicated... speeding up a tx replaces the old tx and feathers doesnt realize that the tx that was replaced... but the simulation script does know!!! So it removes the old messed up tx and replaces it...!

SO the Simulation script, if it was rewritten to only simulate the most recent blocks then it can update this.

We can apply this later eventually

[2020-02-21 19:55] GriffGreen commented on #1132
this probably relates to #1133

[2020-02-21 19:55] #1132 closed

[2020-02-21 19:59] GriffGreen commented on #1126
Still needs to be tested on Chrome :-( the #s arent coming up

[2020-02-21 19:59] #1128 closed

[2020-02-21 20:01] #1125 closed

[2020-02-21 20:06] #1119 closed

[2020-02-21 20:11] GriffGreen commented on #1103
@Troublor Thx so much for diving into this!

We now have a simulation script that is a major fix for this issue... In the end, if you are trying to fork our code, I would recommend building from scratch, as we built this in 2017 and there are much better tools availible for solving the problems we ran into

If you are looking into this, we would love to team up!! We want to rebuild from scratch! P

[2020-02-21 20:11] #1103 closed

[2020-02-21 20:15] GriffGreen commented on #978
https://beta.giveth.io/campaigns/5cfe3366228b71296a491fa7/milestones/5d1ba874bd45530e23ad86ed

^^^ This milestone took money out of the campaign and its not registered correctly in the campaign cause now the milestone is canceled

[2020-02-21 20:21] GriffGreen commented on #978
https://beta.giveth.io/delegations is correct... but the Campaign is not

[2020-02-21 20:22] GriffGreen commented on #978
https://github.com/Giveth/feathers-giveth/issues/146#issuecomment-587423687 worth checking

[2020-02-21 23:16] GriffGreen commented on #1134
@aminlatifi he says:

same response as before, I get the “Oh no!
Something went wrong with the transaction” message before it even asks me to sign a transaction

(I hadn’t been able to withdraw it since then, just tried it right now and it’s still not working)

[2020-02-21 23:26] gentlemandonadams commented on #1134
Griff points out that I withdrew this a long time ago and that's why it wasn't working... I guess I let the "collect" button play with my memory, sorry for wasting some people's time here!  https://etherscan.io/tx/0xdf7f1de317d77bb51af9d7e163d1c14ad9d2fa81d7ca921c3376e8843d8b11a5

[2020-02-22 05:53] GriffGreen opened #1139 "milestones taking over an hour to load?"
as a campaign owner i created milestones but they arent showing up in the campaign, after an hour!
<img width="1030" alt="Screen Shot 2020-02-21 at 9 51 15 PM" src="https://user-images.githubusercontent.com/14945613/75087396-72067280-54f4-11ea-9cf8-3ed0b9574833.png">

[2020-02-22 09:14] aminlatifi commented on #1139
Rinkeby gateway is done!!
``wss://rinkeby.giveth.io/ws``
The events are not received by feathers

[2020-02-22 11:32] #1134 closed

[2020-02-22 15:14] Danibelle opened #1140 "Duplicate delegation on this Milestone"
https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5e4c2a3911b6b12e5cfbad78

This Milestone was inadvertently funded twice - need to make sure only the requested amount is paid out and the remainder returned to the Campaign..

[2020-02-22 15:27] aminlatifi commented on #978
There are 502.34 no paid SAI token are stuck in milestone!

[2020-02-22 15:31] Danibelle commented on #1140
I see it's been fixed!

[2020-02-22 15:31] #1140 closed

[2020-02-22 15:57] Danibelle commented on #1139
Is this related?  I am delegating donations to Milestones and they are hanging for an hour.. earlier this week these delegations were complete within minutes:

examples
https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d813493ad3696263686cc28
![image](https://user-images.githubusercontent.com/39466970/75095353-6d27da00-5559-11ea-8809-fd8c3ff9f706.png)

https://beta.giveth.io/ca

[2020-02-22 16:43] Danibelle opened #1141 "DECENTRAL Campaign Donation Weirdness"
Documenting what I see here -

A new donation appeared in the past 24 hours. Yesterday the Campaign showed 411 SAI remaining, I happened to have taken a screenshot as I was tracking my work.. then today the Campaign says 1397 SAI remaining - see this [Google Doc.](https://docs.google.com/document/d/1H4l4u68fJUe-9yK1ZVBakgJi_TUvDWw5iK305zKhDMI/edit?usp=sharing)

I noticed because I was delegating d

[2020-02-22 16:48] Danibelle opened #1142 "Milestone stuck 'In Progress' after 'Collect' initiated"
https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5e4ac2d611b6b12e5cfbad51

Delegation successful, Collect button appeared and was clicked, confirmation received.. but it never hit the bridge and hasn't paid out even though the Donation Status at bottom says Paid.
![image](https://user-images.githubusercontent.com/39466970/75096041-e37c0a80-5560-11ea-996e-9d4f31a682be.png)

[2020-02-22 17:04] Danibelle commented on #1141
Note: Tracked the increase to an $800 donation from Anonymous user linked to Kingsley's account.  When I check his profile it doesn't show a donation to DECENTRAL, only to Shiftpod and Bike campaigns.

![image](https://user-images.githubusercontent.com/39466970/75096221-12937b80-5563-11ea-96bc-2ba233a1ed51.png)

![image](https://user-images.githubusercontent.com/39466970/75096226-20e19780-5563-11e

[2020-02-23 10:51] Troublor commented on #1103
@GriffGreen Thanks for your invitation. I am a PhD student focusing on blockchain-oriented software engineering. This issue is one of the findings of my recent research work. I am very interested in the Giveth Project but currently I'm afraid I don't have enough time and effort to take part in the development of Giveth, sorry. Nevertheless, I will keep following up with Giveth project and post iss

[2020-02-23 20:15] GriffGreen opened #1143 "Milestones proposed are stuck in pending when I Accept"
<img width="1172" alt="Screen Shot 2020-02-23 at 12 08 53 PM" src="https://user-images.githubusercontent.com/14945613/75119193-81d9a000-5635-11ea-8a1c-e6cc68539cbe.png">
I have 3 milestones... its easy enough to remake them... but they were created while the server was down... they should have been created right away... but they weren't cause... server?

Either way... then i thought the stuff was

[2020-02-24 12:29] aminlatifi commented on #1139
Yes they are related to that. Because rinkeby gateway was down, those delegations assumed failed! They and other similar donations are fixed now.

[2020-02-24 17:04] aminlatifi commented on #1143
They should be fixed by this changes:

[code]

[2020-02-24 17:15] GriffGreen opened #1144 "Payouts have been blocked for 2 weeks?!?!"
<img width="1369" alt="Screen Shot 2020-02-22 at 8 05 25 AM" src="https://user-images.githubusercontent.com/14945613/75174757-0126ac80-56e6-11ea-8f9f-efd6d798867b.png">

I don't know what is the problem

[2020-02-24 17:17] arbreton opened #1145 "Feathers is crashing EADDRINUSE"
<img width="678" alt="Screen Shot 2020-02-24 at 9 15 05 AM" src="https://user-images.githubusercontent.com/12836187/75175037-7a260400-56e6-11ea-9b98-a55d4ceb1e32.png">

[2020-02-24 17:23] GriffGreen commented on #1144
could be related to #1145

[2020-02-24 17:42] arbreton commented on #1124
#1136 fixes cancel and edit when not allowed (when milestone has received a donation)

[2020-02-24 17:45] aminlatifi commented on #978
Milestone
    "pluginAddress" : "0xf37e78484A7b640F2556b12e96dD423260e0257c",

[2020-02-24 19:31] arbreton opened #1146 "FundForwarder address is not public only to owners"

[2020-02-24 20:04] krrisis commented on #1124
Great news! Will you also be able to fix the above in the frontend so our accounting is correct again? thanks!

[2020-02-24 23:04] GriffGreen commented on #1144
I tried to pay out these miestones:
<img width="1275" alt="Screen Shot 2020-02-24 at 2 47 09 PM" src="https://user-images.githubusercontent.com/14945613/75198091-a22c5c00-5714-11ea-9bdb-7dab4c6061f8.png">
The bottom 2 were for less... they have weird donation amounts: https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d699a2d70de3a04788a762d

When i tried to collect those 2, it

[2020-02-25 01:14] GriffGreen opened #1147 "syncing script uses the date that the tx was resync'd instead of the date it was originally created"
The date shown on the dapp should be of the original donation, not the day that the syncing script added it to feathers.

See the last 6 donations in this screen shot: they were all old donations that just popped up in my delegation screen

<img width="1284" alt="Screen Shot 2020-02-24 at 3 05 35 PM" src="https://user-images.githubusercontent.com/14945613/75199238-6e9f0100-5717-11ea-8081-938b5c549

[2020-02-25 01:21] GriffGreen commented on #978
Some real weird stuff is happening in this campaign see the campaign balance at the bottom... the balance is higher than the total donations... thats an issue with something... especially since some money got paid out!
<img width="543" alt="Screen Shot 2020-02-24 at 5 14 44 PM" src="https://user-images.githubusercontent.com/14945613/75205958-14f40200-572a-11ea-994b-fae60b77ef14.png">

[2020-02-25 08:58] aminlatifi commented on #1144
The problem with this milestone donations is fixed, can you collect again?

[2020-02-25 09:00] aminlatifi commented on #1147
We should find a way to deduce the date from somewhere, maybe transaction block number. Working on that...

[2020-02-25 12:49] aminlatifi commented on #1147
The date of donations are updated by corresponding rinkeby block timestamp.

[2020-02-25 19:02] GriffGreen opened #1148 "Can't choose an address for a milestone that needs a recipient"
https://beta.giveth.io/campaigns/5d110631994eac53adc8f21e/milestones/5e39037f11b6b12e5cfbabf7

The expected behavior is that I can add an address to the milestone so that the person can collect the funds!!!

[2020-02-25 19:18] GriffGreen commented on #978
ok so i was paid out 1050 here: https://etherscan.io/tx/0x27038c27c6770c79d36852de951f188fc6356174d2c179132aaca1ed32b9b502
But the milestone shows i was paid out 1564.16?
<img width="955" alt="Screen Shot 2020-02-25 at 11 09 49 AM" src="https://user-images.githubusercontent.com/14945613/75279448-7c5c9100-57c0-11ea-888e-d63279c9715f.png">

[2020-02-25 21:02] aminlatifi commented on #978
There is another collect action happened. Corresponding transaction in rinkeby is:
https://rinkeby.etherscan.io/tx/0x31008943b5575c004d8e095aa3e509026c62514970c62c87d5f42101b1d69105

[2020-02-25 21:27] #1143 closed

[2020-02-25 21:29] #1139 closed

[2020-02-25 21:29] #1130 closed

[2020-02-25 21:30] #1005 closed

[2020-02-25 21:39] #1102 closed

[2020-02-25 23:50] Danibelle opened #1149 "Milestones that are fully funded are not showing as funded"
I funded a bunch of Milestones today and have a variety of issues with them that are probably the same issue that present a little differently.

On most of them, the header initially changes to "This Milestone has reached it's funding goal" then, reverts back to the amount requested.
Example [one ](https://beta.giveth.io/campaigns/5cb61c74ef66237670c4ee33/milestones/5d6954c95df4387a353637cb) and [

[2020-02-25 23:54] Danibelle opened #1150 "Empty delegations appearing in DECENTRAL Campaign"
I've been delegating funds from the Campaign to Milestones, and see multiple new donations for 0.000 SAI dropping into the campaign?

![image](https://user-images.githubusercontent.com/39466970/75298337-d3318d00-57f7-11ea-9676-1c828cd6b8ed.png)